Id: d6013d09-ea20-4e6b-8eac-9774dcdcb2b5
Title: "Общая информация"
Published: "1000-01-02"
Slug: "1000-01-02 Общая информация"
-
<!--[if gte mso 10]> <mce:style><!   /* Style Definitions */  table.MsoNormalTable 	{mso-style-name:"Table Normal"; 	mso-tstyle-rowband-size:0; 	mso-tstyle-colband-size:0; 	mso-style-noshow:yes; 	mso-style-priority:99; 	mso-style-qformat:yes; 	mso-style-parent:""; 	mso-padding-alt:0cm 5.4pt 0cm 5.4pt; 	mso-para-margin:0cm; 	mso-para-margin-bottom:.0001pt; 	mso-pagination:widow-orphan; 	font-size:10.0pt; 	font-family:"Times New Roman","serif";} --> <!--[endif]-->
<p class="MsoNormal" style="text-align: center;" align="center"><strong><span style="font-size: 16pt;" lang="RU">Турция 200</span></strong><strong><span style="font-size: 16pt;">9</span></strong></p>
<p class="MsoNormal"><span lang="RU">&nbsp;</span></p>
<p class="MsoNormal"><strong><span lang="RU">Даты</span>: </strong><strong></strong></p>
<p class="MsoNormal" style="margin-left: 21.3pt;"><span lang="LV">30.04.2009 </span><span lang="RU">до </span>07.05.2009</p>
<p class="MsoNormal"><span lang="RU">&nbsp;</span></p>
<p class="MsoNormal"><strong><span lang="RU">Участники</span></strong><strong><span lang="LV">:</span></strong></p>
<p class="MsoNormal" style="margin-left: 21.3pt;"><span lang="LV">1. </span><span lang="RU">Игорь Щукин &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; (шеф)<br /></span></p>
<p class="MsoNormal" style="margin-left: 21.3pt;"><span lang="LV">2. </span><span lang="RU">Марис Скукис<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>(завхоз)</span></p>
<p class="MsoNormal" style="margin-left: 21.3pt;"><span lang="LV">3. </span><span lang="RU">Сергей Смирнов<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>(доктор)</span></p>
<p class="MsoNormal" style="margin-left: 21.3pt;"><span lang="LV">4. </span><span lang="RU">Владислав Кугелевич&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (летописец)<br /></span></p>
<p class="MsoNormal" style="margin-left: 21.3pt;"><span lang="LV">5. </span><span lang="RU">Виктор Добкевич</span></p>
<p class="MsoNormal" style="margin-left: 21.3pt;"><span lang="RU">6. Игорь Липлянский<br /></span></p>
<p class="MsoNormal" style="margin-left: 21.3pt;"><span lang="RU"><br /></span></p>
<p class="MsoNormal"><span lang="RU">&nbsp;</span></p>
<p class="MsoNormal"><strong><span lang="RU">Логистика</span>: </strong></p>
<p class="MsoNormal" style="margin-left: 21.3pt;"><span lang="RU">Даугавпилс &ndash; Рига &ndash; поезд</span><span lang="RU"> </span><span lang="RU">или арендованный микроавтобус,</span></p>
<p class="MsoNormal" style="margin-left: 21.3pt;"><span lang="RU">Рига &ndash; Стамбул &ndash; самолет</span> (<span lang="RU">30.04.09</span>,<span lang="RU"> Рига 10</span>:<span lang="RU">05</span> &ndash; <span lang="RU">Стамбул 12</span>:<span lang="RU">55</span>)<span lang="RU">,</span></p>
<p class="MsoNormal" style="margin-left: 21.3pt;"><span lang="RU">в Турции &ndash; велосипеды, местные автобусы и</span>/<span lang="RU">или паромы,</span></p>
<p class="MsoNormal" style="margin-left: 21.3pt;"><span lang="RU">Стамбул &ndash; Рига &ndash; самолет</span> (<span lang="LV">7.05.09, </span><span lang="RU">Стамбул 14</span>:<span lang="RU">10</span> &ndash; <span lang="RU">Рига </span><span lang="LV">17:00</span>)<span lang="RU">,</span></p>
<p class="MsoNormal" style="margin-left: 21.3pt;"><span lang="RU">Рига &ndash; Даугавпилс &ndash; поезд</span><span lang="RU"> </span><span lang="RU">или арендованный микроавтобус.</span></p>
<p class="MsoNormal" style="margin-left: 21.3pt;"><span lang="RU">&nbsp;</span></p>
<p class="MsoNormal"><strong><span lang="RU">Стоимость</span>:</strong></p>
<p class="MsoNormal" style="margin-left: 14.2pt;"><span style="text-decoration: underline;"><span lang="RU">самолет</span></span><span lang="RU"> (по данным сайта </span><span lang="LV">AirBalic </span><span lang="RU">на </span><span lang="LV">05</span><span lang="RU">.1</span><span lang="LV">1</span><span lang="RU">.08)</span>:</p>
<p class="MsoNormal" style="margin-left: 21.3pt;"><span lang="RU">ТУДА</span>: <span lang="RU">30.04.09</span>,<span lang="RU"> Рига 10</span>:<span lang="RU">05</span> &ndash; <span lang="RU">Стамбул 12</span>:<span lang="RU">55</span>, <span lang="RU">эконом класс без возможности возврата, билет (</span><span lang="LV">46</span>Ls)<span> </span><span lang="LV">+</span><span lang="RU">багаж</span> (6 Ls) + <span lang="RU">велосипед (20</span>Ls) = 72<span lang="LV">Ls;</span></p>
<p class="MsoNormal" style="margin-left: 21.3pt;"><span lang="RU">ОБРАТНО</span>: <span lang="LV">7.05.09, </span><span lang="RU">Стамбул (14</span>:<span lang="RU">10)</span> &ndash; <span lang="RU">Рига (</span><span lang="LV">17:00)</span>, <span lang="RU">эконом класс без возможности возврата,</span><span lang="RU"> </span><span lang="RU">билет (</span><span lang="LV">31</span>Ls) + <span lang="RU">багаж (6</span>Ls) + <span lang="RU">велосипед (20</span>Ls) = 57Ls;</p>
<p class="MsoNormal" style="margin-left: 21.3pt;"><span lang="RU">Налоги (59</span><span lang="LV">.</span><span lang="RU">30</span><span lang="LV">Ls</span><span lang="RU">) + транзакция (</span><span lang="LV">6Ls</span><span lang="RU">) =</span><span lang="LV"> 65.30Ls</span><span lang="RU"> </span></p>
<p class="MsoNormal" style="margin-left: 21.3pt;"><span lang="RU">Итого перелет туда и обратно стоит </span><span lang="LV">1</span><strong><span lang="RU">9</span></strong><strong><span lang="LV">4.30</span>Ls</strong></p>
<p class="MsoNormal" style="margin-left: 21.3pt;">&nbsp;</p>
<p class="MsoNormal"><strong><span lang="RU">Программа</span>:</strong></p>
<p class="MsoNormal" style="margin-left: 99.25pt; text-indent: -77.95pt;"><span lang="RU">30.04 </span><span lang="LV"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span lang="RU">прилетаем в стамбульский аэропорт Ататюрк в час дня</span>, <span lang="RU">обмен валюты, закупка продкутов, паром в Бандирму</span>;</p>
<p class="MsoNormal" style="margin-left: 99.25pt; text-indent: -77.95pt;"><span lang="RU">1.05 - 5.05<span>&nbsp;&nbsp; </span></span><span lang="LV"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span lang="RU">веломаршрут вдоль берега Мраморного моря</span><span lang="LV">: </span>Bandirma &ndash; Biga &ndash; Lapseki &ndash; Canakkale &ndash; (ferry) &ndash; Kilitbahir &ndash; Eceabat &ndash; Gelibolu &ndash; Tekirdag &ndash; Silivni &ndash; Istambul;</p>
<p class="MsoNormal" style="margin-left: 99.25pt; text-indent: -77.95pt;"><span lang="RU">6.05 </span><span lang="LV"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span lang="RU">добираемся до Стамбула и располагаемся в кемпинге в районе аэропорта, запасной день, достопримечательности Стамбула;</span></p>
<p class="MsoNormal" style="margin-left: 99.3pt; text-indent: -78pt;"><!--[if !supportLists]--><span lang="LV"><span>7.05<span style="font-family: &quot;Times New Roman&quot;; font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><!--[endif]--><span lang="RU">самолет в Ригу</span><span lang="LV">.</span></p>
<p class="MsoNormal"><span lang="LV">&nbsp;</span></p>
<p class="MsoNormal"><strong><span lang="RU">Маршрут</span></strong><strong><span lang="LV">:</span></strong><strong><span lang="LV"> </span></strong><span lang="RU">велосипедная часть ~400 километров</span></p>
<p class="MsoNormal"><span lang="RU">&nbsp;</span></p>
<p><img data-src="../../files/blogengine/2009%2f1%2fmap.route.jpg" alt="" /></p>
<p class="MsoNormal" style="text-align: center;" align="center"><span lang="LV"><!--[if gte vml 1]><v:shapetype id="_x0000_t75"  coordsize="21600,21600" o:spt="75" o:preferrelative="t" path="m@@@@4@@@@5l@@@@4@@@@11@@@@9@@@@11@@@@9@@@@5xe"  filled="f" stroked="f"> <v:stroke joinstyle="miter" /> <v:formulas> <v:f eqn="if lineDrawn pixelLineWidth 0" /> <v:f eqn="sum @@@@0 1 0" /> <v:f eqn="sum 0 0 @@@@1" /> <v:f eqn="prod @@@@2 1 2" /> <v:f eqn="prod @@@@3 21600 pixelWidth" /> <v:f eqn="prod @@@@3 21600 pixelHeight" /> <v:f eqn="sum @@@@0 0 1" /> <v:f eqn="prod @@@@6 1 2" /> <v:f eqn="prod @@@@7 21600 pixelWidth" /> <v:f eqn="sum @@@@8 21600 0" /> <v:f eqn="prod @@@@7 21600 pixelHeight" /> <v:f eqn="sum @@@@10 21600 0" /> </v:formulas> <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect" /> <o:lock v:ext="edit" aspectratio="t" /> </v:shapetype><v:shape id="_x0000_i1025" type="#_x0000_t75" style='width:321pt;  height:201pt'> <v:imagedata src="file:///C:\DOCUME~1\Vladekk\LOCALS~1\Temp\msohtmlclip1\01\clip_image001.jpg" mce_src="file:///C:\DOCUME~1\Vladekk\LOCALS~1\Temp\msohtmlclip1\01\clip_image001.jpg"   o:title="map.route" /> </v:shape><![endif]--><!--[if !vml]--><!--[endif]--></span></p>
<p class="MsoNormal" style="margin-left: 21.3pt;"><span lang="RU">&nbsp;</span></p>
<p class="MsoNormal" style="margin-left: 21.3pt;"><span lang="RU">&nbsp;</span></p>
<p class="MsoNormal"><strong><span lang="RU">Полезные линки</span></strong><strong><span lang="LV">:</span></strong></p>
<p class="MsoNormal" style="margin-left: 14.2pt;"><span style="text-decoration: underline;"><span style="font-size: 11pt;" lang="RU">Отчеты о велопутешествиях по Турции</span></span><span style="text-decoration: underline;"><span style="font-size: 11pt;" lang="LV">:</span></span></p>
<p class="MsoNormal" style="margin-left: 1cm;"><span style="font-size: 11pt;" lang="LV">Велопоход Турция 2005 (11-26 июня 2005 года) - </span><em><span style="font-size: 10pt;" lang="LV">http://itc.ua/upload/velo/</span></em></p>
<p class="MsoBodyText" style="margin-left: 1cm;"><span lang="RU">В</span><span lang="LV">елопутешестви</span><span lang="RU">е</span><span lang="LV"> по Турции (октябрь 2007) - </span><em><span style="font-size: 10pt;" lang="LV">http://tourist.kharkov.ua/review_longtravel/index.php?viewtopic=97</span></em></p>
<p class="MsoNormal" style="margin-left: 1cm;"><span style="font-size: 11pt;" lang="LV">Турция 2005 </span><span style="font-size: 11pt;" lang="RU">- </span><em><span style="font-size: 10pt;" lang="LV">http://www.velo.travel.ru/turkey_2005/index.htm</span></em></p>
<p class="MsoNormal" style="margin-left: 14.2pt;"><span style="text-decoration: underline;"><span style="font-size: 11pt;" lang="RU">Информация о Стамбуле:</span></span></p>
<p class="MsoNormal" style="margin-left: 1cm;"><span style="font-size: 11pt;" lang="RU">Общественный транспорт Стамбула</span><span style="font-size: 11pt;" lang="RU"> </span><span style="font-size: 11pt;" lang="RU">- </span><em><span style="font-size: 10pt;" lang="LV">http://www.capone-online.ru/turkey_map_istmetro.html</span></em></p>
<p class="MsoNormal" style="margin-left: 1cm;"><span style="font-size: 11pt;" lang="LV">Путеводитель по Стамбулу: </span><span style="font-size: 11pt;" lang="RU">- </span><em><span style="font-size: 10pt;" lang="LV">http://www.turkei.ru/Istambul/info/Istambul_info_130.html</span></em></p>
<p class="MsoNormal" style="margin-left: 14.2pt;"><span style="text-decoration: underline;"><span style="font-size: 11pt;" lang="RU">Информация о паромах</span></span><span style="text-decoration: underline;"><span style="font-size: 11pt;" lang="LV">:</span></span></p>
<p class="MsoNormal" style="margin-left: 1cm;"><span style="font-size: 11pt;" lang="LV">Europe's most comprehensive ferry portal </span><span style="font-size: 11pt;" lang="RU">- </span><em><span style="font-size: 10pt;" lang="LV">http://www.ferrylines.com/en/ferries/arrival///0/routes///4%2C5////Turkey/</span></em></p>
<p class="MsoNormal" style="margin-left: 1cm;"><span style="font-size: 11pt;" lang="LV">Istanbul - Bandirma Car Fer</span><span lang="LV">ry </span><span lang="RU">- </span><em><span style="font-size: 10pt;" lang="LV">http://www.turkeytravelplanner.com/trans/Ship/ist_bandirma_fy.html</span></em></p>
<p>&nbsp;</p>
	