Id: 8d5c1a1c-e873-4e18-9356-735849ea8772
Title: "Manderlay (продолжение Dogville)"
Published: "2006-10-30"
Slug: "2006-10-30 Manderlay _продолжение Dogville_"
-
Я тут посмотрел Manderlay, то есть продолжение одного из моих самых любимых фильмов - <a href="/post/2005-09-11%20%D0%9B%D0%B0%D1%80%D1%81%20%D0%A4%D0%BE%D0%BD%20%D0%A2%D1%80%D0%B8%D0%B5%D1%80">Dogville</a>. Кстати, там по ссылке многоуровневая ирония, так что не подумайте плохого.<br />
<br />
Что&nbsp;мне есть сказать ? <br />
Я не понимаю людей, которые толкуют Догвиль согласно тому, что видят и слышат, согласно тому, что происходит на экране. Ясно же, что режиссёр не стал бы тратить 3 часа времени, чтобы разжевать зрителю простые в сущности вещи. Причём изложение смахивает на школьный учебник - сначала событие, потом её объяснение, потом показаны последствия и перемены из-за происходящего. Если бы это было всего лишь так, Догвиль бы не был настолько хорошим фильмом, каким&nbsp;является.<br />
На самом деле это некая&nbsp;разновидность постмодернизма.&nbsp;В обычном постмодернизме&nbsp;всё выглядит лишь игрой с символами, а &quot;настоящего&quot; смысла нет.&nbsp;Тут&nbsp; же происходящее выглядит вполне логичным и понятным, и даже можно придумать ему несколько правдоподобных объяснений. Затем&nbsp;воспринять, как нравоучение, что и делают многие критики. Но у меня лично остаётся ощущение, что автор даёт возможность так воспринимать фильм исключительно&nbsp;ради насмешки&nbsp;над наивным зрителем или критиком. Нет и такого, что &quot;фильм содержит много разных идей, над которыми можно думать&quot;. Можно, никто не спорит, но нужно ли? На деле фильм&nbsp; ложится прямиком в подсознание, когда ты сам не понимаешь, какое впечатление он произвёл, но его влияние на тебя&nbsp;реально и существует, хотя на &quot;настоящего&quot; смысла, как и положено постмодернистскому кино, он не содержит. И такой&nbsp;фильм - нечто стоящее.&nbsp;Если в обычном постмодернизме новый смысл появляется благодаря деконструкции, то у Триера - благодаря реконструкции. Поддержку такой точки зрения можно найти и в <a href="http://www.afisha.ru/article?name=manderlay">интервью Ларса&nbsp;</a>&nbsp;или вот&nbsp;в&nbsp;этой понятной и простой <a href="http://www.krugosvet.ru/articles/107/1010713/1010713a1.htm">статье про постмодернизм</a>. <br />
<br />
Возвращаясь к нашим баранам. В &quot;Догвиле&quot; всё было действительно так, как я описал. Но вот в Мандерлее - не уверен. Сам сюжет и события слишком уж просты, чтобы в них можно было вложить то самое &quot;НЛП-кодирование&quot;, позволяющее одурманить юзера. С другой стороны, смешно даже представить,&nbsp;будто бы&nbsp; Триера действительно интересовал&nbsp;расизм или тема рабов, которые хотят оставаться рабами (&quot;если ты был рабом, останешься им на всю жизнь&quot; -&nbsp;везде постмодерн).&nbsp;Естественно, он&nbsp;всего лишь использовал это, как строительный материал для игры со зрителем. Неприятность заключается в том (как уже справедливо <a href="http://ears-of-tin.livejournal.com/26326.html">заметил</a> <a href="http://ears_of_tin.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> ears_of_tin</a>), что Триер используя другие &quot;кирпичи&quot;, строит всё то же здание, которое уже один раз построил. Так делают все,&nbsp;спору нет, и порой получается красиво. Но от&nbsp;Ларса-то ждёшь большего! <br />
Тут опять выглядывает насмешливый оскал постмодернизма - Триер цитирует сам себя и в большом, и в малом.&nbsp;Например,&nbsp;в Догвиле зритель всё время думает, что ему всё понятно, да ещё и голос за кадром укрепляет это впечатление. Но в следующий момент положение вдруг меняется. Хоть это и логично, и понятно, и более-менее предсказуемо, но очень неуютно. И когда Догвиль заканчивается, зритель облегчённо вздыхает -&nbsp;ему опять всё понятно - вот всё закончилось, и баста. Но с выходом&nbsp;Мандерлея внезапно оказывается, что опять все изменилось, и&nbsp;устоявшуюся уже в уме зрителя картину&nbsp;неуютно рушат, как это было на протяжении всей первой&nbsp;части.&nbsp;Правда, странно выглядят&nbsp;некоторые натяжки в поведении персонажей, особенно главной героини, которая уныло продолжает наступать на грабли, вдоволь набив шишек в первой части.<br />
<br />
С другой стороны, может случится так, что архитектура нового проекта всё-таки другая, но мы просто не можем этого понять, обращая внимание лишь на технологию строительства. Может случится и так, что <a href="http://ears_of_tin.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> ears_of_tin</a>&nbsp;не прав, и&nbsp;архитектурный ансамбль ещё не закончен, и будет целостным лишь при появлении третьего фильма - недаром Триер задумал трилогию. <br />
<br />
Вывод такой - Мандерлей хорошее кино, хоть и слабее Догвиля. Но надо ждать третьей части, чтобы понять, что понять-то ничего не и получится.

	