Id: 98e755c2-97b3-47c5-90b4-a8eebac84328
Title: "Нереальные вещи"
Published: "2006-12-01"
Slug: "2006-12-01 Нереальные вещи"
-
Ссылка для программистов:<br/><A href="http://users.livejournal.com/_adept_/24049.html">http://users.livejournal.com/_adept_/24049.html</A><br/>У меня нет слов. Вообще нет. Это не люди, это почти боги.<br/><br/>Для всех:<br/><A href="http://muscience.livejournal.com/114753.html">http://muscience.livejournal.com/114753.html</A><br/>Это&nbsp;абсолютный сюрреализм. <br/><br/>На сегодня&nbsp; я выбит из колеи. Два бошкосрывающих текста за день - многовато.
	