Id: db8a63e2-c448-4c9b-b9f9-450eba793671
Title: "Насекомые"
Published: "2006-04-26"
Slug: "2006-04-26 Насекомые"
-
Я боюсь и ненавижу насекомых. Но спокойно отношусь к паукам. Теперь понятно, почему - <a href="http://pakt.zatopol.ru/2006/04/25/leksikon_populjarnykh_zabluzhdenijj_vkremer_gtrenkler.html">они вовсе не насекомые</a>! Там, кстати,&nbsp;развеивается&nbsp;ещё целая&nbsp;куча крайне любопытных заблуждений.&nbsp;<strong>via</strong> <a href="http://apazhe.net/" target="_blank">apazhe.net</a><br />
Тем временем,&nbsp;движение <a href="http://www.livejournal.com/interests.bml?int=%D0%BD%D0%B5%D0%BD%D0%B0%D0%B2%D0%B8%D0%B6%D1%83+%D0%BD%D0%B0%D1%81%D0%B5%D0%BA%D0%BE%D0%BC%D1%8B%D1%85">насекомоненавистников в ЖЖ</a> , основанное <a href="http://gugiens.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> gugiens</a>, растёт и ширится.

	