Id: b56fd6e1-a0b1-4c9a-9918-1c82f779a355
Title: "Сказочка про \"высочайший западный стандарт студийной звукозаписи\", часть 3"
Published: "2006-02-10"
Slug: "2006-02-10 Сказочка про _высочайший западный стандарт студийной звукозаписи_, часть 3"
-
<p>
&nbsp;&nbsp;&nbsp; Итак, скачав новый альбом Mogwai, я его поставил фоном, а сам занялся учёбой, или чем-то вроде. Звенькало и тренькало&nbsp;в плохоньких&nbsp; общаговских колоночках&nbsp;приятненько и гламурненько. Гитарки на альбоме&nbsp;чистенькие и звонкие, аццки&nbsp; спродюсированные, недаром альбом кругом обзывают гениальным. Если его воспринимать как промышленно изготовленный торт, в котором сахара, крема и прочих компонент ровно в меру, то эпитет приходится признать справедливым.<br />
&nbsp;&nbsp; Но сладкозвучную идиллию внезапно прервали странные рывки и заикания. Обычно&nbsp;это значит, что файл битый, и придётся перекачивать весь альбом. Я уже хотел&nbsp;поморщиться, но странный саунд всё не кончался. Тут&nbsp;мне в голову пришло, что один отдельный файл из альбома битым целиком быть никак не может, тем более что качал я RAR архив, который во время распаковки проверяет целостность с помощью алгоритма CRC. В итоге я стал внимать&nbsp;композиции далее, пытаясь понять, неужели музыканты Mogwai решили поиздеваться над слушателем и засунуть на откровенно коммерческую и легкоусвояемую&nbsp;пластинку злобный и колючий трек, похожий на суровую резаную электронику и отчасти на дуэт The Books. Мнение моё менялось каждые несколько секунд,&nbsp;а мозг&nbsp;был парализован, потому что&nbsp;мелодичная&nbsp;инструментальная музыка, порезанная каким-то жутким маньяком-расчленителем на небольшие куски, звучала просто умопомрачительно.<br />
&nbsp;&nbsp; В итоге я решил, что это авторская задумка, и уже было собрался простить Mogwai за такой финт все их грехи .&nbsp;Но у меня хватило занудства перекачать альбом заново, чтобы проверить. Разумеется, в&nbsp;&quot;нормальной&quot; версии альбома та самая композиция Friend Of The Night оказалась скучноватым синглом, который нынче звучит даже на FM, и отнюдь не является произведением патологоанатомического искусства. А то, что я принял за настырность и маниакальность музыкантов, оказалось всего лишь хитроумным дефектом звукозаписи. Очевидно, альбом был похищен из студии ещё недоделанным, отчего и&nbsp;появился&nbsp;полный психоделии и магии эффект.&nbsp;<br />
&nbsp;&nbsp;&nbsp; Теперь объясню, почему история имеет такой заголовок. Всё это мне изрядно напомнило всегдашние разговоры Андрея Горохова о том, что качество звука не имеет решающего значения в восприятии музыки,&nbsp;а чёткая и&nbsp;рафинированная студийная запись, которую так любят мейджор-лейблы и ремесленники от музыки, вообще порой убивает магию и драйв.&nbsp;Моя история связана с такой точкой зрения лишь опосредственно,&nbsp;но напоминает нам о схожих вещах.<br />
&nbsp;&nbsp; О том, что&nbsp;технические средства&nbsp;вроде семплирования действительно открыли новые горизонты и позволили воплотить невиданные идеи.&nbsp;И&nbsp;о том, что в звуковой живописи действительно допустимы все&nbsp;приёмы: и шум, и вообще любой звук не только могут быть встроены в музыкальную композицию как декоративные элементы, но сами по себе являются музыкой, или могут образовывать костяк композиции.&nbsp;И о&nbsp;том, что случай может&nbsp;породить в искусстве то, чего бывает нельзя достигнуть долгим трудом и виртуозностью.<br />
&nbsp; Для меня&nbsp;это является абсолютно очевидными аксиомами, и&nbsp;мне&nbsp;очень странно видеть, когда&nbsp;люди придерживаются другого мнения.&nbsp;<br />
<br />
P.S. Не надеясь, что кто-то поддержит мои философствования,&nbsp;всё же выложу&nbsp;файлы.<br />
<a href="http://vladek.richnet.lv/downloads/Mogwai%20-%20Friend%20Of%20The%20Night.mp3">Обычная версия</a>&nbsp;&nbsp;&nbsp;<a href="http://vladek.richnet.lv/downloads/Mogwai%20-%20friend%20of%20the%20night%20%5Bcut%20mix%5D.mp3">Удивительная версия</a><br />
&nbsp;
</p>

	