Id: daa83f10-b90c-437e-aaf3-e19b568e9ccf
Title: "Google co-op"
Published: "2006-12-08"
Slug: "2006-12-08 Google co-op"
-
И всё таки готовые вещи, сделанные профессионалами, рулят.&nbsp;Установил на Радиоархиве <A href="http://google.com/coop/">Google Co-op search</A>, то есть внешнюю форму поиска по вашему сайту. Работает отлично, индексирует часто, релевантность на уровне, а результат встраиваемый прямо в сайт. Выглядит <A href="http://radio.super.lv/googlesearch?cx=012016582857892393511%3Awjewds1zonc&amp;as_q=%D0%B0%D0%BD%D0%B4%D1%80%D0%B5%D0%B9&amp;sa=%D0%9F%D0%BE%D0%B8%D1%81%D0%BA&amp;cof=FORID%3A11&amp;hl=ru#1003">мило</A>, хоть есть небольшая проблема с читаемостью шрифтов - у меня они полужирные, а на гугле это настроить нельзя (Или непросто).
	