Id: 13b5fc64-21df-4a82-bdb0-fd00c8155b66
Title: "Древний пост"
Published: "2006-05-23"
Slug: "2006-05-23 Древний пост"
-
<strong>Вот вам&nbsp;забытый пост, написанный понятно когда.</strong><br />
&nbsp;&nbsp; Вчера на чемпионате мира по Айс Хоки, проходящем в Риге, Латвия обыграла Словению 5:1. Радости фанов не было предела, и даже больше, если такое возможно.<br />
Всё ходят раскрашенные, и можно даже видеть надписи: &quot;Хоккей объединит нас&quot; на латышском. Для тех, кто не в теме - имеется в виду национальный вопрос.<br />
А вчера мы трепались с другом, он мне&nbsp;рассказал.<br />
&nbsp; Идёт человек с такой надписью, и красно-бело-красной расцветкой&nbsp;<img src="http://vladek.richnet.lv/downloads/lv.png" alt="" />, радуется.&nbsp;И видит другого -&nbsp;местного, но с намалёванной на&nbsp;лице&nbsp;бело-сине-красной мазнёй <img src="http://vladek.richnet.lv/downloads/ru.png" alt="" />. Посмотрели они друг на друга грустно,&nbsp;и разошлись.<br />
И понял мой приятель, что нихуя&nbsp;нас хокей не объединит.

	