Id: 5d0107be-2d90-440d-9c9a-1c689083a23a
Title: "Активные мониторы ближнего поля Adam A7"
Published: "2006-12-23"
Slug: "2006-12-23 Активные мониторы ближнего поля Adam A7"
-
<P align=center><IMG src="/files/lj/a7.jpg"></P><P align=center><br/>Активные мониторы ближнего поля Adam A7</P><P></P><P align=left><br/>Судя по <A href="http://www.ixbt.com/proaudio/adam-a7.shtml">обзору</A>&nbsp; iXBT и забугорным форумам, крутая штука. Что интересно, в Латвии даже есть представитель. Но если цена&nbsp;в Штатах составляет $1000 за пару,&nbsp;в России 1300, то у нас легко дойдёт до 1800. <br/><br/>Впрочем, мне вот что интересно, если у меня такие будут когда-нибудь.<br/><br/>Станут ли все гости, узнав цену, крутить пальцем у виска? Особенно учитывая сугубо&nbsp;утилитарный внешний вид. Никакой&nbsp;тебе вишни&nbsp;с рояльным лаком, понимаешь.<br/><br/>В любом случае до этого счастливого момнента ещё ой как нескоро. А всё потому, что я кредиты не люблю.</P>
	