Id: 1f0d0ac8-043a-42d9-bbd9-bacdc85a6a09
Title: "Голосовалки в постах"
Published: "2006-10-02"
Slug: "2006-10-02 Голосовалки в постах"
-
Сегодня приснилось, что было бы неплохо, если бы на постах в ЖЖ были плюсики и минусики для голосования, подобно http://dirty.ru, скажем.<br />
Тогда юзер мог бы знать, какие его посты вызывают наибольший интерес.<br />
<br />
Впрочем, опыт как standalone блогов, так и http://radio.super.lv показал, что нажимают на такие кнопки-голосовалки очень мало людей, даже если при этом страница не перезагружается (ajax)<br />
<br />
С другой стороны, сама концепция ЖЖ и умение эффективно пользоваться им требует некоторых усилий, которые не всем по плечу (я имею в виду простых людей). Вполне возможно, если бы это была штатная возможность ЖЖ, все привыкли бы и нажимали.

	