Id: 06b36da6-9b95-41dc-9d29-c47b865ba2df
Title: "Матрицы - часть 1, экономическая"
Published: "2006-05-28"
Slug: "2006-05-28 Матрицы - часть 1, экономическая"
-
<p>
&nbsp;&nbsp; Недавно я <a href="/post/2006-04-24%20_____">писал</a>, как у меня&nbsp;DVD-матрицы производства Verbatim не читались сразу после записи.&nbsp; Позже выяснилось, что многие из них,&nbsp;прочитавшиеся во время верификации сразу после записи, через&nbsp;неделю-другую читаться перестают. В итоге&nbsp;я&nbsp;стал жутко разозлён и огорчён тем фактом, что&nbsp;выкинул более 60$ на ветер - какое&nbsp;доверие может быть матрицам, из которых 1/3&nbsp;почти сразу не читается?<br />
&nbsp; В итоге я смог уговорить свою сестру&nbsp;<a href="http://mistrale1514.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  alt="" /> mistrale1514</a>&nbsp;купить и прислать мне на день рождения две коробки по 50 штук самых лучших болванок на свете - производства японской компании Taiyo Yuden. О, как много в этом звуке для сердца знающего человека! Невероятное качество матриц TY давно стало культом и легендой. Матриц лучше чем эти просто не существует - разве что CD-матрицы KODAK, когда они ещё выпускались, да редкие экземлпяры HP.<br />
<br />
&nbsp;&nbsp; Далее начинается рассказ, почему одни матрицы лучше других и как это определить. Он не перегружен техническими подробностями, поэтому читайте смело, если интересно или делать нечего.<br />
&nbsp; Итак, для начала&nbsp;коротко поясню основные экономические положения из мира матриц. Выпукаются&nbsp;оптические носители&nbsp;сравнительно немногими большими корпорациями на своих заводах. (Примеры - Pprodisc, Mitsubishi Chemicals Corporation, CMC Magnetics Corp.)&nbsp;Но в продаже мы видим огромное количество разнообразных наименований. Почему так получается? Хитрые уже догадались, что в производстве матриц, как и везде сейчас, царит глобализация, а точнее её проявление в виде OEM-производства. Как литературные негры прикованные цепями в тёмном подвале работали день и ночь, создавая романы, издававшиеся под именем&nbsp;Дюма-старшего, так трудолюбивые китайцы и тайваньцы клепают технологические штучки, которые затем продаются под крутыми брендами Sony, Philips т.п.<br />
&nbsp;&nbsp; Такое положение вещей всех устраивает - китайцам много не надо, а своё они берут огромной массовостью производства.&nbsp;Известные ТНК отлично наживаются, продавая воздух в виде своих брендов, и делая наценку в 2-3 раза на гаджеты, поставленные им азиатскими производителями. Взамен они худо-бедно контролируют качество,&nbsp;и конечный потребитель вполне счастлив, получая всего лишь <strong>нормальный</strong> товар по вдвое завышенной цене.<br />
&nbsp; Taiyo Yuden - один из престижных OEM-поставщиков CD/DVD-матриц, услугами которого пользуются такие титаны как Sony и Plextor. К счастью,&nbsp;Taiyo Yuden продаёт матрицы и под своим брендом, как делают многие OEM-производители.&nbsp; Кроме того, в отличие от китайцев и тайваньцев, TY не играет в грязные игры с потребителем.&nbsp;Объясню, что я имею в виду.<br />
&nbsp;Во-первых, качество дисков&nbsp;, произведённых &quot;китайцами&quot;, очень нестабильно. Для своих партнёров - именитых брендов изготавливаются, как правило, отличные диски. Для себя (и своих брендов)&nbsp;&ndash; сносного качества. А для толп малоизвестных продавцов&nbsp;&ndash; или плохие, или очень плохие.<br />
&nbsp;Во-вторых, качество может очень сильно варьироватся от партии к партии, что связано с плохим контролем техпроцесса и использованием оборудования сверх того срока, на который оно рассчитано. Поставили новые станки, откалибровали, проверили качество - партия великолепная. А через год-другой забыли и забили - получаются куски беполезной пластмассы&nbsp; вместо оптических носителей.<br />
&nbsp; В четвёртых, под одним и тем же брендом могут скрыватся диски от совершенно разных производителей. И если в случае именитых фирм&nbsp;вроде Sony&nbsp;это не страшно ввиду контроля качества, то мелкие компании, которые не производят, а только продают диски, часто меняют поставщика, что делает качество совершенно непредсказуемым.<br />
&nbsp; В-третьих, диски, произведённые на заводах одной и той же фирмы, но в разных странах, отличаются по качеству как небо и земля.&nbsp;Классическим примером является&nbsp;Verbatim, под маркой которого на самом деле продаются&nbsp;диски от нескольких разных производителей.&nbsp;Сам Verbatim обычно производит диски на заводах Mitsubishi Chemical Corporation (MCC), частью которой он является. Но если качество сингапурских заводов отличное, а&nbsp;тайваньских - приемлемое, то индийцы клепают ужаснейший хлам. Причём хитроумный Verbatim продаёт некачественные диски только на рынках стран третьего мира. К нашей печали, по мнению Вербатим&nbsp;туда явно входит экс-СССР. А США и Европе в основном достаются самые сливки. Я&nbsp; в <a href="/post/2006-04-24%20_____">тот раз</a> нарвался на Made In India, а вовсе не Taiwan, который так&nbsp;не очень заслуженно.<br />
&nbsp;&nbsp; Так вот - Taiyo Yuden - японская компания, чьи сногсшибательные матрицы (я точно робот)&nbsp;продаются под именами Sony, Plextor, и ещё некоторыми. Например,&nbsp;Verbatim выпускет серию <strong>Verbatim Pastel, </strong>на деле являющимися именно&nbsp; продукцией TY. Увидите по хорошей цене - берите не раздумывая.<br />
На этом закончим часть первую, экономическую.
</p>

	