Id: 7c6aeb3f-20f6-4a2a-8fff-8ffa11d00b6e
Title: "Даугавпилс"
Published: "2006-06-14"
Slug: "2006-06-14 Даугавпилс"
-
&nbsp;&nbsp;&nbsp;&nbsp; Я&nbsp;часто пишу про город, в котором прожил 18 из 23 лет своей жизни&nbsp;&ndash; Даугавпилс. А сейчас ещё напишу, да не просто так, а с фотографиями, сделанными с ого-го какой высоты. Для облегчения простоты понимания можно заглянуть и на <a href="http://www.wikimapia.org/#y=55880800&amp;x=26524429&amp;z=14&amp;l=1&amp;m=a">Викимапию</a>.[more text=Под катом - фотки Дпилса, сделанные с дельтаплана.] Снимал Сергей Перевалов, а кто был пилотом&nbsp; - не знаю. Все фото кликабельны, оригиналы лежат на <a href="/files/lj/49245/">майфото.<br />
</a>
<p align="center">
<a style="cursor: url('http://vladek.richnet.lv/downloads/zoom.cur')" href="/files/lj/49245/393_large.jpg"><img data-src="/files/lj/49245/393_big.jpg" alt="" title="Увеличить" /></a><br />
Общий вид в сторону Риги
</p>
<p>
&nbsp;
</p>
<p align="left">
Это общий вид в сторону Риги.&nbsp; Справа идёт шоссе Даугавпилс-Рига, река, естественно, называется Даугава, и идёт через всю территорию Латвии. Начинается она&nbsp;в России под именем Западной Двины, а заканчивается в Риге широченным устьем и четырьмя мостами,&nbsp;а чём я уже как-то&nbsp;<a href="/post/2006-02-18%20%D0%A1%D0%BA%D1%83%D0%BA%D0%BE%D1%82%D0%B5%D0%BD%D1%8C#cutid1">писал</a>. Длина ещё составляет 1020 КМ, если не ошибаюсь.
</p>
<p align="center">
<a style="cursor: url('http://vladek.richnet.lv/downloads/zoom.cur')" href="/files/lj/49245/394_large.jpg"><img data-src="/files/lj/49245/394_big.jpg" alt="" title="Увеличить" /><br />
</a>Озеро Шуню
</p>
<p>
&nbsp;
</p>
<p align="left">
А это удачная фотография озера Шуню - второго по величине в Даугавпилсе. Латвия традиционно делится на 4 района - Земгале, Курземе, Видземе и Латгале. Даугавпилс находится в Латгале (Латгалии по-русски), которую не без оснований называют краем голубых озёр. Озёр у нас тут просто дикое количество, многие из них соединены протоками и речушками, которых тоже хватает.&nbsp; То, что находится внизу фотографии, называтся Северный Городок. Частные дома на заднем плане - Форштадт, а высотки справа вверху -&nbsp; мой родной Новый Форштадт, неудачно переименованный из микрорайона Первомайский. Неудачно - потому что говорить легче &quot;Первомайка&quot;,&nbsp;как до сих пор делают все&nbsp;местные. Кроме того, первое мая в Латвии - государственный праздник, и никакого коммунистического смысла название уже не имеет.<br />
Обратите внимание на особняки по центру - такие поросли капитализма в последние несколько лет стали появлятся повсеместно. При этом все жалуются на крайнюю бедность и прозябание. Когнитивный диссонанс, однако.
</p>
<p align="center">
<a style="cursor: url('http://vladek.richnet.lv/downloads/zoom.cur')" href="/files/lj/49245/406_large.jpg"><img data-src="/files/lj/49245/406_big.jpg" alt="" title="Увеличить" /><br />
</a>Посёлок &quot;Новый Форштадт&quot;
</p>
<p>
&nbsp;
</p>
<p align="left">
Вот тут я&nbsp;живу. На следующем снимке будет лучше видно.<br />
</p>
<p align="center">
<a style="cursor: url('http://vladek.richnet.lv/downloads/zoom.cur')" href="/files/lj/49245/407_large.jpg"><img data-src="/files/lj/49245/407_big.jpg" alt="" title="Увеличить" /><br />
</a>Новый Форштадт поближе
</p>
<p>
&nbsp;
</p>
<p align="left">
Мой дом - самый длинный,&nbsp;расположен горизонтально справа&nbsp;по центру фотографии. На самом деле их таких два,&nbsp;и народ окрестил их &quot;Великия китайская стена N1 и N2&quot;. Отличный пример слова, которое противоречиво по сути. Как такое слово называется, я забыл, пусть читатели подскажут. Справа вверху видны мои <a href="/post/2006-06-11%20%D0%9C%D1%83%D0%B7%D1%8B%D0%BA%D0%B0%20%D1%80%D0%B5%D0%BB%D1%8C%D1%81">прекрасные рельсы и вагоны</a>.
</p>
<p align="center">
<a style="cursor: url('http://vladek.richnet.lv/downloads/zoom.cur')" href="/files/lj/49245/405_large.jpg"><img data-src="/files/lj/49245/405_big.jpg" alt="" title="Увеличить" /></a><br />
Оз. Шуню с другого ракурса<br />
<br />
<a style="cursor: url('http://vladek.richnet.lv/downloads/zoom.cur')" href="/files/lj/49245/400_large.jpg"><img data-src="/files/lj/49245/400_big.jpg" alt="" title="Увеличить" /></a><br />
Оз. Шуню, если отлететь ещё назад
</p>
<p>
&nbsp;
</p>
<p>
&nbsp;
</p>
<p>
&nbsp;
</p>
<p align="left">
Если отлететь ещё назад, видна общая панорама. Мой район - справа&nbsp;выше центра фотографии. В&nbsp;середине&nbsp;её объездная, ведущая в центр города.
</p>
<p>
&nbsp;
</p>
<p align="center">
<a style="cursor: url('http://vladek.richnet.lv/downloads/zoom.cur')" href="/files/lj/49245/395_large.jpg"><img data-src="/files/lj/49245/395_big.jpg" alt="" title="Увеличить" /><br />
</a>Центральная площадь (Виенибас Лаукумс)
</p>
<p>
Центральная площадь, где недавно была отреставрирована гостиница, которая при этом поменяла название со скучного &quot;Латвия&quot; на&nbsp;стильное &quot;Latgola&quot;. К гостинице походя пристроили норвежский супермаркет сети Rimi, славящейся высоким качеством и такими же ценами.
</p>
<p align="center">
<a style="cursor: url('http://vladek.richnet.lv/downloads/zoom.cur')" href="/files/lj/49245/411_large.jpg"><img data-src="/files/lj/49245/411_big.jpg" alt="" title="Увеличить" /></a>
</p>
<p align="center">
<a style="cursor: url('http://vladek.richnet.lv/downloads/zoom.cur')" href="/files/lj/49245/401_large.jpg"></a>
</p>
<p align="center">
Торговый центр &quot;Диттон&quot;
</p>
<p>
&nbsp;
</p>
<p align="left">
Вот так выглядит сверху центр города. Моя школа - слева через дорогу от торгового павильона с огромной плоской серой крышей ниже и левее середины фотографии. Когда я учился, павильон был маленьким и грязным, но мы всё равно бегали туда не переменах купить всякой еруднды. Гостиница и площадь из предудыщего снимка здесь внизу справа. Сильно выше моей школы спрятался среди пятиэтажек и деревьев детский садик, где работает моя мама, и который я злобно прогуливал.
</p>
<p align="center">
<a style="cursor: url('http://vladek.richnet.lv/downloads/zoom.cur')" href="/files/lj/49245/396_large.jpg"><img data-src="/files/lj/49245/396_big.jpg" alt="" title="Увеличить" /><br />
</a>Автовокзал и Ж/Д станция, центр города левее
</p>
<p align="left">
Жёлтые палочки - польские автобусы &quot;Солярис&quot;, которые предыдущая городская дума предпочла &quot;Мерседесам&quot;. Злопыхатели говорят, что Мерседесы были сильно дешевле.&nbsp;Их оппоненты -&nbsp;что &quot;Мерседес&quot; с лихвой отхватил бы своё на стоимости запчастей. Я склонен верить вторым - с чего бы это Мерседес будет дешевле поляков? На заднем плане Ж/Д вокзал, через который проходят немало больших поездов - в основном из Белоруссии и Литвы. 
</p>
<p align="center">
<a style="cursor: url('http://vladek.richnet.lv/downloads/zoom.cur')" href="/files/lj/49245/402_large.jpg"><img data-src="/files/lj/49245/402_big.jpg" alt="" title="Увеличить" /></a><br />
Стадион, графский пруд и ЛатРосТранс
</p>
<p>
&nbsp;
</p>
<p align="left">
Я точно всех запутаю, ну так чтож. Обитатели города разберутся, а остальным никак не понять, где тут что, если только они не геодезисты по профессии. ЛатРосТранс - это где работает мой папа и его коллега Сергей, снявший все эти фото.
</p>
<p align="center">
<a style="cursor: url('http://vladek.richnet.lv/downloads/zoom.cur')" href="/files/lj/49245/397_large.jpg"><img data-src="/files/lj/49245/397_big.jpg" alt="" title="Увеличить" /><br />
</a>Удачная панорама района &quot;Новое строение&quot;
</p>
<p>
&nbsp;
</p>
<p align="left">
Я никогда не задумывался, но теперь мне кажется, что &quot;Новое Строение&quot; - забавное название. В центре виден единственный в городе двенадцатиэтажный дом (красный), не считая центральной больницы, которую мы ещё увидим. Красное и хитрое здание выше народ окрестил Бастилией, из-за узких окон-бойниц и общей схожести с крепостью. На заднем плане - стадион &quot;Локомотив&quot;.
</p>
<p align="center">
<a style="cursor: url('http://vladek.richnet.lv/downloads/zoom.cur')" href="/files/lj/49245/398_large.jpg"><img data-src="/files/lj/49245/398_big.jpg" alt="" title="Увеличить" /><br />
</a>Озеро &quot;Большие Стропы&quot;
</p>
<p>
&nbsp;
</p>
<p align="left">
Когда тебя что-то окружает, ты не задумываешься над его смыслом. Почему озеро называется &quot;Стропы&quot; ? Козявка на заднем плане справа - обещанная городская больница. Водоём на переднем плане - озеро с оптимистичным названием &quot;Губище&quot;.<br />
<br />
</p>
<p align="center">
<a style="cursor: url('http://vladek.richnet.lv/downloads/zoom.cur')" href="/files/lj/49245/399_large.jpg"><img data-src="/files/lj/49245/399_big.jpg" alt="" title="Увеличить" /><br />
</a>Всё то же, с большей высоты<br />
<br />
<a style="cursor: url('http://vladek.richnet.lv/downloads/zoom.cur')" href="/files/lj/49245/403_large.jpg"><img data-src="/files/lj/49245/403_big.jpg" alt="" title="Увеличить" /><br />
</a>Тюрьма строгого режима &quot;Каменный цветок&quot;,  она же &quot;Тройка&quot;
</p>
<p align="left">
А это совсем в другой стороне.&nbsp; Этот мост - третий в городе, и сразу за ним справа располагается тюрьма строгого режима. В городе всего две тюрьмы, первая называется &quot;Белый лебедь&quot;.<br />
</p>
<p align="center">
<a style="cursor: url('http://vladek.richnet.lv/downloads/zoom.cur')" href="/files/lj/49245/404_large.jpg"><img data-src="/files/lj/49245/404_big.jpg" alt="" title="Увеличить" /><br />
</a>Тюрьма &quot;Тройка&quot; крупным планом
</p>
<p>
&nbsp;
</p>
<p align="center">
<a style="cursor: url('http://vladek.richnet.lv/downloads/zoom.cur')" href="/files/lj/49245/409_large.jpg"><img data-src="/files/lj/49245/409_big.jpg" alt="" title="Увеличить" /><br />
</a>Общий вид
</p>
<p>
&nbsp;
</p>
<p align="left">
А чтобы убедится, что я вас не обманул, и что фото сняты с хлипкой и опасной летающей этажерки, вот последнее фото общим планом. Мост, который был на самой первой фото, находится сздаи&nbsp;фотографа, и на снимке его нет. Впереди - мост, который был на предыдущей фотографии&nbsp;с тюрьмой. Слева в середине&nbsp;- центр&nbsp;города, справа в середине - район &quot;Грива&quot;.
</p>

	