Id: 9bde0e09-1910-4c60-8deb-17fcf37c2835
Title: "Евровидение"
Published: "2006-05-21"
Slug: "2006-05-21 Евровидение"
-
&nbsp;&nbsp;&nbsp; Что мне есть&nbsp;сообщить по поводу Евровидения? Можете называть меня извращенцем, но мне оно нравится. Не буду снобистки называть это действо парадом уродов. Скажу так: любопытно смотреть и анализировать взаимозависимости. Как&nbsp;страны в разных&nbsp;регионах&nbsp;поддерживают соседей. Как&nbsp;внешность и фриковатость исполнителя частенько является определяющим в результате голосования.&nbsp;(Это я вообще считаю главным фактором уже лет&nbsp;5).<br />
&nbsp;&nbsp; Результат Димы Билана для меня оказался совершенно необъяснимым. Но если принять во внимание мою определяющую гипотезу, которую я в этот раз подзабыл, то всё становится более-менее понятно. Дёргающийся как эпилептик Билан, изображающий долбанутого на голову ПТУшника из рассказа &quot;Парень и его собака&quot;. Белый рояль, из которого вылезает мутировавший анроид, покрытый вулканическим пеплом. И ко всему этому балерины на заднем фоне. В итоге получается чистый сюрреализм, приправленный сладкозвучной попсятинкой - именно то, что надо для достижения высоких результатов не Евровидении.<br />
&nbsp; Однако&nbsp;аццкие (на сей раз буквально) финны Lordi оказались ещё более сногсшибающими в визуально-фриковском плане, потому&nbsp;и победили. Мне лично ещё&nbsp;понравились девушки из&nbsp;Украины, Молдовы и Норвегии, что доказывает, что я&nbsp;всё-таки не робот. Литовцы на сей раз нашли куда применить черты национального характера - хитрость и смекалистость,&nbsp;и их забавная напористая считалочка даже не выглядела пошло.<br />
&nbsp;&nbsp; А вообще за <a href="http://new.zvuki.ru/R/P/14947">Звуках</a> на сей раз написано всё абсолютно верно, поэтому&nbsp;не стану далее&nbsp;изливать словесные&nbsp;потоки низкого качества. Скажу только, что&nbsp;реакция находящихся в студии ОРТ (сужу по Звукам, у нас не показывали) вызывает усмешку и отвращение к российскому шоубиз-истеблишменту. Представить такую склоку&nbsp;в ТВ эфире европейских стран - почти невозможно. После таких заявлений,&nbsp;высказывания так называемых &quot;русских поцтреотов&quot; и &quot;неруси&quot; выглядят совсем в другом свете. Наш латвийский комментатор, например, просто&nbsp;грустно сказал, что латвийскому Космосу предсказывали или высокий результат, или никакого.

	