Id: 5a6d8bb5-434b-42be-8a4d-6754e5e9b524
Title: "Кино из детства"
Published: "2006-10-20"
Slug: "2006-10-20 Кино из детства"
-
&nbsp;&nbsp; Хотя учёные говорят, что человек плохое склонен забывать, из детства я помню по большей части негатив.&nbsp;Из позитивного помню только, что будучи 7-10 лет от роду,&nbsp; я до упаду катался на автобусах и шлялся пешком по всему городу - бесплатно и без малейшего контроля взрослых. Домой возвращался подчас к 12. И ничего плохого со мной случится не могло, потому что это было детство и потому что это было СССР. Путешествовать меня уговаривал друг, который всегда обещал мне за это горы денег. Он потом сдержал обещание, когда&nbsp; все&nbsp;обещанные несметные богатства&nbsp;обесценились как раз до оплаты одного часа игры на приставке Sega 16 bit.<br />
<br />
Из негатива помню, как у меня отобрали шапку и не отдавали, как обзывали паганелем, как разбивали очки (раза три, наверное). Это, впрочем,&nbsp;скорее из школы, а не из детства в целом. Моя первая школа (N16) была огромной - в ней было 11 пятых классов, влючая мой, который из 4A кириллического почему-то превратился в 5K латинское. В этом муравейнике жить было не очень приятно, но ушёл я не поэтому. Ушёл в математический класс, потому что традиция была такая в семье. А мой друг не прошёл, потому что у него получились дробные дома, но об этом я уже писал.<br />
<br />
Но иногда всплывают&nbsp;странные и&nbsp; необъяснимые&nbsp;воспоминания. Так уж устроен мозг,&nbsp;выстраивающий цепочки причудливых связей между посторонними друг другу нейронами.<br />
<br />
Периодически я вспоминал про фильм-сказку, которая произвела немалое впечатление на детский разум. В ней речь шла о девочке, чьего брата похитили злые силы, и он должен был быть спасён в течении 13 часов, иначе случилось бы что-то нехорошее. Всё, что я запомнил - это внешность главного злодея и тот факт, что в фильме наличествовали аналоговые часы с циферблатом до 13 часов.<br />
<br />
Поиск по гуглю ничего не дал, лишь Яндекс с трудом нащупал что-то. <br />
<br />
Кто знает фильм,&nbsp;кто скажет, как он называется и кто сыграл&nbsp;главного злодея?<br />
<br />
UPDATE: <br />
В комментариях легко разгадали загадку. Вот он, ЖЖ во всей красе :-)<br />
<br />
Фильм называется &quot;Лабиринт&quot;<br />
А главным злодеем там был известный музыкант Дэйвид Боуи<br />
<br />
http://www.dvdspecial.ru/disk_article.phtml?disk_id=137&amp;article_id=318<br />
http://www.imdb.com/title/tt0091369/

	