Id: 10327e29-b186-4d90-bcb1-9b426c46a871
Title: "Фотки"
Published: "2007-09-06"
Slug: "2007-09-06 Фотки"
-
<P align=left>[more text=Работа и собачье кладбище]</P><P></P><P align=center><br/><A href="http://foto.izvne.com/d/4931-2/IMG_0001.jpg"><IMG src="http://ir.izvne.com/t/http://foto.izvne.com/d/4931-2/IMG_0001.jpg"></A><br/>"Вставь&nbsp; и проверни" - известный в городе музыкант-порнотрэшер Гена.&nbsp;<br/></P><P align=center><A href="http://foto.izvne.com/d/4939-2/IMG_0002.jpg"><IMG src="http://ir.izvne.com/t/http://foto.izvne.com/d/4939-1/IMG_0002.jpg"></A><br/>"Вы меня обижаете, потому что я девушка" - жертва мужского шовинизма&nbsp;слева</P><P></P><P align=center>&nbsp;"Вы никогда не попробуете вкус человеческого мяса - вас убьют первыми "&nbsp; - исполнительный директор справа<br/></P><P align=center><A href="http://foto.izvne.com/d/4944-2/IMG_0004.jpg"><IMG src="http://ir.izvne.com/t/http://foto.izvne.com/d/4944-2/IMG_0004.jpg"></A><br/>"Моя минералка, в обиду не дам."&nbsp; Младший научный сотрудник Юра</P><P></P><P></P><P align=center><A href="http://foto.izvne.com/d/4949-2/IMG_0005.jpg"><IMG src="http://ir.izvne.com/t/http://foto.izvne.com/d/4949-2/IMG_0005.jpg"></A><br/>"Покайся, Влад!"&nbsp;-&nbsp;духовно и технически просвётлённый&nbsp;второй гуру - Дима. Первый в отпуске - женится.<br/><br/><br/></P><P align=center><A href="http://foto.izvne.com/d/4969-2/IMG_0017.jpg"><IMG src="http://ir.izvne.com/t/http://foto.izvne.com/d/4969-2/IMG_0017.jpg"></A><br/>Собачго-компьютерщег!</P><P align=center><A href="http://foto.izvne.com/d/4964-2/IMG_0016.jpg"><IMG src="http://ir.izvne.com/t/http://foto.izvne.com/d/4964-2/IMG_0016.jpg"></A><br/>Собачго японскаго происхождения?</P><P></P><P align=center><A href="http://foto.izvne.com/d/4974-2/IMG_0019.jpg"><IMG src="http://ir.izvne.com/t/http://foto.izvne.com/d/4974-2/IMG_0019.jpg"></A><br/>Ещё ракурс</P><P align=center><A href="http://foto.izvne.com/d/4979-3/IMG_0020.jpg"><IMG src="http://ir.izvne.com/t/http://foto.izvne.com/d/4979-3/IMG_0020.jpg"></A><br/>Разгадка</P>
	