Id: b663b6a1-1c34-4c60-a891-c14772507b23
Title: "Про меня"
Published: "2007-07-14"
Slug: "2007-07-14 Про меня"
-
<p>Смотри также:</p>
<div style="border: 1px solid black; margin: 20px; background-color: #eeffff;">
<ul>
<li><a href="../../post/2008-12-20%20%D0%9B%D1%8E%D0%B1%D0%BB%D1%8E">Что я люблю</a></li>
</ul>
</div>
<p>Моя электропочта: <a href="mailto:vlad@@@@izvne.com">vlad@@@@izvne.com</a> , скайп: <a href="skype://vladekk">vladekk</a>, фейсбук: <a href="http://www.facebook.com/vladekk">vladekk</a></p><p>Дисклеймер:</p><p>Я уже почти год хронически болен какой-то адской штукой, при которой у меня болит вся поверхность кожи и тела. Иногда так, что невозможно терпеть, а иногда мне почти нормально. Поэтому такой заголовок блога.&nbsp;<span style="line-height: 1.42857;">Всё, что ниже, относится к тому периоду моей жизни, когда я ещё был здоров.</span></p>
<p>Я автор проекта <a href="http://radar.lv">http://radar.lv</a></p>
<p>Я люблю фитнес, плавание, йогу, туризм, велик, ориентирование, парапланеризм, сплавы на байдарках и прочее активное времяпровождение.<a href="sniegpulkstenite.lv"> Состою в туристическом клубе "Подснежник"</a></p>
<p>Мои велосипедные и пешеходные треки на gpsies: &nbsp;<a href="http://www.gpsies.com/mapUser.do?username=Vladekk">http://www.gpsies.com/mapUser.do?username=Vladekk</a><br> <br> Моя галерея фоток сейчас на <a href="http://foto.izvne.com/">http://foto.izvne.com</a>, но обычно я вставляю фотки в посты <a href="http://izvne.com">моего блога</a></p>
<p>По возможности участвую в проекте&nbsp;<a href="http://www.openstreetmap.org/user/Vladekk/history#map=9/56.2108/26.4125">OpenStreetMap</a></p>
<p>Участвую в проектах&nbsp;<a href="http://www.couchsurfing.org/people/vladekk/">http://couchsurfing.org</a>&nbsp;и&nbsp;<a href="http://warmshowers.org">http://warmshowers.org</a><br> <br> Музыка, которую я слушаю на компьютере (не учитывая плейер и т.п.) на last.fm:<br> <a href="http://www.last.fm/user/Vladekk/">http://www.last.fm/user/Vladekk/</a></p>
<p>&nbsp;</p>
<p><br> Я разбираюсь во многих технологических штучках и компах, но во многом поверхностно. <br> <br> Я когда-то знал вот это: Object Pascal (Delphi), C++, С++ STL, Assembler , но всё забыл.<br> <br> Зато теперь я работаю программистом на C#/ASP.NET и потому знаю их более-менее нормально, чуть хуже - Javascript, HTML и CSS<br> <br> Я когда-то настраивал сети под Linux Mandrake/Debian, монтировал видео Pinnacle Studio 9 и кодировал его Canopus ProCoder'ом, но это было давно. <br> <br> Я очень люблю музыку во многих её проявлениях, и потому кое-что знаю о музыкальных группах, стилях и направлениях, и ничего не знаю из музыкальной теории. Из музыки я не люблю только русскую попсу, русский блатняк, русскую авторскую песню, и всё на неё похожее. <br> <br> Я слушал около 10000 альбомов, что не так уж и много, но уже прилично. Я обычно не слушаю то, что мне не интересно, но иногда бывает, чтобы понять, что вообще сейчас акутально среди продвинутых меломанов.</p>
<p>Я нормально (читай - более-менее грамотно) пишу и говорю по-русски, нормально читаю и плохо говорю по-английски, плохо говорю и читаю по-латышски, и зря учил в школе французкий, поскольку всё забыл.&nbsp;</p>
<p><br> Я скептик (в научном смысле), материалист и атеист, и потому не верю в существование таких вещей как: бог(боги), дьявол(дьяволы), пришельцы, торсионные поля, биоэнергетика, целительство, эктрасенсорика, эзотерика, мистика. Я люблю науку, хотя не особо разбираюсь в ней.</p>
<p>Я сочувствую буддистскому течению и отчасти разделяю его концепции, но не убеждён до конца.<br> <br> Я не очень часто смотрю кино.&nbsp; Обычно мне нравятся фильмы чуть более хитрые, чем боевики, но не артхаус.</p>
<p>Иногда я смотрю аниме.</p>
<p>Я не люблю слово "быдло". Я не люблю снобов и снобизм, хотя и сам не без греха. <br> <br> Политические пристрастия либеральные, с ограничением разгула либерализма государством. Кое-где левацкие и зелёные - стараюсь беречь природу, не люблю мегакорпорации и оголтелое торжество капитализма. Социальный либерализм, во.</p>
<p>Я не курю и практически не употребляю алкоголь, за редкими исключениями в виде красного вина, глинтвейна или вермута. Я спокойно отношусь к употреблению прочих веществ, если это не вредит человеку и окружающим.<br> <br> По национальности я:<br> на 25% русский <br> на 6.25% немец<br> на 25% армянин<br> на 43.75% поляк <br> <br> Я практически не знаю польского, и не особо считаю себя поляком. И не считаю себя "русским", что бы это не значило. Родился и живу в Латвии, и считаю её своей родиной, хотя считать себя латышом в моём случае глупо. <br> <br> У меня полно родни в Белоруссии, России, Латвии и Польше. Так что меня могут считать полукровкой, космополитом и нерусью и с полным основанием ненавидеть националисты всех мастей. <br> <br> Я отвечаю им взаимностью, потому как с подозрением отношусь к любым фанатикам, включая веганов и "яростно зелёных", антиглобалистов и глобалистов, ура-либералов и ура-патриотов, аудиофилов и линуксоидов, панков и анархистов. <br> <br> По сообщениям заинтересованной общественности, у меня нет вкуса. Поскольку я не верю в существование такой субстанции, как абсолютный вкус, меня это скорее радует, чем огорчает, поскольку снимает ограничения на ту худпродукцию, что мне можно потреблять.<br> Кстати, я не люблю слово "потреблять", тем более по отношению к Искусству. [Далее следует восторженный вздох] <br> <br> К геям отношусь спокойно. Они меня не задевают и не раздражают. На легализацию марихуаны я смотрю равнодушно, но скорее за, потому как&nbsp;<br> <br> Я чересчур доверчив и наивен, и плохо понимаю, как люди реагируют на то или это. У меня специфическое адское чуство юмора, и &nbsp;из меня прёт сарказм.</p>
<p>В Интернете предпочитаю обращение "на ты". Если социальное положение и возраст собеседников близки, в жизни тоже. <br> <br> Я спокойно отношусь к СССР и понимаю, что в нём было много хорошего. Но сейчас всё-таки лучше.</p>
<p>Мне нравится нейробиология и психофармакология, я кое-что знаю о строении мозга и работе сознания, и стараюсь узнать больше.</p>
<p>Периодически бываю на фестивалях электронной музыки, psytrance и других оупенэйрах, например alternative lifestyle, вроде <a href="http://yaga.lt/">Yaga Gathering</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
	