Id: 90cd99c2-bd86-4b65-b9a6-b6e878ee1436
Title: "Велосипед"
Published: "2007-07-15"
Slug: "2007-07-15 Велосипед"
-
<P>Я сделал это!<br/>То есть купил велосипед.<br/>Вот он:<br/><A href="http://www.s-medved.com/user/image/bigpic/big359.jpg"><br/></P><P align=center><IMG title="" src="http://ir.izvne.com/http://www.s-medved.com/user/image/pic/pic359.jpg"></P><P><br/><br/></A>Красавчег, а?<br/>Велосипед куплен в магазине <A href="http://www.s-medved.com/?id=359">Синий Медведь</A> в Минске. Магазину&nbsp;спасибо, поскольку велик&nbsp;отдали&nbsp;со склада, в&nbsp;самом магазине не было.&nbsp;Ещё огромное спасибо&nbsp;моей&nbsp;кузине, которая осуществила партизанский вывоз национального достояния. То есть я хотел сказать нелегальный беспошлинный ввоз товара в пределы ЕС. У нас такой велосипед стоит дороже на 300$. Мне денег не жалко, мне просто неприятно кормить наше государство,&nbsp;торговцев и производителя, нагло накручивающего цену в "богатых" странах. Пусть лучше Беларусь получит мои деньги. Поддержим&nbsp;последний оплот сопротивления империи зла!<br/><br/>Утром чуток помучился с настройкой тормозов, поскольку привезла она&nbsp;велик не до конца собранным. В конце-концов настроил задний тормоз, доехал до дачи, где полно инструментов и советчиков, там уже настроил передний.<br/><br/>Впечатления от поездки самые положительные, по асфальту катит как мотоцикл. По песку правда буксует, шины узкие.&nbsp;Но поскольку это гибрид с размером колеса 28", так и должно быть.<br/><br/>Теперь я надеюсь изменить свой спортивный режим: в зал буду ходить два раза в неделю; третий раз заменят периодические велопрогулки в хорошем ритме. С наступлением осеннего сезона в зал буду ходить один раз в неделю, второй заменим бассейном. С наступлением зимнего и&nbsp; велосипед будет заменён бассейном.</P>
	