Id: dbe9407a-b899-45e0-94be-d92ae6cd1251
Title: "Про работу"
Published: "2007-03-19"
Slug: "2007-03-19 Про работу"
-
<p>Отработал сегодня 10 часов. Странно, но просто устал, без совсем уж смертельных эффектов. Правда, скажу я вам, эффективность падает со страшной силой. Последние&nbsp;4 часа можно было бы уложить в час, если бы это было завтра, на свежую голову. Впрочем, сказать сложно - в программировании часто бывает так, что закапываешься в мелочах и не видишь очевидного. Очень часто лучше отдохнуть, немного поразмыслить, и решение придёт само.<br/>Это, разумеется, очевидные истины, применимые во многих областях, но тем не менее.<br/><br/>А вообще я зверски подсел на eat poop u cat. Для тех, кто просмотрел мою <a href="http://www.eatpoopucat.com/">ссылку</a>, разъясняю: это игра в "глухой телефон", но с картинками.<br/>Один человек&nbsp;сочиняет фразу, следующий рисует к ней картинку, а следующий её подписывает, не видя первой фразы. И так 6 раз по цепочке. Результат бывает абсолютно убийственный, смешно&nbsp;до падаений со стула&nbsp;и катаний по полу.&nbsp;Я, честно сказать, не припомню, когда&nbsp;ещё так смеялся, не считая случаев воздействия психотропных веществ. В результате&nbsp;я даже присоединился и стал рисовать картинки сам. <br/><br/>Вот, например, картинка на надпись: "Король русского техно пытает голого человека раскалённой кочергой". Мрачновато,&nbsp;зато нарисовать нетрудно. Получилось, правда, немного&nbsp;не то,&nbsp;ну так оно и к лучшему.</p><p align="center"><img data-src="/files/lj/dj_small.jpg"></p><p></p><p></p><p align="justify"><br/>"Цепной пёс&nbsp;Кровавого Режима&nbsp;в шапке-ушанке пытает Литвиненко раскалённой кочергой под эйсид-джаз"<br/>Теперь мы знаем, от чего на самом деле умер Литвиненко.<br/>(Спорим,в инете&nbsp;эту фразу применяли уже миллион раз?)<br/><br/>А вообще <a href="http://www.eatpoopucat.com/EPUC/#member-vladekk">вот</a> стрипы, в которых я участвовал. На мой взгляд неплохие, но не супер.<br/>Супер вот <a href="http://www.eatpoopucat.com/EPUC/#completedStrips">тут</a>,&nbsp;кликать "top rated".</p>
	