Id: 33c552bf-6bd2-4f6e-9ffc-5683a28b1b0d
Title: "О языке"
Published: "2007-01-16"
Slug: "2007-01-16 О языке"
-
<P>Как известно, есть несколько точек зрения на неологизмы и эволюцию&nbsp;языка. Одна заключается в том, что язык надо строго контролировать.&nbsp;Чтобы&nbsp;арго не проникало в литературную красоту, а новые слова внедрялись лишь "сверху", или неохотно признавались&nbsp;в том случае, если употребляются уже давным-давно. Ударения чтобы ставились, как в словаре, и никак иначе.<br/><br/>Вторая точка зрения (она же отражена в <A href="http://www.vkph.com/gost/">ГОСТ</A>е) - язык эволюционирует сам по себе, независимо от всяческих академий, и останется в нём нужное людям автоматически. Поэтому незачем страдать ерундой и кричать о "падении&nbsp;грамотности" и "угрозе потери аутентичности". <br/><br/>Мне ближе вторая точка зрения. Поэтому в целом выбирать "антислова", как&nbsp;это <A href="http://rus.delfi.lv/news/daily/latvia/article.php?id=16605481">делают латвийские филологи</A>, не очень умно. К счастью, нормальные люди ещё не перевелись.<br/><EM><br/>А вот директор Союза писателей Латвии Иева Калмане считает, что к языку нужно относиться как к живому организму, то есть наблюдать за его изменениями. "Думаю, этот конкурс культивирует неправильное представление о языке как таковом — как будто ему нужна постоянная диагностика. На самом деле это не так, и ничего такого плохого с нашим языком не происходит", — считает Калмане. Вместо с тем она признает и позитивные стороны акции.</EM></P>
	