Id: 111c5c11-a78d-48fc-bb4c-2a7d164e362d
Title: "Я грузин"
Published: "2007-11-12"
Slug: "2007-11-12 Я грузин"
-
<p align="center"><a href="/files/lj/3b6c1950dd88_12B7C/IMG_4421.jpg"><img style="border-top-width: 0px; border-left-width: 0px; border-bottom-width: 0px; border-right-width: 0px"  alt="IMG_4421" data-src="/files/lj/3b6c1950dd88_12B7C/IMG_4421_thumb.jpg"  border="0"></a> </p> <p align="center">Летом пил боржоми</p> <div class="wlWriterSmartContent" id="scid:0767317B-992E-4b12-91E0-4F059A8CECA8:d27ef2c1-d4d4-4130-be4b-2fb11e236331" style="padding-right: 0px; display: inline; padding-left: 0px; padding-bottom: 0px; margin: 0px; padding-top: 0px"><b>Метки: </b><a href="http://vladekk.livejournal.com/tag/%d1%84%d0%be%d1%82%d0%be" rel="tag">фото</a></div> <p align="left">Я дикий тормоз, да?</p>
	