Id: ee6b2725-69b0-431c-8c28-10967db45d0d
Title: "Комп"
Published: "2007-03-04"
Slug: "2007-03-04 Комп"
-
<P>Забавно я свой комп посверлил: теперь у меня mini-usb разъём выведен прямо на переднюю панель,&nbsp;и плеер можно втыкать прямиком в комп. Это предложил мне <a href="http://adehopt.livejournal.com"><img src='/files/AD31DF87A906A30D88A588C35648FF7A.gif' /> adehopt</a>, которого вообще-то давно стоило бы&nbsp;добавить во френды. Но я боюсь, что моя техническая натура не выдержит его художественных постов. Впрочем, я уже месяц никого не добавляю, потому что лень зайти на страницу управления и лень смотреть, кто мне совсем не в тему, а кого можно и&nbsp;добавить.<br/><br/>Я вот пару лет назад, читая обзоры, удивлялся - как может не хватить usb портов.<br/>А теперь знаю как. Очень просто. Посчитаем, что у меня есть. <br/>Клавиатура<br/>Мышь<br/>Вебкамера<br/>Пульт дистанционного управления<br/>Провод mini-usb для плеера<br/>Джойстик<br/>Кардридер<br/>Удлинитель, заканчивающийся на столе, для всяких разных устройств типа флешек или чужих фотиков<br/><br/><br/>Итого&nbsp;8 устройств. Портов у меня как раз 8, так что теоретически хватило бы. Практически - сзади 4 и два на морде, то есть 6.<br/>И вот сейчас я установил планку расширения, которая выводит ещё 2 порта с материнской платы. Причём один порт я сделал назад, для&nbsp;удлинителя,&nbsp;а второй впилил в переднюю стенку корпуса, чтобы подключать mp3 плеер (см. выше).<br/><br/>Страшно подумать, но ещё у меня будет <A href="http://cgi.ebay.com/NEW-4-Port-USB-Hub-with-coffee-cup-warmer_W0QQitemZ150097322311QQihZ005QQcategoryZ31495QQrdZ1QQcmdZViewItem">usb подогреватель</A> для кружки.<br/>Стоит 1 (<STRONG>один</STRONG>) доллар, доставка из Китая в Латвию - 5 долларов. Чудеса глобализации, да. Есть ещё идея запитать его от 12 вольт, чтобы лучше грел. Для этого я&nbsp;вывел ещё и разъём питания 12 вольт (т.н. Molex)&nbsp;на переднюю стенку. Не уверен, что получится, но попробуем.</P>
	