Id: 4cfd8dce-a4be-4a85-8d36-ddddaec8783b
Title: "Про ужин"
Published: "2007-01-07"
Slug: "2007-01-07 Про ужин"
-
<P>В рамках дальнейшей деградации расскажу, что сегодня ел. Заодно потестирую читателей на терпеливость.<br/>Сначала - блины тонкие, куда заворачивал банананы. Потом немного жареной рыбы путасу. На десерт - чуток клюквы в сахарной пудре. <br/>Попоже -&nbsp;тарелочку мясного салата, но не с майонезом, а с маслом. После салата - &nbsp;скумбрию горячего копчения с пряностями, закусывая остатками помидорок cherry. И ещё немного&nbsp;сушёных кальмаров.<br/><br/>А сейчас буду использовать огромную кружку с надписью "Yellowstone" для того, по чему она уже изголодалась&nbsp; - жидкости, не содержащей спирта. А именно, польского псевдокофейного напитка из цикория "Inka". В России его&nbsp;версия называется "Любительский".<br/><br/>А ещё пользователи "Радиоархива" жгут:<br/><STRONG><EM>"Спасибо за культивирование!!!"<br/><br/></EM></STRONG>Это мне напоминает слоган, который цепью проходит через&nbsp;книгу "Шизматрица" Брюса Стирлинга.<br/>Звучит он просто: "Жизнь выращивает подвиды"<br/>Остаётся добавить: "И это хорошо"<br/>А я, получается,&nbsp;способствую выращиванию любителей музыки.&nbsp;Что тоже неплохо, поскольку они тоже подвид.<br/>Впрочем, учитывая <A href="http://www.topos.ru/veer/41/singular.htm">боян про синнгулярность</A>, недолго выращивать осталось.<br/>(Боян про сингулярность - это наверное награда тем, кто дочитал до этого места и для кого это ещё не боян)</P>
	