Id: 292c29d3-0cb1-46bd-ae36-7c4b4e97898d
Title: "Инвайты oink.me.uk"
Published: "2007-01-04"
Slug: "2007-01-04 Инвайты oink.me.uk"
-
<font color="#000080"><b>Если вы не знаете, что такое битторрент трекер, уровень вашей киборгизации недостаточен, чтобы читать этот пост.</b></font><br /><br />Хехе, я сделал это.<br />После нескольких месяцев коммунистической борьбы за upload/download ratio, я наконец-то поимел приглашения (инвайты) на oink.me.uk.<br /><br />Для тех, кто ещё не совсем киборгизировался - это частный музыкальный битторрент трекер, один из самых главных в мире.<br />Там есть оооочень много музыки.<br /><br />Так вот. Если у кого есть инвайты на хорошие частные трекеры для музыки, сериалов и фильмов (например bitmetv.org), можем обменяться.<br />Если же вы бедный родственник без толковых инвайтов, но один из моих френд-офф (тех, что были до сегодняшней даты) я могу вам его подарить, если нужен. Только помните, там надо соблюдать достаточно жёсткий ratio, то есть иметь нормальный upload.<br /><br />Остальные не просите, на всех инвайтов не хватит.<br /><br />Сам я попал на оинк благодаря <a href="http://ted-strife.livejournal.com/profile"><img width="17" height="17" style="border: 0pt none ; vertical-align: bottom;" alt="[info]" src="http://stat.livejournal.sup.com/img/userinfo.gif" /></a><a href="http://ted-strife.livejournal.com/"><b>ted_strife</b></a>, за что ему спасибо и инвайты, если вдруг нужны зачем-то.<br /><br />P.S.Если вы мой друг в реале, само собой вам инвайт полагается автоматом
	