Id: 1b0b044e-0720-4239-afaf-edc3bc8147fd
Title: "Всякое"
Published: "2007-07-26"
Slug: "2007-07-26 Всякое"
-
<P>Пост старый, ну да ладно.<br/><br/>Каталсо на велосипеде, от вибрации&nbsp;заболела рука. Ждал пока пройдёт, не катался. И это&nbsp;парит, ведь&nbsp;кататься очень кайфово.<br/><br/>Ездил в&nbsp;центр купить рюкзак. Сначала разочаровался - нигде нет &nbsp;выбора и&nbsp;качества.&nbsp; Потом зашёл в главный велосипедный магаз hawaii express и возрадовалсо&nbsp;- рюкзаки есть разные, но главное - есть кроссовки&nbsp; с дырочками! Вот что мне тоже надо, для споркружка&nbsp;и велопрогулок.&nbsp;Сегодня ездил&nbsp;в мастерскую для лучшей настройки переключателей, купил крылья быстросъёмные и насос. Рюкзак и кроссовки пока подождут.</P><P align=center><A href="http://www.sks-germany.com/sks.php?l=en&a=product&i=5288270028"><IMG title="" src="http://ir.izvne.com/http://www.sks-germany.com/images/product/big/5288270028.jpg"></P><P></P><P align=center>SKS X-Blade<br/></A></P><P align=left>На работе переехали в новое помещение.&nbsp;Впечатления пока что не очень - глаза&nbsp;от&nbsp;чрезмерной освещённости&nbsp;как-то устают.<br/><br/>Ещё по наводке <A href="http://blog.exler.ru/">exler</A> смотрю сериал Heroes.&nbsp;Прилично, но немного невротично.<br/><br/>Музыку не слушал две недели. Я всё-таки странный тип.<br/><br/>Вот вам на всякий случай самая лучшая из красиво-мелодичных музык&nbsp;- The Walkabouts, двойной альбом Drunken Soundtracks.<br/><A href="http://mu.super.lv/vlad/Walkabouts%20-%20Drunken%20Soundtracks.rar">Качать</A><br/>Лёгкость прослушивания 5.<br/>Всем, кто не против мягкой и приятной музыки, и ещё почему-то&nbsp;этот альбом не слышал, срочно качать.</P>
	