Id: 488e1a85-8f40-4ebc-87e4-bcf4b761b230
Title: "Бен, ай нид хелп"
Published: "2007-01-07"
Slug: "2007-01-07 Бен, ай нид хелп"
-
<P><FONT size=4>Я обычно в сборе пожертвований не участвую (по разным причинам).<br/>Но в данном случае&nbsp;искусство сыграло одну из ролей, которые ему навязывают критики, а именно, пробудило значится сочувствие и всё такое.<br/>Вот песня Faithless про младенца, который умрёт, не увидев мира, потому что неизлечимо болен.<br/><FONT color=#0000ff><STRONG><A href="/files/lj/06%20-%20Last%20This%20Day.mp3" target=_blank>Скачать</A></STRONG></FONT><br/><br/>[more text=Смотреть текст песни]Last This Day</FONT></P><P><FONT size=4>Lines to the skin<br/>That've have seen neither sun nor sin<br/>Tubes to the mouth<br/>Cannot laugh or sigh, or even cry<br/>A drop in the ocean<br/>A second in all time<br/>One star in the endless sky</FONT></P><P><FONT size=4>But you mean the whole world to me<br/>You're an advert of life<br/>So please, last this day<br/>Stay one more day<br/>Please last this day<br/>Stay one more day<br/>Stay one more<br/>Stay one more<br/>Stay one more day<br/>Just one more<br/>Just one more<br/>Just one more day</FONT></P><P><FONT size=4>All this madness around us<br/>You unknowing and so still<br/>You were made in love and grew in hope<br/>And born in pain</FONT></P><P><FONT size=4>You have them running round<br/>Trying to make you breathe again<br/>One tiny link in an endless chain</FONT></P><P><FONT size=4>But you mean the whole world to me<br/>You're an advert of life<br/>So please, last this day<br/>Stay one more day<br/>Please last this day<br/>Stay one more day </lj-cut> <br/><br/>А у нас с вами есть шанс сделать так, чтобы младенец увидел жизнь.<br/><br/></FONT><A href="http://spasite-malisha.narod.ru/"><FONT size=4>http://spasite-malisha.narod.ru/</FONT></A><br/><FONT size=3><br/>Счета латвийские, из-заграницы переводить сложно. Поэтому прошу активизироваться всех латвийцев&nbsp;с инет-банками. Это у вас займёт 5 минут.&nbsp;А денег - хотя бы как на один обед или&nbsp;несколько бутылек пива.</FONT></P>
	