Id: ef9c7d97-956b-46f7-bbfc-f617ef9fb43a
Title: "p2p вычисления для игр"
Published: "2007-05-08"
Slug: "2007-05-08 p2p вычисления для игр"
-
Вот идея вчера пришла приколная, и сформулировать просто.&nbsp;Сейчас есть проекты, где люди предоставляют свои компьютеры для вычислений. Ставишь программу-клиент, она всё время работает и анализируя присланные данные, делает&nbsp;что-нибудь. Полезное, вроде <A href="http://www.computeagainstcancer.org/">поиска лекарства от рака</A>, или малополезное, <A href="http://setiathome.berkeley.edu/">поиска пришельцев</A>. Можно ещё <A href="http://www.stanford.edu/group/pandegroup/folding/">геном порасшифровывать</A>, это приблизит вожделенную эру всеобщей генной модификации. Все эти проекты частично&nbsp;основаны на серверной технологии, а не на p2p, ведь задания раздаёт и собирает сервер. А почему бы не сделать сугубо p2p проект,&nbsp;где участники в&nbsp;грида оказывают услуги друг-другу, но не зашаривая порнуху&nbsp;с Бритни Спирс, а предоставляя процессорное время для чужих задач?<br/>Проще всего применить&nbsp; эту идею для процессороёмких игр типа шахмат (не знаю правда, насколько легко их распараллелить). То есть играть-то люди будут не так много, процессорного времени хватит на всех, если программа-клиент всё время включена, а участников в гриде много.<br/><br/>Печальное: разумеется, всё это уже придумали до меня. Вот, <A href="http://www.chessbrain.net/">например</A>.
	