Id: aa594116-df72-4fe6-a22b-010bd6f36110
Title: "Skaņu Mežs 2008 - день 3, часть 2"
Published: "2008-05-22"
Slug: "2008-05-22 Skaņu Mežs 2008 - день 3, часть 2"
-
<p>Следующие - Lokai. Эти товарищи из Австрии крайне неспешно гудели гитарой&nbsp; и стукали по тарелкам очень медленно, чем мне изрядно напомнили группу Radian, альбом которой, впрочем, я так до конца и не осилил. Забавно, что сходство оказалось крайне неслучайным: основатель Radian как раз и играет в Lokai. От выступления впечатления немного бесцветные. Вроде нормально, но как-то незавлекательно. И вроде не сказать чтобы скучно , но и слушать как-то не очень прёт. Правда, человек с чемоданчиком-примочкой дело улучшал: после кручения им ручек и нажимания кнопок характер звука сильно менялся, что повышало интерес.</p>
<p align="center"><a href="../../files/blogengine/Writer/SkauMes200832_11F94/image.png"><img style="border-width: 0px" data-src="../../files/blogengine/Writer/SkauMes200832_11F94/image_thumb.png" border="0" alt="image"   /></a></p>
<p align="center"><strong>Lokai</strong></p>
<p>Кстати, мой друг [more]</p>
<div class="ljcut">
<p>фальшивый &lt;ярлык по вкусу&gt; на выступлении Lokai ушёл в электронный зал в ожидании The Bug, который я ему прорекламировал. The Bug появился лишь через 20 минут, и фальшивый эмо (и даже не эмо, а скорее хипстер, как я недавно <a href="http://stas-kulesh.livejournal.com/1038717.html?mode=reply">узнал</a>) рисковал пропустить Colleen. Но она ждала, пока освободится оборудование, а мы полчаса сидели и любовались на пустую сцену. Я даже сходил посмотреть на The Bug, но кроме жуткой громкости некачественного звука и рэппующей тёти негритянского формата "Big Mama" ничего не нашёл. Видео выкладывать не буду - смысла не вижу.</p>
<p>Теперь про Colleen. Если кто не знает, это девушка из франции, зовут её Сесиль Шот, и делает она музыку красивую и психоделическую, хотя и простую. Суть такая: берутся акустические инструменты, записываются повторяющиеся пассажи и накладываются друг на друга с добавлением эффектов дилея и эхо. Получается слоистый пирог тянущихся высоких звуков, при звуке которого сразу представляешь себе хрустальные дворцы или что-то подобное.</p>
<p>Сесиль на вид скромная и мирная, на концерте играет на разных акустичесих инструментах. Сначала - на <a href="http://en.wikipedia.org/wiki/Viol">Viola Da Gamba</a>, представляющую из себя предка современной виолончели родом из эпохи Ренессанса. Затем на флейте и гитаре, позвякивала также колокольчиками. Всё это она записывала на простой семплер с педалью, куда нажимала ногой(вроде бы) и потом играла уже на фоне звуков сэмплера.</p>
<object width="400" height="300"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=1047056&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=1047056&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="400" height="300"></embed></object><br /><a href="http://vimeo.com/">Colleen @@@@ Skaņu Mežs 2008 - Viola Da Gamba</a> from <a href="http://vimeo.com/user323425">Vladekk</a> on <a href="http://vimeo.com">Vimeo</a>.
<p>&nbsp;</p>
<p>В целом - мне понравилось меньше, чем альбом. Там наличествуют мелодии, структура продумана, инструментов много разных и играют они одновременно. А тут - сыграла на флейте, записала флейту, сыграла под записанное. Зато было очень забавно наблюдать как посетители, которые до того слушали жуткий нойз и вообще на вид слегка неформалы, сидели, боясь пошевелиться, чтобы шумом не нарушить "хрупкую магию акустического пространства". В кавычках, потому что штамп, да и была ли магия - вопрос. В конце-концов, нельзя же сказать, что чудо возникает само собой, если ты - хрупкая на вид девушка и играешь на виолончели, злоупотребляя древними психоделическими примочками.</p>
<object width="400" height="300"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=1047333&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=1047333&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="400" height="300"></embed></object><br /><a href="http://vimeo.com/">Colleen @@@@ Skaņu Mežs 2008 - Guitar</a> from <a href="http://vimeo.com/user323425">Vladekk</a> on <a href="http://vimeo.com">Vimeo</a>.
<p>&nbsp;</p>

<p>Хотя вообще - выступление было&nbsp; хорошее, особенно часть с гитарой. Но у меня как в "Войне и мире" - человек существо слабое и&nbsp; состояние его духа зависит от условий внешнего мира и генератора случайных чисел. Это я к тому веду, что большинство сетов мне понравились. А иногда всё как надоест и хочется вообще уйти. Потом вдруг опять нравится. И такое может быть не только на разных выступлениях, но даже&nbsp; и в течении одного. Я в принципе, и не спорю, что я тоже эмо.</p>
<p>&nbsp;</p>
<object width="640" height="480"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=1047248&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=01AAEA&amp;fullscreen=1" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=1047248&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=01AAEA&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="640" height="480"></embed></object><br /><a href="http://vimeo.com/">Colleen @@@@ Skaņu Mežs 2008 (flute)</a> from <a href="http://vimeo.com/user323425">Vladekk</a> on <a href="http://vimeo.com">Vimeo</a>.
<br /> <br />
<p>&nbsp;</p>
<p>После Колин выступила исландка <strong>Hildur Gudnadottir, </strong>игравшая на виолончели, которую сопровождал наголо стриженный дядька в очках - BJ Nielsen. Дядька плавал в дыму, который слишком ретиво пускали организаторы, и с трудом видел свой ноутбук, который усиливал и трансформировал гудение, выдаваемое виолончелью.&nbsp; Не особенно убедительно, но вы можете послушать и решить сами.</p>
<p>&nbsp;</p>
<object width="640" height="480"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=1026948&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=01AAEA&amp;fullscreen=1" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=1026948&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=01AAEA&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="640" height="480"></embed></object><br /><a href="http://vimeo.com/">Hildur Gudnadottir & BJNilsen @@@@ Skaņu Mežs 2008</a> from <a href="http://vimeo.com/user323425">Vladekk</a> on <a href="http://vimeo.com">Vimeo</a>.
<br />
<p>&nbsp;</p>
<p>Последней выступала индифолк-дива <strong>Marissa Nadler</strong>.&nbsp; Была он вся в красном, как Заволока. Её внешность сожержит нечто греческое, и ещё у неё три гитары и три микрофона. Марисса была несказанно удивлена тем, что выступает в два ночи, и сказала, что это у неё первый раз, но всё равно вышла на бис. Надо сказать, что публика на бис в последние дни фестиваля мало кого вызывала, а даже если и вызывала, никто не выходил. Впрочем, тем исполнителям, что играют сплошной поток, а не отдельные композиции, странно было бы выходить на бис, а ведь таких было большинство.</p>
<p>А Марисса вот играет песни, песни космические по звуку и голосу. Марисса - меццо-сопрано, то есть второй по высоте снизу женский голос в опере. Любопытно, что у известной поп-певицы Шакиры контральто, то есть самый низкий женский голос по классификации. Мне вот&nbsp; интересно - то, что их голоса классифицируют&nbsp; по оперным меркам, это почему? На слух они действительно имеют некоторую "оперную" направленность и мощь, но есть ли какие-то формальные критерии?&nbsp;</p>
<p>Кстати, к слову сказать, Шакира имеет коэффициент интеллекта 140, сама пишет музыку и тексты для всех своих песен и говорит на 6 языках.</p>
<p>Впрочем, мы сейчас не про неё. Правда, про Мариссу я могу сказать только то, что хоть её музыка и звучит величественно и с размахом, для меня она чужда и скучна, потому что это всё равно фактически бардовская песня, которую я не перевариваю под любым соусом. Музыка должна быть разнообразной и оригинальной по саунду - а что может быть затасканнее акустической гитары. Одна радость - гитара сдобрена эхо-эффектом, а голос Мариссы может поспорить с навороченным инструментом.</p>
<p>Что можно сказать про третий день в целом?</p>
<p>Порадовала больше всех Заволока. Colleen - круто, но альбом лучше. В остальном&nbsp; - нойз и задранный на небеса звук давно надоел, этим публику не удивишь. Музыкантам надо искать что-то новое, и не перебарщивать с "органическим потоком плазмы", а также улучшать оборудование, а то все гуделки и шумелки выцветают в однообразную кашу.</p>
</div>
<p>&nbsp;</p>
	