Id: bf8d2a28-7ed3-423b-ac8a-49cfcb14afe8
Title: "США - часть 1"
Published: "2008-06-22"
Slug: "2008-06-22 США - часть 1"
-
<p>
Раз просят, буду писать. Про США. Предупреждаю всех заинтересованных, незаинтересованных и прочих лиц. Я провинциал, мало где был, мало что видел, и к тому же нервный. 
</p>
 
<p>
<a href="http://tema.ru/travel/usa-1/">Про США писали</a> тысячу раз и до меня, но народ жаждет личных впечатлений. Попробую. 
</p>
 [more text=Сначала - про перелёт.]
<p>
Сначала - про перелёт.
</p>
 
<p>
В Брюссель я летел компанией Air Baltic, билет покупал на <a href="http://www.letasaviobiletes.lv">www.letasaviobiletes.lv</a>, а мой начальник, который тоже вылетал в США неделей позже – на&nbsp; <a href="http://www.lidot.lv">www.lidot.lv</a>. На самом деле, таких сайтов <a href="http://www.google.lv/search?hl=ru&amp;q=aviobiletes&amp;btnG=%D0%9F%D0%BE%D0%B8%D1%81%D0%BA&amp;meta=">очень много</a>, но похоже, что большинство из них использует одну и ту же систему резервации, и даже выглядят они одинаково, за иключением расцветки. Говорят, что выгодно смотреть наличие билетов на маршрут на таком сайте, а покупать билет непосредственно у авиакомпании, но я в первый раз решил не мудрствовать. Билет туда-обратно со 2 по 17 июня мне обошёлся в 405 LS (900$). Судя по билету, себе сайт забрал всего лишь 5 лат – остальное пошло авиакомпании.&nbsp; 
</p>
 
<p>
До того на самолётах я никуда не летал, поэтому опыт был познавательным. Ночевал я в Риге у друга, встал в 5 утра, в аэропорт&nbsp; приехал в 5.40 на такси, что обошлось в 7 лс (15$) Ночью автобусы не ходят, да и живёт мой друг далековато – в Valdlauči, что за знаком Рига. Рейс же отправлялся в 7. Кстати, рижский аэропорт – самый большой в Прибалтике и активно расширяется. Не знаю даже, разумно ли это, учитывая жуткие страшилки о скором конце основанной на нефти цивилизации. Вот, например, вчера ночью 3 часа читал <a href="http://art-of-arts.livejournal.com/199819.html">цикл статей в жж</a>. Звучит пугающе, но я давно уже потерял веру в свои способности анализировать сложную информацию – может быть, автор параноик и не видит всей ситуации целиком, а может быть, что он прав и нам всем пиздец.
</p>
 
<p>
Во время поездки я испытывал некоторые мелкие проблемы, и начались они уже в аэропорту. Сначала появился вопрос: в какую очередь вставать? Оказалось, что очередь одна для всего экономичного класса, и она вьётся змеёй вдоль всех регистрационных стоек, называемых по-буржуйски check-in. Постояв в очереди, я подошёл не к той стойке - она оказалась бизнес-класса. Затем я быстро вернулся в очередь нищебродов, и, немного понервничав по поводу времени, в скором времени успешно зарегистрировался, получил остаток билета, обратный билет и разрешение на посаживание (boarding pass). Мне правда сказали, что мой багаж зарегистрирован до Орландо, хотя летел я в Чикаго. Но окрылённый успешной регистрацией, я не обратил на это внимания - и правильно сделал. Рейс был скучный, зато сидел я буквально один на трёх стульях, и в окно наблюдал все красоты, благо погода была отличная. Самое забавное ощущение - когда самолёт в самом начале разгоняется до нескольких сотен км/ч в течении нескольких секунд. При этом двигатель издаёт свирепые звуки и в самолёте всё вибрирует и трясётся. Я вообще нервный, но в общеннии с людьми - видимо, машины вызывают у меня больше доверия. Так что полёт у меня вызвал одни лишь положительные эмоции. А вот в аэропортах было похуже.
</p>
 
<p>
Летел я через Брюссель, который, как известно, столица Европы, потому что в нём находятся часть европарламента, еврокомиссия и НАТО. Сверху Брюссель выглядит как бесконечные грядки (очевидно, Брюссельской капусты) и несколько коптящих труб ближе к центру. Примерно вот так.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/3da8bfec412d_14744/image.png"><img style="border-width: 0px" data-src="/files/blogengine/Writer/3da8bfec412d_14744/image_thumb.png" border="0" alt="image" title="image"  ></a>
</p>
 
<p align="center">
<a href="http://ru.wikipedia.org/wiki/%D0%93%D0%B5%D1%80%D0%BA%D1%83%D0%BB%D0%B5%D1%81_%D0%A1%D0%B5%D0%B3%D0%B5%D1%80%D1%81">Геркулес Сегерс</a>. <em>Вид Брюсселя</em>, <a href="http://ru.wikipedia.org/wiki/1625">1625</a>
</p>
 
<p>
Брюссель, похоже, скучный бюрокартический город с населением около миллона с пригородами. В Брюсселе мы прилетели на самый последний гейт aka проход на самолёт для посадки и высадки. Что дальше делать – было не очень понятно, но здравые рассуждения и рекомендации опытных собаководов подсказали ответ – надо сначала выйти из зоны гейтов, зарегистрироваться на рейс в США, и зайти через контроль обратно. С поиском check-in-а опять возникли сложности&nbsp; - сначала я долго-долго выходил из зоны гейтов, немотря на движующиеся пешеходные дорожки, потом пытался найти чек-ин компании American Airlines, которая выполняла мой рейс по заказу Brussels Airlines.&nbsp; У кассы последней я и спросил, куда мне идти, благо кое-как знаю английский. Практики в общении мало, поэтому я долго и упорно объяснял, что лечу в Чикаго. В итоге мне сказали пройти в нужный ряд, но он оказался опять-таки не тем. Зато там я спросил ещё раз. Эти товарищи долго совещались, но в итоге смогли только выдать рекомендацию взглянуть на табло. Там моего рейса закономерно не оказалось – полагаю, до него было ещё слишком много времени, потому что промежуток составлял&nbsp; 2.5 часа. В итоге я нашёл будку в синей буквой I на борту, и там уже выяснил где находится American Airlines. Надо сказать, что над чек-инами висят мониторы с названием компании, но поскольку рейс был заказан Brussels Airlines, а выполнен American Airlines, одна из них написана маленькими буквами, что поисков не облегчило.
</p>
 
<p>
Перед чек-ином стояла парочка американских бюрократов, один из которых не спеша спросил, есть ли у меня билетик от багажа. Я от нервозности сказал, что вроде как нету, хотя билетик мне дали в Риге вместе с остатком билета для полёта самого меня. Чиновник сказал мне не нервничать, и стал задавать всякие вопросы вроде того, везу ли я тонну взрывчатки, и не подкладывал ли мне кто-нибудь в чемодан килограмм урана. Что отвечать, если хотите улететь, вам должно понятно, если вы не конченый даун.
</p>
 
<p>
На чек-ине я отдал билетик и получил очередной boarding pass, то есть разрешение на посаживание в самолёт, а также указание, на какой гейт идти. Затем я долго и упорно топал (логично, да?), радует только, что проходы в зону гейтов разделены для граждан и неграждан ЕС, хоть мне это и не помогло. Зато сразу чувствуешь себя белым человеком (Это шутка, если у кого трудности&nbsp; с пониманием иронии).
</p>
 
<p>
В конце я нервозно ожидал посадки на борт у стойки гейта, потому что не очень понятно -&nbsp; это вообще на какой рейс посадка, в какой очерёдности надо садиться, да и со временем на экране у них что-то странное. Ну или мне от волнения это всё показалось, а на самом деле там всё было понятно. Не знаю.
</p>
 
<p>
В любом случае – хорошо знать буржуйские языки, особенно английский, хотя в Брюсселе все явно поняли бы и французский.
</p>
 
<p>
Посадка прошла хоть и медленно, но без эксцессов, сидел я прямо около окна с каким-то индусом, который потом достал ноутбук с погрызенным яблоком по центру, но загрузил почему-то Linux.
</p>
 
<p>
Я вообще мегакосмпополит, но вот индусы мне чисто внешне не нравятся. И ещё когда я в общаге жил, они под душем в трусах мылись. Одно слово – бусурмане. В аэропорту, кстати, всякой твари по паре – африканцы в национальных разноцветных одеждах с кораблями на голове, мусульманки в хиджабах и американцы в шортах и с рюкзаками. 
</p>
 
<p>
В любом случае, в самолёте было неплохо – подключив свои наушники, можно было смотреть телек или слушать специальные самолётные радиостанции с некоторым выбором музака, общим числом в 12. Говорят, на рейсах некоторых компаний даже в салоне эконом-класса телеки с фильмами по заказу на каждом кресле, но нам и так неплохо. По телеку рассказали, как ловко шейх Рашид бин Саид Аль Мактум воспользовался запасами нефти, чтобы за двадцать лет из пустыни превратить город Дубай из пустыни в мегаполис, забитый небоскрёбами и торговыми центрами.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/3da8bfec412d_14744/image_3.png"><img style="border-width: 0px" data-src="/files/blogengine/Writer/3da8bfec412d_14744/image_thumb_3.png" border="0" alt="image" title="image"  ></a> 
</p>
 
<p align="center">
Дубай ночью
</p>
 
<p>
Если вы, в отличие от меня, никогда не слышали про Дубай, <a href="http://blog.artnn.ru/2007/01/18/dubay-turisticheskiy-ray/">читайте</a>, оно того стоит. Или вот, с <a href="http://www.membrana.ru">www.membrana.ru</a> :
</p>
 
<p>
<em>Читайте также о других чудесах Дубая: </em><a href="http://www.membrana.ru/articles/imagination/2007/12/19/185500.html"><em>парке юрского периода</em></a><em>, небоскрёбах </em><a href="http://www.membrana.ru/articles/global/2007/06/07/201700.html"><em>Pentominium</em></a><em>, </em><a href="http://www.membrana.ru/lenta/?7193"><em>Lighthouse</em></a><em> и </em><a href="http://www.membrana.ru/lenta/?7265"><em>Burj Dubai</em></a><em>, самом роскошном </em><a href="http://www.membrana.ru/articles/technic/2005/02/14/201500.html"><em>подводном отеле Hydropolis</em></a><em> и </em><a href="http://www.membrana.ru/articles/global/2006/08/08/214000.html"><em>островах-пальмах</em></a><em>.</em>
</p>
 
<p>
Поесть нам на в выбор предложили barbeque beef? или lasagna, и поскольку я не очень расслышал первое, стал есть второе. Уже тут проявилась любимая черта американцев делать вкус пищи очень сильным - солёное, сладкое и сверху приправлено глутаматом натрия. Я про это и раньше знал, но вот тут впервые столкнулся в реальности. В целом - в самолётах кормят так себе, и на обратном пути в рамках эксперимента я не ел, подробности позже. Когда мы уже подлетали, дали ещё и пиццу, тоже на вкус так себе. Зато пахнет не очень приятно на весь салон.
</p>
 
<p>
Перелёт прошёл без проблем, зато когда я высадился в аэропорту, понадобилось заполнить форму таможенной службы.&nbsp; Такого атавизма, как шариковая ручка, у меня отродясь не было, да и не умею я ей пользоваться. Пришлось просить у охранницы. Она, впрочем, ручку мне не отдала, мотивируя это тем, что ей самой нужна. Зато мальчик-грузчик дал. Анкету я заполнил кривовато, но чиновница таможни на неё особо не смотрела - спросила, зачем я еду в США и пустила дальше. Забавно, что у чиновницы на кителе висел огромной золотой жетон с надписью "таможенная служба США". Это было моё первое знакомство с любовью американцев к лозунгам, девизам и всяческим надписям, выполненным огромными буквами, обычно полужирного начертания.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/3da8bfec412d_14744/image_4.png"><img style="border-width: 0px" data-src="/files/blogengine/Writer/3da8bfec412d_14744/image_thumb_4.png" border="0" alt="image"  ></a> 
</p>
 
<p align="center">
Officer означает не офицер, а чиновник, если кто не в курсе
</p>
 
<p align="left">
Тут было легче всего - очередей и людей не было, на меня никто особо не смотрел и багаж не проверяли, хотя человека сразу за мной остановили для случайной проверки. Кстати, забыл сказать - в коридорах чикагского аэропорта (O'Hara Intl, ORD) происходила художественная выставка. Если бы знал, что меня сразу из аэропорта не заберут (см. ниже)- шёл бы не спеша, рассматривая мозаики и картины.
</p>
 
<p>
Когда я вышел в аэропорт, меня должна была ждать моя сестра <a href="http://mistrale1514.livejournal.com">Алина</a>, к которой я собственно и летел, но её поблизости почему-то не наблюдалось. Пришлось походить туда-сюда, волоча за собой чемодан, но это странным образом не помогло. Чёрный брат средних лет предложил мне такси, но я ему объяснил, что мне такси ни к чему. Мы с ним чуток поговорили, если можно назвать диалогом разговор, где одна сторона другую понимает лишь процентов на 20, и я пошёл искать решение своей проблемы дальше. Очевидная мысль - позвонить. Для начала нашёл платный телефон, но там были почему-то надписи 5$, 10$, 25$. Теперь я думаю, что мне от волнения померещился знак $ вместо C. Чтобы позвонить, я пошёл менять бумажки на мелочь. В пункте обмена валюты мелочь мне не дали, в баре тоже. Тогда я купил в макдональдсе стакан апельсинового сока. Стакан был здоровый, а сок - сильно густой, что показалось непривычным. У нас сок более разбавленный, что ли. Работница макдональдса мелочь мне дала, но поскольку её наблюдалась острая нехватка, только десятицентовыми монетами. Тут до меня дошло, что коллега перед вылетом подарила мне два четвертака. Я их закинул в автомат, успешно дозвонился и узнал, что сестра перепутала время и будет через 15 минут.
</p>
 
<p>
Тем перелёт и закончился.</p><p><a href="/post/2008-08-12%20%D0%A1%D0%A8%D0%90%20%E2%80%93%2037%2C%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank">К оглавлению</a></p><p>
</p>

	