Id: b87e62f5-1713-4cc0-9956-9f80bf25dfa0
Title: "Skaņu mežs 2008 , день 3 - часть 1"
Published: "2008-05-17"
Slug: "2008-05-17 Skaņu mežs 2008 , день 3 - часть 1"
-
<p align="center"><a href="../../files/blogengine/Writer/Skaumes20083_14839/IMG_0004.jpg"><img style="border-width: 0px" data-src="../../files/blogengine/Writer/Skaumes20083_14839/IMG_0004_thumb.jpg" border="0" alt="IMG_0004"   /></a></p>
<p>На втором дне я не был, потому что была среда. Поехал на третий, в пятницу.</p>
<p>Символ фестиваля в текущем году - насекомые. Поэтому на билет ставили печать с их изображением - каждый день разным. Были там кузнечик, муравей, жук и ёлка, которая хоть и не насекомое, зато общий символ фестиваля.[more]</p>
<div class="ljcut"><br />
<p align="center"><a href="../../files/blogengine/Writer/Skaumes20083_14839/image.png"><img style="border: 0px none " data-src="../../files/blogengine/Writer/Skaumes20083_14839/image_thumb.png" border="0" alt="image"   /></a></p>
<p align="center">Милые декорации на входе</p>
<p>Фото я почти не делал, и причин тому миллион. Например, я абсолютно не умею снимать, фотик у меня никакой, не хочется мешать музыкантам вспышками, а себе - отвлечением от музыки. К счастью, мой друг, который может быть вовсе даже и не фальшивый панк, а фальшивый эмо, не только сам делал фото, но и нашёл снятое другими в нете. Фото со стилизацией рамки принадлежат человеку по имени <a href="http://foto.inbox.lv/gatis_graudins2">Gatis Graudins</a>, и я их для этой записи позаимствую в соответствии со своими воззрениями о том, что всё в интернете можно использовать так, как позволяет лицензия CC NC-BY-SA, если автор явно не запретил.</p>
<p align="center"><a href="../../files/blogengine/Writer/Skaumes20083_14839/IMG_3712.jpg"><img style="border-width: 0px" data-src="../../files/blogengine/Writer/Skaumes20083_14839/IMG_3712_thumb.jpg" border="0" alt="IMG_3712"   /></a></p>
<p align="center">Билет с печатями</p>
<p>Приехал я очень-очень рано, благодаря не тому билету (злой рок какой-то). Я успел пройтись по рижскому базару, впечатлившись обилием овощей, фруктов и хорошей погодой. После этого приехал на десять минут позже официального начала, но внутри даже ничего не думало закипать. Напротив, я зашёл без билета и тупо ходил туда-сюда, пока меня мягко и культурно не выпроводили из большого зала, где настраивались музыканты.</p>
<p align="center"><a href="../../files/blogengine/Writer/Skaumes20083_14839/IMG_0001.jpg"><img style="border-width: 0px" data-src="../../files/blogengine/Writer/Skaumes20083_14839/IMG_0001_thumb.jpg" border="0" alt="IMG_0001"   /></a></p>
<p align="center">В строгом соответствии с принципами контр-культуры, фестиваль проходил вот в таких весёлых зданиях</p>
<p align="left">В конце-концов в электронном зале (поменьше размером) начал свой сет турецкий дяденька среднего возраста Analogue Suicide, причём людей было человек 20, и даже не завешены окна. Услышали мы шум аналоговых синтезаторов на фоне старого японского ужастника (я это слово так пишу, и мне плевать, что вы думаете по этому поводу). Ужастник мне понравился, хотя я их вообще принципиально не смотрю (не нахожу удовольствия), а музыка - не очень, слишком скучно, просто неагрессивный нойз без перчинки. Поэтому лучше упомяну сюжет фильма.</p>
<p align="center"><a href="../../files/blogengine/Writer/Skaumes20083_14839/image_3.png"><img style="border-width: 0px" data-src="../../files/blogengine/Writer/Skaumes20083_14839/image_thumb_3.png" border="0" alt="image"   /></a></p>
<p align="center">Кадр из фильма</p>
<p align="center">&nbsp;</p>
<p>В нём молодому человеку мерещится, что он - существо из трубок и проводов. А потом ему кажется, что такое существо&nbsp; - девушка, с которой он познакомился. В итоге оказывается, что монстр всё-таки он, и буром, который у него на месте полового члена, он засверливает девушку до смерти.</p>
<p align="center"><a href="../../files/blogengine/Writer/Skaumes20083_14839/IMG_0006.jpg"><img style="border-width: 0px" data-src="../../files/blogengine/Writer/Skaumes20083_14839/IMG_0006_thumb.jpg" border="0" alt="IMG_0006"   /></a></p>
<p align="center">Рядом, на притоке Даугавы</p>
<p align="left">Следующим выступал латвийский музыкант Kodek. Это был молодой человек, который зверски танцевал и колбасился под брейккоррную нарезку попа, металла и прочих жанров.</p>
<p align="center"><a href="../../files/blogengine/Writer/Skaumes20083_14839/image_4.png"><img style="border: 0px none " data-src="../../files/blogengine/Writer/Skaumes20083_14839/image_thumb_4.png" border="0" alt="image"   /></a></p>
<p align="center"><strong>Kodek</strong></p>
<p align="left">Энтузиазму можно позавидовать, но музыка такая же скучная, как у предыдущего товарища. Если у первого был недостаток разнообразия и унылость основной идеи, то у этого наблюдался переизбыток, вкупе с точно такой же унылостью основной идеи. Шинкование гор чужой музыки не может заменить творческое мышление, как бы это пафосно не звучало. Кроме того, после Sataniccultworkshop в этом жанре трудно сказать что-то новое.</p>
<p align="center"><a href="../../files/blogengine/Writer/Skaumes20083_14839/image_5.png"><img style="border: 0px none " data-src="../../files/blogengine/Writer/Skaumes20083_14839/image_thumb_5.png" border="0" alt="image"   /></a>&nbsp;<br /> <strong>Kodek</strong> и его сотрудница</p>
<p align="center">&nbsp;</p>
<p align="center">&nbsp;<a href="../../files/blogengine/Writer/Skaumes20083_14839/IMG_0010.jpg"><img style="border-width: 0px" data-src="../../files/blogengine/Writer/Skaumes20083_14839/IMG_0010_thumb.jpg" border="0" alt="IMG_0010"   /></a> <br /> По центру висит рекомендация покинуть зал, если для вас слишком шумно</p>
<p align="left">&nbsp;</p>
<p align="left">После Kodek выступала украинская девушка Екатерина <a href="http://radio.super.lv/node/111">Zavoloka</a>. Она - большой мастер, поэтому выступления ждал с нетерпением. К сожалению, толпы, которые присутствовали на Kodek, внезапно рассосались без видимой причины. Зато это позволило мне сесть прямо в центре на стульчик и вдохновенно слушать электронику с очень оригинальной ритмичной структурой и фонов в виде сильно растянутых и искажённых украинских этнических песнопений.</p>
<p align="center"><a href="../../files/blogengine/Writer/Skaumes20083_14839/image_6.png"><img style="border: 0px none " data-src="../../files/blogengine/Writer/Skaumes20083_14839/image_thumb_6.png" border="0" alt="image"   /></a></p>
<p align="center"><strong>Zavoloka</strong></p>
<p align="left">Музыка Катерины не слишком липнет к ушам и душе, зато даёт пищу уму. Жаль, кроме меня сет оценили только два русскоязычных чувака. Мы с ними после выступления кричали "охуенно". Один из них, музыкант по имени Вячеслав,&nbsp; был с Заволокой знаком и немного поговорил, а я, лично выразив своё восхищение музыкой в начале разговора, далее скромно стоял сбоку и подслушивал.</p>

<p align="left">&nbsp;</p>
<object width="640" height="483"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=1023594&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=01AAEA&amp;fullscreen=1" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=1023594&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=01AAEA&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="640" height="483"></embed></object><br /><a href="http://vimeo.com/">Zavoloka @@@@ Skaņu Mežs 2008, Riga, Latvia</a> from <a href="http://vimeo.com/user323425">Vladekk</a> on <a href="http://vimeo.com">Vimeo</a>.
<br />
<p>&nbsp;</p>
<p align="left">Как оказалось потом, электронный зал опустел потому, что народ ушёл в большой зал - там начал свой сет проект Antarktīda. Он представляет из себя&nbsp; сотрудничество Gas of Latvia, про которого я писал в прошлом году, а также шумовика по имени <strong>Jēkabs Voļatovskis </strong>и вокалиста по имени <strong><a href="http://www.imantsdaksis.lv/ru/">Imants Daksis</a></strong>.</p>
<p align="center"><a href="../../files/blogengine/Writer/Skaumes20083_14839/image_7.png"><img style="border: 0px none " data-src="../../files/blogengine/Writer/Skaumes20083_14839/image_thumb_7.png" border="0" alt="image"   /></a></p>
<p align="center">Антарктида для пущего эффекту обдувала слушателей ветерком</p>
<p align="left">Один из товарищей гудел синтезатором с надписью "Электроника" по-русски, второй - гудел гитарой, а вокалист гудел голосом, если можно так выразиться. Судя по брошюре, Имант известен психоделическим фолком и попом, а Gas Of Latvia продюсировал его альбом. Из надписи на сайте : "Миру нужен шаман" можно примерно понять, какое направление деятельности он избрал.</p>
<p align="center"><a href="../../files/blogengine/Writer/Skaumes20083_14839/image_8.png"><img style="border: 0px none " data-src="../../files/blogengine/Writer/Skaumes20083_14839/image_thumb_8.png" border="0" alt="image"   /></a></p>
<p align="center">Шаман</p>
<p align="left">Я пришёл в конце выступления, когда и инструментальщики тоже подошли к микрофону и стали издавать длинный тянущийся звук шаманического толка.&nbsp; На том и закончили.</p>
<p align="center"><a href="../../files/blogengine/Writer/Skaumes20083_14839/image_9.png"><img style="border: 0px none " data-src="../../files/blogengine/Writer/Skaumes20083_14839/image_thumb_9.png" border="0" alt="image"   /></a></p>
<p align="center">Музыканты помогают вокалисту</p>
<p align="left">Кстати, уже несколько человек мне сказали, что выступление Gas Of Latvia&nbsp; и сотоварищи в <a href="../../post/2007-05-17%20%D0%9B%D0%B5%D1%81%20%D0%97%D0%B2%D1%83%D0%BA%D0%BE%D0%B2%20-%202007#cutid1">прошлом году</a>, которое я так расхвалил, большинством расценено как абсолютно провальное. Впрочем, среди этих людей поклонник инди-рока <a href="http://placebokid.livejournal.com">placebokid</a> и любительница танцевально-экспериментального коллектива Mouse On Mars, так что спишем такие мнения на вкусовщину.</p>
<p align="left">Тем временем, в электронном зале тоже что-то готовилось, но меня там не было, поэтому продолжу рассказывать про главный зал. В нём нам показали прямоугольники и полоски под драм-машину Optical Machines, чья хитрая машинерия&nbsp; в виде лампы и разнокалиберных сеточек была связана с синтезатором. Свет лампы проецировался на экран, а сетки, передвигаемые одним из участников коллектива, поток фотонов модифицировали, создавая различные паттерны, причём связанные со звуком.</p>
<p align="center"><a href="../../files/blogengine/Writer/Skaumes20083_14839/image_10.png"><img style="border: 0px none " data-src="../../files/blogengine/Writer/Skaumes20083_14839/image_thumb_10.png" border="0" alt="image"   /></a></p>
<p align="center">Хитроумные приспособления Optical Machines</p>
<object width="640" height="480"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=1023707&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=01AAEA&amp;fullscreen=1" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=1023707&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=01AAEA&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="640" height="480"></embed></object><br /><a href="http://vimeo.com/">Optical Machines @@@@ Skaņu Mežs 2008</a> from <a href="http://vimeo.com/user323425">Vladekk</a> on <a href="http://vimeo.com">Vimeo</a>.
<p align="left">Проще показать, чем рассказать, в самом деле. В фрагменте две части длиной по 30 секунд каждая.</p>
<p align="left">&nbsp;</p>
<br />
<p>&nbsp;</p>
<p align="left">Муызканты, выступавшие после любителей оптики, затребовали чтобы публика стояла, потому что так надо для правильного восприятия их музыки. Я уже было подумал, что будем танцевать, но угорожающее название сета это мысль несколько затушило.</p>
<p align="center">&nbsp;<a href="../../files/blogengine/Writer/Skaumes20083_14839/image_11.png"><img style="border: 0px none " data-src="../../files/blogengine/Writer/Skaumes20083_14839/image_thumb_11.png" border="0" alt="image"   /></a></p>
<p align="center">Haswell &amp; Hecker UPIC Diffusion Session (Warp Records, Warner)</p>
<p align="left">Как оказалось, я был прав по обоим пунктам, каким бы странным вам такое заявление не показалось. Товарищи Хасвель и Хекер - специалисты по дигитальному нойзу, но не простому, а лазерно-световыми эффектами. На сей раз название сета&nbsp; идеально соответствует его содержанию - это действительно была сессия проникновения нойза в мозг, обеспеченная запредельной громкостью, вездесущими зелёными лазерами и отсутствием стульев.</p>
<p align="center"><a href="../../files/blogengine/Writer/Skaumes20083_14839/image_12.png"><img style="border: 0px none " data-src="../../files/blogengine/Writer/Skaumes20083_14839/image_thumb_12.png" border="0" alt="image"   /></a></p>
<p align="left">Несмотря на всё это, а может и благодаря этому, я не особенно проникся. Вроде как и крайне мощно, профессионально и проникновенно (каламбур), но не вставляет. Может быть, надо было принять допинга, но я с нового года ничего не пью, а ничего крепче кофеина давно не употребляю и подавно. Зато кофеин - в больших количествах - как минимум три кружки крепкого чая в день. А на фестивале я пил зло, то есть Coca Cola Zero, и почти первый раз в жизни - энергетики, причём исключительно во временных целях поддержания бодрого состояния тела и разума. Чтобы вы прочувствовили, как интенсивен был сет, и как у меня после него болели уши, я вам выложу видео длиной в два раза больше, чем обычно. Смотрите целиком, там всё разное.</p>
<p align="left">&nbsp;</p>
<object width="640" height="480"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=1023951&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=01AAEA&amp;fullscreen=1" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=1023951&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=01AAEA&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="640" height="480"></embed></object><br /><a href="http://vimeo.com/">Haswell & Hecker UPIC Diffusion Session @@@@ Skaņu Mežs 2008</a> from <a href="http://vimeo.com/user323425">Vladekk</a> on <a href="http://vimeo.com">Vimeo</a>.
<br /> <br />
<p>&nbsp;</p>
<p align="left">После шумовиков-затейников, выливших на нас ушат холодного цифрового нойза гламурной эпохи, выступали Lokai, но про них и хедлайнеров - завтра. Кстати, первый пункт про танцы справедлив потому, что под эту музыку в конце сета девушка танцевала медляк. Воистину, крепки духом посетители Леса Звуков.</p>
<p align="center"><a href="../../files/blogengine/Writer/Skaumes20083_14839/image_13.png"><img style="border: 0px none " data-src="../../files/blogengine/Writer/Skaumes20083_14839/image_thumb_13.png" border="0" alt="image"   /></a></p>
<p align="center">Слушатели</p>
</div>
	