Id: e9d8be74-c4b5-4ac0-bab2-48bd32e48540
Title: "Крит 23 - Заключение"
Published: "2008-10-20"
Slug: "2008-10-20 Крит 23 - Заключение"
-
<p>Это всего лишь обзорный пост со ссылками на все остальные, нужен для быстрой навигации. Если вдруг кто-то хочет пропиарить серию (что, учитывая прошлый раз, маловероятно), давайте ссылку сюда. Писать мне было интересно. Надеюсь, что и вам читать тоже. Если вам понравилось, а вы ещё не читали <a href="/post/SSHA-ndash3b-37-Zaklyuchenie-2008-08-11-223500.aspx">мой рассказ про США</a>, то стоит это сделать. Если поеду куда-нибудь ещё, буду всё-таки не лениться и делать заметки. Может, на диктофон, если уж записывать у меня не получается.</p>
<p>0. Вступление<br /> <a href="/post/2008-09-17%20%D0%9A%D1%80%D0%B8%D1%82%20%E2%80%93%200%2C%20%D0%92%D1%81%D1%82%D1%83%D0%BF%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5">Путать Крит с Кипром не стоит, хоть они и похожи.</a></p>
<p>1. Вылет<br /> &nbsp;<a href="/post/2008-09-24%20%D0%9A%D1%80%D0%B8%D1%82%20-%201%2C%20%D0%92%D1%8B%D0%BB%D0%B5%D1%82">Рассуждения про йогурт, капитализм и национализм, рабавленные фотками ночной Риги</a>&nbsp;</p>
<p>2. Прибытие <br /> <a href="/post/2008-09-26%20%D0%9A%D1%80%D0%B8%D1%82%20%E2%80%93%202%2C%20%D0%9F%D1%80%D0%B8%D0%B1%D1%8B%D1%82%D0%B8%D0%B5">Пальмы как обязательный атрибут рая и бараки как антагонизм этому атрибуту</a></p>
<p>3. Заселение в отель<br /> <a href="/post/2008-09-28%20%D0%9A%D1%80%D0%B8%D1%82%20%E2%80%93%203%2C%20%D0%97%D0%B0%D1%81%D0%B5%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5%20%D0%B2%20%D0%BE%D1%82%D0%B5%D0%BB%D1%8C">Что такое просак, чем удивителен портье и почему туристы похожи на скот</a></p>
<p>4. Отель<br /> <a href="/post/2008-09-29%20%D0%9A%D1%80%D0%B8%D1%82%20-%204%2C%20%D0%9E%D1%82%D0%B5%D0%BB%D1%8C">Фото отеля, рассуждения про википедию и глянец</a></p>
<p>5.Посёлок Каврос<br /> <a href="/post/2008-10-01%20%D0%9A%D1%80%D0%B8%D1%82%20%E2%80%93%205%2C%20%D0%9F%D0%BE%D1%81%D1%91%D0%BB%D0%BE%D0%BA%20%D0%9A%D0%B0%D0%B2%D1%80%D0%BE%D1%81">Фото Кавроса и национальный характер критян</a></p>
<p>6. All-inclusive<br /> <a href="/post/2008-10-02%20%D0%9A%D1%80%D0%B8%D1%82%20%E2%80%93%206%2C%20All-inclusive%20%D0%B8%20%D0%BF%D0%BB%D1%8F%D0%B6%D0%BD%D1%8B%D0%B9%20%D0%B1%D0%B0%D1%80">Адаптация, пляжный бар и халявная еда</a></p>
<p>7. Ресторан отеля<br /> <a href="/post/2008-10-03%20%D0%9A%D1%80%D0%B8%D1%82%20%E2%80%93%207%2C%20%D0%A0%D0%B5%D1%81%D1%82%D0%BE%D1%80%D0%B0%D0%BD%20%D0%BE%D1%82%D0%B5%D0%BB%D1%8F">Еда и напитки, а также их фото</a></p>
<p>8. Озеро Курна (Kournas lake)<br /> <a href="/post/2008-10-03%20%D0%9A%D1%80%D0%B8%D1%82%20%E2%80%93%208%2C%20%D0%9E%D0%B7%D0%B5%D1%80%D0%BE%20%D0%9A%D1%83%D1%80%D0%BD%D0%B0%20_Kournas%20lake_">Оскомина, дух блондинки, гуси и паровоз</a>&nbsp;</p>
<p>9. Море и отдых<br /> <a href="/post/2008-10-05%20%D0%9A%D1%80%D0%B8%D1%82%20%E2%80%93%209%2C%20%D0%9C%D0%BE%D1%80%D0%B5%20%D0%B8%20%D0%BE%D1%82%D0%B4%D1%8B%D1%85">Блаженное ничегонеделание, этическая проблема с лежаками и спортивная анимация</a>&nbsp;</p>
<p>10. Rethymnon Fortezza aka крепость города Ретимнон<br /> <a href="/post/2008-10-06%20%D0%9A%D1%80%D0%B8%D1%82%20%E2%80%93%2010%2C%20Rethymnon%20Fortezza%20aka%20%D0%BA%D1%80%D0%B5%D0%BF%D0%BE%D1%81%D1%82%D1%8C%20%D0%B3%D0%BE%D1%80%D0%BE%D0%B4%D0%B0%20%D0%A0%D0%B5%D1%82%D0%B8%D0%BC%D0%BD%D0%BE%D0%BD">Очень много картинок с изображением Фортезы и ехидными комментариями</a></p>
<p>11. Старый город Ретимнона<br /> <a href="/post/2008-10-06%20%D0%9A%D1%80%D0%B8%D1%82%20%E2%80%93%2011%2C%20%D0%A1%D1%82%D0%B0%D1%80%D1%8B%D0%B9%20%D0%B3%D0%BE%D1%80%D0%BE%D0%B4%20%D0%A0%D0%B5%D1%82%D0%B8%D0%BC%D0%BD%D0%BE%D0%BD%D0%B0">Красивые фото старого города с небольшим комментарием</a></p>
<p>12. Неприятности<br /> <a href="/post/2008-10-07%20%D0%9A%D1%80%D0%B8%D1%82%20%E2%80%93%2012%2C%20%D0%9D%D0%B5%D0%BF%D1%80%D0%B8%D1%8F%D1%82%D0%BD%D0%BE%D1%81%D1%82%D0%B8">Нехватка топлива и забастовка заправщиков</a></p>
<p>13.&nbsp; Хания<br /> <a href="/post/2008-10-08%20%D0%9A%D1%80%D0%B8%D1%82%20%E2%80%93%2013%2C%20%D0%A5%D0%B0%D0%BD%D0%B8%D1%8F">Древние зарубы и дипломатия, сдобренные отличными фото старого города</a></p>
<p>Интермедия 1 &ndash; фантаст Громов<br /> <a href="/post/2008-10-09%20%D0%9A%D1%80%D0%B8%D1%82%2C%20%D0%B8%D0%BD%D1%82%D0%B5%D1%80%D0%BC%D0%B5%D0%B4%D0%B8%D1%8F%201%20%E2%80%93%20%D1%84%D0%B0%D0%BD%D1%82%D0%B0%D1%81%D1%82%20%D0%93%D1%80%D0%BE%D0%BC%D0%BE%D0%B2">Профанские рассуждения о русской фантастике и творчестве Громова</a></p>
<p>14. Секретные козлы НАТО<br /> <a href="/post/2008-10-10%20%D0%9A%D1%80%D0%B8%D1%82%20%E2%80%93%2014%2C%20%D0%A1%D0%B5%D0%BA%D1%80%D0%B5%D1%82%D0%BD%D1%8B%D0%B5%20%D0%BA%D0%BE%D0%B7%D0%BB%D1%8B%20%D0%9D%D0%90%D0%A2%D0%9E">Нефть особой девственницы и запрещённые военные фотки секретных козлов</a></p>
<p>Интермедия 2 &ndash; фантасты Дяченко<br /> <a href="/post/2008-10-12%20%D0%9A%D1%80%D0%B8%D1%82%2C%20%D0%B8%D0%BD%D1%82%D0%B5%D1%80%D0%BC%D0%B5%D0%B4%D0%B8%D1%8F%202%20%E2%80%93%20%D1%84%D0%B0%D0%BD%D1%82%D0%B0%D1%81%D1%82%D1%8B%20%D0%94%D1%8F%D1%87%D0%B5%D0%BD%D0%BA%D0%BE">Профанские рассуждения о творчестве фантастов Дяченко</a></p>
<p>15. Монастырь Аркади (Arkadi)<br /> <a href="/post/2008-10-13%20%D0%9A%D1%80%D0%B8%D1%82%20%E2%80%93%2015%2C%20%D0%9C%D0%BE%D0%BD%D0%B0%D1%81%D1%82%D1%8B%D1%80%D1%8C%20%D0%90%D1%80%D0%BA%D0%B0%D0%B4%D0%B8%20_Arkadi_">Кровавая баня при защите монастыря</a></p>
<p>16. Кносский дворец и история Ираклиона<br /> <a href="/post/2008-10-13%20%D0%9A%D1%80%D0%B8%D1%82%20%E2%80%93%2016%2C%20%D0%9A%D0%BD%D0%BE%D1%81%D1%81%D0%BA%D0%B8%D0%B9%20%D0%B4%D0%B2%D0%BE%D1%80%D0%B5%D1%86%20%D0%B8%20%D0%B8%D1%81%D1%82%D0%BE%D1%80%D0%B8%D1%8F%20%D0%98%D1%80%D0%B0%D0%BA%D0%BB%D0%B8%D0%BE%D0%BD%D0%B0">Отстроенные для туристов древние развалины и бурная молодость Ираклиона</a></p>
<p>17. Ираклион<br /> <a href="/post/2008-10-14%20%D0%9A%D1%80%D0%B8%D1%82%20%E2%80%93%2017%2C%20%D0%98%D1%80%D0%B0%D0%BA%D0%BB%D0%B8%D0%BE%D0%BD">Старый город и крепость под названием Кулес</a></p>
<p>18. Магазины и океанарий<br /> <a href="/post/2008-10-15%20%D0%9A%D1%80%D0%B8%D1%82%20%E2%80%93%2018%2C%20%D0%BC%D0%B0%D0%B3%D0%B0%D0%B7%D0%B8%D0%BD%D1%8B%20%D0%B8%20%D0%BE%D0%BA%D0%B5%D0%B0%D0%BD%D0%B0%D1%80%D0%B8%D0%B9">Продтовары и крутые фото из океанария с мониторами вместо аквариумов</a></p>
<p>19. Анимация<br /> <a href="/post/2008-10-16%20%D0%9A%D1%80%D0%B8%D1%82%20%E2%80%93%2019%2C%20%D0%90%D0%BD%D0%B8%D0%BC%D0%B0%D1%86%D0%B8%D1%8F">Факира из Африки, волшебник с кроликами, и живая музыка на русском языке</a></p>
<p>20. Посёлок Курна<br /> <a href="/post/2008-10-17%20%D0%9A%D1%80%D0%B8%D1%82%20%E2%80%93%2020%2C%20%D0%BF%D0%BE%D1%81%D1%91%D0%BB%D0%BE%D0%BA%20%D0%9A%D1%83%D1%80%D0%BD%D0%B0">Пещера Курна, семейный магазин и самые мощные примеры расслабона</a></p>
<p>21. Байк-тур<br /> <a href="/post/2008-10-19%20%D0%9A%D1%80%D0%B8%D1%82%20%E2%80%93%2021%2C%20%D0%91%D0%B0%D0%B9%D0%BA-%D1%82%D1%83%D1%80">Пугающий спуск с горы и волшебная индийская таверна</a></p>
<p>22. Возвращение<a href="/post/2008-10-21%20%D0%9A%D1%80%D0%B8%D1%82%2022%20-%20%D0%92%D0%BE%D0%B7%D0%B2%D1%80%D0%B0%D1%89%D0%B5%D0%BD%D0%B8%D0%B5"><br /> Прощальное злоупотребление алкоголем, обратный перелёт и бесcмысленный выбор лучших впечатлений</a><br /> <br /> 23. Заключение</p>
<p>Вы его прочитали.</p>
	