Id: e3322f1a-8d2e-4e5a-8cc4-410c5f968722
Title: "США – 29, Dells Army Ducks"
Published: "2008-07-31"
Slug: "2008-07-31 США – 29, Dells Army Ducks"
-
<p>
&nbsp;
</p>
 
<p>
Пост без картинок у меня уже был. Для разнообразия – пост без текста. 
</p>
 
<p align="center">
<a href="http://en.wikipedia.org/wiki/DUKW"><img style="border: 0px none " data-src="/files/blogengine/Writer/29DellsArmyDucks_131D7/image.png" border="0" alt="image" title="image"  ></a>&nbsp; <br>
<a href="http://flickr.com/photos/ajw423uk/142283579/sizes/o/"><img style="border-width: 0px" data-src="/files/blogengine/Writer/29DellsArmyDucks_131D7/image_3.png" border="0" alt="image" title="image"  ></a> 
</p>
 
<p align="center">
<a href="http://www.wisconsinducktours.com/"><img style="border-width: 0px" data-src="/files/blogengine/Writer/29DellsArmyDucks_131D7/image_4.png" border="0" alt="image" title="image"  ></a>
</p>
 
<p align="center">
<a href="http://www.dellsducks.com/wallpapers/armyduck1280.jpg"><img style="border: 0px none " data-src="/files/blogengine/Writer/29DellsArmyDucks_131D7/image_5.png" border="0" alt="image" title="image"  ></a> 
</p>
 
<p align="center">
<a href="http://flickr.com/photos/seasiren/1065569697/sizes/l/"><img style="border-width: 0px" data-src="/files/blogengine/Writer/29DellsArmyDucks_131D7/image_6.png" border="0" alt="image" title="image"  ></a> 
</p>
 
<p>
&nbsp;
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/29DellsArmyDucks_131D7/IMG_5344.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/29DellsArmyDucks_131D7/IMG_5344_thumb.jpg" border="0" alt="IMG_5344" title="IMG_5344"  ></a>
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/29DellsArmyDucks_131D7/IMG_5345.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/29DellsArmyDucks_131D7/IMG_5345_thumb.jpg" border="0" alt="IMG_5345" title="IMG_5345"  ></a>&nbsp;
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/29DellsArmyDucks_131D7/IMG_5346.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/29DellsArmyDucks_131D7/IMG_5346_thumb.jpg" border="0" alt="IMG_5346" title="IMG_5346"  ></a> 
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/29DellsArmyDucks_131D7/IMG_5347.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/29DellsArmyDucks_131D7/IMG_5347_thumb.jpg" border="0" alt="IMG_5347" title="IMG_5347"  ></a> 
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/29DellsArmyDucks_131D7/IMG_5347_3.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/29DellsArmyDucks_131D7/IMG_5347_thumb_3.jpg" border="0" alt="IMG_5347" title="IMG_5347"  ></a>&nbsp;<a href="/files/blogengine/Writer/29DellsArmyDucks_131D7/IMG_5348.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/29DellsArmyDucks_131D7/IMG_5348_thumb.jpg" border="0" alt="IMG_5348" title="IMG_5348"  ></a> 
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/29DellsArmyDucks_131D7/IMG_5350.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/29DellsArmyDucks_131D7/IMG_5350_thumb.jpg" border="0" alt="IMG_5350" title="IMG_5350"  ></a> 
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/29DellsArmyDucks_131D7/IMG_5352.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/29DellsArmyDucks_131D7/IMG_5352_thumb.jpg" border="0" alt="IMG_5352" title="IMG_5352"  ></a> 
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/29DellsArmyDucks_131D7/IMG_5353.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/29DellsArmyDucks_131D7/IMG_5353_thumb.jpg" border="0" alt="IMG_5353" title="IMG_5353"  ></a> <a href="/files/blogengine/Writer/29DellsArmyDucks_131D7/IMG_5356.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/29DellsArmyDucks_131D7/IMG_5356_thumb.jpg" border="0" alt="IMG_5356" title="IMG_5356"  ></a> 
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/29DellsArmyDucks_131D7/IMG_5357.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/29DellsArmyDucks_131D7/IMG_5357_thumb.jpg" border="0" alt="IMG_5357" title="IMG_5357"  ></a>&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/29DellsArmyDucks_131D7/IMG_5360.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/29DellsArmyDucks_131D7/IMG_5360_thumb.jpg" border="0" alt="IMG_5360" title="IMG_5360"  ></a> 
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/29DellsArmyDucks_131D7/IMG_5362.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/29DellsArmyDucks_131D7/IMG_5362_thumb.jpg" border="0" alt="IMG_5362" title="IMG_5362"  ></a></p><p align="center"><a href="/post/2008-08-12%20%D0%A1%D0%A8%D0%90%20%E2%80%93%2037%2C%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; text-align: start; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">К оглавлению</a>
</p>

	