Id: 790358fc-9e5a-48f3-8dab-eb847e5858da
Title: "Крит – 5, Посёлок Каврос"
Published: "2008-10-01"
Slug: "2008-10-01 Крит – 5, Посёлок Каврос"
-
<p>
Надо сообщить, что поскольку я перед Критом ездил в Медуми в солнечный день, и не мазался кремом для загара, то немного загорел уже в Латвии. И даже успел испугаться, что сгорел. (Да, вот такой я пугливый). К счастью, это оказалось не так, хотя и почти так. Поэтому на Крите я был втройне осторожен – загораю я плохо, и жуткое южное солнце должно было бы сжечь меня до тла, если бы не защитный крем марки Sun Ozon. Мне сказали купить подороже, что я и сделал, но Nivea приобретать увольте – она стоит каких-то совсем диких денег. Так что неизвестный бренд я компенсировал цифрой защиты – она составляла аж 30. Знаю, что существует 50, но у нас не нашёл. На Крите оно продаётся, но как оказалось, 30 всё-таки достаточно для всех случаев, если только ты не рыжий, лежащий целый день прямо под солнцем без зонтика. Кстати, по незабвенному Евроньюс говорили, что нынешняя система классификации крива – типа ультрафиолетовых лучей есть два, а число на бутылке одно. Но это уже не старшно – жуткая бюрократическая машина ЕС уже выдала на-гора директивы, что на бутылках должно быть два числа, а СМС в роуминге должны стоить не более 11 евроцентов. Полезно смотреть Евроньюс и приятно жить в Европе, которая о нас заботится, хоть местами и навязчиво.
</p>
 [more text=Смотреть фото Кавроса, читать про нац. характер критян] 
<p align="center">
<a href="/files/blogengine/Writer/5_B1E3/IMG_0057.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/5_B1E3/IMG_0057_thumb.jpg" border="0" alt="IMG_0057" title="IMG_0057"  ></a> По пути в Каврос. Так-то они экономят свою драгоценную воду. Возьмите это на заметку под номером 4
</p>
 
<p>
Намазавшись кремом против солнца как следует, мы-таки решили отправится в близлежащий посёлок под названием Каврос. Для этого я спросил невысокого пожилого дяденьку в очках, говорит ли он на английском. Дяденька, как оказалось впоследствии, был вроде бы управляющим отеля, по крайней мере он вечно везде ходил и надзирал, всё ли в порядке. Он сообщил мне, что до ближайшего посёлка 500 метров направо. Я обычно напрягаюсь говорить с ненакомыми людьми, да ещё на английском, но на Крите почувствовал к этому занятию вкус, и спрашивал всех подряд обо всём. Так что мы смело отправились по дорожке направо – как оказалось, в посёлок Каврос можно было попасть, пройдя через туннель под национальным шоссе. 
</p>
 
<p>
Я тут обнаружил, что детальную карту Крита до сих пор не показывал. Исправляю свою ошибку. По щелчку откроется подробнее.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/5_B1E3/untitled.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/5_B1E3/untitled_thumb.jpg" border="0" alt="untitled" title="untitled"  ></a>Синей стрелкой приблизительно указан наш отель. Аэропорт – в Ираклионе, если кто забыл.
</p>
 
<p>
Через некоторое непродолжительное время достигли цели нашего похода. В принципе, вдоль всего северного побережья идёт национальное шоссе, и потому на берегу много отелей. Но на нашем участке они были прямо-таки сплошняком, поэтому посёлок полон таверн, прокатных контор и магазинов. Есть даже заправка British Petroleum.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/5_B1E3/IMG_0060.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/5_B1E3/IMG_0060_thumb.jpg" border="0" alt="IMG_0060" title="IMG_0060"  ></a> Керамика была такая классная, что я чуть не купил. Но что бы я потом делал с пылесборником?
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/5_B1E3/IMG_0062.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/5_B1E3/IMG_0062_thumb.jpg" border="0" alt="IMG_0062" title="IMG_0062"  ></a>Андрей купил завершающий штрих для образа курортника – панамку. Но он всё ещё не денди. 
</p>
 
<p align="left">
В посёлки мы зашли в магазин, купили панамки (я тоже), открытки и марки, причём почему-то достоинством одна 67, а другая 3 цента. Интересная система. Когда покупали, подписали их прямо в магазине на полке некупленной ручкой. Я, как сравнительно законопослушный человек, такое не люблю, но продавщицам было всё равно. К тому времени я ещё не просёк главные черты менталитета критян, но уже понемногу стал их понимать. Помните чувака, которого отпустили из полиции, брошенные в холле чемоданы и двери нараспашку в кондиционированном помещении, а также капающую из шланга воду выше?
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/5_B1E3/IMG_0061.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/5_B1E3/IMG_0061_thumb.jpg" border="0" alt="IMG_0061" title="IMG_0061"  ></a> Керамика стилизована под грубую обработку (без глазури?), я такое люблю
</p>
 
<p align="left">
Так вот, всё это можно назвать “расслабоном”. Критяне, как наверное большинство южан, находятся в состоянии перманентного расслабона. Их мало что парит. Оливки растут, туристы едут, солнце светит, чего напрягаться? Поэтому, каким диким это вам бы не показалось, критяне ничего никогда не охраняют. Видите горы ценной керамики на фото выше? Рядом нет ни души, а продавец находится глубоко внутри помещения, и ему плевать, если кто что утащит или разобъёт. Чёрт знает, потому, наверное, что местные воры такие же расслабисты как он, а западные туристы в массе своей очень культурны, аккуратны и законопослушны. Камеры наблюдения периодически встречаются, но не так уж часто.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/5_B1E3/IMG_0064.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/5_B1E3/IMG_0064_thumb.jpg" border="0" alt="IMG_0064" title="IMG_0064"  ></a>Поле для минигольфа в одной из таверн. Обратите внимание на цвет и окраску стен дорожки – любимый критский barak-style 
</p>
 
<p align="left">
На Крите просто нереально низкий уровень преступности. В магазинах никто никогда ничего не охраняет, как я уже показал. Что касается расслабленности, она во всём, я покажу ещё много её примеров. Из того, что сам не видел, но мне рассказал Рэмбо: дорожные знаки никто особенно не соблюдает, едут даже под кирпич, скорость привышают бывает что и на 30 км/ч, по крайней мере по нац. трассе, где нет риска свалиться с горы.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/5_B1E3/IMG_0065.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/5_B1E3/IMG_0065_thumb.jpg" border="0" alt="IMG_0065" title="IMG_0065"  ></a> Это милое поле по пути в Каврос крайне интенсивно пахло овечьим навозом, да ещё и поливалось водой для лучшего аромата
</p>
 
<p align="left">
Насчёт навоза – у нас такая теория, что они овец выгуливают, пока те не съедят всю растительность, что есть, и не засрут поле целиком. А потом уже на богато удобренную почву можно высаживать ценные промысловые культуры.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/5_B1E3/IMG_0066.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/5_B1E3/IMG_0066_thumb.jpg" border="0" alt="IMG_0066" title="IMG_0066"  ></a> Обратная дорога из Кавроса в отель
</p>
 
<p>
Тут надо сообщить, что номера нам были обещаны с видом на море: один частичным (наш), другой полным (Тани с Сергеем). В результате, однако, получился казус.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/5_B1E3/IMG_0051.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/5_B1E3/IMG_0051_thumb.jpg" border="0" alt="IMG_0051" title="IMG_0051"  ></a> Из Таниного номера вид был примерно такой, мы это назвали “Номер с видом на крыши”.
</p>
 
<p>
Из нашего, хоть он и располагался дальше, было как-то повеселее, за иключением того факта, что прямо напротив паслись овцы грязнобурого цвета. В принципе, я природу люблю, и потому порекомендовал бы владельцами отеля так номер и рекламировать. “Эко-номер с видом на овец”. Овцы, кстати, ели с виду крайне неаппетитную траву такого же грязнокоричневого цвета, как и они сами. 
</p>
 
<p>
Я бы так не смог. К счастью, и не пришлось. Но что я пил, вы узнаете только в следующей серии, а что ел – через одну.<a href="/post/2008-10-20%20%D0%9A%D1%80%D0%B8%D1%82%2023%20-%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">&nbsp;</a></p><p><a href="/post/2008-10-20%20%D0%9A%D1%80%D0%B8%D1%82%2023%20-%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">К оглавлению</a></p><p>
</p>

	