Id: 7a839a3e-fa81-4e97-a22c-9b930b1dfa33
Title: "Крит – 21, Байк-тур"
Published: "2008-10-19"
Slug: "2008-10-19 Крит – 21, Байк-тур"
-
<p>
В отеле на стойке была брошюра фирмы <a href="http://www.adventurebikes.org/indexe.html">Adventure Bikes</a>, где рекламировались велосипедные туры, причём туров было штук 5, а велосипеды были марки Scott, что специально подчёркивалось. Я, не будь дурак, попросил дежурную администраторшу позвонить и заказать мне тур. Она это сделала, но говорить с ними стала почему-то на английском, а потом и вовсе отдала мне трубку. Дело было в том, что каждый из представленных в брошюре&nbsp; и на сайте туров проходит в свой, строго определённый день. А я вынашивал идею довольно долго, и поэтому смог записаться только на последний наш день на Крите, субботу, когда был более-менее устраивающий меня тур. Раньше надо было звонить, а не быть нерешительной тряпкой. С другой стороны, до того мы были заняты – ездили на машине, ещё раньше мы адаптировались, так что пусть будет так, как вышло – главное, что удалось.
</p>
 
<p>
Я почти никогда не говорил по телефону на английском. Дело это непростое, но если на другом конце не носитель языка и не индусообразное, а нормально учивший и знающий его средне человек, то общаться можно, хоть и с переспрашиваниями.
</p>
 [more text=Читать про пугающий спуск с горы и волшебную индийскую таверну] 
<p>
<a href="/files/blogengine/Writer/21_11B9A/IMG_0407.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/21_11B9A/IMG_0407_thumb.jpg" border="0" alt="IMG_0407" title="IMG_0407"  ></a> Извините за качество, это через стекло снято
</p>
 
<p align="left">
В общем, тур я заказал, и в субботу утром за мной в отель приехал бусик с прицепом для байков. Я, как оказалось, был последним, кого требовалось забирать, так что мы покатили на гору. В бусике на переднем сиденье находился крепкий мужик средних лет и сравнительно молодая девушка. Это были организаторы – мужик бы владельцем и ехал впоследствии за нами на машине, а девушка была ведущим тура на дороге и ехала перед нами на велосипеде. На задних сиденьях сидели несколько немцев и русский с сыном. Ехали мы с адским весельем: товарищи на переднем сиденье&nbsp; громко кричали всякие жёсткие шутки на весь салон. Учитывая, что при этом дядька смотрел на девушку или оглядывался на нас, а рулил одним пальцем,&nbsp; не смотря на дорогу, я даже немножко выпучил глаза – желания улететь с серпантина на 200 метров вниз у меня не было.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/21_11B9A/IMG_0417.jpg">
<img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/21_11B9A/IMG_0417_thumb.jpg" border="0" alt="IMG_0417" title="IMG_0417"  ></a>Довольно пугающе
</p>
 
<p>
Потом, правда, решил, что надо всё равно радоваться жизни, и стал поддерживать беседу в меру своих познаний. В принципе, организаторы тура мне сразу понравились – я сам люблю атомно пошутить. Так что когда зашла речь про то, что девушка знает немецкий лучше, чем английский, я сообщил, что знаю по-немецки только одно слово – Scheiße. В общем, как ни странно, мы не навернулись в пропасть и успешно доехали до вершины горы, которой и была наша цель. Дело в том, что туры эти – не вкручивательные, а катительные. То есть завозят тебя на гору, а дальше только тормоза успевай нажимать. 
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/21_11B9A/IMG_0426.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/21_11B9A/IMG_0426_thumb.jpg" border="0" alt="IMG_0426" title="IMG_0426"  ></a> Наши байки и вудещая тура по имени Алена
</p>
 
<p align="left">
На горе нас уже ждала гёрлфренд организатора, с которой я по телефону и разговаривал. Она предусмотрительно заранее собрала бабки в размере немаленьких за пару часов катания 35 евро. Это, кстати были почти последние мои деньги – оставалось только 5 евро, которые впоследствии весьма пригодились.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/21_11B9A/IMG_0427.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/21_11B9A/IMG_0427_thumb.jpg" border="0" alt="IMG_0427" title="IMG_0427"  ></a> Местные жители наследуют глубокие традиции обладания огнестрельным оружием и желание его применить, хотя бы ритуально
</p>
 
<p>
Нам выдали шлемы, байки (заранее зарезервированные с нужным размером), объяснили, что переключать надо нежно, тормозить задним тормозом и плавно, сильно не разгоняться и следовать за ведущей. Её я потом спросил, как зовут и откуда она. Оказалось, что она из Чехии, а зовут её Алена. (с буквой е, а не ё), на что я поведал, что мою сестру зовут Алина, а меня Владислав. Понятное дело, ей такое имя привычно.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/21_11B9A/IMG_0428.jpg"><font color="#acb613"></font><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/21_11B9A/IMG_0428_thumb.jpg" border="0" alt="IMG_0428" title="IMG_0428"  ></a> Не всегда обрыв такой покатый – иногда он резкий, как стена троллей в Норвегии
</p>
 
<p align="left">
Катиться с горы весело и приятно, только руки устают тормозить. Первые минут 10-20 мы только катились, потом пришлось и покрутить чуток, но не смертельно. Ехали через <a href="http://www.adventurebikes.org/tour2e.html">ущелье Gipari</a>, в середине остановились поглазеть на систему небольших водопадиков, почему-то с трубами, и часовню внутри скалы. Там же была привязана огромная опасная птица, похожая на чёрного грифа. Уж не знаю, зачем, но она явно могла оставить глазеющих вокруг зевак со зверскими шрамами, если бы отвязалась.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/21_11B9A/IMG_0430.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/21_11B9A/IMG_0430_thumb.jpg" border="0" alt="IMG_0430" title="IMG_0430"  ></a> Бусик со спецтележкой для байков
</p>
 
<p align="left">
Наполнив бутылки чистой водой и передохнув, мы покатили дальше, пока не доехали до таверны над озером Курна. Но не той, где я был, а поближе, с не менее, впрочем, фантастическим видом на озеро. Сама таверна была оформлена в индейских мотивах: соломенная крыша, всякие идолы и музак в стиле world-msuic, создающий нужное настроение. Я заказал свежевыжатый сок, а принесли нам в нагрузку ещё и арбузов с дынями, мотивируя гостеприимством. Спасибо, конечно, но сок стоил 3.5 евро вместо обычных 2.5 или 3. Если умножить на количество байкеров, понятно, откуда берутся деньги на гостеприимство. Вообще, удивительно у людей всё базируется на маскировке и представлении окружающего лучшим, чем оно есть на самом деле, и критяне не исключение.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/21_11B9A/IMG_0433.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/21_11B9A/IMG_0433_thumb.jpg" border="0" alt="IMG_0433" title="IMG_0433"  ></a> Таверна
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/21_11B9A/IMG_0440.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/21_11B9A/IMG_0440_thumb.jpg" border="0" alt="IMG_0440" title="IMG_0440"  ></a> Ещё таверна
</p>
 
<p>
После таверны мы покатили в близлежащий город Гергуполис, вернуть велосипеды на базу фирмы. После владелец стал развозить нас по отелям, и я с ним немножко поболтал. Он рассказал, что сам из Зимбабве, но его родители с Крита. Упомянул тамошнего больного на голову диктатора Роберта Мугабе, и то, что афкриканские негры имеют патологическое стремление удерживать власть во что бы то ни стало. Потом сказал, что вернулся на Крит несколько лет назад, и объяснил, что в жизни надо всё время что-то менять, чтобы не закостенеть. На это я ему ответил, что его самого условия заставляют менять жизнь – в Зимбабве сейчас жизнь не сахар, особенно для белых, у которых больше денег, но которых ненавидят и ограничивают законами чёрные.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/21_11B9A/IMG_0439.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/21_11B9A/IMG_0439_thumb.jpg" border="0" alt="IMG_0439" title="IMG_0439"  ></a> Озеро Курна – вид на левую сторону
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/21_11B9A/IMG_0432.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/21_11B9A/IMG_0432_thumb.jpg" border="0" alt="IMG_0432" title="IMG_0432"  ></a> А это на правую
</p>
 
<p>
Потом поговорили о том, что на Крите в диком виде растут десятки&nbsp; видов специй, и что мы один раз долго ждали его бусик на привале потому, что он собирал листики с какого-то куста на обочине дороги. Местные, сообщил мне разговорчивый зимбабвиец, часто специи так и собирают, кому не лень.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/21_11B9A/IMG_0447.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/21_11B9A/IMG_0447_thumb.jpg" border="0" alt="IMG_0447" title="IMG_0447"  ></a> Офис adventure bikes
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/21_11B9A/IMG_0449.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/21_11B9A/IMG_0449_thumb.jpg" border="0" alt="IMG_0449" title="IMG_0449"  ></a>Местные дети, кажется, подозревают, что я их фоткаю
</p>
 
<p>
Кстати, я обещал сказать, сколько на Крите оливковых деревьев. Об этом мне тоже поведал гостеприимный организатор, причём я ему ответил, что на Крите наверное только оливки и растут. На что он немного обиделся, и сказал, что на Крите всё растёт, включая заросли каннабиса, то есть конопли aka марихуаны. А ответ на загадку про количество деревьев – 35 миллонов. Они бывают трёх видов&nbsp; – равнинные, холмистые и высокогорные, по крайней мере так сказал дядька.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/21_11B9A/IMG_0438.jpg"><img style="display: block; float: none; margin-left: auto; margin-right: auto" data-src="/files/blogengine/Writer/21_11B9A/IMG_0438_thumb.jpg" border="0" alt="IMG_0438" title="IMG_0438"  ></a>&nbsp; К сожалению, другой фотки нет, так придётся вам поверить мне на слово, какая Алена красивая и замечательная
</p>
 
<p>
Так что к четырём часам вечера я попал в отель. В целом – байк-тур отличный, жаль недолгий, и чуток дороговат. Особенно круто, что такие классные люди его организовывают. В Алену я так вообще влюбился – у неё низкий сексуальный голос и моя любимая короткая анимешная причёска. Впрочем, вы её вряд ли уже застанете – вернётся наверняка к себе в Чехию, похоже, что она какую-то практику на Крите проходила. Тем не менее, если вам нужен велик в аренду или байк-тур, смело звоните в adventure bikes. (На правах рекламы).</p><p><a href="/post/2008-10-20%20%D0%9A%D1%80%D0%B8%D1%82%2023%20-%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">&nbsp;К оглавлению</a></p><p>
</p>

	