Id: bb8a5d3e-0ea6-45f5-af93-f62ae2004766
Title: "Проекты"
Published: "2008-12-24"
Slug: "2008-12-24 Проекты"
-
<p>Я люблю очень сильно разное, поэтому ничего не довожу до конца. Но что-то всё-таки дошло до каких-то полезных, или хотя бы интересных людям стадий, и список его приводится тут.</p>
<h3>Живое и обновляемое</h3>
<p><strong><a href="http://radar.lv">Радиоархив</a> </strong>-&nbsp; архив музыкальных радиопередач, находится в живом состоянии, обновляется (с некоторыми задержаками) каждую неделю. Делаем его вместе с Кириллом aka Deadbook.</p>
<p><strong><a href="http://www.openstreetmap.org/user/Vladekk/edits">OpenStreetMaps</a></strong> - я улучшаю и пополняю бесплатные карты, сделанные по принципу Википедии.</p><p><br></p><p><a href="/post/2016-01-23%20%D0%A2%D0%B5%D0%BF%D0%BB%D0%BE%D0%B2%D0%B0%D1%8F%20%D0%BA%D0%B0%D1%80%D1%82%D0%B0%20%D0%BC%D0%BE%D0%B8%D1%85%20%D0%B2%D0%B5%D0%BB%D0%BE%D1%81%D0%B8%D0%BF%D0%B5%D0%B4%D0%BD%D1%8B%D1%85%20%D0%BF%D1%80%D0%BE%D0%B3%D1%83%D0%BB%D0%BE%D0%BA%20%D0%B4%D0%BE%202015%20%D0%B3%D0%BE%D0%B4%D0%B0" target="_blank" style="font-weight: bold;">Карта велопрогулок</a>&nbsp;- тепловая карта велопрогулок до 2015 года (те, которые записывались на трекеры), без тренировок</p>
	