Id: c5d3e016-55b1-4820-acd2-21b2838a9b69
Title: "Skaņu mežs - 2008"
Published: "2008-05-06"
Slug: "2008-05-06 Skaņu mežs - 2008"
-
<p>Посетил первый день очередного <a href="http://www.skanumezs.lv/index.php?main_page_id=169&amp;page_type=text">Леса Звуков.</a></p>
<p align="center"><a href="../../files/blogengine/Writer/Skaumes2008_12A13/image.png"><img style="border-width: 0px" data-src="../../files/blogengine/Writer/Skaumes2008_12A13/image_thumb.png" border="0" alt="image"   /></a></p>
<p>Выступали</p>
<p><strong>3.maijs, sadarbībā ar O!Vāciju <br /> 19:00 Hauschka (Karaoke Kalk / Fat Cat)</strong><strong><br /> 20:00 Altera Veritas izpilda Līgas Celmas darbu Waves<br /> 21:00 Marcus Schmickler &amp; Farn (A-Musik, Editions Mego, Karaoke Kalk)<br /> 22:00 PuseH PuseW <br /> 23:00 Laub (Kitty-Yo, AGF Producktion)</strong></p>
<p>В Риге проходил ещё и аниме-фестиваль, но я пропустил автобус, и не успел на "Сказанья Земноморья" авторства Миядзаки-младшего, поставленные по книге Урсулы Ле Гуин (неплохой книге, кстати). На следующий автобус не оказалось билетов (так и знал, но мой друг панк и анархист задурил мне голову и я не купил билет заранее).</p>
<p>Проходил концерт опять в старых цехах, но не тех, что раньше - на Андрейсала, а около мебельного магазина Grīvas mēbeles. Как оказалось, даже не около, я прямо в одном здании с магазином, на входе видно было даже мебель за стеклянными дверьми.</p>
<p>[more]</p>
<p>Приехали мы уже после начала концерта, но он задержался на час , поэтому мы застали и первого исполнителя. Правда пришлось немного постоять, потому что все стульчики (на сей раз обычные, не картонные табуретки) были заняты публикой.&nbsp; <strong>Hauschka</strong> - это такой человек, который препарирует пианино, навешивая на струны гайки и приклеивая их скотчем. Судя по пиринговым сетям и брошюре фестиваля, он известный и влиятельный. Забавно было наблюдать как неформалы и индикиды культурно сидят на стульчиках перед интеллигентным человеком за роялем и внимательно его слушают. Даже аплодировали очень сильно, Волькер Бертельман даже вышел на бис и сыграл веселёнькую пьеску без препарирования.</p>
<p>Честно говоря, его музыка вызывает у меня мало эмоций. По мне, так он пианино модифицировал недостаточно радикально, звучало оно просто как раздолбанное и чуть поломанное, а вовсе не как другой инструмент. Мне кажется, это скучновато, хайпа вокруг такого я не понимаю. Зато сам Волькер&nbsp; в перерывах между чужими сетами ходил по залу и разговаривал с публикой, по-доброму улыбаясь.</p>
<p>После Волькера латвийская исполнительница <strong>Гунта Давидчук</strong> почти а-капелла исполняла авангардное вокальное произведение с небольшими вкраплениями электроники, написанное <strong>Лигой Целма</strong>. Голос у Гунты&nbsp; пронзительный и чистый, можно сказать слегка оперный. Подробностей про девушек не знаю, но судя по буклету - обе известны работами в том числе и в популярном жанре. Звучало произведение в стиле "Красавица и чудовище". Гунта держала один или несколько долгих гласных звуков большой громкости и интенсивности, потом угасала звуком, которые издают умирающие. Ей отвечал низко ревущий неравномерный бас средней громкости электронного происхождения, а в это время исполнительница тихонько цокала, как бы задыхаясь. Само произведение под названием "Я - одинокий маяк" было придумано Лигой специально для голоса Гунты. В целом - отлично, жаль очень коротко - едва ли 15 минут. Впрочем, я бы побоялся за связки Гунты, если бы она долго пела с такой интенсивностью. Забавно, что звук в отличие от остальных сетов был очень акустически разрежен, что создавало странный эффект недостаточности. Впрочем, он с лихвой окупался сильным голосом вокалистки.</p>
<p>Дальше выступал <a href="http://www.muzprosvet.ru/pluramon.html">известный</a> дядя <strong>Маркус Шмиклер</strong> в сопровождении визуализатора <strong>Farn</strong>, который обеспечивал видеоряд на трёх экранах. Сидели мы удобно, и видно на было все три очень хорошо. Звук был плотным, большой громкости структурированным шумом, по характеру явно напоминающим "стену звука" Маркусовского проекта <strong>Pluramon</strong> - ох, неравнодушен Шмиклер к такому. Видео было поинтереснее - белые точки, похожие на звёзды и мух одновременно, пульсировали, плодились, кружились и угасали в такт музыке. Первые десять-двадацать минут я смотрел не отрываясь, пытаясь понять идеи и программную реализацию, было интересно. Потом Шмиклер задал настоящего жару, да так, что дяденька преклонного возраста, сидящий наподалёку, убежал. Потом убежали многие гламурные тусовщицы, а оставшиеся заткнули уши от невыносимой громкости. Чего не могу понять - зачем людей мучить такой громкостью, если суть твоей музыки не тупой нойз, а нечто более продвинутое?</p>
<p>Дальше началось нечто совсем неприятное, по крайней мере лично для меня. Оказалось, что по краям экранов стоят прожекторы, которые стали моргать и слепить глаза - как компьютерному фрику, просидевшему всю жизнь в тёмной комнате, мне такие спецэффекты крайне неприятны, поэтому глаза я закрыл, и то, как точечки превратились в полоски и треугольники, почти не видел.</p>
<p>Зато мой друг фальшивый панк и анархист, проспавший в прошлый Лес Звуков весь сет понравившихся мне <strong>Ural Owl</strong>, пришёл от Маркуса в восторг и порадовался, что не простистимулировал себя активными веществами&nbsp; - ведь тогда&nbsp; ему пришлось бы туго. Кстати, спутница дяденьки преклонного возраста, средних лет дама, просидела весь сет, хоть и зажимала уши руками, а глаза газетой.</p>
<p>После Маркуса выступали латвийские музыканты&nbsp; психофолкового направления - <strong>PuseH PuseW</strong>. Сходство с группами вроде <strong>Sunburned Hand Of The Man</strong> и <strong>Vibracathedral Orchestra</strong> было трудно не заметить, но в целом музыка была на уровне, если бы не чрезмерный бас "из бетономешалки" и вообще смазанность звука в некачественнный гул. Я всецело за "плазму" и "текучесть", а вовсе не за вечно смазливый яркий звук, но когда вся музыка звучит одинаково в стиле "бурлящий котёл баса и неагрессивного шума", это утомляет. Зато когда PuseH PuseW доставали и тренькали в микрофоны инструментами вроде саксофона флейты и колокольчиков, было повеселее. Всё это священнодействие сопровождалось занятным видео&nbsp; - снятый с увеличением рот и язык, крутящийся в разные стороны. Но больше всего публику впечатлил живой перфоманс - девушка в чёрном плаще с причёской греческой статуи держала во рту бумажную розу и совершала грациозные гибкие движения в такт струящейся музыке. На середине выступления она скинула плащ и осталась обнажённой. Её тело было натёрто белым гримом и похожа она была скорее не на человека, а на ожившую статую, какие часто встречаются в европейских столицах. В целом выступление было отличное, вполне на мировом уровне, каким бы этот мифический уровень не был.</p>
<p>Последними выступал известный дуэт <strong>Laub</strong>. Я о нём узнал только из чьего-то поста в ЖЖ, но найти, кто писал, сейчас не смог. Laub - это девушка Антье Грей-Фукс, также известная как <strong>AGF</strong> и мужчина Фон Йотка. Девушка была в чёрных очках, чёрных штанах и волосами в пучок, а мужчина играл на гитаре. Тут я выражаюсь так же идиотски, как и любимые рецензенты <a href="http://walkabout_d.livejournal.com">walkabout_d</a>. Стояли музыканты за алюминиевым столом с ноутбуками Эппл, и исполняли кликс-н-катс поп, яркий и незлобный, хотя местами довольно шумный. Вообще Антье позверствовать авангардом тоже может, потому как у неё хватает&nbsp; колабораций с японцами и прочими поборниками замороченной музыки. Но на сей раз мы закончили милым колыбельным попом на ночь. Надо сказать, что сначала публика реагировала прохладно и даже не отвечала на попытку музыкантов поспрашивать что-нибудь. В самом начале Антье спросила, можно ли начинать, пытаясь разглядеть, много ли народу в зале, но народ жался по углам и его не было видно. Я ей пытался сказать ЙЕС, но мой писк прозвучал тихо и глупо :-) Музыканты холодному приёму явно обиделись и очень быстро ушли со сцены, явно не обрадованные прибалтийским темпераментом. Тут наши милые неформалы проявили упорство и в который раз яростно зааплодировали. Музыканты повеселели, вылезли обратно, и сыграли на мой вкус лучшие вещи за сет - длинные и медитативные эбмиентные шумелки с небольшими вкраплениями шёпота - одну старую и одну новую. Антье поведала, что старую они давно не исполняют на концертах. Быть может, решили сыграть, когда увидели, как публика благодарно проглотила даже суровый нойз Маркуса Шмиклера. В конце Антье поблагодарила за тёплый приём и сказали, что они в Латвии первый раз.</p>
<p>Потом я немного прошёл под дождиком и остановил такси, которое привезло меня в далёкие края - аж за знак <span style="text-decoration: line-through;">Rīga</span>. Вёл водила по GPS и спрашивал у меня дорогу - вдруг есть короче. Но короче не было. И ещё у него не оказалось сдачи, пришлось выгребать всё, даже лат со снеговиком.</p>
<p align="center"><a href="../../files/blogengine/Writer/Skaumes2008_12A13/image_3.png"><img style="border: 0px none " data-src="../../files/blogengine/Writer/Skaumes2008_12A13/image_thumb_3.png" border="0" alt="image"   /></a></p>
<p align="center">Это единственная картинка в посте, потому что у фотика полностью умерла батарея, а новую я заказал только сегодня.</p>
<p align="left">В целом - неплохо, но настоящего восторга никто не вызвал. Ждём пятницы и субботы, когда будут играть <strong>Zavoloka</strong>, <strong>Colleen, Six Organs Of Admittance, The Bug </strong>и даже суперстар-ню-фолк-дива <strong>Marissa Nadler</strong>.</p>
	