Id: 2c0c90a6-eb64-477f-9f1b-83e27bc4b42e
Title: "Покатушка"
Published: "2008-08-17"
Slug: "2008-08-17 Покатушка"
-
<p align="left">
Ездил в Медуми. Обратно по той же дороге ехать на захотелось, покатил по грунтовке.&nbsp; Сделал <a href="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=ru&amp;msa=0&amp;msid=113073638999015652203.0004541cab90ece0b6c8b&amp;ll=55.874155,26.494217&amp;spn=0.258866,0.612488&amp;z=11">описание на гугль мапсах</a>, маркеры заполнены, наводите на них мышку и читайте, если совсем уж делать нечего. В Медуми живописно. И пахнет хорошо, когда едешь по грунтовке, ведущей на Свенту. Проехал я 61 километр за 4.5 часа. Скорость без учёта затупов была 22-25 км/ч по асфальту (горки страшные до границы) и 15-20 по грунтовке (гребёнка &ndash; моё почтение). В следующем сезоне я байк переоборудую для трейлов, то есть неасфальтированных дорог. Куплю широкие обода, покрышки, вилку, а если будут деньги &ndash; подседельный&nbsp; штырь.
</p>
 [more text=Дальше только фото с подписями] 
<p align="left">
&nbsp;
</p>
 
<p align="center">
<a href="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=ru&amp;msa=0&amp;msid=113073638999015652203.0004541cab90ece0b6c8b&amp;ll=55.874155,26.494217&amp;spn=0.258866,0.612488&amp;z=11"><img style="border-width: 0px" data-src="/files/blogengine/Writer/77d70038a67b_FC16/image.png" border="0" alt="image" title="image"   /></a>&nbsp;<br />
Маршрут
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/77d70038a67b_FC16/IMG_0001.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/77d70038a67b_FC16/IMG_0001_thumb.jpg" border="0" alt="IMG_0001" title="IMG_0001"   /></a>&nbsp;<br />
Прикольные у нас сараи.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/77d70038a67b_FC16/IMG_0003.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/77d70038a67b_FC16/IMG_0003_thumb.jpg" border="0" alt="IMG_0003" title="IMG_0003"   /></a> <br />
Суперместо для дома, waterfront, ёптель.
</p>
 
<p>
&nbsp;
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/77d70038a67b_FC16/IMG_0004.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/77d70038a67b_FC16/IMG_0004_thumb.jpg" border="0" alt="IMG_0004" title="IMG_0004"   /></a>&nbsp;<br />
Не огорожено, есть мостки, купаться удобно.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/77d70038a67b_FC16/IMG_0006.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/77d70038a67b_FC16/IMG_0006_thumb.jpg" border="0" alt="IMG_0006" title="IMG_0006"   /></a><br />
А тут кто-то ещё лишь готовится строить дом.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/77d70038a67b_FC16/IMG_0007.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/77d70038a67b_FC16/IMG_0007_thumb.jpg" border="0" alt="IMG_0007" title="IMG_0007"   /></a> <br />
Оз. Медумское.
</p>
 
<p>
&nbsp;
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/77d70038a67b_FC16/IMG_0011.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/77d70038a67b_FC16/IMG_0011_thumb.jpg" border="0" alt="IMG_0011" title="IMG_0011"   /></a> <br />
Оно же.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/77d70038a67b_FC16/IMG_0012.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/77d70038a67b_FC16/IMG_0012_thumb.jpg" border="0" alt="IMG_0012" title="IMG_0012"   /></a> <br />
Сельский пейзаж.
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/77d70038a67b_FC16/IMG_0015.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/77d70038a67b_FC16/IMG_0015_thumb.jpg" border="0" alt="IMG_0015" title="IMG_0015"   /></a>&nbsp;<br />
Озеро &Scaron;ķirsteņu. Судя по словарю, &ldquo;Шкатулочное&rdquo;.
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/77d70038a67b_FC16/IMG_0019.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/77d70038a67b_FC16/IMG_0019_thumb.jpg" border="0" alt="IMG_0019" title="IMG_0019"   /></a><br />
Оно же.
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/77d70038a67b_FC16/IMG_0021.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/77d70038a67b_FC16/IMG_0021_thumb.jpg" border="0" alt="IMG_0021" title="IMG_0021"   /></a>&nbsp;<br />
Akmens &ndash; это камень. Не знаю, что означает суффикс в этом слове. <br />
&ldquo;Каменюки&rdquo;? 
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/77d70038a67b_FC16/IMG_0024.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/77d70038a67b_FC16/IMG_0024_thumb.jpg" border="0" alt="IMG_0024" title="IMG_0024"   /></a>&nbsp;<br />
<a href="http://www.visitdaugavpils.lv/index.php?p=3&amp;id=494">Гостевой дом</a> &ldquo;Ezermala&rdquo;, то есть &ldquo;Берег озера&rdquo;. Мест с таким названием &ndash; миллион.
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/77d70038a67b_FC16/IMG_0025.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/77d70038a67b_FC16/IMG_0025_thumb.jpg" border="0" alt="IMG_0025" title="IMG_0025"   /></a>&nbsp;<br />
15 лат за ночь, баня 15 лат в час. Дорогая баня какая-то.
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/77d70038a67b_FC16/IMG_0027.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/77d70038a67b_FC16/IMG_0027_thumb.jpg" border="0" alt="IMG_0027" title="IMG_0027"   /></a> <br />
И не лень же было стричь. Если убрать дерево, выйдет &rdquo;Windows XP в сезон засухи&rdquo;.
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/77d70038a67b_FC16/IMG_0028.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/77d70038a67b_FC16/IMG_0028_thumb.jpg" border="0" alt="IMG_0028" title="IMG_0028"   /></a>&nbsp;<br />
Козявка по центру &ndash; <a href="http://tv.eenet.ee/kurepesa" title="Осторожно, прямая видеотрансляция!">курепеса</a>.
</p>
 
<p>
&nbsp;
</p>
 
<p>
&nbsp;
</p>
 
<p align="center">
<a href="/files/blogengine/Writer/77d70038a67b_FC16/IMG_0035.jpg"><img style="border-width: 0px" data-src="/files/blogengine/Writer/77d70038a67b_FC16/IMG_0035_thumb.jpg" border="0" alt="IMG_0035" title="IMG_0035"   /></a>&nbsp;<br />
Вживую выглядит круче, как и все фото.
</p>

	