Id: fa9b1e07-f4c6-445d-b7b8-c6f7c9c1ce5d
Title: "Adidas"
Published: "2008-12-30"
Slug: "2008-12-30 Adidas"
-
<p>Сайт <a href="http://catalogue.adidas.com/adidaspc/gallery.jsp?locale=en&amp;country=XX&amp;brand=Performance&amp;gender=Mens&amp;division=Apparel">Адидас</a> – образец того, как нельзя делать.</p>  <p>Мало того, что он целиком на флеше, так ещё и грузит весь каталог сразу, в результате&#160; чего комп сурово подвисает. Мой, ввиду старости, аж на 20 секунд, но современный наверняка тоже тормозить будет дай боже.</p>  <p>А я давно чуял, что Адидас – дрянная контора. От неё верстой веет духом начала 90-х и гопниками. Жаль, технически и дизайнерски она всё же на высоте, вот и приходиться покупать её изделия. Прямо-таки через “не хочу”. Аж кусок в горло не лезет.</p>  <p>Вот такую Jersey присмотрел, на ебае <a href="http://cgi.ebay.com/ws/eBayISAPI.dll?ViewItem&amp;item=160306697485&amp;ssPageName=ADME:X:RTQ:US:1123#ebayphotohosting">всего лишь</a> 55 зелёных комиссаров и доставка 15.</p>  <p>&#160;</p>  <p><a href="/files/blogengine/adistar.jpg"><img title="adistar" style="border-right: 0px; border-top: 0px; display: block; float: none; margin-left: auto; border-left: 0px; margin-right: auto; border-bottom: 0px"  alt="adistar" data-src="/files/blogengine/adistar_thumb.jpg"  border="0" /></a> </p>  <p></p>  <p>Почему это называется Jersey – ума не приложу. Еле нашёл, где веломайки на <a href="http://www.chainreactioncycles.com/Categories.aspx?CategoryID=674">чейне</a>. Понавыдумавают всякого, а нормальному иностранцу сиди, голову ломай.</p>
	