Id: c7370e80-1aa2-4d1a-b6b9-b72f6a65203c
Title: "Нокия 5800 против айФона"
Published: "2009-02-14"
Slug: "2009-02-14 Нокия 5800 против айФона"
-
<p>Я тут всё выбираю себе новый телефон, а то хожу как хардкорный мэн со старой Nokia 3310.</p> <p>Подписался я как-то давно на <a href="http://forum.ixbt.com/topic.cgi?id=16:39470">ветку</a> форума iXBT.com 5800 vs iPhone c помощью <a href="/post/2009-01-07%20%D0%9C%D0%BE%D0%B8%20Yahoo%20Pipes%20_%D0%A2%D1%80%D1%83%D0%B1%D1%8B%20%D0%AF%D1%85%D1%83_">своей яху-трубы</a>. Периодически почитываю.</p> <p>Соотношение сигнал/шум в ветке меньше <abbr title="4.94065645841247e-324">double.Epsilon. П</abbr>роще говоря, стремится к нулю. Но что поражает больше всего – фантастический уровень ругани и глупости участников. Я и сам иногда люблю поспорить без толку, но там бессмысленный срач переходит все разумные рамки – участники обзывают друг-друга в каждом посте, повторяют одно и то же, приводят своих личных тараканов как аргументы (вместо статистики), не хотят даже немного разобраться в вопросе, чтобы оперировать фактами, а не своими фантазиями. При этом они не троллят, а на самом деле пишут, что думают.</p> <p>Я не люблю цензуру, но тут явный случай, когда модератор халтурит. Плюс видна аудитория людей, которые покупают имиджевые смартфоны. Что-то мне говорит, что владельцы qwerty-устройств на Windows Mobile и Symbian не стали бы так явно демонстрировать свою глупость и предвзятость. Хотя, я, наверное, переоцениваю людей.</p>
	