Id: b51b7dc9-0eeb-4b57-a7a4-457725965739
Title: "Вылазка в Ригу на выходных, часть 3"
Published: "2009-04-13"
Slug: "2009-04-13 Вылазка в Ригу на выходных, часть 3"
-
<p>Похоже, я наконец-то подхожу к финалу. Это при том, что пишу про короткую вылазку. Похоже, надо как-то оптимизировать написание заметок, и постить вам только самое интересное, а то читать перестанете. Я, в общем, для себя пишу, но иногда у меня, как у <img style="border-top-width: 0px; padding-right: 1px; border-left-width: 0px; border-bottom-width: 0px; vertical-align: bottom; border-right-width: 0px" data-src="/files/lj/userinfo.gif" alt="[info]"   /> <a href="http://avva.livejournal.com">avva</a>, кризис жанра, и выходит так:</p>
<div class="cite"><em>Писать я начинаю,<br />В башке бедлам и шум.<br />Писать о чем - не знаю,<br />Но все же напишу...</em></div>
<p>Итак, вечером в субботу мы с rk13 взламывали мой сектантский рутер от компании FON.</p>
<p align="center"><a href="/files/blogengine/FE_PR_080916networking.jpg"><img style="border-top-width: 0px; display: block; border-left-width: 0px; float: none; border-bottom-width: 0px; margin-left: auto; margin-right: auto; border-right-width: 0px" title="FE_PR_080916networking" data-src="/files/blogengine/FE_PR_080916networking_thumb.jpg" border="0" alt="FE_PR_080916networking"   /></a> Даже пластиковую коробку с антенной надо ретушировать до гламура</p>
<p>Для тех, кто не в курсе, расскажу, что это такое. Как ни странно, объяснить это всегда сложно. Не знаю, почему: или я неважно это делаю, или людям не интересно, или сама концепция не такая простая, какой я её вижу. В любом случае, попытаюсь ещё раз.</p>
<p>1. Вы регистрируетесь на сайте <a href="http://www.fon.com/ru/">fon.com</a> (ссылка на русском)</p>
<p>2. Покупаете специальное устройство &ndash; беспроводной рутер La Fonera. Это такая штука, куда можно подключатся с помощью беспроводной сети, она же Wi-Fi.</p>
<p>3. Подключаете его дома к интернету по проводу.</p>
<p align="center"><a href="/files/blogengine/fontenna.jpg"><img style="border-top-width: 0px; display: block; border-left-width: 0px; float: none; border-bottom-width: 0px; margin-left: auto; margin-right: auto; border-right-width: 0px" title="fontenna" data-src="/files/blogengine/fontenna_thumb.jpg" border="0" alt="fontenna"   /></a>Монументальная антенна обошлась мне всего в два евро</p>
<p>Итогом станет (упрощённо):</p>
<p>4. К вашему рутеру по Wi-Fi смогут подключатся посторонние. Участники сети FON &ndash;&nbsp; бесплатно, случайные прохожие &ndash; за некоторую сумму, часть которой получите и вы как доход. Подключаются они по-другому, чем вы, и подсмотреть вашу переписку не смогут.</p>
<p>5. При поездках и походах в разные места вы сможете подключатся к таким же беспроводным рутерам FON (там, где они есть), и пользоваться интернетом бесплатно.</p>
<p>В сущности, это принцип ты &ndash; мне, я &ndash; тебе, он же (социально, а не технологически) p2p в интернете. Похоже оно и на секту, поэтому я называю устройство &ldquo;сектантский рутер&rdquo;. Вдобавок, у нас его периодически можно купить задёшево, а в США и вовсе бесплатно раздают &ndash; тоже характерный признак. Я лично купил по акции за 11 евро с антенной, чему рад, особенно теперь. Жаль, недавно была ещё акция, а я не купил второй &ndash; пригодился бы.</p>
<p align="center"><a href="/files/blogengine/steve.png"><img style="border-top-width: 0px; display: block; border-left-width: 0px; float: none; border-bottom-width: 0px; margin-left: auto; margin-right: auto; border-right-width: 0px" title="steve" data-src="/files/blogengine/steve_thumb.png" border="0" alt="steve"   /></a> Даже глава Apple Стив Джобс не прочь полапать фанеру</p>
<p>[more text="Читать про взлом и прочее"]</p>
<p>Зачем же нам понадобилось его взламывать? Дело в том, что стандартные возможности рутера, особенно первого поколения (La Fonera, второе называется La Fonera+) весьма скромны. Не секрет, что сейчас очень распространены модифицированные и самодельные (custom/homebrew) прошивки для различных устройств, в частности, беспроводных рутеров. Вот и на Fon можно поставить такую, чтобы расширить его возможности до приличных. Вообще, дома у меня фонера воббще перестала работать по неизвестным причинам. rk13 давно предлагал мне привезти девайс ему, может что и выйдет хорошее. Как ни странно, вышло - у rk13 La Fonera почему-то сразу заработала, так что мне и ломать расхотелось. Но мы уже договорились, поэтому назад пути не было.</p>
<p align="center"><a href="/files/blogengine/latvia_fon.jpg"><img style="border-top-width: 0px; display: block; border-left-width: 0px; float: none; border-bottom-width: 0px; margin-left: auto; margin-right: auto; border-right-width: 0px" title="latvia_fon" data-src="/files/blogengine/latvia_fon_thumb.jpg" border="0" alt="latvia_fon"   /></a> Сектантов в Латвии заметно прибавилось, но меня почему-то нету</p>
<p>Дальше идёт техноидное описание процесса, и вам его можно не читать, если вы не компьютерщик. Читайте опять после полужирного шрифта.</p>
<p>Если искать гуглем, как взломать фанеру (ещё одно название для рутера, на сей раз &ndash; русскоязычный каламбур), то попадёшь на страницу <a rel="nofollow" href="http://stefans.datenbruch.de/lafonera/">http://stefans.datenbruch.de/lafonera/</a>. Чёрт его знает, может процесс, описанный там, и работает для старых прошивок, но для моей &ndash; 0.7.2. r2 он не заработал.</p>
<p>В двух словах он должен работать так: устанавливаете в настройках DNS ip специального хакерского сервера <a href="kolofonium">kolofonium</a>, а рутер обращается за обновлением прошивки. Тут-то его и обувают, то есть скармливают ему то, что надо нам, и открывают внешний ssh доступ (командная строка unix). Очень просто и удобно.</p>
<p>К сожалению, в прошивке 0.7.2 r2 La Fonera не использует свои настройки DNS, а лезет к серверу обновлений напрямую по IP-адресу. И тот уже ему скармливает DNS, где лежат обновления. К счастью, обмануть фонеру просто &ndash; надо подключить её к другому рутеру/компу, которому статически прописать адрес сервера обновлений Fon. А в качестве DNS этого второго рутера опять-таки указать хакерский сервер kolofonium, который и проделает за нас всю работу, скормив фонере старую прошивку 0.7.1, в которой ещё не закрыта дырка с простым взломом через shell script form injection. Её и надо в конце использовать, чтобы получить ssh доступ.</p>
<p>Процесс далеко не такой запутанный, каким выглядит в моём описании. У нас, правда, возникло непонятное осложнение &ndash; в фонере после взлома не была прописана маршрутизация в интернет вовсе, и rk13 добавил её вручую, зайдя через ssh. В инструкции такого нет, так что, будем надеяться, оно заработает у вас и так.</p>
<p>Вся кухня <a href="http://www.fonerahacks.com/index.php/Tutorials-and-Guides/How-to-enable-SSH-on-version-0.7.2-r3.html">описана</a> на сайте fonerahacks.com, который мы нашли с некоторым трудом (я уже было подумал, что не выйдёт взломать). Пользуйтесь, люди, <a href="http://www.google.com/help/operators.html">замечательными возможностями гугля</a> вроде link:, site: и cache: и будет вам счастье. Я нашёл fonerahacks.com с помощью оператора link: &ndash; это означает найти сайты, которые ссылаются на данный адрес.</p>
<p>Когда мы получили ssh доступ, поставили на рутер <a href="http://wiki.fon.com/wiki/FreeWLAN">FreeWLAN</a> &ndash; спецпрошивку, написанную немецкими фанатами. Обычно ставят известную OpenWRT, но с ней выключается стандартная сектантская часть ляфонеры, а мне этого не хотелось: не жалко её и оставить, чтобы мои братья-сектанты могли пользоваться. FreeWLAN сохраняет фичи фонеры, и при этом даёт приятные бонусы, типа поддержки dyndns или WakeOnLAN.</p>
<p><strong>Тут можно опять читать:</strong></p>
<p>Параллельно, пока rk13 хачил фонеру,&nbsp; я доламывал свой яблофон, с которым возни на редкость много, хоть и несложной. То есть, для меня несложной; я хоть и не гений, но знаю какие-то основы юникса, сетей и программирования. На яблофоне, правда, обычно всё просто &ndash; добрые хакеры сделали всё за нас. Единственное, с чем у меня были проблемы &ndash; это оффлайн версией википедии для просмотра её без интернета. Я надеюсь об этом ещё написать.</p>
<p>Так что вечер мы провели очень даже плодотворно, и я был сильно доволен, хотя, в общем, польза мне от ломаной фонеры небольшая.</p>
<p>Кстати, 21 апреля выходит финальная версия La Fonera 2, и, судя по <a href="http://blog.fon.com/en/archive/gadgets/fonera-2-vs-the-competition-asus-belkin-dlink-linksys-netgear-planex.html">этой рекламе</a>, она будет очень неплоха. USB, торрент-клиент и всё такое.</p>
<p>А в последней части я напишу про цирк.</p>
	