Id: 98376422-4b43-49ed-9e28-4d35fac7cc0c
Title: "Удалил аккаунт на one.lv"
Published: "2009-03-06"
Slug: "2009-03-06 Удалил аккаунт на one.lv"
-
<p>Чего и вам советую. В конце-концов я есть в жж, а вообще есть отличные сети вроде фейсбука, или даже посредственного, но бесплатного майспейса. Мне было приятно, что меня читали люди, которых я знаю в реале, и которые зашли в мой блог благодаря ссылке на one.lv.</p> <p>Но вот <a href="http://vladekk.livejournal.com/270801.html?thread=626129#t626129">такого</a> счастья мне не надо:</p> <div class="cite"> <p><a href="http://skisel.livejournal.com/profile"><img height="17" alt="[info]" src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  width="17"></a><a href="http://skisel.livejournal.com/"><b>skisel</b></a>  <p>об этом проколе знают даже в самом оне.лв :)  <p><img height="1" src='/files/F06ACF5EBF73660F1FA05BCC8C448036.gif'  width="25"><br><b></b><br><a href="http://skisel.livejournal.com/profile"><img height="17" alt="[info]" src='/files/AD31DF87A906A30D88A588C35648FF7A.gif'  width="17"></a><a href="http://skisel.livejournal.com/"><b>skisel</b></a><br>более того - оттуда мне сказали, что это не баг - это фича :D это чтоб в закладки сразу с паролем сохранять :) </p></div> <p>Дыра заключается в следующем. Пароль при логине на one передаётся в адресной строке браузера. Это означает, что любой человек, имеющий доступ к компу, с которого вы заходили на one, может за несколько секунд узнать ваш пароль, если ссылка осталась в истории посещений. Обычно она там есть.</p>
	