Id: 34d8ffae-c463-45d3-90de-bee1aab6e758
Title: "Немного арифметики"
Published: "2009-01-09"
Slug: "2009-01-09 Немного арифметики"
-
<p align="center"><a href="http://www.gaismaspils.lv/gp/index.php?l=en&amp;m=jaunumi"><img style="border-right: 0px; border-top: 0px; display: block; float: none; margin-left: auto; border-left: 0px; margin-right: auto; border-bottom: 0px" title=" Замок света" data-src="../../files/blogengine/image.png" border="0" alt=" Замок света"   /></a></p>
<p style="text-align: left;">У нас тут в Латвии давно уже идут споры по поводу нового здания главной библиотеки под названием &ldquo;<a href="http://architektonika.ru/2007/01/13/latvijjskijj_zamok_sveta.html">Замок Света</a>&rdquo;. Согласно <a href="http://www.gaismaspils.lv/gp/index.php?l=lv&amp;m=jaunumi">информации</a> с офиц. сайта, текущие предполагаемые расходы на строительство - 114,6 миллионов латов, то есть 164.25 миллиона евро или 225 миллионов долларов.</p>
<p>Посчитаем, что на эти деньги можно сделать для народного просвещения.</p>
<p>В Латвии живёт 2.3 миллиона, из них, по разным данным, интернетом пользуется от 600 тысяч до миллиона человек. Скорее всего &ndash; больше, поэтому я возьму верхнюю цифру, это вполне оправданно. Это значит, это у этих людей есть доступ к компам, хоть каким и хоть где. Ещё 300 тысяч человек либо слишком старые, либо слишком молодые, чтобы им были актуальны библиотеки и интернет.</p>
<p>Таким образом, остаётся миллион человек без компов. Самый дешёвый нетбук вроде OLPC, Intel Classmate PC или Asus EEE при таких объёмах стоит около 200$ за штуку.</p>
<p>Таким образом, мы можем купить образовательные компы ВСЕМ, у кого их нет, и ещё на орехи останется. Но лучше так &ndash; поскольку не все из этих людей умеют пользоватся компом, да и не всем он нужен, купим по 1 на семью. Условно примем, что в семье всего лишь 2 человека &ndash; чтобы хватило всем с запасом.</p>
<p>Итого, из 225 миллионов мы потратили только 100. Ещё 50 &ndash; год, два или три бесплатного&nbsp; интернета для этих людей. 5$-10 на семью &ndash; вполне реальная цена, если гос-во сделает тендер на большую закупку, ведь интернет по 10$ в городах у нас есть уже сейчас. Интернет будет не очень быстрый, но для образовательных целей более чем достаточный. Второй вариант &ndash; ноуты с ваймаксом и всеобщий ваймакс по стране &ndash; уж не знаю, хватит ли тут 50 миллионов, но по крайней для больших городов должно быть достаточно.</p>
<p>Уже хорошо &ndash; в нете очень много бесплатных образовательных ресурсов, хоть и на русском или английском, вспомнить хотя бы пресловутую <a href="../../post/2008-11-23%20%D0%95%D0%B2%D1%80%D0%BE%D0%BF%D0%B5%D0%B0%D0%BD%D0%B0">Европеану</a>, которая всё-таки открылась. Но у нас есть ещё 75 миллионов &ndash; половину мы можем потратить на новое здание библиотки &ndash; только скромное и предназначенное исключительно для хранения архива ценных книг и рукописей. Ещё 20 миллионов &ndash; на обучение людей, как пользоватся интернетом и компами.</p>
<p>И последние 20 &ndash; на оцифровку латышских книг и сайт е-библиотеки. Западные цифровать не очень нужно &ndash; тем, которые можно, евросоюз сделает, а что под копирайтом, те и нельзя. Такие издатели сами будут продавать через сайт.</p>
<p>По-моему, выше описано куда более рациональное использование 225 миллионов, чем запланированное строительство. Кроме того, ЕС обычно под такие проекты с радостью отваливает горы бабла &ndash; так что мы нахаляву получим ещё десятки, если не сотню миллионов.</p>
<p>P.S. И не надо, пожалуйста, оставлять мне комментариев в духе &ldquo;правительство уроды и это всё откаты&rdquo;. Мир от них лучше не станет. Возможно, для вас это будет открытием, но стран, где люди любят и доверяют власти, в мире крайне мало. О чём это говорит, я напишу в следующем посте.</p>
	