Id: a0326ede-c58f-4206-bac4-774601eb69f2
Title: "Текущая ситуация со сжатием видео, часть 1"
Published: "2009-01-14"
Slug: "2009-01-14 Текущая ситуация со сжатием видео, часть 1"
-
<p>Я сначала хотел использовать в блоге для видео Silverlight, но он мало у кого установлен. Я ещё не страдаю&nbsp; <a href="http://lurkmore.ru/%D0%A7%D0%A1%D0%92">ЧСВ</a> такой степени, чтобы думать, что люди ради моих древних дурацких клипов будут ставить что-то непонятное на свой комп. Поэтому я стал смотреть, что творится в стане врага, а именно Adobe flash video. Заодно поизучал, что вообще происходит в стане цифрового кодирования мультимедия-информации.</p>
<h2>Ликбез и глоссарий</h2>
<p><strong>Кодек</strong> &ndash; программа, использующая определённые алгоритмы кодирования и декодирования для сжатия&nbsp; видео. Кодек &ndash; реализация стандарта, то есть документа, где определяется, каким будет результат, и как его надо воспроизводить. Таким образом достигается совместимость: то, что сжато DivX, может проиграть XviD, и наоборот. Кодек состоит из кодеровщика и декодировщика, отсюда и название.</p>
<p><strong>Контейнер</strong> &ndash; формат файла, в котором хранится сжатое видео.</p>
<p>Классический древний контейнер &ndash; AVI, Майкрософт любит свой ASF (расширение ASF или WMV), флеш &ndash; FLV, на DVD &ndash; IFO/VOB, новый контейнер для любимого всеми H.264 &ndash; MP4, Quick Time использует свой (с расширением MOV), фанаты аниме используют матрёшку (.MKV), ну а вообще в Википедии <a href="http://en.wikipedia.org/wiki/Comparison_of_container_formats">всё есть</a></p>
<p>Большинство контейнеров позволяют запихать в себя видео, сжатое разными кодеками. Расширение файла тоже может быть разным, это не принципиально.</p>
<p><strong>DirectX фильтр</strong> &ndash; специальный формат программы для кодеков, позволяющий другим программам (обычно плеерам) их использовать. Например, чтобы проигрывать видео в формате MPEG4 , сделанное кодеком DivX, с помощью плеера ZoomPlayer, вы можете установить фильтр XviD, который включает в себя реализацию кодека MPEG4. Или установить родной фильтр кодека DivX.</p>
<h2>История и теория</h2>
<p>На DVD и в спутниковых трансляциях, если помните, используется древний кодек MPEG-2. Консорциум MPEG работу не прекратил, и породил законного наследника MPEG-4 часть 2 (обычно говорят просто MPEG-4), который распространился в виде своего незаконорожденного брата DivX, да полузаконного бастарда XviD. Впрочем, до них нам теперь дела мало, потому что сравнительно давно появилась вершина прогресса &ndash; жадный до процессора H.264, он же MPEG-4 часть 10. Он ныне везде: во телефонах, игровых приставках, а так же частенько поддерживается специальными аппаратными ускорителями и даже видеокартами вроде ATI HD2600. H.264, понятное дело, сжимает лучше всех при том же качестве, ну или качество выше при том же размере.</p>
<p>Параллельно подсуетилась Майкрософт, и создала нечто похожее &ndash; развитие дела Windows Media (обычно в контейнере .wmv) под названием VC-1. Отличия от H.264 &ndash; вроде бы меньшие требования к процессору при декодировании, возможно &ndash; иногда чуть лучшее качество.</p>
<p>Оба этих кодека используются активно не только на трекерах видеопиратами, как вы подумали, но и на дисках высокого разрешения Blu-ray и HD-DVD (Последний уже скончался).</p>
<p>Но вот что печально &ndash; до некоторых пор в интернете, то есть там, где высокая степень сжатия была бы более всего востребована, царила всякая мутная древность. А всё потому, что основной способ доставки видео в вебе &ndash; флеш, а он поддерживал лишь довольно вялые коммерческие кодеки, чьи названия в веках не останутся.</p>
<p>Вдобавок к этому, Адобе использовала для флеш видео и собственный контейнер flv, что вебмастерам счастья тоже не добавляло &ndash; приходилось видео не только перекодировать, но и перепаковывать.</p>
<p>К счастью, Майкрософт подсуетилась, и выпустила Silverlight. Он воообще много чем хорош, но в данном случае нас интересует то, что он поддерживает отличный кодек VC-1. Впрочем, хрень редьки не слаще &ndash; формат закрытый, собственный, да ещё и в контейнере ASF. А главное &ndash; мало у кого стоял на компе Silverlight, так что для вебмастеров, жаждущих качества, это тоже не выход.</p>
<p><a href="../../post/2009-01-15%20%D0%A2%D0%B5%D0%BA%D1%83%D1%89%D0%B0%D1%8F%20%D1%81%D0%B8%D1%82%D1%83%D0%B0%D1%86%D0%B8%D1%8F%20%D1%81%D0%BE%20%D1%81%D0%B6%D0%B0%D1%82%D0%B8%D0%B5%D0%BC%20%D0%B2%D0%B8%D0%B4%D0%B5%D0%BE%2C%20%D1%87%D0%B0%D1%81%D1%82%D1%8C%202">Вторая часть, практическая.</a></p>
	