Id: f0c69b8f-1e12-444f-9982-99d73d8f7086
Title: "Путешествие в Турцию 2 – Вылет и прибытие"
Published: "2009-05-11"
Slug: "2009-05-11 Путешествие в Турцию 2 – Вылет и прибытие"
-
<p>Легли спать мы полвторого, встали в 7. Если кто не знает, для международных рейсов регистрация начинается за два часа до вылета, и аэропорт настоятельно рекомендует вам так и приходить &ndash; сильно заранее. В принципе, всё зависит от количества очередей и проверок. Мы появились в аэропорту рано, поэтому коротали время за поеданием бутербродов, которых нам в путь наделали целую гору. (Кто, не стану говорить, чтобы не ошибиться, да и не знаете вы пока никого).</p>
<p align="center"><a href="/files/blogengine/200904300822420010.jpg"><img style="border-top-width: 0px; display: block; border-left-width: 0px; float: none; border-bottom-width: 0px; margin-left: auto; margin-right: auto; border-right-width: 0px" title="2009-04-30 08-22-42 - 0010" data-src="/files/blogengine/200904300822420010_thumb.jpg" border="0" alt="2009-04-30 08-22-42 - 0010"   /></a> Марис, Игорь, Сергей, они же завхоз, штурман и доктор</p>
<p>Что касается регистрации, то нам повезло &ndash; прошла она очень быстро, очередей не было. Насчёт велосипедов никакой особой бюрократии &ndash; даже взвешивать не стали, просто спросили вес и записали одинаковый всем.</p>
<p align="left">Единственный тонкий момент &ndash; при транспортировке велосипедов надо выпускать воздух из колёс &ndash; я про это знал, но сделать забыл. Поэтому когда нас спросили: &ldquo;Воздух выпущен?&rdquo;, я смело соврал &ldquo;Конечно&rdquo;. Виктор, который стоял со мной рядом, сообразил, что надо то же самое повторить &ndash; потому что велосипеды у нас уже были плотно упакованы, и доставать их, чтобы спустить воздух &ndash; занятие малоприятное. [more text=читать дальше]</p>
<p align="center"><a href="/files/blogengine/200904300831500012.jpg"><img style="border-top-width: 0px; display: block; border-left-width: 0px; float: none; border-bottom-width: 0px; margin-left: auto; margin-right: auto; border-right-width: 0px" title="2009-04-30 08-31-50 - 0012" data-src="/files/blogengine/200904300831500012_thumb.jpg" border="0" alt="2009-04-30 08-31-50 - 0012"   /></a> Высокотехнологичный девайс для чистки территории аэропорта &ldquo;Рига&rdquo;</p>
<p>Сергей ещё успел спросить меня, зачем оно вообще надо, и что ему говорить. Я не большой знаток физики, но помню, что багажное отделение самолёта не изолировано от среды, в отличие от салона, и потому, когда самолёт поднимется на штатную высоту в десять км, давление в шинах несколько возрастёт. То есть они теоретически могут лопнуть. За свои я не боялся &ndash; у меня гибрид с тонкими дорогими покрышками и спортивными камерами &ndash; он штатно выдерживает 6 атмосфер, а накачано у меня не более 4. Впрочем, даже худший вариант &ndash; лопнет камера &ndash; не так уж и страшен. Потому я сказал Сергею не беспокоиться, и в итоге он ещё ловчее меня соврал на вопрос про спущенные колёса: ответил &ldquo;как положено&rdquo;.</p>
<p align="center"><a href="/files/blogengine/200904300920070014.jpg"><img style="border-top-width: 0px; display: block; border-left-width: 0px; float: none; border-bottom-width: 0px; margin-left: auto; margin-right: auto; border-right-width: 0px" title="2009-04-30 09-20-07 - 0014" data-src="/files/blogengine/200904300920070014_thumb.jpg" border="0" alt="2009-04-30 09-20-07 - 0014"   /></a> Марис (завхоз) и Игорь Щукин, шеф предприятия</p>
<p>Тогда я этого не знал, но после прочитал, насколько вырастет разница давлений при подъёме. Если я правильно понял, то максимум прибавится около 0.6 атмосферы &ndash; и это может повредить, только если ваши колёса накачаны совсем до упора, чего и так делать нельзя.</p>
<p>Есть ещё один интересный вопрос, который касается давления в салоне. Почему при взлёте закладывает уши, если салон герметически изолирован от окружающей среды по понятным причинам? Попробуйте ответить без Гугля, а правильный ответ я раскрою в следующей серии.</p>
<p>Контроль мы прошли шустро, пришлось ходить по такс-фри зоне, да попивать кофеёк.&nbsp; Ещё в такс-фри водка &ldquo;абсолют&rdquo; продаётся в прикольных алюминиевых бутылках, правда размером начиная с литра.</p>
<p><a href="/files/blogengine/200904300942490016.jpg"><img style="border-top-width: 0px; display: block; border-left-width: 0px; float: none; border-bottom-width: 0px; margin-left: auto; margin-right: auto; border-right-width: 0px" title="2009-04-30 09-42-49 - 0016" data-src="/files/blogengine/200904300942490016_thumb.jpg" border="0" alt="2009-04-30 09-42-49 - 0016"   /></a></p>
<p>Из одежды в поход я взял только тоненькую велокуртку и ветрозащитные штаны, которые из-за сверхкомпактности и тонкости в свете актуальных тенденций окрестил &ldquo;нанокурткой&rdquo; и &ldquo;наноштанами&rdquo;. Впрочем, положил я их в багаж, так что в самолёт заходил в шортах и майке. Ощущение очень приятное &ndash; летишь за тридевять земель, а сам налегке.</p>
<p><a href="/files/blogengine/200904300942160015.jpg"><img style="border-top-width: 0px; display: block; border-left-width: 0px; float: none; border-bottom-width: 0px; margin-left: auto; margin-right: auto; border-right-width: 0px" title="2009-04-30 09-42-16 - 0015" data-src="/files/blogengine/200904300942160015_thumb.jpg" border="0" alt="2009-04-30 09-42-16 - 0015"   /></a>Мне сначала показалось, что дверь деревянная, но в нижнем правом углу видно, что&nbsp; это плёнка</p>
<p>Лететь мы должны были 2 часа 55 минут, но по традиции эйрболтика вылет был задержан где-то на полчаса. Пункт назначения &ndash; аэропорт Ататюрка. Я где-то вычитал, что в Стамбуле 6 международных аэропортов. Это всё-таки не так &ndash; их два. А цифра 6 взялась из Большой Советской Энциклопедии, которая у меня тоже была на айфоне. Данные в ней где-то на 1974 год, и несмотря на общую крутость БСЭ, актуальную информацию лучше цитировать всё-таки из Википедии.</p>
<p>Что касается Ататюрка, стоит пояснить для тех, кто как и я, слышал до того это слово лишь мельком.</p>
<p>В 1881 году родился Мустафа Кемаль, человек, который за уши вытащил Турцию из средневековья в современный мир. Турция была остатком османской империи, в общем-то отсталой и неуважаемой страной. Сначала Кемаль во время первой мировой войны успешно оборонялся от войск Антанты (это типа хорошие), так и не дав им захватить Дарданеллы (это типа пролив из средиземного моря в , чем заслужил себе репутацию. После разгона существующего парламента англичанами и оккупации ими Стамбула в 1920 году, Мустафа создал и&nbsp; независимое "Великое Национальное Собрание Турции&rdquo; и возглавил борьбу за независимость, причём методами Мустафа не гнушался. Известны его слова: &ldquo;Я не приказываю вам наступать, я приказываю вам умереть!&rdquo;. Часть геноцида армян 1877-1923 годов тоже проходила при попустительстве Кемаль-паши. Это, впрочем, никак не остановило советское правительство &ndash; для помощи в революционной борьбе в 1920 году кемалисты получили от него более 10 миллионов рублей, боеприпасы,&nbsp; оружие и прочее. Интересно, помнят ли об этом турки сейчас, хотя бы интересующиеся историей.</p>
<p align="center"><a href="/files/blogengine/200904301348410017.jpg"><img style="border-top-width: 0px; display: block; border-left-width: 0px; float: none; border-bottom-width: 0px; margin-left: auto; margin-right: auto; border-right-width: 0px" title="2009-04-30 13-48-41 - 0017" data-src="/files/blogengine/200904301348410017_thumb.jpg" border="0" alt="2009-04-30 13-48-41 - 0017"   /></a> Только прилетели</p>
<p align="left">Неудивительно, что Мустафа добился своего - 30 октября 1923 года было создано первое республиканское правительство, а национальное собрание (то есть парламент) окрестило своего благодетеля ататюрком, то есть &ldquo;отцом турков&rdquo;. Мустафа отныне президент, и зовут его не иначе как Мустафа Кемаль Ататюрк (официально ему дали это имя только 30-годах)</p>
<p align="center"><a href="/files/blogengine/200904301420290021.jpg"><img style="border-top-width: 0px; display: block; border-left-width: 0px; float: none; border-bottom-width: 0px; margin-left: auto; margin-right: auto; border-right-width: 0px" title="2009-04-30 14-20-29 - 0021" data-src="/files/blogengine/200904301420290021_thumb.jpg" border="0" alt="2009-04-30 14-20-29 - 0021"   /></a> Сборка велосипедов в разгаре</p>
<p>За время своего правления Ататюрк провёл просто гигантское количество очень важных и глубоких реформ, поэтому я перечислю только самое актуальное для нас.</p>
<ul>
<li>Предоставление женщинам равных с мужчинами прав (1926&mdash;34 годы). </li>
<li>Запрет на деятельность религиозных обителей и орденов (30 ноября 1925 года). </li>
<li>Введение международной системы времени, календаря и мер измерения (1925&mdash;31 годы). </li>
<li>Отмена <a href="http://ru.wikipedia.org/w/index.php?title=%D0%9C%D0%B5%D0%B4%D0%B6%D0%B5%D0%BB%D0%BB%D0%B5&amp;action=edit&amp;redlink=1">меджелле</a> (свода законов, основывающихся на <a href="http://ru.wikipedia.org/wiki/%D0%A8%D0%B0%D1%80%D0%B8%D0%B0%D1%82">шариате</a>) (1924&mdash;<a href="http://ru.wikipedia.org/wiki/1937_%D0%B3%D0%BE%D0%B4">1937 годы</a>). </li>
<li>Принятие нового Гражданского кодекса и других законов, в результате чего стал возможным переход на светскую систему государственного правления. </li>
<li>Принятие нового турецкого алфавита (1 ноября <a href="http://ru.wikipedia.org/wiki/1928_%D0%B3%D0%BE%D0%B4">1928 года</a>). </li>
</ul>
<p>Atat&uuml;rk сделал Турцию светской, современной и европейской, и именно ему мы обязаны тем, что ездим туда спокойно отдыхать, а не ждём оттуда исламских террористов.</p>
	