Id: 86b027b1-5426-4d2d-a096-206780fa1659
Title: "Рюкзак"
Published: "2009-03-14"
Slug: "2009-03-14 Рюкзак"
-
<p>Мне приехали велошмотки с CRC. Я всегда подозревал, что слабо представляю насколько круты современные качественные специализированные вещи, но теперь я это понял явно.</p> <p><a href="/files/blogengine/deutertransalpine3007.jpg"><img title="deuter trans alpine 30 07" style="border-right: 0px; border-top: 0px; display: block; float: none; margin-left: auto; border-left: 0px; margin-right: auto; border-bottom: 0px"  alt="deuter trans alpine 30 07" data-src="/files/blogengine/deutertransalpine3007_thumb.jpg"  border="0"></a> </p> <p>В <a href="http://www.deuter.com/en/products/32066_TransAlpine30_339_06_ENG.php">рюкзаке от Deuter</a> просто миллион всяких мелочей продумано. Застёжки кругом для точной настройки на тебя и на размер груза, жёсткая задняя стенка, лямки и задняя стенка с вентиляцией. Но что меня полностью ввергло в ступор – так это то, что у него в нижнем отсеке уже находится защитная плёнка от дождя, причём на резинках и светооотражающая!</p> <p><a href="/files/blogengine/deuter_transalpine25_03.jpg"><img title="deuter_transalpine25_03" style="border-right: 0px; border-top: 0px; display: block; float: none; margin-left: auto; border-left: 0px; margin-right: auto; border-bottom: 0px"  alt="deuter_transalpine25_03" data-src="/files/blogengine/deuter_transalpine25_03_thumb.jpg"  border="0"></a> </p> <p>Я вообще только теперь начинаю понимать, почему при капитализме так любят бренды. Когда компания действительно делает настолько качественные вещи, как Salomon и Deuter, то в таких случаях я всё-таки за. (Хотя раньше был почти целиком против).</p>
	