Id: aa8dc6a4-51d5-46b9-9f1b-e141bb4c9665
Title: "Зернистый творог"
Published: "2009-01-17"
Slug: "2009-01-17 Зернистый творог"
-
<p>Я вообще на работе в обед ем 1 йогурт Gefilus, про который уже писал, и 1 пачку творога. Творог любой, лишь бы поменьше калорий и подешевле. Иногда вместо творога ел кашу для микроволновки <a href="http://www.pienozvaigzdes.lt/index.php/izdelija/latvija/annele/kashi/5748">Annelе</a> (Типа как “Аннушка”), рисовую.</p>  <p>А сейчас подсел на зернистый творог, од тем же брендом <a href="http://www.pienozvaigzdes.lt/index.php/izdelija/latvija/annele/5718">Annele</a> . Обычно зернистый творог продаётся большими порциями и дорог, а тут нормально, по акции был и вовсе 0.5 Ls.</p>  <p>Я как-то не задумывался, что это вообще за субстанция, но раз купил, решил поинтересоваться в <a href="http://ru.wikipedia.org/wiki/%D0%97%D0%B5%D1%80%D0%BD%D1%91%D0%BD%D1%8B%D0%B9_%D1%82%D0%B2%D0%BE%D1%80%D0%BE%D0%B3">википедии</a>.</p>  <div class="cite">   <p><b>Зернёный творог</b> — разновидность <a href="http://ru.wikipedia.org/wiki/%D0%A2%D0%B2%D0%BE%D1%80%D0%BE%D0%B3">творога</a> пониженой <a href="http://ru.wikipedia.org/w/index.php?title=%D0%96%D0%B8%D1%80%D0%BD%D0%BE%D1%81%D1%82%D1%8C&amp;action=edit&amp;redlink=1">жирности</a>. Представляет собой творожное зерно, смешанное со свежими, чуть-чуть подсоленными сливками<sup><a href="http://ru.wikipedia.org/wiki/%D0%97%D0%B5%D1%80%D0%BD%D1%91%D0%BD%D1%8B%D0%B9_%D1%82%D0%B2%D0%BE%D1%80%D0%BE%D0%B3#cite_note-zerno-0">[1]</a></sup>. Может употребляться как самостоятельное блюдо, а также для приготовления различных салатов (например, салат из овощей с зернёным творогом).</p> </div>
	