Id: 50c90f6c-7bd2-4e3d-86d5-31081a29bead
Title: "Путешествие в Турцию 21 - Текирдаа"
Published: "2009-06-11"
Slug: "2009-06-11 Путешествие в Турцию 21 - Текирдаа"
-
<p>Я до того не упомянул, что ворота в кемпинге открытыми нам оставили потому, что за ними был tuvalet, то есть туалет на турецком. А ещё путём длительных поисков и раздумий мы обнаружили ведущий от WC удлинитель, куда я сразу воткнул айфон. Он у меня был обычно в полуразряженном состоянии, поэтому такие шансы я не упускал.</p>
<p>Из кемпинга мы направились в город Текирдаа, про который тут уже упоминалось. Само собой, отправились не просто так, а с желанием вкусить тех самых цилиндрических мясных шариков Tekirdağ <a href="http://en.wikipedia.org/wiki/K%C3%B6fte">k&ouml;fte</a>. Конечно же, &ldquo;мясные шарики&rdquo; &ndash; это просто неудачная калька с английского &ldquo;meatballs&rdquo;, что означает всего-навсего &ldquo;тефтели&rdquo; или &ldquo;фрикадельки&rdquo;. Ещё в Текирдаа проводится вишнёвый фестиваль, потому что фрукты тут хорошо растут. [more text=Читать про Текирдаа и турецкую армию]</p>
<p align="center"><a href="/files/blogengine/200905041041350610.jpg"><img style="border-top-width: 0px; display: block; border-left-width: 0px; float: none; border-bottom-width: 0px; margin-left: auto; margin-right: auto; border-right-width: 0px" title="2009-05-04 10-41-35 - 0610" data-src="/files/blogengine/200905041041350610_thumb.jpg" border="0" alt="2009-05-04 10-41-35 - 0610"   /></a> Несмотря на палатки, это вряд ли братья по разуму</p>
<p align="center"><a href="/files/blogengine/200905041042230611.jpg"><img style="border-top-width: 0px; display: block; border-left-width: 0px; float: none; border-bottom-width: 0px; margin-left: auto; margin-right: auto; border-right-width: 0px" title="2009-05-04 10-42-23 - 0611" data-src="/files/blogengine/200905041042230611_thumb.jpg" border="0" alt="2009-05-04 10-42-23 - 0611"   /></a> Знакомая картина, за исключением брусчатки</p>
<p>У нас в Даугавпилсе на центральной улице тоже&nbsp; теперь такая брусчатка.</p>
<p align="center"><a href="/files/blogengine/200905041047410612.jpg"><img style="border-top-width: 0px; display: block; border-left-width: 0px; float: none; border-bottom-width: 0px; margin-left: auto; margin-right: auto; border-right-width: 0px" title="2009-05-04 10-47-41 - 0612" data-src="/files/blogengine/200905041047410612_thumb.jpg" border="0" alt="2009-05-04 10-47-41 - 0612"   /></a> Как видите, насчёт коров не наврал</p>
<p>Вскоре начались населённые пункты. В одном из них мы за 5 лир купили небольшую дыню &ndash; может и переплатили, зато рядом был туалет, куда бесплатно можно было сходить. Учитывая, что в Стамбуле туалет порой стоит целую лиру, как раз на дыню и набирается.</p>
<p>Дыню мы отложили на потом, и тут безо всякой связи начался адский ветер. То, что в прошлой части я посчитал ветром, было на деле просто лёгким дуновением. На сей раз штормило так, что ехать было почти невозможно. Тем не менее, мы как-то добрались до того самого города Текирдаа, размером, кстати, около Даугавпилса.</p>
<p align="center"><a href="/files/blogengine/200905041135050616.jpg"><img style="border-top-width: 0px; display: block; border-left-width: 0px; float: none; border-bottom-width: 0px; margin-left: auto; margin-right: auto; border-right-width: 0px" title="2009-05-04 11-35-05 - 0616" data-src="/files/blogengine/200905041135050616_thumb.jpg" border="0" alt="2009-05-04 11-35-05 - 0616"   /></a> Большому городу &ndash; большая мечеть</p>
<p align="center"><a href="/files/blogengine/200905041145490618.jpg"><img style="border-top-width: 0px; display: block; border-left-width: 0px; float: none; border-bottom-width: 0px; margin-left: auto; margin-right: auto; border-right-width: 0px" title="2009-05-04 11-45-49 - 0618" data-src="/files/blogengine/200905041145490618_thumb.jpg" border="0" alt="2009-05-04 11-45-49 - 0618"   /></a> Шлёпнулся</p>
<p align="left">Как заехали в город, попытались проникнуть в центр &ndash; но по знакам туда вела объездная автострада, куда нам не хотелось. Пришлось переть 50 метров обратно по встречной. К добру такие фокусы не приводят &ndash; Игорь (Штурман) зацепил рулём ремонтную сетку и свалился в пыль. Поцарапался порядком, но жив остался. На моей памяти это было единственное падение за всю поездку, к нашему большому счастью &ndash; на небольшой скорости. К счастью, Сергей (доктор) наконец-то получил шанс исполнить свои обязанности и подлечил раненого. Происходило это всё, как ни странно, на берегу моря на пляже, но одновременно и на стадионе.</p>
<p align="center"><a href="/files/blogengine/200905041204280623.jpg"><img style="border-top-width: 0px; display: block; border-left-width: 0px; float: none; border-bottom-width: 0px; margin-left: auto; margin-right: auto; border-right-width: 0px" title="2009-05-04 12-04-28 - 0623" data-src="/files/blogengine/200905041204280623_thumb.jpg" border="0" alt="2009-05-04 12-04-28 - 0623"   /></a>Больной выражает благодарность лечащему врачу</p>
<p>После приведения бойца в порядок мы двинули в центр. Пока мы с Марисом ждали народ, нам стал свистеть в свисток часовой из будки &ndash; очевидно, стадион был отнюдь не гражданского назначения. Когда проехали дальше, оказалось, что вдоль дороги по левой стороне идёт военный городок, огороженный забором. Вообще, как я уже говорил, военных в Турции очень много (потому что людей девать некуда, хехе). Чтобы не быть голословным, а также разнообразить повествование, приведу несколько фактов.</p>
<p>Количество солдат - 1,054,750, это вторая по размеру армия в НАТО после США. Из них 50000 находятся в краткосрочной готовности (не знаю, как правильно, но мысль понятна). На армию тратится больше 5 процентов ВВП (В Латвии &ndash; меньше двух). В Турции более 4000 тысяч танков (в Латвии вроде бы ни одного нету, ну может парочка). Если кто случайно не в курсе, современный танк стоит несколько миллионов&nbsp; $. Кроме всего вышеперечисленного ещё есть 13 подводных лодок, 19 крейсеров (если я верно перевёл слово frigate), 49 эсминцев (тут я вообще от балды перевожу) и 24 миноносца. Что касается авиации, то у турков есть почти 500 военных воздушных судов.</p>
<p align="center"><a href="/files/blogengine/200905041154230103.jpg"><img style="border-top-width: 0px; display: block; border-left-width: 0px; float: none; border-bottom-width: 0px; margin-left: auto; margin-right: auto; border-right-width: 0px" title="2009-05-04 11-54-23 0103" data-src="/files/blogengine/200905041154230103_thumb.jpg" border="0" alt="2009-05-04 11-54-23 0103"   /></a>Слева &ndash; стадион, в центре &ndash; гавань и панорама центра города, а справа - море</p>
<p>Что же касается Текирдаа, то мы всё-таки добрались до центра. Самая-самая центральная площадь (потому что я так решил) была на вершине холма, и там пересекались аж пять дорог. Народу было прилично, поэтому байки вели и топали пешком, изящно лавируя среди прохожих. Я из всех сил искал, куда бы нам приткнуться, чтобы попробовать кёфте, но не так-то это просто с велосипедами. В результате зашли в бистро &ndash; местный аналог &ldquo;Весмы&rdquo;, но по принципу &ldquo;цена за порцию&rdquo;. На порцию нам наложили всего чего, потому что на вид, что за еда, определить сложновато, а турецкий я знаю в одну сторону &ndash; когда говорю, а не когда слушаю.</p>
<p><a href="/files/blogengine/200905041252290625.jpg"></a></p>
<p style="text-align: center;"><img style="border-width: 0px; display: inline;" title="2009-05-04 12-52-29 - 0625" data-src="/files/blogengine/200905041252290625_thumb.jpg" border="0" alt="2009-05-04 12-52-29 - 0625"   /></p>
<p>К счастью, всё было очень вкусно и разнообразно. За зубцами вилки лежит слоёный пирожок бёрек, по крайней мере так мой софт распознавания образов в голове его идентифицировал. Справа &ndash; долма, то есть что-то, завёрнутое в виноградные листья. Обед без айрана стоил 6 лир, то есть 2 лата (айран ещё лиру). Нормально, особенно для красивого заведения с кованой решёткой практически в центре города.</p>
<p>А как мы отобедали, Сергей с голодухи стал лопать сахар, который на столе стоял бесплатно и открыто. В связи с этим он придумал теорию вполне в моём мифотворческом духе. Мол, процесс пожирания очищенной глюкозы увидел официант и резво предложил нам пирог, чтобы страшные бисиклетные спортсмены не сожрали весь сахар в заведении. Пирог был вкусный, правда средних размеров кусок стоил целых 3 лиры, то есть лат.</p>
<p align="center"><a href="/files/blogengine/200905041345200627.jpg"><img style="border-top-width: 0px; display: block; border-left-width: 0px; float: none; border-bottom-width: 0px; margin-left: auto; margin-right: auto; border-right-width: 0px" title="2009-05-04 13-45-20 - 0627" data-src="/files/blogengine/200905041345200627_thumb.jpg" border="0" alt="2009-05-04 13-45-20 - 0627"   /></a> Плетёнок таких тоже купили, стоят они 50 курушей, то есть 0.16 Ls</p>
<p>Потом ещё немного поговорили с одним из дядек-служителей на английском и турецком (с очередным объяснением, где находится Латвия). Чем конкретно это дядька занимался в столовке, мне опять непонятно &ndash; что прекрасно ложится в мою теорию о том, что в Турции людей девать некуда и они их везде пихают просто так.</p>
<p>Что же касается пресловутых цилиндрических шариков, то в чистом виде мы их так и не попробовали, зато я специально для вас утащил фотку с фликра.</p>
<p align="center"><a href="http://www.flickr.com/photos/photos_of_ufuk/765331790/sizes/o/"><img style="border-top-width: 0px; display: block; border-left-width: 0px; float: none; border-bottom-width: 0px; margin-left: auto; margin-right: auto; border-right-width: 0px" title="765331790_1d457f482c_o" data-src="/files/blogengine/765331790_1d457f482c_o.jpg" border="0" alt="765331790_1d457f482c_o"   /></a> Вот они, герои последних двух постов</p>
<p>Про город писать в общем нечего. При выезде мы зашли в местный супермаркет &ndash; он оказался промтоварным, а на входе стоял металлоискатель. Вот так сурово живут люди. Поэтому шоколадные батончики (на покупке которых активно настаивал Игорь-штурман) пришлось покупать на близлежащей заправке. Кстати, пока не забыл &ndash; полутора литров бензина, купленного вначале, нам с лихвой хватило на всю поездку. Так что будем знать, что впредь можно брать меньше, чтобы с собой не таскать, тем более, что он просачивается и пахнет.</p>
<p align="center"><a href="/files/blogengine/200905041400170635.jpg"><img style="border-top-width: 0px; display: block; border-left-width: 0px; float: none; border-bottom-width: 0px; margin-left: auto; margin-right: auto; border-right-width: 0px" title="2009-05-04 14-00-17 - 0635" data-src="/files/blogengine/200905041400170635_thumb.jpg" border="0" alt="2009-05-04 14-00-17 - 0635"   /></a>Присмотритесь к правому трейлеру</p>
<p>С риском для свободы я для вас снял то, с чем в Турции не шутят, и про что писал выше: на грузовике справа везут танк. Жаль, фотка не получилась как следует.</p>
<p>А так мне тут веломастер из &ldquo;Трека&rdquo; рассказывал, как велопутешественник из Даугавпилса заехал в Турции не туда, проснулся на утро под дулами автоматов и потом несколько суток провёл под арестом. Будьте внимательны.</p>
	