Id: 83f7b29b-c613-4276-8327-1b71c768c340
Title: "Текущая ситуация со сжатием видео, часть 2"
Published: "2009-01-15"
Slug: "2009-01-15 Текущая ситуация со сжатием видео, часть 2"
-
<p><a href="../../post/2009-01-14%20%D0%A2%D0%B5%D0%BA%D1%83%D1%89%D0%B0%D1%8F%20%D1%81%D0%B8%D1%82%D1%83%D0%B0%D1%86%D0%B8%D1%8F%20%D1%81%D0%BE%20%D1%81%D0%B6%D0%B0%D1%82%D0%B8%D0%B5%D0%BC%20%D0%B2%D0%B8%D0%B4%D0%B5%D0%BE%2C%20%D1%87%D0%B0%D1%81%D1%82%D1%8C%201">Ссылка на первую часть</a></p>
<h2>Действительность и практика</h2>
<p>И вот, наконец, счастье пришло. Начиная с&nbsp; некоторой версии, Flash стал поддерживать H.264, и даже со сильножатым звуком AAC-HE. Майкрософт убоялась, и заявила, что в будущей версии Silverlight поддержка H.264 тоже будет.</p>
<p>Таким образом, у слона и кита установился некоторый паритет, а для владельцев сайтов наступил рай. Почти. Если не считать того факта, что H.264 во флеше безбожно тормозит на разрешениях выше стандартного 640x480. Silverlight со своим VC-1 работает в два-три раза быстрее, но по-прежнему установлен процентах на 30 ото всех подключенных в интернету компьютеров.</p>
<p>Какие же тогда есть варианты размещения видео на сайтах?</p>
<p>1. Использовать Silverlight и Microsoft Expression Studio для кодирования в VC-1. Она правда, платная, но студентам с ISICом раздают нахаляву по программе <a href="https://www.dreamspark.com/">DreamSpark</a>, как и многие другие средства разработки от Microsoft.</p>
<p>2. Использовать Flash, например популярный плеер <a href="http://www.longtailvideo.com/players/jw-flv-player/">JW FLV Player</a> и кодировать в H.264 какой-нибудь программой, коих сейчас развелось немеряно. Платный QuickTime от Apple ничего, но он не понимает MPEG на входе, по крайней мере как это сделать на Windows, я не нашёл. Зато пользоватся им удобно и легко. Говорят, ещё хорошо кодирует во h.264 Nero Recode, но все мои попытки его использовать увенчались провалом: то глючит, то не даёт выбрать нужные параметры.</p>
<p>В конце-концов, я остановился на очень даже неплохой программе <a href="http://www.winnydows.com/page.php?2">Xvid4PSP</a> авторства русского разразботчика с ником Winnydows. Программа бесплатная, потому является просто оболочкой для набора open-source проектов вроде ffmpeg и h.264. Я, кстати, пытался использовать и напрямую ffmpeg из командной строки на линуксе, но сотворить видео, закодированное h.264, у меня так и не получилось. Не зря разработчики ffmpeg на официальном сайте пишут, что программа предназначена не для прямого использования, а для включения в другие пакеты, примерно так, как это сделано в XviD4PSP.</p>
<p>В любом случае радует то, что получившийся h.264 в контейнере MP4 можно играть флешем, QuickTime`ом, и даже на всяких там айфонах и Nokia 5800. Разумеется, без труда он играется и на компьютере с помощью любого плеера, если стоит декодер H.264.</p>
<p>3. Использовать сторонний хостинг видео, например YouTube, который с недавних пор поддерживает h.264, обзывая его &ldquo;высоким качеством&rdquo;. Или Vimeo &ndash; на нём кодек похуже, VP6, но выглядит тоже ничего, да и поддержка h.264 не за горами.</p>
<h2>Будущее и высокое разрешение</h2>
<p>Так что в целом дела в вебе с видео обстоят неплохо, но но ещё не идеально. Зато на фронте дисков высокого резрешения всё в порядке: качество Blu-ray в полном разрешении FullHD (1920x1280) радует неимоверно. Зато требуемая мощность процессора печалит: обычно нужен хотя двухядерный Intel Core 2 Duo, да и его не всегда хватает. Чтобы хватало, стоит поставить фильтр <a href="http://www.coreavc.com/">CoreAVC</a>, который содерит самый быстрый&nbsp; декодировщик H.264 в природе. Если же у вас есть видеокарта с поддержкой аппартного декодирования видео, вроде ATI HD2600 &ndash; имеет смысл поставить плеер PowerDVD, который содерит кодек с поддержкой&nbsp; этой фичи.</p>
<p>Бесплатный же кодек ffdshow на FullHD H.264 тормозит безбожно, как и кодеки всех прочих фирм.</p>
<p>В принципе, тут бы и сказке конец, но из важного стоит упомнуть вот что. Все вышеперечисленные кодеки содержат запатентованные алгоритмы. Это уже звучит идиотски, а на практике ещё хуже &ndash; кодеки или платные, или бесплатные, но не очень законные. К счастью, не все страны признают патенты на алгоритмы, а владельцы предпочитают не преследовать бесплатные кодеки &ndash; пользы мало, а денег уходит много. В любом случае, все эти кодеки (происхождением из концорциума MPEG) используют один и то же базовый алгоритм -&nbsp; block-oriented motion-compensation-based, переводить и рассказывать подробно не стану.</p>
<p>Но уже довольно давно исследуется возможность использовать в сжатии видео вейвлеты (wavelets).&nbsp; В конце-концов доисследовались &ndash; известный много чем британский государственный канал BBC сделал основанный на wavelets кодек <a href="latest block-oriented motion-compensation-based">Dirac</a> . Кроме таких приятных особенностей, как бесплатность и открый код, Dirac также свободен от патентов и крайне эффективен.</p>
<p>Минусы &ndash; мало кто про него знает, почти нет поддержки в софте, и жрёт процессор похлеще H.264. Но это дела поправимые, что что в теории за Дираком будущее, хоть и не ближайшее. Это если не придумают что-нибудь ещё более продвинутое. В любом случае, семейство MPEG никуда не денется, потому что имеет широчайшую поддежку в стандартах вещания и устройствах, да и хорош H.264.</p>
	