Id: 6e64651b-94f6-481f-86d2-3fc7ae328eaf
Title: "Турция"
Published: "2009-04-27"
Slug: "2009-04-27 Турция"
-
<p>Ну, что, вернулся из центра. I’m as ready, as I’ll ever be.</p> <p>Кстати, в тему: китобоу вот показывает чудное про английские слова в русской речи:</p> <p><a title="http://kitobow.livejournal.com/462469.html" href="http://kitobow.livejournal.com/462469.html">http://kitobow.livejournal.com/462469.html</a></p> <p>Чаще меня такое бесит, иногда сам люблю вставить. Просто есть слова, аналоги которых на русском мне лично непонятны, или не вызывают нужных ассоциаций, а то их и вовсе нет. Вот, например, consistency, coupling и cohesion (важные программистские понятия).</p> <p>Насчёт байка.</p> <p>Мне заменили педали, и они больше не хрустят. Ещё я купил в Максиме дешёвое крепление для бутылки и саму бутылку, чуток поломал крепление в шлеме, чтобы он налезал мне на макушку, купил камеру 700C 35-43 Presta (наконец-то появились в продаже), батарейки&nbsp; в велокомп, зарядил батарейки для фар. Ещё взял 5 запасных спиц (2 уже потерял).</p> <p>Потом купил в Депо <strike>страпоны</strike>&nbsp; автомобильные резинки для пристёгивания груза. У меня нет верхней велосумки, вместо неё поедут спальник, коврик и палатка.&nbsp; Депо и подобные ему магазины, кстати, вызывают у меня приязнь: хотя я сам не умелец&nbsp; “Сделай сам”, сама мысль, что люди могут пойти накупить всего, что для этого занятия нужно, радует, потому как связана с моей любовью к науке и техпрогрессу.</p> <p>Ещё я закачал карты Турции в айфон&nbsp; (кое-как, с помощью <a href="http://xgps.xwaves.net/index.php/Downloads">xgps manager</a> и <a href="http://imapsmanager.com/mapConverter/mapConverter.htm">imapconverter</a> для конвертации в формат MotionX GPS). Айфон, кстати, для байк-трекинга годится, но ограниченно: батарейка садится и проги по качеству так себе.</p> <p>Ещё я выучил несколько десятков турецких слов и какие-то совсем базовые обычаи, так что надеюсь, что не пропаду.</p> <p>Плавки Speedo не купил, жаба замучила: 25 латов (50$). Всё-таки закажу в инете, но позже.</p>
	