Id: b3a81f17-ce25-431c-ad7f-6fc12e457a45
Title: "Бог дал, бог взял"
Published: "2009-01-16"
Slug: "2009-01-16 Бог дал, бог взял"
-
<blockquote>   <p>Отличный заголовок.</p>    <p><a href="http://www.readwritGoogle Giveth, and Taketh Awayweb.com/archives/google_giveth_and_it_taketh_away.php">Google Giveth, and Taketh Away</a></p>    <div class="cite">     <p>A number of Google services just announced that they are about to shut down. The Google Video team announced that it will <a href="http://googlevideo.blogspot.com/2009/01/turning-down-uploads-at-google-video.html">shut down uploads</a> in a few months, while the Google Notebook team <a href="http://googlenotebookblog.blogspot.com/2009/01/stopping-development-on-google-notebook.html">announced</a> that it is stopping development (the service will continue to function, however). According to <a href="http://searchengineland.com/google-ends-google-video-uploads-shutters-notebook-catalog-search-dodgeball-jaiku-16166">Danny Sullivan</a>, Google is also closing <a href="http://jaiku.com">Jaiku</a>, a Twitter-like micro-blogging service that was bought by Google before it even launched, but which has lingered in invite-only mode ever since. Google Catalog search, which made shopping catalogs searchable, will <a href="http://booksearch.blogspot.com/2009/01/farewell-google-catalog-search.html">also be closed </a>soon.</p>   </div> </blockquote>  <p>Перевожу с буржуйского. Гугль закрывает ряд сервисов: больше не будет аплоадов видео на гугль видео (советуют идти на ютуб), гугль нотебук (который я пытался использовать) не будет обновлятся, а сервис микроблоггинка Jaiku закрылся, не открывшись.</p>
	