Id: 59b066eb-26dc-43e0-8dac-73bc027e3a91
Title: "Torrent Freak и падение продаж музыки"
Published: "2009-02-28"
Slug: "2009-02-28 Torrent Freak и падение продаж музыки"
-
<p>TorrentFreak, как всегда, интересно пишет. Жаль нет времени его читать целиком, но некоторые статьи я читаю.</p> <p>Вот, например, <a href="http://torrentfreak.com/pirate-bay-witness-wife-overwhelmed-with-flowers-090227/">последняя новость</a>, как жену профессора, что выступал свидетелем на процессе Pirate Bay, завалили цветами.</p> <p>Но ещё интереснее <a href="http://torrentfreak.com/how-to-kill-the-music-industry-090227/">предыдущая</a>: почему падают продажи музыки мейджор-лейблов. Человек приводит довольно правдоподобные причины.</p> <p> Чтобы вам не мучить себя буржуйскими буквами, переведу главные тезисы:</p> <p>1. Деньги для покупки музыки ушли в покупку игр для PC и приставок</p> <p>2. Музыку теперь легко купить дешевле и проще из-за границы. </p> <p>3. CD и mp3 в отличие от винила и кассет не портятся, покупать их повторно – не надо. Плюс можно купить подержанную.<strong> Мой комментарий: только если есть бэкапы, а их мало кто делает. </strong></p> <p>4. Благодаря дешевизне и простоте процесса записи, появилось много независимых музыкантов и лейблов, которые отбирают кусок рынка у мейджоров. <strong>Мой комментарий: не верится мне в эдакую идиллию. Инди сейчас разоряются, доходы их падают.</strong></p> <p>5. Можно купить mp3, вместо дисков.<strong> Я так и делаю.</strong></p> <p>6. Много бесплатной музыки – в интернете, на радио, ТВ. <strong>Это правда, взять хотя бы Last.Fm.</strong></p> <p>7. Кроме игр, есть много других развлечений, съедающих доходы от музыки.</p> <p>8. Вместо альбомов люди покупают синглы в цифровом виде. Они этого и хотели, да и мейджоры их приучали к хитам.</p> <p>Вывод автор делает простой и древний – мейджоры сами виноваты в своих бедах, самим надо было внедрять новые цифровые методы продажи и раскрутки, а не тормозить.</p>
	