Id: 7afb032b-113e-4e51-b021-c058eb5f8d33
Title: "Коммунальные платежи"
Published: "2009-02-14"
Slug: "2009-02-14 Коммунальные платежи"
-
<p>Читателям из других стран <strike>нафиг не сдалось</strike> интересно узнать, сколько я только что заплатил за коммунальные услуги за прошлый месяц.</p> <p>И мне не так скучно будет заполнять квитанции в электронном банке. Кстати, у нас ебанки работают замечательно, и пользуются ими практически все, у кого есть интернет.</p> <p>Тепло и горячая вода: <strong>56.27</strong> Ls – нет счётчиков воды, 1 комната и кухня, 34 метра квадратных<br>Электричество: <strong>14.41</strong> Ls – 194 киловатта<br>Холодная вода: <strong>7.58</strong> Ls – нет счётчиков<br>Обслуживание дома кооперативом: <strong>8.84</strong> Ls<br>Газ – пока не знаю, думаю что около <strong>4</strong> Ls<br>ТВ и стационарного телефона у меня нет</p> <p>Добавьте сюда интернет, и выйдет <strong>стольник</strong>.</p> <p>По нынешнему курсу это 182 буказоида или 6300 руров. Оно же - 141 юро или же 126 паундов. Других валют, пожалуй, мои читатели обычно не используют.</p> <p>Что касается цифр, то тепло конечно ввергает в шок. Это при том, что у меня часто холодно и я периодически включаю электрический масляный обогреватель. Но что радует – он сожрал не 300 ватт, как в прошлом месяце. Во-первых, стало теплее, а во-вторых, я поумнел и включаю его только на ночь и только на четверть мощности. Этого хватает, чтобы не замёрзнуть под полутора одеялами (в качестве второго выступает <a href="http://lurkmore.ru/%D0%A2%D0%9A%D0%9F">ТКП</a>).</p>
	