Id: e858b77d-cd9a-4da3-9098-b844a6cbdb94
Title: "Роберт Фрипп"
Published: "2009-04-21"
Slug: "2009-04-21 Роберт Фрипп"
-
<p>Редкий вирусный ролик стоит моей драгоценной ссылки.</p><object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/llgXi8PsYIQ&amp;hl=ru&amp;fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/llgXi8PsYIQ&amp;hl=ru&amp;fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="344"></embed></object>
	