Id: a29aebd0-ccb6-4aa4-b112-25b845f47e97
Title: "Чёрная полоса"
Published: "2009-01-17"
Slug: "2009-01-17 Чёрная полоса"
-
<p>Вот я в прошлом посте написал, что у меня чёрная полоса в жизни.</p>  <p>Хорошо, потерянный паспорт и побитое плечо – тут я сам виноват. Больное горло – тут уже меньше, потому что ходил в шапке и берёгся, вот разве что один раз при открытом окне сидел.</p>  <p>Но какого чёрта, спрашивается, закрывают тренажёрный зал в моём районе?</p>  <p>Я специально переехал обратно на Новый Форштадт (ранее первомайка), чтобы ходить в лучший зал в городе, не считая центрального. И тут владелец/тренер по имени Иван сообщает, что арендная плата и посещаемость таковы, что он уже какой месяц еле-еле сводит концы с концами, и дальше так не может. Это уж никак не моя вина. Но в долгосрочной перспективе для меня это хуже всего остального, вместе взятого.</p>  <p>Тут ещё важно упомянуть, что я обычно капиталистов ругаю. Но в основном это мегакорпорации и прочие жадные уроды, а не мелкие предприниматели – их я, наоборот, поддерживаю. Например, мой интернет-провайдер – небольшая фирма <a href="http://ww.richnet.lv">richnet</a> , а не монополисты <a href="http://dautkom.lv">Dautkom</a> или <a href="http://lattelekom.lv">Lattelkom</a>.</p>  <p>А мегкорпорации опять выплыли, потому что нахватали бабла от правительства. Я не стану говорить, “let them burn”, как это модно в американской либеральной среде, но почему мелкие фирмы не получают поддержки?</p>  <p>Правда, может такое быть, что хозяин недостаточно предприимчив, и не рассмотрел все варианты. С другой стороны, сейчас кризис, а рижские фирмы почему-то к нам не идут – видимо, не тот размер рынка. А я сейчас готов даже продаться капиталистам – пусть приходят всякие <a title="http://www.cityfitness.lv/" href="http://www.cityfitness.lv/">http://www.cityfitness.lv/</a> со своими дикими ценами в 57 латов в месяц.</p>  <p>P.S. И где, блять, спрашивается, ёбаный МВФ со своим огромным займом Латвии? Вот нету, когда нужен.</p>  <p>P.P.S. К счастью, есть ещё бассейн, он в школе, поэтому есть шанс, что не закроют.</p>
	