Id: 805ab29f-af8c-4246-b261-cbca6159e0dd
Title: "Новое видео M.I.A. – Born Free"
Published: "2010-04-27"
Slug: "2010-04-27 Новое видео M.I.A. – Born Free"
-
<object width="400" height="225"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=11219730&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=11219730&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="400" height="225"></embed></object>  <p><a href="http://vimeo.com/11219730">M.I.A, Born Free</a> from <a href="http://vimeo.com/user3148077">ROMAIN-GAVRAS</a> on <a href="http://vimeo.com">Vimeo</a>.</p>  <p>Я уже в твиттере линк запостил, но поскольку есть к нему комментарий, напишу и тут. M.I.A. <a href="http://community.livejournal.com/ohnotheydidnt/45685085.html">в&#160; интервью</a> упрекает Леди Гага в неоригинальности и копировании, а сама изображает тру-хипстера. Доля правды в этом есть, и я, конечно, к M.I.A. испытываю симпатию. Гага же мне пофиг.</p>  <p>Но у любого меломана, включившего видео выше, неизбежно возникнут ассоциации с коллективом Suicide и вопрос: чем деятельность M.I.A. в таком случае отличается от таковой у Гаги?</p>
	