Id: 8a4b995d-0dec-40d4-96ee-fc51332a8da4
Title: "Поросёнок Питер и трактор Ламборджини"
Published: "2010-06-02"
Slug: "2010-06-02 Поросёнок Питер и трактор Ламборджини"
-
<p><a href="http://rus.delfi.lv/news/daily/criminal/pohischennye-v-irlandii-eksklyuzivnye-traktora-gotovili-k-otpravke-v-latviyu.d?id=32259625">С делфи</a></p>  <div style="border-bottom: black 1px solid; border-left: black 1px solid; background-color: #eeffff; font-style: normal; margin: 20px; padding-left: 20px; padding-right: 20px; display: block; border-top: black 1px solid; border-right: black 1px solid">   <p>Ирландская полиция предотвратила тщательно спланированную преступную операцию, в рамках которой в страны Восточной Европы через Латвию собирались отправить три краденых эксклюзивных трактора Lamborghini.</p> </div>  <p>Если уж сваливать на сраном тракторе, то пусть он будет Ламборджини!</p>  <p>Специально для моих немемизированных читателей, пояснение известной картинкой:</p>  <p><a href="/files/blogengine/Petr_20.jpg"><img style="border-bottom: 0px; border-left: 0px; display: block; float: none; margin-left: auto; border-top: 0px; margin-right: auto; border-right: 0px" title="Petr_20" border="0" alt="Petr_20" data-src="/files/blogengine/Petr_20_thumb.jpg"   /></a></p>
	