Id: 7c0f8ace-6f16-4b64-aaad-416bec4ddf66
Title: "А вы говорите"
Published: "2010-10-12"
Slug: "2010-10-12 А вы говорите"
-
<div style="border-bottom: black 1px solid; border-left: black 1px solid; background-color: #eeffff; font-style: normal; margin: 20px; padding-left: 20px; padding-right: 20px; display: block; border-top: black 1px solid; border-right: black 1px solid"> <p>Латвия занимает 18-е место в мире по обеспечению равноправия полов, считают авторы исследования Всемирного экономического форума.</p></div> <p><a href="http://rus.delfi.lv/news/daily/latvia/rejting-ravnopraviya-polov-latviyanbsp-na-18-m-meste.d?id=34583695">Как бы говорит нам Дельфи</a></p> <p>Не всё у нас хуже всех. С другой стороны, многие люди у нас консервативные гендершовинисты, и для них это не показатель того, что мы всё-таки Европа.</p>
	