Id: 22deab35-e107-409b-9f6b-e28139db9d76
Title: "Про игры"
Published: "2010-12-03"
Slug: "2010-12-03 Про игры"
-
<p>Кто мечтал легально играть в старые игры, их оказываются недорого продают.</p> <p><a title="http://www.gog.com/en/frontpage/" href="http://www.gog.com/en/frontpage/">http://www.gog.com/en/frontpage/</a></p> <p>Ещё я вчера скачал Цивилизацию V. Уже полгода ни во что не играл, кроме Portal да и видеокарта не позволяет. </p> <p>Civilization круто, но </p> <p>1. Интерфейс местами странный - неочевидно состояние юнитов и их намерения. Я катапульту случайно на море отправил, из-за чего потерял пару ценных юнитов при осаде города.</p> <p>2. Автоматический AI для городов и "советники" хорошо работают, но в некоторых местах вообще не работают - например, тайлы надо вручную покупать, иначе безработица.</p> <p>3. Не совсем понятно про "luxury" - когда они поступают в твою торговую сеть? Дорогу к городу-государству обязательно строить или как?</p> <p>4. Время быстро идёт, если сравнивать с количеством ходов.&nbsp; Пока не понял, как побыстрее оборачиваться.</p> <p>5. Из-за того, что игра трёхмерная, на моей видеокарте она слегка тормозит. Увы, позволить себе купить видяху даже за 150$ я не могу - слишком много других важных вещей есть. У меня даже стиральной машины пока нет.</p> <p>Вообще, конечно, игры зло. Но иногда можно, всё равно башка не варит ни на что разумное, доброе и вечное сейчас, пока болею. (Да, всё ещё болит горло, уже таблетки ем, что поделаешь).</p>
	