Id: 86397814-dd8b-40fa-a3a2-0246b940470c
Title: "Новояз и двоемыслие"
Published: "2010-05-12"
Slug: "2010-05-12 Новояз и двоемыслие"
-
<p>Спасите нас от юридических формулировок.</p>  <div style="border-bottom: black 1px solid; border-left: black 1px solid; background-color: #eeffff; font-style: normal; margin: 20px; padding-left: 20px; padding-right: 20px; display: block; border-top: black 1px solid; border-right: black 1px solid">Гайлитис сообщил, что обыск проведен законно, однако противоречит закону об охране источников информации. </div>  <p><a href="http://rus.delfi.lv/news/daily/criminal/delo-hakera-neo-policiya-obyskala-dom-zhurnalistki-sam-haker-vozmozhno-uzhe-zaderzhan.d?id=31826543">полиция обыскала дом журналистки, сам хакер, возможно, уже задержан</a></p>
	