Id: 79921d68-864e-4d9e-be96-a068e7618256
Title: "Про хлебный суп"
Published: "2010-05-08"
Slug: "2010-05-08 Про хлебный суп"
-
<p><a href="/files/blogengine/3843073241_cc76aecf1d.jpg"><img style="border-bottom: 0px; border-left: 0px; display: block; float: none; margin-left: auto; border-top: 0px; margin-right: auto; border-right: 0px" title="3843073241_cc76aecf1d" border="0" alt="3843073241_cc76aecf1d" data-src="/files/blogengine/3843073241_cc76aecf1d_thumb.jpg"   /></a></p>  <p> Путём нехитрых манипуляций, выяснилось, что мой блог читают совсем немного людей, которым не лень ответить на простой вопрос. Друг познаётся в комментах!</p>  <p>Ладно. Хлебный суп – традиционное прибалтийское блюдо, десерт. Википедия нам говорит, “Основа хлебного супа — ржаной <a href="http://ru.wikipedia.org/wiki/%D0%A5%D0%BB%D0%B5%D0%B1">хлеб</a>, испечённый с подслащающими ферментными добавками (<a href="http://ru.wikipedia.org/wiki/%D0%A1%D0%BE%D0%BB%D0%BE%D0%B4">солодом</a>, патокой).”</p>  <p>Потом из хлеба делают сухари, кидают в кипящую воду с сахаром или мёдом. После полного остывания добавляют сливки, фрукты и прочее по вкусу.</p>  <p>На вкус и консистенцию продукт специфический, но многим нравится, мне в том числе. Блюдо очень калорийное, так что лучше не злоупотреблять. </p>  <p>Спросил я потому, что раньше не задумывался, что это наше традиционное блюдо, и люди из других стран про него вообще не слышали даже. Для меня это удивительно, потому что штука простая и всем доступная. Будете в нашем регионе -&#160; попробуйте. </p>  <p>Ну или измельчите сухари, добавьте сахар, поварите в кипящей воде 5-8 минут, охладите и подавайте украшенным сливками. Вот и весь рецепт.</p>
	