Id: e37d3cb9-2746-4d1b-ab05-58616fbec7b1
Title: "Амстердам и Лондон - 3, Ночь музеев"
Published: "2010-12-02"
Slug: "2010-12-02 Амстердам и Лондон - 3, Ночь музеев"
-
<p>Прилетели мы в Амстердам именно 6 ноября не просто так - в это число там проходит ночь музеев, называемая также&nbsp; <a href="http://www.n8.nl/">n8</a> (читается как "ночь" на голландском). Вот в Европе люди не парятся - назвали официальное мероприятие слегка неформально, и ничего.</p>
<p>Кстати, на всякий случай. "Голландский" на английском будет "dutch", и никак иначе. Многие путают с датским - "danish".</p>
<p align="left">Ночь музеев в Амстердаме не бесплатная, билет стоил 13 латов. В эту цену, правда, входят всякие разные мероприятия и инсталляции в 50 местах, плюс бесплатный транспорт (любой), плюс одно посещение любого участвующего в акции музея после ночи. В целом, это выгодно, если сходить хотя бы на пару акций в саму ночь, потому что отдельный поход в музей вам и так обойдётся в половину этой суммы, транспорт тоже недёшев.</p>
<p align="center"><a href="/files/blogengine/IMG_2164.jpg"><img data-src="/files/blogengine/IMG_2164_thumb.jpg" border="0" alt="IMG_2164"   /></a>&nbsp;</p>
<p align="left">Амстердам называется Амстердамом, потому что стоит на реке Амстель, которую вы видите на фото. Dam - это дамба. Говорят, в Амстердаме более 1000 мостов.</p>
<p align="left">[more text=Читать про транспорт и наркотики]</p>
<p align="left">Что же касается транспорта, то в Нидерландах действует единый проездной (э-билет по-нашему, наверное). Он из себя представляет пластиковую карту стоимостью 7.5 евро, на которую можно в автомате или онлайн положить денег. Купить карту можно на центральном вокзале или в метро (в автомате). Называется она <a href="http://www.ov-chipkaart.nl/allesoverdeov-chipkaart/kostenenopladen/tarievenlijst/">OV-chipcard</a>, ездить позволяет на трамваях, автобусах, метро и поездах (может ещё на чём). Чтоб ею воспользоваться, достаточно приложить карту к турникету/считывателю. Очевидно, используется технология RFID. Важно приложить карту и при <strong>выходе </strong>тоже, чтобы система могла посчитать, сколько вы проехали, иначе заплатите очень много.</p>
<p align="left">Цены на поездку вычисляются так: фиксированнная часть+цена за расстояние в километрах. Фиксированная часть берётся за посадку, если же пересаживаешься в течении 35 минут, второй раз не берётся. Любопытно, что километры карта считает не по времени, когда вы её к сканеру приложили, а по остановкам, что весьма логично, всё равно не вылезете раньше , чем дверь откроется.</p>
<p align="left">Для <a href="http://www.gvb.nl/english/travellers/tickets-and-fares/ov-chipkaart-travel-products/Pages/ov-chipkaart-travel-products.aspx">городского транспорта</a> (трамвай, например) фиксированная часть сейчас 0.78 евро. За километр&nbsp; - 0.104 евро.</p>
<p align="left">Есть и другие виды билетов, где поездки не ограничены, но не думаю, что они сильно выгоднее, даже если много ездить, ибо слишком много стоят. Например, билет на один день стоит 7.50 евро. Это надо проехать больше 60 км за сутки - туристу это обычно ни к чему.</p>
<p align="left">Ещё важный момент: входить и выходить в двери трамвая надо по пиктограммам - есть двери только для выхода или входа. Иногда дверь снаружи травмвая можно открыть, проведя около неё картой (или нажав на кнопку? не помню).</p>
<p align="center"><a href="/files/blogengine/IMG_2169.jpg"><img data-src="/files/blogengine/IMG_2169_thumb.jpg" border="0" alt="IMG_2169"   /></a>&nbsp;</p>
<p align="center">Кто заблудился? Я заблудился?</p>
<p align="left">Это мы не в ту сторону пошли. Панк настаивал, чтобы мы шли пешком, чтобы "посмотреть амстердам" в результате чего мы уже заранее устали, пройдя лишние 5 км. Посмотреть, к счастью, посмотрели. На улице woustraat очень много магазинов с овощами и фруктами, просто сердце радуется у такого овощееда, как я. Цены разные, частенько лучше чем у нас. Бананы по 1 евро, например бывают. Даже поговорили с симпатичной девушкой-продавщицей, на вид правда восточного просихождения, на на английском говорила шустро.</p>
<p align="left">Ещё так вышло, что нам недалеко было до лучшего дёнера (кебаба) в Амстердаме, судя по путеводителям, поэтому мы зашли. Называется lehman doner, находится на <em>Woustraat</em> 160. Забавно, но он был очень вкусный и очень дешёвый, прямо как написано. 2 евро любой вид с любым мясом. Обычно кебаб в Амстердаме стоит 3-5 евро и на вкус весьма средний.</p>
<p align="center"><a href="/files/blogengine/IMG_2171.jpg"><img data-src="/files/blogengine/IMG_2171_thumb.jpg" border="0" alt="IMG_2171"   /></a>&nbsp;</p>
<p align="left">Какой-то памятник в виде колец. Скучноват.</p>
<p align="center"><a href="/files/blogengine/IMG_2187.jpg"><img data-src="/files/blogengine/IMG_2187_thumb.jpg" border="0" alt="IMG_2187"   /></a>&nbsp;</p>
<p align="center">Странный фруктовый супермаркет в подвале. Платить можно только карточкой - первые раз такое вижу, кроме заправок.</p>
<p align="center"><a href="/files/blogengine/IMG_2190.jpg"><img data-src="/files/blogengine/IMG_2190_thumb.jpg" border="0" alt="IMG_2190"   /></a></p>
<p align="center">"Три сестры"</p>
<p align="center"><a href="/files/blogengine/IMG_2192.jpg"><img data-src="/files/blogengine/IMG_2192_thumb.jpg" border="0" alt="IMG_2192"   /></a>&nbsp;</p>
<p align="left">Это смартшоп. В отличие от кофешопа, тут нельзя купить марихуану, и тем более её курить. Зато тут продаются другие лёгкие наркотики и стимуляторы. Наркотики вроде галюциногенных грибов, кратома, сальвии у нас почти все запрещены. Стимуляторы вроде гуараны, напротив, у нас популярны, правда обычно в составе "энергетических" напитков. Употреблять наркотики в смартшопе и на улице не рекомендуются, но обычно полиция ничего не скажет, лишь проследит, чтобы вы не причинили вред себе и другим. Я в амстердаме вообще полицию видел редко, и занималась она совсем не укуренными туристами, так что по этому вопросу волноваться не стоит.</p>
<p align="left">Если у вас возникло желание слопать каких-нибудь веществ, будьте внимательны и осторожны - спросите продавца, как это правильно делать, и какой эффект, не мешайте разные наркотики и алкоголь, и не гуляйте после употребления по улице. Люди, которые не пробовали раньше других наркотиков, кроме алкоголя и табака, часто имеют очень неправильное представление об их действии, что иногда приводит к неприятным результатам.</p>
<p align="left">В целом, это достаточно безобидное дело - зайти в кофешоп, выкурить косячок, и посидеть там часик. Это может попробовать каждый без особого риска и последствий.</p>
<p align="left">Я вас, кстати, делать это совсем не призываю - в Амстердаме и так неплохо. Зависит от человека, конечно - некоторым просто так ходить скучно. Можно и традиционно забухать, благо общепитов в Амстере хватает.</p>
<p align="left">В конце-концов мы добрались до центра, и стали искать, что бы нам такого посмотреть на ночь музеев. Снала пошли в Старую Церковь (aude kerk). Там было нудновато - лишь пара умеренно дурацких инсталляций. Более интересное действо должно было начаться позже.</p>
<p align="center"><a href="/files/blogengine/IMG_2204.jpg"><img data-src="/files/blogengine/IMG_2204_thumb.jpg" border="0" alt="IMG_2204"   /></a></p>
<p align="center">Под лампу насыпали лепестки, вот такое современное искусство</p>
<p align="center"><a href="/files/blogengine/IMG_2205.jpg"><img data-src="/files/blogengine/IMG_2205_thumb.jpg" border="0" alt="IMG_2205"   /></a>&nbsp;</p>
<p align="left">Не очень-то довольные увиденным, мы отправились искать что-нибудь поинтереснее. Нашли центр современного искусства optofonica с длинной очередью, новую церковь (nieuwe kerk) с выступлениями какой-то афроазиатской этнокоманды и какой-то клуб, где должна была начаться музыка, но пока была живая инсталляция. Всё это мы делали медленно, ибо трудно ориентироваться ночью в городе, где до того не был, и к тому же без карты, которую мы не успели купить (и не знали, где).</p>
<p align="left"><a href="/files/blogengine/IMG_2230.jpg"><img data-src="/files/blogengine/IMG_2230_thumb.jpg" border="0" alt="IMG_2230"   /></a>&nbsp;</p>
<p align="left">Это инсталляция из людей в клубе. Они так сидят очень долго, не меняя поз. Забавно.</p>
<p align="center"><a href="/files/blogengine/IMG_2223.jpg"><img data-src="/files/blogengine/IMG_2223_thumb.jpg" border="0" alt="IMG_2223"   /></a></p>
<p align="center">Это я сижу в кофешопе, и как вам ни странно, пью кофе</p>
<p align="left">Конечно, в интернете про кофешопы информации <a href="http://www.coffeeshop.freeuk.com/">более</a> чем достаточно, но раз уж взялся, то расскажу. Я вообще не разбираюсь, просто пересказываю вам факты, которых начитался и подметил тоже.</p>
<p align="left">Кофешопов в Амстердаме много - от 150 до 300 штук, точно знает только мэрия. Новые кофешопы с некоторых пор открывать запрещено, передавать лицензию тоже. То есть если закрылся, то навсегда (или пока правила не изменят). Кофешопы на окраинах обычно непрезентабельные, зато можно купить небольшое количество травы - от 0.6 грамма. В центре минимум 1.5, обычно 2. Стоят они 12-15 евро, хватит этого очень надолго.</p>
<p align="left">Трава бывает разного качества, если хотите какую-то особую, узнайте, какой кофешоп славится заранее. Сортов много, но это большей частью маркетинг. На самом деле конечно, отличаются, но только только в двух направлениях. Они на английском называются stoned и high. Если у вас нет опыта, или вы не любитель быть тупым и погружённым в себя (stoned), то попросите high или more sativa-like.</p>
<p align="left">Курить можно, сделав косяк. Бумагу дают бесплатно. Поскольку с табаком ныне траву мешать запрещено, дают или продают также наполнитель - безвредное растение, которое можно забить, чтобы косяк получился побольше размером и долго тлел. С моей точки зрения это глупо - больше вредного дыма в лёгких, меньше эффекта.</p>
<p align="left">Ещё можно курить из трубки, стоит она 4-10 евро в сувенирном магазине или на блошином рынке.</p>
<p align="left">Продавцы в кофешопах часто курят табак, хоть это и запрещено. Реже курят траву. Публика в кофешопах разная, но вполне цивилизованно всё, опасаться нечего. Никто не буянит, и особо не ржёт, тихонько сидят себе и дымят неспешно.</p>
<p align="left">Кофешопы особенно сконцентрированы вокруг района красных фонарей, про который я расскажу позже, но и так встречаются часто. Можно и карту кофешопов купить, хотя смысла в ней немного. В чём есть смысл - так это искать кофешоп уютный, с мягкими креслами/диваном и пряитной обстановкой, типа попугаев рядом, как в одном были. Если там есть посетители - это, по-моему, даже лучше, потому как приятно, вроде как европейское кафе получается, атмосферно.</p>
<p align="left">Кроме травы, в кофешопах продают гашиш. Если "трава", то есть марихуана это цветки или листья растений, то гашиш - смола или пыльца. Разницы особой нет, разве что гашиш лучше тлеет и вроде как по действию должен быть мягче, хотя другие источники говорят, что наоборот, сильнее.</p>
<p align="left">Если вы не любитель втягивать дым в лёгкие, но попробовать действие травы хочется, купите что-нибудь съедобное с тетрагидраканнбинолом (то самое вещество, которое действует). Обычно это space cake или space cookie, то есть кекc/пирожное или печенье. Ещё можно чай (space tea) купить. Будьте осторожны, действуют они медленно и легко получить передозировку, так что следующий ешьте не раньше 2 часов после первого. Если у вас масса тела большая, можете съесть полторы штуки сразу, но не больше.</p>
<p align="left">Стесняться зайти в кофешоп и купить травы не следует, если вам хочется. Для работников и посетителей кофешопа он почти ничем не отличается от бара, куда вы зашли по пиву выпить, поэтому они и относится к вам будут как к обычному клиенту, а вовсе не наркоману или надоедливому/испуганному туристу, как вам может показаться.</p>
	