Id: d0b26207-ea76-4b64-a0a9-d1cd480cae1b
Title: "Покатались в Аглону с ночёвкой"
Published: "2010-06-28"
Slug: "2010-06-28 Покатались в Аглону с ночёвкой"
-
<p>Два дня ехали, с ночёвкой в палатке. </p> <p><iframe height="700" marginheight="0" src="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=113073638999015652203.00048a0680606ab90cdd5&amp;ll=56.077401,26.803894&amp;spn=0.298035,0.684395&amp;output=embed" frameborder="0" width="700" marginwidth="0" scrolling="no"></iframe><br><small>View <a style="text-align: left; color: #0000ff" href="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=113073638999015652203.00048a0680606ab90cdd5&amp;ll=56.077401,26.803894&amp;spn=0.298035,0.684395&amp;source=embed">Aglona bike 27 june 2010</a> in a larger map</small></p> <p><small>[more text=цифры и факты]</small></p> <p><a href="/files/blogengine/2010-06-27_20-50_2.jpg"><img style="border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px; border-left-width: 0px" border="0" alt="2010-06-27_20-50" data-src="/files/blogengine/2010-06-27_20-50_thumb.jpg"  ></a> </p> <p><a href="/files/blogengine/2010-06-27_20-52.jpg"><img style="border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px; border-left-width: 0px" border="0" alt="2010-06-27_20-52" data-src="/files/blogengine/2010-06-27_20-52_thumb.jpg"  ></a> </p> <p>Много было по грунтовкам, в целом ничего так, посмотрели всякое интересное. Обычно я скептически отношусь в лозунгу "Развиваем сельский экотуризм в Латвии", но Англонский регион реально крут. </p> <p>Пояснения и фотографии потом. Чёрт знает, когда, потому что начинается рабочая неделя.&nbsp; Но вообще сегодня неслабо осилили: 110 км, половина небось по грунтовкам. Я сгорел, конечно.</p>
	