Id: c84cf0ab-afd8-4313-a43a-6911053c1b79
Title: "Хм"
Published: "2010-09-16"
Slug: "2010-09-16 Хм"
-
<p>Ну что тут скажешь, верно отражает мой жж.</p> <table style="border-bottom: #dddddd 1px solid; border-left: #dddddd 1px solid; width: 260px; border-top: #dddddd 1px solid; border-right: #dddddd 1px solid" border="0"> <tbody> <tr> <td style="text-align: center; padding-bottom: 8px; background-color: #8a0610; margin: 0px; padding-left: 8px; padding-right: 8px; font: 16px arial; color: #ffffff; padding-top: 8px" background="http://fun.live1000.ru/bkg_top.gif">ХОККУ ОТ LIVE1000</td></tr> <tr> <td style="text-align: left; padding-bottom: 18px; background-color: #ffffff; padding-left: 18px; padding-right: 18px; font: 12px arial; color: #000000; padding-top: 18px" background="http://fun.live1000.ru/bgr1.gif"> <div align="left"><img border="0" alt="" src='/files/80FC16B2C89C6230CF4D78622912B3E1.gif'  width="34" height="26"><span style="font-size: medium"><strong>Vladekk</strong></span></div><br>исландию послушал<br>кемпинга и кебаба.<br>прикольных людей<br> <p align="right"><img border="0" alt="" src='/files/EE67DDE156FA01D0DE27FACD9B2827F3.gif' ></p></td></tr> <tr> <td style="text-align: center; padding-bottom: 8px; background-color: #8a0610; margin: 0px; padding-left: 8px; padding-right: 8px; font: 12px arial; padding-top: 8px" background="http://fun.live1000.ru/bkg_btm.gif"><a style="color: #ffffff" href="http://fun.live1000.ru">Составить хокку!</a></td></tr></tbody></table>
	