Id: 83c42aa7-a48a-4d9c-aef2-452480687005
Title: "Пойду сейчас голосовать"
Published: "2010-10-02"
Slug: "2010-10-02 Пойду сейчас голосовать"
-
<p>Я сейчас посмотрел программы партий, но пользы от этого - кот наплакал. Понял по крайней мере, что "зелёные и крестьяне" это не только националисты, но ещё и антинаучные мракобесы. Остальные партии или националисты, или их члены давно в политике, тоже счастья мало.</p> <p>Вот, кстати, я примерно так себе всё и представлял, как в <a href="http://rus.delfi.lv/news/vibori_2010/opinion/vladimir-linderman-golosuj-razumom.d?id=34302959">этой статье</a></p> <p>В итоге голосую за Центр Согласия. Не потому, что это супер-вариант, а потому, что там вызывающий мою симпатию Цилевич (к сожалению, только в рижском списке) и про другие партии я совсем мало знаю.</p> <p>ЗаПЧЕЛ тоже ничего, но меня не очень-то волнуют супер-радикальные улучшения жизни русскоязычных и всё такое. Тем более, что ЗаПЧЕЛ, даже если пройдёт, всё равно мало мест получит. Татьяна Жданок хорошая тётя, но тут уже приходится выбирать. Ещё и риторика у ЗаПЧЕЛ вызывает идиосинкразию, слишком уж плакатная и рассчитана на русскоязычных пролетариев.</p> <p>Я сильно сомневаюсь, что наш выбор что-то сильно поменяет в судьбе страны, но по крайней мере у власти не будут нацики и не будут те, кто уже был. Если повезёт, хотя бы российское бабло частично потечёт и к нам, поскольку ЦС декларирует, что необходимо упростить и увеличить бизнес с Россией. </p> <p>Если коалиция, кстати, будет с Единством - не худший вариант. Как я понял, Единство за либеральный подход - то есть против церковных мракобесов, уроков религии в школах и лицемерной запретительной "морали". Это, конечно, не спасёт нас от экономического коллапса, но хоть тонуть будет не так муторно.</p> <p>А из списка ЦС в Латгале, говорят, надо вычёркивать Бурунова, типа он ворует много. </p>
	