Id: 42895d87-acff-4311-91db-79181c8c2629
Title: "Игра Portal"
Published: "2010-05-18"
Slug: "2010-05-18 Игра Portal"
-
<p><a href="/files/blogengine/1_thumb_1.jpg"><img style="border-right-width: 0px; display: block; float: none; border-top-width: 0px; border-bottom-width: 0px; margin-left: auto; border-left-width: 0px; margin-right: auto" title="portal 03 resized" border="0" alt="portal 03 resized" data-src="/files/blogengine//files/blogengine/1_thumb_1.jpg"   /></a>&#160;</p>  <p>Я вчера увлёкся и прошёл&#160; до конца игру Portal. До того уже и не помню, когда на PC игры запускал. А тут её раздают бесплатно, и на реддите заплюсовали, так что решил посмотреть.</p>  <p>Она мне очень понравилась, практически крышу снесла тотально. Только о ней и пару дней и думал. Очень понравились сюжет, юмор и игровая механика.</p>  <p>Сюжет состоит в том, что ты выступаешь в роли подопытного кролика в экспериментах по использованию портативного устройства,(“пушки”) позволяющего открывать телепорты (“порталы”). Указания из динамиков тебе даёт приятный женский, слегка специально “компьютерный” голос искусственного интеллекта, обладающего к тому же отличным “бюрократическим” чувством юмора.</p>  <p>Игровая механика незамысловата, но затягивает. Объяснять бессмысленно, надо самому испытать. Если первые несколько уровней покажутся скучными, попробуйте пройти чуть дальше. Portal не совсем шутер, и особых навыков/реакции не требует, да и Save/Load работает.</p>  <p>Чтобы скачать игру, нужно поставить приложение Steam, сделать это можно на <a href="http://store.steampowered.com/app/400">оф. сайте</a>.</p>  <p>Ещё можно посмотреть вводное видео:</p>  <p><a title="http://store.steampowered.com/video/400" href="http://store.steampowered.com/video/400">http://store.steampowered.com/video/400</a></p>
	