Id: 13c3f4fd-328b-45ce-aaff-d807a259bf88
Title: "Вредителями риса являются щитни, представители жаброногих."
Published: "2010-06-23"
Slug: "2010-06-23 Вредителями риса являются щитни, представители жаброногих."
-
<p>Жизнь идёт, хоть и не совсем так, как мне хотелось бы.</p> <ul> <li>Я случайно постирал свои наушники Etymotic 6i, теперь левое ухо играет слабее правого.</li> <li>Втулка заднего колеса байка сломалась окончательно. К счастью, у меня было запасное колесо собрано, заменил на него. Но зубастую резину поставить не удалось - не влезает в раму.</li> <li>На Лиго дождь, покататься не выйдет. Зал, как назло, тоже закрыт. С одной стороны - это хорошо, что работники отдыхают, с другой - посетители не могут отдохнуть, а их, как ни крути, больше.</li> <li>Велик к сезону так и не настроил, езжу как придётся. Никак не могу вырваться с работы, которая в последнее время даёт жару так, что пошевелится не могу.</li> <li>Порядок дома навёл на четверть, думаю за праздники и выходные ещё четверть осилить.</li> <li>Новая <a href="http://www.webplanet.ru/news/gadgets/2010/06/04/nokia_bicycle_chrgr.html">зарядка Nokia</a>, позволяющая заряжать мобильники от динамо-машины велосипеда, уже продаётся в велоориентированных регионах типа Китая. Говорят, люди на <a href="http://search.taobao.com/search?q=%C5%B5%BB%F9%D1%C7%D7%D4%D0%D0%B3%B5%B3%E4%B5%E7%C6%F7">аукционе Таобао</a>, где только китайский язык и доставка только в Китай, умудряются покупать вещи, причём даже одежду. Но я, пожалуй, подожду пока Нокиа в США девайс выпустит, благо он мне не к спеху. Хотя хочется сильно - окончательное решение всех моих проблем с мобильным электричеством в дальних поездках.</li></ul>
	