Id: 83eb2050-1db9-428c-9dd8-cff0f1a62d18
Title: "Заезд Единства Велосипедистов Латвии №21"
Published: "2011-09-07"
Slug: "2011-09-07 Заезд Единства Велосипедистов Латвии №21"
-
<p>Съездили. Проехал народный заезд, средненько, мог намного лучше, но и так доволен, потому что в прошлом году было место 1140.</p> <p><a href="http://velo.lv/?bsID=2&amp;sGrID=-1&amp;isGR=0&amp;sacID=61&amp;sRsID=1&amp;sRGID=212">Результаты тут</a></p> <p>Моё место в 2011 году - 416 из 2790</p> <p>Время 1:05:18, отставание от лидера +0:12:03, средняя скорость 33,5.</p> <p>Причины в порядке важности</p> <p>1. Не купил батарейку в велокомп, старая разрядилась, и ехал без компа. Не знал, с какой скоростью еду и скоро ли конец, и в итоге слишком экономил силы.</p> <p>2. Покрышки были широкие и зубастые, багажник не снял (см. пункт ниже).</p> <p>3. В предыдущий день ехали мы из Огре в Сигулду 80 км, под дождём. Ехали скучно правда, по асфальту, скрасил вылазку только болотистый лес в начале.</p> <p>4. Ночевали в палатке.</p> <p>5. Носки были мокрые, а бутылку с водой я выронил близко к началу гонки.</p> <p>На следующий год программа-минимум - войти в сотню.</p> <p>Треки под катом, если кому интересно.</p> <p>[more]</p> <p><iframe height="400" marginheight="0" src="https://www.gpsies.com/mapOnly.do?fileId=btnyprbnofdjhiyl" frameborder="0" width="600" marginwidth="0" scrolling="no"></iframe></p> <p>&nbsp;</p> <p><iframe height="400" marginheight="0" src="https://www.gpsies.com/mapOnly.do?fileId=tosdtpnlsnuklotq" frameborder="0" width="600" marginwidth="0" scrolling="no"></iframe></p>
	