Id: 30b3aa79-7f83-42a1-bad4-445799e9bc83
Title: "DaQ.1"
Published: "2011-03-13"
Slug: "2011-03-13 DaQ.1"
-
<p>Однако поиграли вчера в нашу версию Encounter, которую делает и продвигает <img style="border-bottom: 0px; border-left: 0px; padding-right: 1px; vertical-align: bottom; border-top: 0px; border-right: 0px" alt="[info]" data-src="/files/lj/userinfo.gif"  > <a href="http://voljushka.livejournal.com">voljushka</a> с дружиной.</p> <p>Игра называется <a href="http://www.facebook.com/apps/application.php?id=167846869930560&amp;sk=info">Квест по-Даугавпилсски</a>. Я в энкаунтер играл первый раз, в целом было неплохо, но есть над чем подумать. </p> <p>Играли часов 8, проехали и прошли почти 120 км.</p> <p>[more text=Вот вам наши вчерашние метания на картах] </p> <p><embed height="600" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer" width="800" src="http://www.everytrail.com/swf/widget.swf" quality="high" play="true" flashvars="units=metric&amp;mode=0&amp;key=ABQIAAAA_7wvFEi7gGngCZrOfos63hSN1xyBy-BzBD--25ZLXpVi3GfbehTQlZCXdpUFII2A5CGeExVTCyX1ow&amp;tripId=997594&amp;startLat=55.874386&amp;startLon=26.51642&amp;mapType=Terrain&amp;"></embed><br>EveryTrail - Find the <a href="http://www.everytrail.com/best/hiking-california">best hikes in California</a> and beyond <script type="text/javascript" src="http://www.everytrail.com/trip/widgetimpression?trip_id=997594"></script>  </p> <p>&nbsp;</p> <p><iframe height="600" marginheight="0" src="http://maps.google.com/maps/ms?hl=en&amp;ie=UTF8&amp;msa=0&amp;ll=55.903088,26.557125&amp;spn=0.247686,0.617294&amp;msid=217273534236762490986.00049e5b9d81d420d8587&amp;output=embed" frameborder="0" width="800" marginwidth="0" scrolling="no"></iframe><br><small>View <a style="text-align: left; color: #0000ff" href="http://maps.google.com/maps/ms?hl=en&amp;ie=UTF8&amp;msa=0&amp;ll=55.903088,26.557125&amp;spn=0.247686,0.617294&amp;msid=217273534236762490986.00049e5b9d81d420d8587&amp;source=embed">DaQ.1</a> in a larger map</small></p>
	