Id: 8f4b2439-6e92-4b5d-ab66-f6a31a5ef70f
Title: "Kendrick Lamar - good kid, m.A.A.d. city"
Published: "2012-11-29"
Slug: "2012-11-29 Kendrick Lamar - good kid, m.A.A.d. city"
-
<p><a href="http://muzebra.com/artist/Kendrick+Lamar/good+kid%2C+m.A.A.d+city/">Kendrick Lamar - good kid, m.A.A.d. city</a></p>  <p>Решил послушать, что нового в мире. Зашёл на Питчфорк, и нажал best of 2012, слушаю по порядку. Вот этот альбом там первый был, рэп какой-то мейнстримный.</p>  <p>Звук приятный, попсовый, но нравится (старею опять), голос исполнителя тоже. Тексты, как водится, повествуют про тяжёлую жизнь парня из трущоб, вынужденного поступиться своими моральными принципами из-за тяжёлой обстановки вокруг.</p>  <p>Так, в песне The Art Of Peer Pressure сам лирический герой не желал бы употреблять наркотиков или участвовать в криминале, но рядом пропащие братаны, и под их дурным влиянием приходится бухать, траву курить, и участвовать в ограблении, и всё такое.</p>  <p>В песне Good Kid мы слышим жалобы на то, как хороший парень, изучающий библию, не желает присоединяться ни к одной из банд района, и члены обеих банд к нему пристают и издеваются.</p>  <p>Много и про чрезмерное употребление алкоголя, целые бассейны бухла (песня Swimming Pools), про то, как опасно жить в гетто, как легко быть убитым или потерять близкого, про безотцовщину и жажду мести.</p>  <p>Вот какие остросоциальные проблемы волнуют чернокожих американских парней.</p>  <p>Итог: нормулёк, 7/10</p>
	