Id: 0271e704-19d2-4331-b548-ee28de2e3ebf
Title: "Исландия 23, день 11 – Мёртвая хватка"
Published: "2012-10-22"
Slug: "2012-10-22 Исландия 23, день 11 – Мёртвая хватка"
-
<p>Казалось бы, вот оно всё. Сложности и мучения остались позади, катить не так много, погода отличная, впереди – ночная и дневная жизнь Рейкъявика, <span style="text-decoration: line-through;">sex, drugs &amp; rock’n’roll. </span></p>
<p>Нет, не отпускает мёртвая хватка сурового края. Ветер в лицо такой силы, что едва ли возможно проехать 10 километров за час. Усталость, накопившаяся за две недели, вдруг навалилась всей своей тяжестью. Пейзаж уже не вдохновляет: то ли слишком однообразный, то ли приелось любоваться природой, то ли монотонное вкручивание против ветра слишком уж давит на измученный мозг.</p>
<p>То же можно сказать и про мой теперешний рассказ: он так затянулся, что я уже успел в Копенгаген слетать, и бесконечные дифирамбы исландской природе уже не черпаются из информационного поля вселенной с такой лёгкостью.</p>
<p>Перепетии наших мытарств ощущаются ещё сильнее и потому, что периодами или Андрей хмур и зол на мир, или я, так уж мы устроены.</p>
<p>Правда, мне вообще часто приходит мысль, что путешествуют люди беспокойные, у них нередки перепады настроения, и они не довольны тем, что имеют и делают дома. Иначе зачем им куда-то в чужеземные страны стремиться, где мёдом никак не намазано?</p>
<p><span style="text-decoration: line-through;"><a href="/files/blogengine/2012-07-28_13-21-56_226.jpg"><img style="background-image: none; padding-left: 0px; padding-right: 0px; display: block; float: none; margin-left: auto; margin-right: auto; padding-top: 0px; border: 0px;" title="2012-07-28_13-21-56_226" data-src="/files/blogengine/2012-07-28_13-21-56_226_thumb.jpg" alt="2012-07-28_13-21-56_226"   border="0"></a></span></p>
<p align="center">Возвращаться было лень, а другого пути не было, прошли через трубу для скота</p>
<p align="center">[more]</p>
<h2><a href="http://www.everytrail.com/view_trip.php?trip_id=1835781">Iceland Cycling - day 11</a></h2>
<p align="center"><object codebase="http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab" width="800" height="600"><param name="movie" value="http://www.everytrail.com/swf/widget.swf"><param name="FlashVars" value="units=metric&amp;mode=0&amp;key=ABQIAAAA_7wvFEi7gGngCZrOfos63hSN1xyBy-BzBD--25ZLXpVi3GfbehTQlZCXdpUFII2A5CGeExVTCyX1ow&amp;tripId=1835781&amp;startLat=63.830776215&amp;startLon=-21.677864075&amp;mapType=Terrain&amp;"></object> <br>EveryTrail - Find the <a href="http://www.everytrail.com/best/hiking-california">best hikes in California</a>and beyond
<script type="text/javascript" src="http://www.everytrail.com/trip/widgetimpression?trip_id=1835781"></script>
</p>
<p align="center">&nbsp;</p>
<p align="center"><a href="/files/blogengine/2012-07-28_13-40-10_918.jpg"><img style="background-image: none; padding-left: 0px; padding-right: 0px; display: inline; padding-top: 0px; border: 0px;" title="2012-07-28_13-40-10_918" data-src="/files/blogengine/2012-07-28_13-40-10_918_thumb.jpg" alt="2012-07-28_13-40-10_918"   border="0"></a></p>
<p align="center">&nbsp;</p>
<p align="center"><a href="/files/blogengine/2012-07-28_13-40-21_179.jpg"><img style="background-image: none; padding-left: 0px; padding-right: 0px; display: inline; padding-top: 0px; border: 0px;" title="2012-07-28_13-40-21_179" data-src="/files/blogengine/2012-07-28_13-40-21_179_thumb.jpg" alt="2012-07-28_13-40-21_179"   border="0"></a></p>
<p align="center">По пути всё равно красиво: залив</p>
<p align="center"><a href="/files/blogengine/2012-07-28_16-38-20_296.jpg"><img style="background-image: none; padding-left: 0px; padding-right: 0px; display: inline; padding-top: 0px; border: 0px;" title="2012-07-28_16-38-20_296" data-src="/files/blogengine/2012-07-28_16-38-20_296_thumb.jpg" alt="2012-07-28_16-38-20_296"   border="0"></a></p>
<p align="center">Горы и камни, будто ещё и не насмотрелись</p>
<p align="left">Проехали мы едва ли двадцать километров за три часа, и не выдержав, на повороте от побережья к столице остановились на обед. По этой детали несложно понять, насколько измотанными и задолбанными мы были. От такой всепоглощающей усталости я оставил на месте готовки защитный чехол от велосумки, но даже не зол на себя на это: кто там был, тот поймёт.</p>
<p align="left">Дальше стало чуть полегче, ветер ослаб, но зато прибавились спуски и подъёмы. Вы, конечно, извините, что я такими скучными деталями усыпаю рассказ, но запомнилось на всю жизнь.</p>
<p align="center"><a href="/files/blogengine/2012-07-28_16-38-23_169.jpg"><img style="background-image: none; padding-left: 0px; padding-right: 0px; display: inline; padding-top: 0px; border: 0px;" title="2012-07-28_16-38-23_169" data-src="/files/blogengine/2012-07-28_16-38-23_169_thumb.jpg" alt="2012-07-28_16-38-23_169"   border="0"></a></p>
<p align="center">Небо и марсианская почва</p>
<p align="center"><a href="/files/blogengine/2012-07-28_16-38-26_101.jpg"><img style="background-image: none; padding-left: 0px; padding-right: 0px; display: inline; padding-top: 0px; border: 0px;" title="2012-07-28_16-38-26_101" data-src="/files/blogengine/2012-07-28_16-38-26_101_thumb.jpg" alt="2012-07-28_16-38-26_101"   border="0"></a></p>
<p align="center">Андрей и будущий перепад высот</p>
<p><a href="/files/blogengine/2012-07-28_17-00-26_741.jpg"><img style="background-image: none; padding-left: 0px; padding-right: 0px; display: block; float: none; margin-left: auto; margin-right: auto; padding-top: 0px; border: 0px;" title="2012-07-28_17-00-26_741" data-src="/files/blogengine/2012-07-28_17-00-26_741_thumb.jpg" alt="2012-07-28_17-00-26_741"   border="0"></a></p>
<p align="center">Озерцо</p>
<p><a href="/files/blogengine/2012-07-28_17-00-30_351.jpg"><img style="background-image: none; padding-left: 0px; padding-right: 0px; display: block; float: none; margin-left: auto; margin-right: auto; padding-top: 0px; border: 0px;" title="2012-07-28_17-00-30_351" data-src="/files/blogengine/2012-07-28_17-00-30_351_thumb.jpg" alt="2012-07-28_17-00-30_351"   border="0"></a></p>
<p align="center">Силосные башни?</p>
<p><a href="/files/blogengine/2012-07-28_17-00-34_39.jpg"><img style="background-image: none; padding-left: 0px; padding-right: 0px; display: block; float: none; margin-left: auto; margin-right: auto; padding-top: 0px; border: 0px;" title="2012-07-28_17-00-34_39" data-src="/files/blogengine/2012-07-28_17-00-34_39_thumb.jpg" alt="2012-07-28_17-00-34_39"   border="0"></a></p>
<p align="center">Ферма</p>
<p align="left">К счастью, в Исландии всегда есть приятные сюрпризы. В данном случае это те самые булькающие ямы с грязью, которых мы до сих пор не видели, и про которые нам рассказывал норвежец-велосипедист. Около данной конкретной ямы к нам подошёл немец на грузовике, спросил, не надо ли чего, дал воды и шоколадных батончиков. Я бы конечно удивился, но к тому времени эмоции порядком притупились, поэтому только и смог сказать ему, что нам уже очень помогали исландцы, и спасибо за шоколад.</p>
<p><a href="/files/blogengine/IMG_1688.jpg"><img style="background-image: none; padding-left: 0px; padding-right: 0px; display: block; float: none; margin-left: auto; margin-right: auto; padding-top: 0px; border: 0px;" title="IMG_1688" data-src="/files/blogengine/IMG_1688_thumb.jpg" alt="IMG_1688"   border="0"></a></p>
<p><a href="/files/blogengine/2012-07-28_17-14-51_646.jpg"><img style="background-image: none; padding-left: 0px; padding-right: 0px; display: block; float: none; margin-left: auto; margin-right: auto; padding-top: 0px; border: 0px;" title="2012-07-28_17-14-51_646" data-src="/files/blogengine/2012-07-28_17-14-51_646_thumb.jpg" alt="2012-07-28_17-14-51_646"   border="0"></a></p>
<p align="center">Ямы с сернистыми газами прекрасны, круче только вулкан, наверное</p>
<p align="center"><a href="/files/blogengine/IMG_1689.jpg"><img style="background-image: none; padding-left: 0px; padding-right: 0px; display: inline; padding-top: 0px; border: 0px;" title="IMG_1689" data-src="/files/blogengine/IMG_1689_thumb.jpg" alt="IMG_1689"   border="0"></a></p>
<p align="center">Знакомый геолог Александр Гр. мне сказал, что такие ямы называются грязевой вулкан</p>
<p>Тут у нас с Андреем опять вышел <span style="text-decoration: line-through;">грандиозный скандал</span> маленький спор. Место с грязевыми вулканами оказалось популярное, называется <strong>Krýsuvík</strong>, и потому там, конечно, находились автобусы с туристами. Андрей опять заныл, что устал, и крутить педали не хочет. Мне такой подход непонятен: мы всю дорогу проехали сами, и тут всё испортим ради какого-то крошечного куска?</p>
<p>“Кому и зачем ты докажешь, что мы против ветра ехали по шоссе?” – вопрошал Андрей.</p>
<p>“Зачем кому-то что-то доказывать? При чём тут другие, это тебе самому нужно, в первую очередь, чтобы получилось красиво и ладно, и было о чём хорошем в жизни вспомнить” – отвечал я.</p>
<p>Однако, мои ценности ему непонятны, у него другие, поэтому воспринять друг друга не вышло.</p>
<p>Дальше я стёр тройку абзацев слишком конкретных размышлений о сложной сути человеческих взаимоотношений в рамках всеобъемлющей директивы “болтать меньше”.</p>
<p><a href="/files/blogengine/2012-07-28_18-15-28_866.jpg"><img style="background-image: none; padding-left: 0px; padding-right: 0px; display: block; float: none; margin-left: auto; margin-right: auto; padding-top: 0px; border: 0px;" title="2012-07-28_18-15-28_866" data-src="/files/blogengine/2012-07-28_18-15-28_866_thumb.jpg" alt="2012-07-28_18-15-28_866"   border="0"></a></p>
<p>Проехали ещё немножко, и стало веселее: шоссе сменилось макадамом, в просторечии “грунтовкой”. Если у вас всё в порядке с памятью, в отличие от меня, то вы, наверное помните, что в прошлой серии у Андрея треснула рама. Разумеется, спокойствия мне это не добавило: шея по-прежнему болит, Андрей смотрит волком, потому что его заставили крутить педали, а не сидеть в автобусе, горки зверские, ветер не утихает. Однако, как известно, есть только два пути – <span style="text-decoration: line-through;">джа растафари или война</span> ехать дальше, или остаться ночевать без кемпинга.</p>
<p><a href="/files/blogengine/2012-07-28_18-19-12_423.jpg"><img style="background-image: none; padding-left: 0px; padding-right: 0px; display: block; float: none; margin-left: auto; margin-right: auto; padding-top: 0px; border: 0px;" title="2012-07-28_18-19-12_423" data-src="/files/blogengine/2012-07-28_18-19-12_423_thumb.jpg" alt="2012-07-28_18-19-12_423"   border="0"></a></p>
<p align="center">Пейзажи опять внушают уважение</p>
<p align="left">У озера Клейварватн <span style="text-decoration: line-through;">купались</span> фотографировались молодожёны</p>
<p align="center"><a href="/files/blogengine/2012-07-28_18-19-18_648.jpg"><img style="background-image: none; padding-left: 0px; padding-right: 0px; display: inline; padding-top: 0px; border: 0px;" title="2012-07-28_18-19-18_648" data-src="/files/blogengine/2012-07-28_18-19-18_648_thumb.jpg" alt="2012-07-28_18-19-18_648"   border="0"></a></p>
<p align="center"><a href="/files/blogengine/2012-07-28_18-19-21_457.jpg"><img style="background-image: none; padding-left: 0px; padding-right: 0px; display: block; float: none; margin-left: auto; margin-right: auto; padding-top: 0px; border: 0px;" title="2012-07-28_18-19-21_457" data-src="/files/blogengine/2012-07-28_18-19-21_457_thumb.jpg" alt="2012-07-28_18-19-21_457"   border="0"></a></p>
<p><a href="/files/blogengine/2012-07-28_18-28-12_872.jpg"><img style="background-image: none; padding-left: 0px; padding-right: 0px; display: block; float: none; margin-left: auto; margin-right: auto; padding-top: 0px; border: 0px;" title="2012-07-28_18-28-12_872" data-src="/files/blogengine/2012-07-28_18-28-12_872_thumb.jpg" alt="2012-07-28_18-28-12_872"   border="0"></a></p>
<p><a href="/files/blogengine/2012-07-28_18-31-20_258.jpg"><img style="background-image: none; padding-left: 0px; padding-right: 0px; display: block; float: none; margin-left: auto; margin-right: auto; padding-top: 0px; border: 0px;" title="2012-07-28_18-31-20_258" data-src="/files/blogengine/2012-07-28_18-31-20_258_thumb.jpg" alt="2012-07-28_18-31-20_258"   border="0"></a></p>
<p align="center">Грунтовка чередуется с асфальтом</p>
<p align="center"><a href="/files/blogengine/2012-07-28_18-37-26_613.jpg"><img style="background-image: none; padding-left: 0px; padding-right: 0px; display: inline; padding-top: 0px; border: 0px;" title="2012-07-28_18-37-26_613" data-src="/files/blogengine/2012-07-28_18-37-26_613_thumb.jpg" alt="2012-07-28_18-37-26_613"   border="0"></a></p>
<p align="center">Сначала показалось, что ку-клукс клан в изгнании, потому – что цирк тренируется</p>
<p align="left">Оказалось, дорогу строят.</p>
<p align="left"><a href="/files/blogengine/2012-07-28_18-57-26_586.jpg"><img style="background-image: none; padding-left: 0px; padding-right: 0px; display: block; float: none; margin-left: auto; margin-right: auto; padding-top: 0px; border: 0px;" title="2012-07-28_18-57-26_586" data-src="/files/blogengine/2012-07-28_18-57-26_586_thumb.jpg" alt="2012-07-28_18-57-26_586"   border="0"></a></p>
<p>А тут уже построили – очень забавная трасса, прямая как стрела, только вверх-вниз промодулирована. Тут на нас свалилось счастье – ветер наконец-то подул в спину, и по такому прекрасному покрытию наши бисиклеты летели, как моторизированные&nbsp; - 20 км/ч, что после постоянных 8 км/ч до того ощущалось как наличие реактивного двигателя. Я бы и быстрее ехал, но надо же насладится наконец отдыхом, и посмотреть по сторонам без постоянного напряжения четырёхглавых мышц бедра.</p>
<p><a href="/files/blogengine/2012-07-28_18-57-29_382.jpg"><img style="background-image: none; padding-left: 0px; padding-right: 0px; display: block; float: none; margin-left: auto; margin-right: auto; padding-top: 0px; border: 0px;" title="2012-07-28_18-57-29_382" data-src="/files/blogengine/2012-07-28_18-57-29_382_thumb.jpg" alt="2012-07-28_18-57-29_382"   border="0"></a></p>
<p align="center">Кругом опять лавовые поля</p>
<p align="left">Вскорости мы добрались до трассы Кеблавик-Рейкъявик, где пообедали ещё раз. Причём в странном заведении, где видеопрокат объединён с гамбургерной (всё остальное было закрыто, поздно слишком).</p>
<p align="left">Дальше – дело техники. Пара часов и мы прибываем в конечный пункт нашего путешествия, что знаменует его успешное окончание. Гип-гип ура! Мы это сделали, да. Денёк выдался обычный, но обычный для Исландии, то есть ошеломляющий кажущейся сложностью и простотой одновременно, как и всё наше путешествие.</p>
<p align="left">Когда улетали, совсем не верилось, что это всё возможно, хотя и подозревалось, что ничего особо сложного в нашем мероприятии нет. Тут опять наличествует корпускулярно-волновой дуализм – с одной стороны, мы всё-таки туристы-ботанисты, катившие по проторенным тропам с возможностью эвакуации, с другой – вы читали мой рассказ, и, надеюсь, почувствовали мои эмоции, и нашу хватку, которая не уступает исландской. В любом случае, оценка наших приключений остаётся за вами, дорогие читатели.</p>
<p align="left">Что же касается нашего прибытия в Рейкьявик, то оно прошло без эксцессов: по пути видели кучу накрашенных и разодетых подростков, которые стайками стекались в некое место под названием Broadway, судя по вездесущей бесплатной газете Grapevine – пошлый танцевальный клуб. После непродолжительных поисков около бассейна и ботанического сада нашли и кемпинг, остались потрясены количеством его обитателей: больше полутычячи, если не тысяча, человек.</p>
<p align="left">Рассказ мой, впрочем, на этом ещё не закончен, ведь после прибытия в кемпинг неугомонный Андрей потащил меня наслаждаться ночной жизнью состоятельной хипстерской столицы. Да и на следующий день мы оторвались как следует, не ударив в грязь лицом. Следите за новыми выпусками.</p><p align="left"><a href="/post/2012-11-19%20%D0%98%D1%81%D0%BB%D0%B0%D0%BD%D0%B4%D0%B8%D1%8F%2028%2C%20%D0%9E%D0%B3%D0%BB%D0%B0%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank">К оглавлению</a></p>
	