Id: f676e5e1-7a8a-435c-b89c-92510bb7fb31
Title: "Quick update"
Published: "2012-06-21"
Slug: "2012-06-21 Quick update"
-
<p>Семейный отдых в Крауе<br/><a href='http://www.facebook.com/photo.php?fbid=10150928289882886&set=a.10150121112112886.295082.762077885&type=1'>http://www.facebook.com/photo.php?fbid=10150928289882886&set=a.10150121112112886.295082.762077885&type=1</a></p><img src='/files/http://photos-g.ak.fbcdn.net/hphotos-ak-ash4/303598_10150928289882886_1299723889_n.jpg'/>
	