Id: d8455dae-4a67-4dac-9ef5-a1aca4c02347
Title: "Shock and Awe: The Story of Electricity"
Published: "2012-02-01"
Slug: "2012-02-01 Shock and Awe_ The Story of Electricity"
-
<p>Gave a 9 star rating to Shock and Awe: The Story of Electricity on IMDb.<br/><a href='http://www.imdb.com/rg/fb_oshare/rate/title/tt2083695'>http://www.imdb.com/rg/fb_oshare/rate/title/tt2083695</a></p><div class='clearfix cite'><img src='/files/http://platform.ak.fbcdn.net/www/app_full_proxy.php?app=127059960673829&v=1&size=z&cksum=3119c53f06ddb17e5f943e03dc77d554&src=http%3A%2F%2Fi.imdb.com%2Fimages%2Fsmall-logo.gif' style='float:left;'/>With Jim Al-Khalili. Professor Jim Al-Khalili tells the electrifying story of our quest to master nature's most mysterious force: electricity...</div>
	