Id: be08b63d-a7de-49f0-b2f6-6a5f39c29189
Title: "BELARUS. One day in life"
Published: "2012-01-29"
Slug: "2012-01-29 BELARUS. One day in life"
-
<p>Если гламурный таймлапс с яркими цветами сделать, любая страна понравится. Но вообще норм<br/><a href='http://www.youtube.com/watch?v=hHy_uUnvkho&feature=share'>http://www.youtube.com/watch?v=hHy_uUnvkho&feature=share</a></p><div style='border-bottom: black 1px solid; border-left: black 1px solid; background-color: #eeffff; font-style: normal; margin: 20px; padding:10px; display: block; border-top: black 1px solid; border-right: black 1px solid;'>Ролик сделан для Министерства иностранных дел Республики Беларусь. МИНСК/Беларусь 2011(Minsk/Belarus) Цейтраферная съемка в движении / time-lapse photography...</div>
	