Id: ece61b15-79e0-41b2-8123-b9fab7e37133
Title: "Microsoft’s security team is killing it: Not one product on Kaspersky’s top 10 vulnerabilities list"
Published: "2012-11-03"
Slug: "2012-11-03 Microsoft’s security team is killing it_ Not one product on Kaspersky’s top 10 vulnerabil"
-
<p>Специально для Gleb Litvjak<br/>http://thenextweb.com/microsoft/2012/11/02/microsofts-security-team-is-killing-it-not-one-product-on-kasperskys-top-10-vulnerabilities-list/?utm_campaign=social%20media&utm_medium=share%20button&utm_content=Microsofts%20security%20team%20is%20killing%20it:%20Not%20one%20product%20on%20Kasperskys%20top%2010%20vulnerabilities%20list&awesm=tnw.to_lLo7&utm_source=Twitter<br/><a href='http://thenextweb.com/microsoft/2012/11/02/microsofts-security-team-is-killing-it-not-one-product-on-kasperskys-top-10-vulnerabilities-list/?utm_campaign=social+media&utm_medium=share+button&utm_content=Microsofts+security+team+is+killing+it%3A+Not+one+product+on+Kasperskys+top+10+vulnerabilities+list&awesm=tnw.to_lLo7&utm_source=Twitter'>http://thenextweb.com/microsoft/2012/11/02/microsofts-security-team-is-killing-it-not-one-product-on-kasperskys-top-10-vulnerabilities-list/?utm_campaign=social+media&utm_medium=share+button&utm_content=Microsofts+security+team+is+killing+it%3A+Not+one+product+on+Kasperskys+top+10+vulnerabilities+list&awesm=tnw.to_lLo7&utm_source=Twitter</a></p><div class='clearfix cite'><img src='/files/http://external.ak.fbcdn.net/safe_image.php?d=AQCWljpWaIBvcxtq&w=90&h=90&url=http%3A%2F%2Fcdn.thenextweb.com%2Fwp-content%2Fblogs.dir%2F1%2Ffiles%2F2012%2F11%2Fsecurity_fence-300x250.jpg' />Security firm Kaspersky has released its latest IT Threat Evolution report. There were some interesting findings in the report, as always, but the most interesting thing that stuck ...</div>
	