Id: 6b36c040-9ad1-4b16-a270-4c1e2d29bd73
Title: "Исландия 28, Оглавление"
Published: "2012-11-19"
Slug: "2012-11-19 Исландия 28, Оглавление"
-
<p>Этот пост &ndash; оглавление со ссылками на все остальные посты про Исландию. Если вам столько не осилить, читайте хотя бы части 0, 9 и 10, как концентрацию нашего опыта. Надеюсь, что прочтение этого опуса доставило вам столько же удовольствия, сколько мне &ndash; написание. Самый, наверное, сложный из моих отчётов. Внимательный читатель наверняка заметил, какие яркие и непростые эмоции сверкают сквозь жидкокристаллические буквы.</p>
<p>Те, кого интересуют практические вопросы, читайте часть 18.</p>
<h3><a href="/post/2012-08-05%20%D0%98%D1%81%D0%BB%D0%B0%D0%BD%D0%B4%D0%B8%D1%8F%20%E2%80%93%200%2C%20%D0%92%D1%81%D1%82%D1%83%D0%BF%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5">Исландия 0 &ndash; Вступление</a></h3>
<p>Замануха о том, почему Исландия столь уникальна и невероятна. Жемчужина красноречия!</p>
<h3><a href="/post/2012-08-07%20%D0%98%D1%81%D0%BB%D0%B0%D0%BD%D0%B4%D0%B8%D1%8F%20%E2%80%93%201%2C%20%D0%9F%D0%B5%D1%80%D0%B5%D0%BB%D1%91%D1%82">Исландия 1 &ndash; Перелёт</a></h3>
<div style="background-color: #eeffff; font-style: normal; margin: 20px; padding-left: 20px; padding-right: 20px; display: block; border: black 1px solid;">В принципе, можно сказать что с этого началось в нашем путешествии то, что политкорректно можно назвать &ldquo;каждодневная жесть&rdquo;, но в великом и могучем для таких явлений есть более подходящее слово. К счастью, обычно эта жесть компенсировалась либо чудесами, которые спасали ситуацию, либо красотами невиданными, так что терпели мы её с радостью.</div>
<h3>&nbsp;</h3>
<h3><a href="/post/2012-08-13%20%D0%98%D1%81%D0%BB%D0%B0%D0%BD%D0%B4%D0%B8%D1%8F%20%E2%80%93%202%2C%20%20%D0%B4%D0%B5%D0%BD%D1%8C%201_%20%D0%B3%D0%BE%D1%80%D0%B5%D0%BB%D0%BA%D0%B0">Исландия 2, день 1 &ndash;&nbsp; горелка</a></h3>
<div style="background-color: #eeffff; font-style: normal; margin: 20px; padding-left: 20px; padding-right: 20px; display: block; border: black 1px solid;">Горелка просто замечательная, со специальной ксатрюлькой для быстрого нагрева пищи, вся такая стильная и технологичная. Одна беда - ценник на ней был в 120 латов. Андрей сразу закричал не своим голосом: &ldquo;Я не буду покупать горелку за такие деньги&rdquo;, а я в ответ заорал, что куда ты, блин денешься, ты виноват, что потерял горелку, а есть же что-то надо, на холодной крупе в ледяной воде далеко не уедешь.</div>
<h3>&nbsp;</h3>
<h3><a href="/post/2012-08-15%20%D0%98%D1%81%D0%BB%D0%B0%D0%BD%D0%B4%D0%B8%D1%8F%203%20%E2%80%93%20%D0%B4%D0%B5%D0%BD%D1%8C%201%2C%20%D0%B4%D0%BE%D1%80%D0%BE%D0%B3%D0%B0%20%D0%B2%20%C3%9Eingvellir">Исландия 3, день 1 &ndash;&nbsp; дорога в &THORN;ingvellir</a></h3>
<div style="background-color: #eeffff; font-style: normal; margin: 20px; padding-left: 20px; padding-right: 20px; display: block; border: black 1px solid;">
<p>Исландская поговорка гласит: &laquo;Если вам не нравится погода, подождите пять минут, и станет ещё хуже&raquo;. Как сказал дядька из прошлой части (за точность не ручаюсь):</p>
<p>&ldquo;В Исландии три национальных богатства: холодная вода, горячая вода и погода.&rdquo;</p>
</div>
<h3>&nbsp;</h3>
<h3><a href="/post/2012-08-19%20%D0%98%D1%81%D0%BB%D0%B0%D0%BD%D0%B4%D0%B8%D1%8F%204%20%E2%80%93%20%D0%A2%D0%B8%D0%BD%D0%B3%D0%B2%D0%B5%D0%BB%D0%BB%D0%B8%D1%80%20%D0%B8%20%D0%90%D0%BB%D1%8C%D1%82%D0%B8%D0%BD%D0%B3">Исландия 4, день 1 &ndash;&nbsp; Тингвеллир и Альтинг</a></h3>
<div style="background-color: #eeffff; font-style: normal; margin: 20px; padding-left: 20px; padding-right: 20px; display: block; border: black 1px solid;"><br />Второй аспект Тингвелира &ndash; Альтинг, самый древний из действующих парламентов Европы. Собрался он в 930 году нашей эры, на берегу озера Тингвадлаватн, и был самой что ни на есть полнейшей демократией шовинистического толка: участвовали все свободные мужчины. </div>
<h3>&nbsp;</h3>
<h3><a href="/post/2012-08-21%20%D0%98%D1%81%D0%BB%D0%B0%D0%BD%D0%B4%D0%B8%D1%8F%205%20%E2%80%93%20%D0%B4%D0%BE%D1%80%D0%BE%D0%B3%D0%B0%20%D0%BA%20%D0%93%D0%B5%D0%B9%D0%B7%D0%B8%D1%80%D1%83">Исландия 5, день 2 &ndash; дорога к Гейзиру</a></h3>
<div style="background-color: #eeffff; font-style: normal; margin: 20px; padding-left: 20px; padding-right: 20px; display: block; border: black 1px solid;"><br />В кемпинге в Тингветлире мы общались с немолодыми супругами из Австралии, на вид прожжёнными туристами, крепкими, загорелыми и морщинистыми. Их горелка была вся закопчена, поцарапана и помята, видно, что пережила и повидала на своём веку многое: такими же были и они сами. Наша же горелка была купленной только утром, и ещё ни разу не опробованной в деле, да и сами мы никогда не предпринимали до того столь сложного путешествия самостоятельно. За одним столом собрались люди и вещи разных поколений, но с одной целью и одной мечтой: понять и почуствовать суровый и прекрасный дух этой страны. </div>
<h3>&nbsp;</h3>
<h3><a href="/post/2012-08-24%20%D0%98%D1%81%D0%BB%D0%B0%D0%BD%D0%B4%D0%B8%D1%8F%20%E2%80%93%206%2C%20%D0%93%D0%B5%D0%B9%D0%B7%D0%B8%D1%80">Исландия 6, день 2 &ndash; Гейзир</a></h3>
<div style="background-color: #eeffff; font-style: normal; margin: 20px; padding-left: 20px; padding-right: 20px; display: block; border: black 1px solid;"><br />И почти одновременно рядом задымилась земля. Картина это волнующая и успокаивающая, сразу понимаешь, что всё сегодня было не зря, всё это монотонное вкручивание под дождём и ветром. Пейзаж в волшебной дымке, звуков почти никаких нет, и впечатление это производит феерическое: огромное поле горячего пара существует само по себе, было тут за тысячи лет до нас, и, скорее всего, будет через тысячи лет после. </div>
<h3><a href="/post/2012-08-28%20%D0%98%D1%81%D0%BB%D0%B0%D0%BD%D0%B4%D0%B8%D1%8F%207%20%E2%80%93%20%D0%B4%D0%B5%D0%BD%D1%8C%203%2C%20%D0%B2%D0%BE%D0%B4%D0%BE%D0%BF%D0%B0%D0%B4%20%D0%93%D1%83%D0%BB%D1%8C%D1%84%D0%BE%D1%81%D1%81">Исландия 7, день 3 &ndash;&nbsp; водопад Гульфосс</a></h3>
<div style="background-color: #eeffff; font-style: normal; margin: 20px; padding-left: 20px; padding-right: 20px; display: block; border: black 1px solid;"><br />Но запомнился нам Гульфос не этим, а тем, что в столовке, около бочки с супом, я увидел чудесную надпись refill included. Для тех, кто не обладает моими знаниями американских реалий, поясню &ndash; refill &ndash; это ДОЗАПРАВКА, то есть если ты съел или выпил порцию, то нальют заново. И если в США это обычно относится к сладким газированным напиткам, то в Исландии эти чудесные буквы чернели на табличке около бараньего и грибного супов. </div>
<h3>&nbsp;</h3>
<h3><a href="/post/2012-08-30%20%D0%98%D1%81%D0%BB%D0%B0%D0%BD%D0%B4%D0%B8%D1%8F%208%20%E2%80%93%20%D0%B4%D0%B5%D0%BD%D1%8C%203%2C%20%D0%A4%D0%BB%D1%83%D0%B4%D0%B8%D1%80%2C%20%D0%90%D1%80%D0%BD%D0%B5%D1%81%20%D0%B8%20%D0%BA%D0%B5%D0%BC%D0%BF%D0%B8%D0%BD%D0%B3">Исландия 8,&nbsp; день 3 &ndash;&nbsp; Флудир, Арнес и кемпинг</a></h3>
<div style="background-color: #eeffff; font-style: normal; margin: 20px; padding-left: 20px; padding-right: 20px; display: block; border: black 1px solid;"><br />В кемпинге, в качестве компенсации за вкусный суп в обед и чарующий вечерний пейзаж, с нами случился очередной бипбип. Андрей ВДРУГ понял, что где-то забыл рюкзак со всеми своими сбережениями и документами. Тут уже я не удержался от язвительной мысли. Помнится, что когда у меня украли велик, он сказал, что хотел бы, чтобы с ним случилось то же самое, потому что это большое потрясение в жизни, шанс что-то изменить. &ldquo;Вот и тебе выпал такой шанс!&rdquo; &ndash; подумалось мне. </div>
<h3>&nbsp;</h3>
<h3><a href="/post/2012-09-05%20%D0%98%D1%81%D0%BB%D0%B0%D0%BD%D0%B4%D0%B8%D1%8F%209%20%E2%80%93%20%D0%B4%D0%B5%D0%BD%D1%8C%204%2C%20%D0%92%D1%80%D0%B0%D1%82%D0%B0%20%D0%B0%D0%B4%D0%B0">Исландия 9A, день 4 &ndash;&nbsp; Врата ада</a></h3>
<div style="background-color: #eeffff; font-style: normal; margin: 20px; padding-left: 20px; padding-right: 20px; display: block; border: black 1px solid;"><br />Но сколько бы не длился этот приятный мираж, но пришлось его покинуть. Когда собрались уже возвращаться в холод и темноту снаружи, тёртый итальянец спросил девушек про погоду, благо интернет тут везде есть. &ldquo;Грядёт шторм&rdquo; &ndash; сообщили ему. Он ответил в духе, что отдохнёт тогда пару деньков. А я гордо заявил:&ldquo;у нас план, что поделаешь&rdquo;. &ldquo;Будьте осторожнее, пожалуйста&rdquo; &ndash; проявили заботу электрические феи. Признаю, что был несколько наивен, и всерьёз их слова про шторм не воспринял. А зря. </div>
<h3>&nbsp;</h3>
<h3><a href="/post/2012-09-05%20%D0%98%D1%81%D0%BB%D0%B0%D0%BD%D0%B4%D0%B8%D1%8F%209%20%E2%80%93%20%D0%B4%D0%B5%D0%BD%D1%8C%204%2C%20%D0%92%D1%80%D0%B0%D1%82%D0%B0%20%D0%B0%D0%B4%D0%B0-den-4-Inferno-2012-09-12-09-10-12.aspx">Исландия 9B, день 4 &ndash; Инферно</a></h3>
<div style="background-color: #eeffff; font-style: normal; margin: 20px; padding-left: 20px; padding-right: 20px; display: block; border: black 1px solid;">
<p>Худшее не замедлило себя ждать: огромные вихри несли килограммы пыли, камешков и вулканического песка прямо на нас, и сопровождалось всё это порывами ветра с бешеным напором. Как оказалось позже, скорость последних достигала 25 метров в секунду, что, между прочим, составляет 90 км/ч.</p>
<p>Через некоторое время борьбы с разбушевавшейся стихией, я сообразил, что долго мы так не протянем, нужно отдохнуть и перекусить. Андрей уже тогда выглядел как зомби, и на мой клич реагировал слабо.</p>
</div>
<h3><a href="/post/2012-09-16%20%D0%98%D1%81%D0%BB%D0%B0%D0%BD%D0%B4%D0%B8%D1%8F%2010%2C%20%D0%B4%D0%B5%D0%BD%D1%8C%204%20-%20%D0%9D%D0%B5%D0%B1%D0%B5%D1%81%D0%B0">Исландия 10, день 4 &ndash; Небеса</a></h3>
<div style="background-color: #eeffff; font-style: normal; margin: 20px; padding-left: 20px; padding-right: 20px; display: block; border: black 1px solid;"><br />В итоге поведение двух забредших в гущу вагабондов выглядело так: полминуты застываешь на месте, отвернувшись от впивающихся тебе в туловище силиконовых кубиков, а когда порыв ветра на мгновение становится столь смехотворно слабым, что его наконец возможно преодолеть с помощью движения нижних конечностей, продвигаешься на метров 5-10. Повторять цикл до бесконечности. </div>
<h3>&nbsp;</h3>
<h3><a href="/post/2012-09-18%20%D0%98%D1%81%D0%BB%D0%B0%D0%BD%D0%B4%D0%B8%D1%8F%2011%2C%20%D0%B4%D0%B5%D0%BD%D1%8C%205%20%E2%80%93%20%D0%B4%D0%BE%D1%80%D0%BE%D0%B3%D0%B0%20%D0%B2%20%D0%9B%D0%B0%D0%BD%D0%B4%D0%BC%D0%B0%D0%BD%D0%BD%D0%B0%D0%BB%D0%BE%D0%B3%D0%B0%D1%80">Исландия 11, день 5 &ndash; дорога в Ландманналогар</a></h3>
<div style="background-color: #eeffff; font-style: normal; margin: 20px; padding-left: 20px; padding-right: 20px; display: block; border: black 1px solid;"><br />Женщину, которая в освновном вела с нами задушевные беседы, звали Элизабет. Имя своё она вполне оправдывала, будучи весьма церемонной особой, но ощущение, тем не менее, оставила вполне светлое. Интересно, что моя главная ассоциация с этим именем &ndash; героиня отличной серии книжек &ldquo;Многоцветная земля&rdquo; Джулиан Мей. В книжке эта женщина была та ещё цаца, сноб и интеллектуал, но принесла окружающим много добра, так что образ художественный наложился у меня на образ реальный, и где я человека наделяю чертами персонажа, а где верно догадался, понять невозможно. </div>
<h3>&nbsp;</h3>
<h3><a href="/post/2012-09-18%20%D0%98%D1%81%D0%BB%D0%B0%D0%BD%D0%B4%D0%B8%D1%8F%2012%2C%20%D0%B4%D0%B5%D0%BD%D1%8C%205%20-%20%D0%9B%D0%B0%D0%BD%D0%B4%D0%BC%D0%B0%D0%BD%D0%BD%D0%B0%D0%BB%D0%BE%D0%B3%D0%B0%D1%80">Исландия 12, день 5 &ndash; Ландманналогар</a></h3>
<div style="background-color: #eeffff; font-style: normal; margin: 20px; padding-left: 20px; padding-right: 20px; display: block; border: black 1px solid;"><br />Вот так и мы просыпались от холода в течении ночи, крутились туда-сюда на месте, разогревая озябшие мышцы, и проваливались в сон дальше.&nbsp; К счастью, когда целый день тащишь себя и велики по бездорожью на свежем воздухе, труда это не составляет. Спал я в бандане и шапке, иначе совсем швах. Надо сказать, что это был, наверное, первый день, когда никакой особой жести с нами не случилось, если не считать этот самый холод, который я описал. Даже с дождями повезло: шли они неуверенно, с перерывами, и совсем не усердно поливали туристов, видимо, устал уже местный Перун надрываться за эти дни. </div>
<h3>&nbsp;</h3>
<h3><a href="/post/2012-09-21%20%D0%98%D1%81%D0%BB%D0%B0%D0%BD%D0%B4%D0%B8%D1%8F%2013%2C%20%D0%B4%D0%B5%D0%BD%D1%8C%206%20%E2%80%93%20%D0%A5%D0%BE%D0%BB%D0%BE%D0%B4">Исландия 13, день 6 &ndash; Холод</a></h3>
<div style="background-color: #eeffff; font-style: normal; margin: 20px; padding-left: 20px; padding-right: 20px; display: block; border: black 1px solid;">
<p>Утром встаёшь, всё тело ломит от усталости, но надо собирать под дождём палатку, чистить зубы и искать немного подсохновшую, но всё ещё мокрую одежду среди толп угрюмых братьев по разуму, или скорее по отсутствию такового.</p>
<p>Оказывается также, что ты зря засунул свои вещички за тонкую слегка тёплую батарею &ndash; потому что сортиры, батареи и вообще всё вокруг, слегка щюрясь от брызг, утром моют из шланга водой смотрители в резиновых сапогах.</p>
</div>
<h3><a href="/post/2012-09-25%20%D0%98%D1%81%D0%BB%D0%B0%D0%BD%D0%B4%D0%B8%D1%8F%2014%2C%20%D0%B4%D0%B5%D0%BD%D1%8C%207%20-%20Road%20Ends">Исландия 14, день 7 - Road Ends</a></h3>
<div style="background-color: #eeffff; font-style: normal; margin: 20px; padding-left: 20px; padding-right: 20px; display: block; border: black 1px solid;"><br />И истина эта заключается в том, что порой жёсткости и даже, кажется, ненужные сложности придают жизни вкус и искру. Дорога была такой каменистой, что мы даже тащить велики еле могли, и продолжалось это 12 километров. По пути надо было перейти три брода, по поводу чего я сильно переживал, ведь кто же знает причины, почему дорога закрыта. Броды оказались вполне проходимыми, и знак стоял скорее всего потому, что часть пути была размыта потоками, и даже суперджип бы перевернулся на таких склонах. А нам вот всё нипочём. </div>
<h3>&nbsp;</h3>
<h3><a href="/post/2012-09-28%20%D0%98%D1%81%D0%BB%D0%B0%D0%BD%D0%B4%D0%B8%D1%8F%2015%20-%20%D0%94%D0%BE%D0%BC">Исландия 15, день 7 &ndash; Дом</a></h3>
<div style="background-color: #eeffff; font-style: normal; margin: 20px; padding-left: 20px; padding-right: 20px; display: block; border: black 1px solid;"><br />С трудом спустившись по совсем уж неприлично усыпанной булыжниками с резкими гранями тропинке, мы наконец добрались до заветной хибарки, даже не подозревая, что она из себя представляет. Надеялись, мы, понятно, непонятно на что. Что нас приютят из жалости, как в прошлый раз? Или что хотя бы позволят поставить рядом палатку, и попользоваться какими-то удобствами? </div>
<h3>&nbsp;</h3>
<h3><a href="/post/2012-09-30%20%D0%98%D1%81%D0%BB%D0%B0%D0%BD%D0%B4%D0%B8%D1%8F%2016%2C%20%D0%B4%D0%B5%D0%BD%D1%8C%208%20%E2%80%93%20%D0%91%D1%80%D0%BE%D0%B4">Исландия 16, день 8 &ndash; Брод</a></h3>
<div style="background-color: #eeffff; font-style: normal; margin: 20px; padding-left: 20px; padding-right: 20px; display: block; border: black 1px solid;"><br />Шло всё хорошо. Правда, с самого утра, двигаясь по дороге, мы видели лишь одну машину, то есть места, куда мы забрели, становились всё более дикими и безлюдными. Разумеется, в таком случае мирозданию совершенно необходимо нам напомнить, что не на пикник выехали. В середине дня ваши покорные слуги упёрлись в широченную реку, почти как озеро. Быть может, мы ломанулись бы её переходить, не подумав у сложностях, но с той стороны реку пересекли квадроциклеры, и нам внезапно стало очень хорошо заметно, насколько серъёзная преграда встала у нас на пути. Глубина реки была почти по пояс. Звучит не очень-то угрожающе, но только для тех, кто не видел исландских рек. Дело в том, что течение в них очень сильное, вода мутная из-за песчаной взвеси, глубины не видно, дно из мелких и крупных камней &ndash; оно неустойчивое и идти по нему быстро, тем более в великом, невозможно. Прибавьте сюда температуру около нуля, и вы поймёте, почему перейти эту ленту шириной в двадцать метров представилось нам мероприятием рискованным до невозможности. </div>
<h3>&nbsp;</h3>
<h3><a href="/post/2012-10-01%20%D0%98%D1%81%D0%BB%D0%B0%D0%BD%D0%B4%D0%B8%D1%8F%2017%2C%20%D0%B4%D0%B5%D0%BD%D1%8C%208%20%E2%80%93%20%D0%A1%D0%B2%D0%B5%D1%80%D0%BA%D0%B0%D1%8E%D1%89%D0%B0%D1%8F%20%D1%80%D0%B0%D0%B2%D0%BD%D0%B8%D0%BD%D0%B0">Исландия 17, день 8 &ndash; Сверкающая равнина</a></h3>
<div style="background-color: #eeffff; font-style: normal; margin: 20px; padding-left: 20px; padding-right: 20px; display: block; border: black 1px solid;">
<p>Оказалось, что путь наш пролегал через огромную равнину перед ледником. В некотором отдалении светилось нечто непонятное, смахивающее на озеро, что было порядком удивительно и пугающе &ndash; неужели дорога идёт через водоём, и нас ждёт нечто ещё более сложное, чем река до того?</p>
<p>Однако, загадывать и пытаться предугадать будущие проблемы никогда не надо &ndash; жизнь всё покажет и расскажет сама, и станет всё кристально ясно и просто.</p>
</div>
<h3><a href="/post/2012-10-01%20%D0%98%D1%81%D0%BB%D0%B0%D0%BD%D0%B4%D0%B8%D1%8F%2018%20%E2%80%93%20%D0%98%D0%BD%D1%82%D0%B5%D1%80%D0%BC%D0%B5%D0%B4%D0%B8%D1%8F%201%2C%20%D0%98%D0%BD%D1%84%D0%BE%D1%80%D0%BC%D0%B0%D1%86%D0%B8%D1%8F">Исландия 18 &ndash; Интермедия 1, Информация</a></h3>
<div style="background-color: #eeffff; font-style: normal; margin: 20px; padding-left: 20px; padding-right: 20px; display: block; border: black 1px solid;"><br />Половина пути пройдена, и самое время сделать небольшой обзор источников и прочей полезной информации. <br /><strong>Кемпинги <br /><strong>Культура <br /><strong>Маршруты</strong></strong></strong> </div>
<p>&nbsp;</p>
<h3><a href="/post/2012-10-07%20%D0%98%D1%81%D0%BB%D0%B0%D0%BD%D0%B4%D0%B8%D1%8F%2019%2C%20%D0%B4%D0%B5%D0%BD%D1%8C%209%20-%20%D0%9B%D0%B5%D0%B4%D0%BD%D0%B8%D0%BA">Исландия 19, день 9 &ndash; Ледник</a></h3>
<div style="background-color: #eeffff; font-style: normal; margin: 20px; padding-left: 20px; padding-right: 20px; display: block; border: black 1px solid;"><br />Не знаю, насколько тут видно, но за день мы спустились с шестиста метров высоты, а общий спад (если считать перемежающиеся подъёмы и спуски) составил аж километр. Это очень даже увлекательно, валить с бешеной скоростью вниз на тяжелом (хотя уже и не таком тяжёлом) двухколёсном коне, стараясь удержать скачущий руль на краю обрыва, и надеясь, что тайваньские алюминиевые заводы следовали швейцарско-американским спецификациям в точности, и тонкая гидроформированная рама выдержит толстые исландские валуны. </div>
<h3>&nbsp;</h3>
<h3><a href="/post/2012-10-09%20%D0%98%D1%81%D0%BB%D0%B0%D0%BD%D0%B4%D0%B8%D1%8F%2020%2C%20%D0%B4%D0%B5%D0%BD%D1%8C%209%20%E2%80%93%20%D0%9A%D1%85%D0%B2%D0%BE%D0%BB%D1%8C%D1%81%D0%B2%D0%BE%D1%82%D0%BB%D1%8E%D1%80%20_Hvolsv%C3%B6llur_">Исландия 20, день 9 &ndash; Кхвольсвотлюр (Hvolsv&ouml;llur)</a></h3>
<div style="background-color: #eeffff; font-style: normal; margin: 20px; padding-left: 20px; padding-right: 20px; display: block; border: black 1px solid;"><br />По плану мы собирались ночевать в кемпинге <a href="http://rang.is/langbrok/">Langbr&oacute;k Cafe</a>, но ветер дул в спину, и грех было не воспользоваться, поэтому решили двинуть чуть дальше, в маленький городок Кхвольсвотлюр (за произношение не ручаюсь). Как вы помните, самая сложная часть путешествия для нас закончилась, и дальше мы ожидали гладкий асфальт, города с магазинами, кемпинги с электричеством, нормальную еду и вообще жизнь приятную и ненапряжную. Оправдалось ли это? В этот день, когда мы только-только покинули внутреннюю часть, казалось, что так и будет. Как всегда, получилось, что слишком мы с Андреем наивны, хотя для жизни это хорошо &ndash; если реалистично её оценивать, то двигаться вперёд сложновато. Какие сюрпризы преподнесли нам новые дни, вы правда узнаете только из следующих частей. </div>
<h3>&nbsp;</h3>
<h3><a href="/post/2012-10-20%20%D0%98%D1%81%D0%BB%D0%B0%D0%BD%D0%B4%D0%B8%D1%8F%2021%2C%20%D0%B4%D0%B5%D0%BD%D1%8C%2010%20%E2%80%93%20%D0%9A%D1%80%D0%B8%D0%B7%D0%B8%D1%81">Исландия 21, день 10 &ndash; Кризис</a></h3>
<div style="background-color: #eeffff; font-style: normal; margin: 20px; padding-left: 20px; padding-right: 20px; display: block; border: black 1px solid;"><br />Ушибся я порядком, поэтому немного отдохнул на обочине и съел обезбаливающее. Однако, вариантов других у нас нет - стиснул зубы, и двинули дальше. Чувствовал я себя вполне кошмарненько, и морально (из-за шеи) и физически. То есть та самая жесть, которую я вам обещал почти в каждой серии, опять случилась. Похоже правда, что провидению этого мало было, потому что не успели мы проехать и двадцати минут, как Андрей пожаловался, что его багажник ведёт себя странно. </div>
<h3>&nbsp;</h3>
<h3><a href="/post/2012-10-22%20%D0%98%D1%81%D0%BB%D0%B0%D0%BD%D0%B4%D0%B8%D1%8F%2022%2C%20%D0%B4%D0%B5%D0%BD%D1%8C%2010%20%E2%80%93%20%D0%9A%D0%B5%D0%BC%D0%BF%D0%B8%D0%BD%D0%B3%20%D0%BF%D1%80%D0%B8%20Strandarkirkja">Исландия 22, день 10 &ndash; Кемпинг при Strandarkirkja</a></h3>
<div style="background-color: #eeffff; font-style: normal; margin: 20px; padding-left: 20px; padding-right: 20px; display: block; border: black 1px solid;"><br />Полюбовавшись на церковь, заполненную паломниками чуть менее, чем на 5%, мы двинули далее по бескрайним просторам Исландии, заполненным только ветром и солнцем. Нас ожидал последний день в пути, по гладкому шоссе без автомобилей, припасов достаточно, в впереди &ndash; заветная цель в виде Рейкъявика. Казалось бы, что может быть проще? </div>
<h3>&nbsp;</h3>
<h3><a href="/post/2012-10-22%20%D0%98%D1%81%D0%BB%D0%B0%D0%BD%D0%B4%D0%B8%D1%8F%2023%2C%20%D0%B4%D0%B5%D0%BD%D1%8C%2011%20%E2%80%93%20%D0%9C%D1%91%D1%80%D1%82%D0%B2%D0%B0%D1%8F%20%D1%85%D0%B2%D0%B0%D1%82%D0%BA%D0%B0">Исландия 23, день 11 &ndash; Мёртвая хватка</a></h3>
<div style="background-color: #eeffff; font-style: normal; margin: 20px; padding-left: 20px; padding-right: 20px; display: block; border: black 1px solid;"><br />К счастью, в Исландии всегда есть приятные сюрпризы. В данном случае это те самые булькающие ямы с грязью, которых мы до сих пор не видели, и про которые нам рассказывал норвежец-велосипедист. Около данной конкретной ямы к нам подошёл немец на грузовике, спросил, не надо ли чего, дал воды и шоколадных батончиков. Я бы конечно удивился, но к тому времени эмоции порядком притупились, поэтому только и смог сказать ему, что нам уже очень помогали исландцы, и спасибо за шоколад. </div>
<h3>&nbsp;</h3>
<h3><a href="/post/2012-10-25%20%D0%98%D1%81%D0%BB%D0%B0%D0%BD%D0%B4%D0%B8%D1%8F%2024%2C%20%D0%B4%D0%B5%D0%BD%D1%8C%2011%20%E2%80%93%20%D0%9D%D0%BE%D1%87%D0%BD%D0%BE%D0%B9%20%D0%A0%D0%B5%D0%B9%D0%BA%D1%8A%D1%8F%D0%B2%D0%B8%D0%BA">Исландия 24, день 11 &ndash; Ночной Рейкъявик</a></h3>
<div style="background-color: #eeffff; font-style: normal; margin: 20px; padding-left: 20px; padding-right: 20px; display: block; border: black 1px solid;"><br />Неспешно шли по центру, и заметили граффити &ndash; оказался скверик &ndash; точка сбора неформальной молодёжи. Правда, столица Исландии настолько пронизана духом хипстерства, тусовок и пьянок, что не поймёшь &ndash; где тут молодёжь формальная, а где нет. Вряд ли там кто-то этим вопросом так заморачивается так сильно, как я. Мне &ndash;то периодически кажется, что я никуда не вписываюсь &ndash; я книжный червь и гик, но в спортзале торчу целыми вечерами, я велотурист и вообще сторонник здорового образа жизни, капли в рот не брал, но езжу на прокуренные рейвы потанцевать до утра. А материалист и атеист до самого нутра, но хожу на йогу, и мне очень понятны буддистское мироощущение и философия. Я считаю, что у меня твёрдые моральные принципы, но их широта такова, что для большинства людей они слишком либеральные, и озвучивать свою терпимость к меньшинствам в кругу консервативных обывателей &ndash; значит накликать неприятности. </div>
<h3>&nbsp;</h3>
<h3><a href="/post/2012-11-04%20%D0%98%D1%81%D0%BB%D0%B0%D0%BD%D0%B4%D0%B8%D1%8F%2025%2C%20%D0%B4%D0%B5%D0%BD%D1%8C%2012%20-%20%D0%A1%D1%82%D0%BE%D0%BB%D0%B8%D1%86%D0%B0">Исландия 25, день 12 &ndash; Столица</a></h3>
<div style="background-color: #eeffff; font-style: normal; margin: 20px; padding-left: 20px; padding-right: 20px; display: block; border: black 1px solid;"><br />Остальные песни были не менее мрачные &ndash; про ведьм, мешающих всаднику, и прочий тяжёлый крестьянский быт. Не обошлось, конечно и без песен про любовь. Всё это было очень камерно и вдохновенно, прямо-таки чувствуешь себя высоким одухотворённым интеллигентом, пока не мелькнёт мысль о цене на билет в 15 латов, и не притянет тебя стокиллограммовой наковальней на землю. </div>
<h3>&nbsp;</h3>
<h3><a href="/post/2012-11-05%20%D0%98%D1%81%D0%BB%D0%B0%D0%BD%D0%B4%D0%B8%D1%8F%2026%2C%20%D0%B4%D0%B5%D0%BD%D1%8C%2013%20-%20%D0%9C%D1%83%D0%B7%D0%B5%D0%B8">Исландия 26, день 13 &ndash; Музеи</a></h3>
<div style="background-color: #eeffff; font-style: normal; margin: 20px; padding-left: 20px; padding-right: 20px; display: block; border: black 1px solid;">
<p>Пока я рассматривал данный экспонат, подошла девушка среднего возраста, заливисто засмеялась и стала активно обсуждать со мной тот факт, что размеры-то у исландцев маловаты, а вот у её бывшего &ndash; ого-го. Тут мы разговорилсь на шутку про отношения между полами. Выяснилось, что она из Калифорнии, живёт в Париже, и никак не может бросить своего бойфренда из Лондона, всё к нему возвращается, хоть он и козёл.</p>
<p>Прочие личные детали из нашего разговора я опущу, кроме одной забавной: она, оказывается, сделала слепок фаллоса своего бойфренда тоже, на память. Говорят, мужчинам не понять даже, почему женщины хранят фото своих бывших, а тут вот следующая ступень эволюции.</p>
</div>
<h3><a href="/post/2012-11-17%20%D0%98%D1%81%D0%BB%D0%B0%D0%BD%D0%B4%D0%B8%D1%8F%2027%2C%20%D0%B4%D0%B5%D0%BD%D1%8C%2014%20-%20%D0%97%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5">Исландия 27, день 14 &ndash; Заключение</a></h3>
<div style="background-color: #eeffff; font-style: normal; margin: 20px; padding-left: 20px; padding-right: 20px; display: block; border: black 1px solid;">
<p>Понять, что это вообще было, и как надо воспринимать наше путешествие, мне до сих пор не удаётся. Сложно это было или просто, важно или нет, слишком ли хардкорно, или можно ещё разок так поехать &ndash; не могу осознать, слишком это всё выдаётся по силе и необычности из рядовых жизненных впечатлений.</p>
</div>
	