Id: f3f30d24-3d44-4896-804f-74ef4f1afd49
Title: "Исландия – 1, Перелёт"
Published: "2012-08-07"
Slug: "2012-08-07 Исландия – 1, Перелёт"
-
<p>Надеюсь, из предыдущего поста понятно, почему у нас была мечта побывать в Исландии. В предыдущем году мне это не удалось, потому что я порвал связку в колене, и сидел несколько месяцев дома, передвигаясь на костылях. В этом году всё было не менее сложно, и с финансовой точки зрения, и потому что я лишился велосипеда, и вообще жизнь несколько усложнилась в последнее время.</p>
<p><a href="/files/blogengine/IMG_0597.jpg"><img style="background-image: none; padding-left: 0px; padding-right: 0px; display: block; float: none; margin-left: auto; margin-right: auto; padding-top: 0px; border: 0px;" title="IMG_0597" data-src="/files/blogengine/IMG_0597_thumb.jpg" alt="IMG_0597"   border="0"></a></p>
<p>[more]</p>
<p>Тем не менее, билеты были куплены в январе, в основном благодаря настойчивости Андрея, и судьба наша предрешена. Билет был куплен лишь потому, что Андрей нашёл, что лоукост Iceland Express открывает прямые рейсы в Кеблавик из Вильнюса, и лишь благодаря этому цена получилась более-менее тепимой – 320 LVL (640$) туда-обратно с велосипедом. Как оказалось потом, в этом же году ещё одна исландская авиокомпания открыла рейс из Каунаса – <a href="http://www.wowair.com">WOW Air</a>. Цены у неё ещё более доступные – ещё раза в полтора ниже, чем у Iceland Express.</p>
<p><a href="/files/blogengine/IMG_0598.jpg"><img style="background-image: none; padding-left: 0px; padding-right: 0px; display: block; float: none; margin-left: auto; margin-right: auto; padding-top: 0px; border: 0px;" title="IMG_0598" data-src="/files/blogengine/IMG_0598_thumb.jpg" alt="IMG_0598"   border="0"></a></p>
<p align="center">Бренд “66 градусов северной широты” в Исландии везде. Даже в самолёте, как видим</p>
<p>Выехали из дома мы во вторник вечером, чтобы сесть на самолёт, вылетающий в 6 утра в среду из Вильнюсского аэропорта. Не обошлось без приключений – когда Андрей по своей традиции опоздал на час, оказалось, что у нас нет ключа от велобагажника на крышу авто, и пришлось его раскрутить маленьким разводным ключом, который, к счастью, мой папа возит с собой в машине. Ещё оказалось, что Андрей потерял газовую горелку – одну из немногих вещей, за которую отвечал. К счастью, запас по вермени на хакинг багажника у нас был, а для того, чтобы улететь, наличие горелки не критично. Понятно было, что они продаются в Рейкъявике, учитывая огромное количество туристов-палаточников, которые бывают в Исландии каждый год.</p>
<p><a href="/files/blogengine/IMG_0604.jpg"><img style="background-image: none; padding-left: 0px; padding-right: 0px; display: block; float: none; margin-left: auto; margin-right: auto; padding-top: 0px; border: 0px;" title="IMG_0604" data-src="/files/blogengine/IMG_0604_thumb.jpg" alt="IMG_0604"   border="0"></a></p>
<p>Пока добирались до аэропорта, не обошлось без подлянки: фоторадар из кустов в Даугаиляе, кажется, бахнул красной вспышкой, а учитывая, что литовцы опять подняли штрафы, она может означать убытку долларов на 100-200. Специально мы не превышали, но знак начала населённого пункта не очень-то заметен при встречном дальнем свете, особенно в два утра.&nbsp; В принципе, можно сказать что с этого началось в нашем путешествии то, что политкорректно можно назвать “каждодневная жесть”, но в великом и могучем для таких явлений есть более подходящее слово. К счастью, обычно эта жесть компенсировалась либо чудесами, которые спасали ситуацию, либо красотами невиданными, так что терпели мы её с радостью. Не знаю правда, чем кончится эпопея с радаром, потому что письмо со штрафом до сих пор не пришло, но будем надеятся на последнее в это экспедиции чудо.</p>
<p><a href="/files/blogengine/IMG_0607.jpg"><img style="background-image: none; padding-left: 0px; padding-right: 0px; display: block; float: none; margin-left: auto; margin-right: auto; padding-top: 0px; border: 0px;" title="IMG_0607" data-src="/files/blogengine/IMG_0607_thumb.jpg" alt="IMG_0607"   border="0"></a></p>
<p>В аэропорту нас уже нас ждала засада поменьше: стоянка платная, платить можно только монетами, а их у нас не было. Мне об этом говорили, но всего не предусмотришь – поездках всегда случаются накладки. К счастью, платить нужно по выезду со стоянки, как и в Риге, так что эта мелочь не помешала нам взять велики с сумками, и отправится на в зал отлёта, а уж разруливать последствия я предоставил папе – и так нервная обстановка во время отлёта.</p>
<p><a href="/files/blogengine/IMG_0608.jpg"><img style="background-image: none; padding-left: 0px; padding-right: 0px; display: block; float: none; margin-left: auto; margin-right: auto; padding-top: 0px; border: 0px;" title="IMG_0608" data-src="/files/blogengine/IMG_0608_thumb.jpg" alt="IMG_0608"   border="0"></a></p>
<p align="center">“В голове у коровы – много чудес” – так говорят в Исландии</p>
<p align="left"><a href="/files/blogengine/IMG_0610.jpg"><img style="background-image: none; padding-left: 0px; padding-right: 0px; display: block; float: none; margin-left: auto; margin-right: auto; padding-top: 0px; border: 0px;" title="IMG_0610" data-src="/files/blogengine/IMG_0610_thumb.jpg" alt="IMG_0610"   border="0"></a></p>
<p align="center">Реклама настолько стильная и ненавязчивая, что даже не выглядит рекламой</p>
<p>Велик я запаковал в полиэтиленовый чехол от матраса, который раздобыл в рижских магазинах мебели в Пурвциемсе, Андрей – в мусорные мешки со скотчем. Улетели мы уже без приключений, по требованием компании велики можно даже было и не заматывать – достаточно снять педали и руль набок свернуть. Ну и шины чуть приспустить, но это не критично, даже не проверяли. Вообще, всё прошло на редкость гладко и без проблем, что при полётах с велосипедами далеко на всегда так. Велик, конечно, пришлось тащить в специальный огромный “рентген” для неформатного багажа, где его нещадно колбасило на ленте транспортёра, ну да ладно.</p>
<p><a href="/files/blogengine/IMG_0611.jpg"><img style="background-image: none; padding-left: 0px; padding-right: 0px; display: block; float: none; margin-left: auto; margin-right: auto; padding-top: 0px; border: 0px;" title="IMG_0611" data-src="/files/blogengine/IMG_0611_thumb.jpg" alt="IMG_0611"   border="0"></a></p>
<p align="center">Аэропорт Кеблавик (Кефлавик) получал призы за лучший аэропорт</p>
<p>Багаж мой, кстати, весил 23 кг, а разрешено 20, поэтому пришлось взять рюкзак в ручную кладь. Рюкзак потом был сильно не в тему – увеличивал парусность, и вечно был почти пуст, пригодился только, когда ходили по горам пешком пару дней, ну и в городе. Если посчитать, сколько же в итоге весил мой велосипед, получается 16 кг велик+23 кг вещи + 1.5 вода = 40 кг. Таскать одной рукой никак не получалось, а двумя взяться неудобно.</p>
<p><a href="/files/blogengine/IMG_0613.jpg"><img style="background-image: none; padding-left: 0px; padding-right: 0px; display: block; float: none; margin-left: auto; margin-right: auto; padding-top: 0px; border: 0px;" title="IMG_0613" data-src="/files/blogengine/IMG_0613_thumb.jpg" alt="IMG_0613"   border="0"></a></p>
<p align="center">Реклама в Исландии, как и всё остальное, очень милая, изысканная и всегда обыгрывает нац. мотивы</p>
<p>Одним рейсом с нами летели ещё литовцы-велосипедисты, но поговорили мы с ними только около гейта, когда формальности по сдаче багажа были улажены. Парень оказался докторантом-математиком, говорил на английском просто отлично, получше меня, девушка его тоже неплохо. Я вообще поражаюсь, как литовцы все поголовно владеют английским – на музыкальном фестивале <a href="http://www.tundrafestival.lt/en/">“Тундра”</a> (который вообще заслуживает отдельного рассказа, но не в этот раз) тоже все общались на буржуйском свободно.&nbsp; Наверное, просто места мне такие попадаются, обкультуренные, да и люди тоже. Небось, чёткие пацаны в автобусе из Илуксте из всего богатого лексикона английского языка знают только слово “фак”.</p>
<p>Математик-то мне и рассказал про новую авиакомпанию WOW Air. Ещё забавно было, как я показал ему свою мегакарту с сайта исландского картографического агентства, и он догадался, что я её скриптом скачал. Нынче математики все программировать умеют, никуда без этого.</p>
<p>Вылетели мы в 6 утра, а прибыли около 12. Зная, что лететь из Вильнюса в Рейкъявик около трёх часов, внимательный читатель поймёт, что часовой пояс Исландии – GMT, то есть UTC +0, а время на летнее там не переводят, в отличие от Литвы и Латвии. Кресла у Айсланд Экспресс коротковаты, спать на них неудобно, но зато при рейсе туда я один сидел аж на трёх. Компания, кстати, лоукост, и своих самолётов у неё нет – арендует единственное воздушное судно у Holidays Czech Airlines. Благодаря чему мы чуть не полетели в Рейкьявик через Прагу – из Литвы сначала было куплено недостаточное количество билетов.К счастью, литовцы и соседи воспомнили, что такой шанс не каждый год бывает, и билеты вовремя раскупили.</p>
<p>Получили мы багаж без проблем, и даже довольно быстро, минут за 20. Велики собирать внутри здания аэропорта нельзя, пришлось наружу вылезти, к счастью, не под дождь. Но ветер, естественно, был, потому что он в Исландии всегда есть. Поскольку мы всё равно собирались ехать в центр на автобусе, велики собирать не стали, спросили, где транспорт в центр у ближайшего человека. Билет с великом стоил, по-моему, около 14 латов. От аэропорта до центра 40 км, если что. Это была первая ласточка, сообщившая нам о том, что Исландия – мы прибыли куда собирались, потому что других столь дорогих стран в мире немного.</p>
<p>Велики мы успешно собрали на пустынном центральном автовокзале, немножко подивились их тяжести, и двинули в центр.</p>
<p><a href="/files/blogengine/IMG_0615.jpg"><img style="background-image: none; padding-left: 0px; padding-right: 0px; display: block; float: none; margin-left: auto; margin-right: auto; padding-top: 0px; border: 0px;" title="IMG_0615" data-src="/files/blogengine/IMG_0615_thumb.jpg" alt="IMG_0615"   border="0"></a></p><p><a href="/post/2012-11-19%20%D0%98%D1%81%D0%BB%D0%B0%D0%BD%D0%B4%D0%B8%D1%8F%2028%2C%20%D0%9E%D0%B3%D0%BB%D0%B0%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank">К оглавлению</a></p>
	