Id: cd005f00-23b9-48c2-a057-ebb9741b5eaf
Title: "Исландия – 2,  день 1: горелка"
Published: "2012-08-13"
Slug: "2012-08-13 Исландия – 2,  день 1_ горелка"
-
<p>Автобус из аэропорта мы взяли, чтобы не наслаждаться унылым шоссе посреди лавовых полей, забитым снующими в обе стороны автомобилями. Андрей был против, по причинам, которые мне понять невозможно. То, что билет дорогой, я ещё как-то могу на себя примерить (хотя терять день на дорогу в сто раз хуже, учитывая, что у нас всего две недели на всё путешествие).&nbsp; А вот идея, что ехать из аэропорта в город очень интересно, при том, что нас ждут настоящие чудеса внутри страны, никак ко мне не липнет.&nbsp; Впрочем, я лучше на этом список взаимных претензии закончу, а то вся серия постов превратиться в нытьё и ругань, чего не хотелось бы.</p>
<p>Как вы помните, про каждый день в Исландии я обещал вам жесть и чудеса. Так и было, но страсти накалялись постепенно, и далеко не сразу всё стало совсем жёстко.</p>
<p><a href="/files/blogengine/IMG_0616.jpg"><img style="background-image: none; padding-left: 0px; padding-right: 0px; display: block; float: none; margin-left: auto; margin-right: auto; padding-top: 0px; border-width: 0px;" title="IMG_0616" data-src="/files/blogengine/IMG_0616_thumb.jpg" alt="IMG_0616"   border="0"></a></p>
<p align="center">Недавно построенный в модернистко-вулканическом стиле концертный зал “<a href="http://en.harpa.is/">Harpa</a>”</p>
<p align="left">[more]</p>
<p>Мы пошли по центру искать горелку, и зашли на главной улице, под названием Laugavegur, в магазин, торгующий туристическим снаряжением, дорогу куда нам подсказал первый попавшийся прохожий, а до него – и водитель автобуса из аэропорта.&nbsp; Тут-то и случилась первая маленькая жесть – горелка в этом модном и забитым дорогостоящим оборудованием магазе была лишь одной модели. Горелка просто замечательная, со специальной ксатрюлькой для быстрого нагрева пищи, вся такая стильная и технологичная. Одна беда - ценник на ней был в 120 латов. Андрей сразу закричал не своим голосом: “Я не буду покупать горелку за такие деньги”, а я в ответ заорал, что куда ты, блин денешься, ты виноват, что потерял горелку, а есть же что-то надо, на холодной крупе в ледяной воде далеко не уедешь. Прекрасная ликом девушка-продавщица сразу стала настроена менее дружелюбно, когда я по своей традиции честно заявил “We cannot afford it”. К счастью, несмотря на то, что выражение её лица явно показывало, что она думает о нищебродах, которые профукали горелку, и купить не могут, она всё-таки не затруднилась сказать, что в гавани есть ещё один спортивный магазин. Он размером побольше, и туда нам явно стоит сходить, поэтому исландская красавица крестиком отметила его местоположение на бесплатной карте, одной из нескольких, что в изобилии можно достать в Рейкьявике.</p>
<p><a href="/files/blogengine/IMG_0624_1.jpg"><img style="background-image: none; padding-left: 0px; padding-right: 0px; display: block; float: none; margin-left: auto; margin-right: auto; padding-top: 0px; border-width: 0px;" title="IMG_0624" data-src="/files/blogengine/IMG_0624_thumb_1.jpg" alt="IMG_0624"   border="0"></a></p>
<p align="center">В центре города расположен пруд, окуппированый огромными птицами, прямо слюнки потекли</p>
<p>Интересно, что я пытался найти такой магазин заранее в Нете, но как-то не вышло. Так вот: В Исландии почти все готовы вам помочь (несмотря на характер нордический), и все говорят на отличном английском. Если у вас нету сложностей в общении с незнакомыми людьми, говорящими на чужом языке (у меня их обычно совсем нет, особенно когда я в роли туриста, как солдат в мундире), то проще всё спрашивать не месте, и совсем мелкими деталями не заморачиваться. Благо, по всему Рейкъявику рассыпаны инфоцентры, государственный в конце улицы Лаугавегур, а частные – на всём её протяжении. Там уж вам помогут по долгу службы, как подсобили мне купить гнилую акулу – хакарла. Но это было в конце нашего путешествия, мы же находимся в самом-самом начале.</p>
<p><a href="/files/blogengine/2012-07-18_10-58-37_60.jpg"><img style="background-image: none; padding-left: 0px; padding-right: 0px; display: block; float: none; margin-left: auto; margin-right: auto; padding-top: 0px; border-width: 0px;" title="2012-07-18_10-58-37_60" data-src="/files/blogengine/2012-07-18_10-58-37_60_thumb.jpg" alt="2012-07-18_10-58-37_60"   border="0"></a></p>
<p align="center">Как “Смарт”, но прикольнее</p>
<p align="left">В магазине обнаружилась идеально подходящая нам горелка – идеально подходящая, в основном, ценой, потому что остальные характеристики у неё были наипростойшие – младшая модель, как-никак. Цена, правда, была далеко по нашим меркам не младшая – 30 лс, в нас такая стоит скорее всего раза в два дешевле.</p>
<p><a href="/files/blogengine/IMG_0661.jpg"><img style="background-image: none; padding-left: 0px; padding-right: 0px; display: block; float: none; margin-left: auto; margin-right: auto; padding-top: 0px; border-width: 0px;" title="IMG_0661" data-src="/files/blogengine/IMG_0661_thumb.jpg" alt="IMG_0661"   border="0"></a></p>
<p>Закупив горелку, мы стали её тестировать на обочине магазина. К нам подошёл очередной скучающий на обочине NPC в лице мужика постарше, и стал, вопреки моим опасениям, не поучать нас, что не стоит горелки зажигать на обочинах дорог, а напротив, предложил переставить её к нему на стол, что мы и сделали. Это был первый исландец, с которым я перекинулся более чем парой фраз, и уже тогда меня впечатлило, с каким спокойствием и расслабленностью он общался. Я показал ему наш машрут, нарисованный маркером на бумажной карте, которая для этой цели очень хорошо подходит, полезного ничего не узнал, кроме того, что тут и сям “очень красиво”, здесь он только что рыбачил, а вот тут дорога F225 сейчас хорошая, только “bumpy”.</p>
<p>Надо сказать, дороги в Исландии широко меняют своё состояние в течении туристического сезона, который обычно длится всего-то пару-тройку летних месяцев. Лишь в некоторых местах, где потеплее, чуть дольше, с поздней весны по раннюю осень. Вообще, спрашивать о своём маршруте знающих людей, то есть хардкорных туристов или смотрителей кемпингов, очень полезно – можно изежать всякой жести, коей мы нахлебались. Разумеется, неплохо спросить и о погоде.</p>
<p>По пути из города мы заехали на центральную площадь, есть хотелось уже сильно. Панк по своему обычаю бегал от одного заведения к другому, ища, где лучше дизайн, и не мог определиться, а я непритязательно купил субмаринный сендвич в подозрительно выглядящем ларьке под названием <a href="http://hlollabatar.is/">Hlölla bátar</a>.&nbsp; Заплатил я за него страшные 5 латов и 70 сантимов, то есть 11 долларов.</p>
<p>Впился в него зубами – и очумел, настолько вкусно. Самый лучший фастфуд, что я в </p><p>жизни е<span style="line-height: 1.42857;">л.</span></p>
<p><a href="http://www.flickr.com/photos/daquellamanera/68426360/sizes/l/in/photostream/"><img style="background-image: none; padding-left: 0px; padding-right: 0px; display: block; float: none; margin-left: auto; margin-right: auto; padding-top: 0px; border: 0px;" title="68426360_aaa4ed1573_b" data-src="/files/blogengine/68426360_aaa4ed1573_b.jpg" alt="68426360_aaa4ed1573_b"   border="0"></a></p><p><a href="/post/2012-11-19%20%D0%98%D1%81%D0%BB%D0%B0%D0%BD%D0%B4%D0%B8%D1%8F%2028%2C%20%D0%9E%D0%B3%D0%BB%D0%B0%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5" target="_blank">К оглавлению</a></p>
	