Id: f9aeb6ee-e2a8-4789-aefa-23d3c9b1ae67
Title: "Cogitabilia rather than actual cogitata a me | Крым 17 – Балаклава и заключение"
Published: "2012-01-25"
Slug: "2012-01-25 Cogitabilia rather than actual cogitata a me _ Крым 17 – Балаклава и заключение"
-
<p>Балаклава – город, где в советское время находилась глубоко засекреченная база подводных лодок. После распада бегемотической державы всё быстренько разворовали. Когда опомнились, сделали музей, но пришлось восстанавливать по крупицам.
<br/>  
<br/>  Барчик “Погребок”
<br/>  <br/><a href='/post/2012-01-25%20%D0%9A%D1%80%D1%8B%D0%BC%2017%20%E2%80%93%20%D0%91%D0%B0%D0%BB%D0%B0%D0%BA%D0%BB%D0%B0%D0%B2%D0%B0%20%D0%B8%20%D0%B7%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5'>/post/2012-01-25%20%D0%9A%D1%80%D1%8B%D0%BC%2017%20%E2%80%93%20%D0%91%D0%B0%D0%BB%D0%B0%D0%BA%D0%BB%D0%B0%D0%B2%D0%B0%20%D0%B8%20%D0%B7%D0%B0%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5</a></p><div style='border-bottom: black 1px solid; border-left: black 1px solid; background-color: #eeffff; font-style: normal; margin: 20px; padding:10px; display: block; border-top: black 1px solid; border-right: black 1px solid;'>Балаклава – город, где в советское время находилась глубоко засекреченная база подводных лодок. После распада бегемотической державы всё быстренько разворовали. Когда опомнились, сделали музей, но пришлось восстанавливать по крупицам.</div>
	