Id: 94b52ad7-9e84-40b0-a872-b6301623791f
Title: "Deborah Rhodes: A tool that finds 3x more breast tumors, and why it's not available to you"
Published: "2012-02-03"
Slug: "2012-02-03 Deborah Rhodes_ A tool that finds 3x more breast tumors, and why it_s not available to yo"
-
<p>Я не только в родах разбираюсь!<br/>Вот, женщинам не помешает посмотреть<br/><br/>И почитать<br/>http://rus.delfi.lv/news/daily/latvia/rastet-chislo-pacientok-s-rakom-grudi-zhenschiny-ne-idut-na-besplatnuyu-proverku.d?id=42099496<br/><a href='http://www.ted.com/talks/lang/ru/deborah_rhodes.html'>http://www.ted.com/talks/lang/ru/deborah_rhodes.html</a></p><div class='clearfix cite'><img src='/files/http://external.ak.fbcdn.net/safe_image.php?d=AQBtpiEMciZ1GEr4&w=130&h=130&url=http%3A%2F%2Fimages.ted.com%2Fimages%2Fted%2F6e80eca3535294251f1b2d48ff724e44a701f03a_389x292.jpg' style='float:left;'/>Working with a team of physicists, Dr. Deborah Rhodes developed a new tool for tumor detection that's 3 times as effective as traditional mammograms for women with dense breast tissue. The life-saving implications are stunning. So why haven't we heard of it? Rhodes shares the story behind the tool's...</div>
	