Id: 4760e1a0-eb8b-4242-8abc-af174f7979c8
Title: "http://s.pikabu.ru/post_img/2013/03/27/10/1364400490_1062305089.jpg"
Published: "2013-03-28"
Slug: "2013-03-28 http___s.pikabu.ru_post_img_2013_03_27_10_1364400490_1062305089.jpg"
-
<p>Думаю и тебе близко это:<br/><br/><br/><a href='http://s.pikabu.ru/post_img/2013/03/27/10/1364400490_1062305089.jpg'>http://s.pikabu.ru/post_img/2013/03/27/10/1364400490_1062305089.jpg</a></p><img src='/files/http://external.ak.fbcdn.net/safe_image.php?d=AQA5qE6GXqQIo8NW&w=154&h=154&url=http%3A%2F%2Fs.pikabu.ru%2Fpost_img%2F2013%2F03%2F27%2F10%2F1364400490_1062305089.jpg' />
	