Id: b98f3903-bfe4-456e-8aaf-311bf300ace2
Title: "Quick update"
Published: "2013-02-07"
Slug: "2013-02-07 Quick update"
-
<p>Ура капитану первого ранга Светлане Семещенко!<br/><a href='http://www.facebook.com/photo.php?fbid=10151337436512886&set=a.10150454953587886.379697.762077885&type=1&relevant_count=1'>http://www.facebook.com/photo.php?fbid=10151337436512886&set=a.10150454953587886.379697.762077885&type=1&relevant_count=1</a></p><img src='/files/http://photos-b.ak.fbcdn.net/hphotos-ak-ash4/481074_10151337436512886_181725306_n.jpg' />
	