Id: 27b0895e-9743-448f-949c-64d03ddeb622
Title: "Quick update"
Published: "2013-05-21"
Slug: "2013-05-21 Quick update"
-
<p>В Олимпийском попался шкафчик с глубокой мыслью, причем он там один такой<br/><a href='http://www.facebook.com/photo.php?fbid=10151506348387886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1'>http://www.facebook.com/photo.php?fbid=10151506348387886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1</a></p><img src='/files/https://fbcdn-photos-h-a.akamaihd.net/hphotos-ak-ash3/942013_10151506348387886_911710065_n.jpg' />
	