Id: 51e972cc-804b-4724-9d92-394fbdc6f209
Title: "Quick update"
Published: "2013-07-11"
Slug: "2013-07-11 Quick update"
-
<p>The black sand beaches of Iceland<br/><a href='http://www.facebook.com/photo.php?fbid=10151599738332886&set=a.10150454953587886.379697.762077885&type=1&relevant_count=1'>http://www.facebook.com/photo.php?fbid=10151599738332886&set=a.10150454953587886.379697.762077885&type=1&relevant_count=1</a></p><img src='/files/https://fbcdn-photos-e-a.akamaihd.net/hphotos-ak-prn1/34701_10151599738332886_1997107827_n.jpg' />
	