Id: 8ba42eb1-8c61-49c5-8104-a5f3251bc365
Title: "Израиль – 0, Вступление"
Published: "2013-12-07"
Slug: "2013-12-07 Израиль – 0, Вступление"
-
<p>Как уже известно всем моим близким и дальним друзьям, родственникам и редким посетителям этого блога, постепенно вырождающегося в отрывочные куски с фотографиями пиццы, не так давно я имел редкую возможность, радость и редкость посетить ближневосточный регион, да не просто какой-нибудь, а один из самых интересных – Эрец Исраэль. Земля Израилева, текущая молоком и мёдом – так она обзывается в Библии.</p>
<p>Регион этот не до конца совпадает с территорией Государства Израиль, однако же именно оно является духовным и культурным наследником, хотя в какой мере – вопрос открытый.</p>
<p>План посетить Израиль родился спонтанно: мамина подруга нанесла визит в Латвию, и звала в гости, а спустя некоторое время случаное тыканье на <a href="http://skyscanner.net">skyscanner.net</a> принесло улов в виде рейса Вильнюс - Тель-Авив <a href="https://www.google.com/search?q=W6%208094">W6 8094</a> компании Визз Эйр. Выбирать не приходиться, хотя лететь из Вильнюса чуть менее удобно, а компания-лоукост Визз Эйр ныне до такой ручки дошла, что даже за большую ручную кладь деньги хочет.</p>
<p>Импульсивно и необдуманно я жмыкнул пимпу “Затариться”, и вот уже на повестке дня вопрос, что же я на священной земле буду делать, где жить и чем питаться, учитывая, что избытком денежных средств я не страдаю. План зрел долго и трудно, почти как 40 дней и сорок ночей водил мой измождённый мозг самого себя по пустыне, пока не нашло на него озарение – туда, в пустыню, и надо стремиться, ибо там велоземля обетованная!</p>
<p>Сам по себе билет стоил около 110 (220$) латов, а с багажом и велосипедом – и вовсе 200 (400$). Что очень даже ничего, учитывая, что родным Эйр Болтиком он бы обошёлся минимум в триста.</p>
<p>Кажется, я упомянул велосипед – да, вы не ослышались, железный конь, прошедший Исландию и Хорватию, отправился в очередное изматывающее путешествие вместе со мной.</p>
<p>Итак, вожделённые электроны в коммуникационных системах аэропорта надёжно обеспечивают мне место на бороту, но найду ли я себе место по прилёту? Хочется ведь не просто крышу кибуца над головой, да мацу, а и прочие потребности пирамиды Маслякова удовлетворить, и пуще всего – интеллектуальные, эмоциональные, и духовные. Импульсивные поиски места назначения привели меня к знанию, что Израиль – страна небольшая, около 20. тыс квадратных километров, то есть в три раза меньше Латвии. Более, того, треть его занимает пустыня Негев, и соваться туда незачем. Однако, это нормальному человеку незачем, а бисиклетному туристу с радикальным характером, сиречь любителю острых ощущений, там самое место. Трубы интернета выдали мне, что велопоклонничество в стране на подъёме, в Негев любителям обтягивающих лосин самое место, и это окончательно решило для меня еврейский вопрос.</p>
<p>Что за штампы и стереотипы крутились воронками в тёмном колодце моего сознания до того, как я ступил на пропитанную историей и хайтеком землю? Я полагал, что сильноверующие евреи съехались туда со всего мира, чтобы возродить мечту своего государства, кругом вражебные арабы, против которых нужна сильная и современная армия, в стране, кроме истребителей, автоматов “Узи” сделали также мобильный процессор Интел и вообще продвинули концепцию экономной по тактовой частоте и энергопотреблению многоядерности в массы.</p>
<p>Догадывался, что города заполнены пёстрыми разношёрстными массами со всего света, толпами хасидов с пейсами, да офисных работников в кипах. Женщины все, непременно, знойные, черноволосые и смуглые, как на обложке путеводителя “Израиль. Окно в мир.”, что внезапно отыскался у меня на полке по случаю.</p>
<p>В процессе поглощения инфопотоков выяснилось также, что в шаббат, то есть тотальный отдых, когда ничего нельзя делать, кроме как расслабляться, начинается и вовсе в вечер пятницы, а не только в субботу происходит, как чудилось ранее. Удалось понять, что никакой транспорт в это время не работает, да и магазины частенько прикрыты. Догадывался я и о том, что страна не из дешёвых, ведь эдемский сад посреди пустыни задёшево не вырастишь.</p>
<p>Как же прожить в таком месте скромному провинциальному программисту? С помощью друзей, коих можно создать бесконечность, если правильно приложить виртуальный рычаг в виде сетей гостеприимства <a href="http://couchsurfing.com">http://couchsurfing.com</a> и <a href="http://warmshowers.org">http://warmshowers.org</a>.</p>
<p>Работа закипела!</p>
<p>Города в пустыне Негев – есть</p>
<p>Общие интересы – есть</p>
<p>Поклонники велоспорта – есть</p>
<p>Живут в частном доме для удобства затаскивания последнего – есть</p>
<p>Удочка закинута, ждём улова в песчаном южном море, но план Б для спасения ситуации лучше иметь всегда, поэтому палатку и спальник я всё-таки с собой прихватил.</p>
<p>Добрые души и место для ночлега нашлись, но не на все дни. “Действовать буду по обстановке, импровизировать и гибко адаптироваться” – решил я, и не стал по этому поводу заранее заморачиваться. Как мы увидим впоследствии, всё правильно сделал.</p>
<p>Я уже предвижу из зала вопросы: а как же ты так решился, один-одинёшенек штоле?</p>
<p>Ответ такой: я всегда ездил с кем-то, а сам организовывал так и вовсе только Исландию. Считается, что одному скучнее и труднее, некому поплакаться в жилетку и сопли . Я тут летом был на курсе <a href="http://www.lv.dhamma.org/index.php?id=2018&amp;L=19">Випассаны</a>, так мне там девушка на подобные сентенции ответила: вот и скатайся в одиночку, посмотри, каково это. И правда, подумал я, любой опыт есть просто опыт. Это показывает, что полезное, ну или близкое мне я в восточных философиях всё же нашёл.</p>
<p>Говорили мне: “одному же опасно”, пугали друзами, что меня обберут и голым оставят гулять по пустыне (нация такая, типа цыган), сам себя я пугал тем, что почти по всей Негев израильская военщина проводит испытания, и на голову мне свалится ракета. На все подобные измышления жителям Латвии ныне я могу смело ответить: как показывает история, куда опаснее остаться в Латвии и ходить в супермаркеты. Ещё один резон, кстати, покупать продтовары на рынке (вдобавок к тому, что в супермаркете наверняк хватишь лишку, то есть приобретёшь нечто дорогое и ненужное).</p>
<p>Итог всех этих треволнений и перепетий – карты в телефоне, велик в коробке, паспорт в кармане, деньги в евро, вещи в сумках Ortlieb, kissed my wife goodbye, и поминай как звали.</p>
<p>&nbsp;</p>
<p><img style="float: none; margin-left: auto; display: block; margin-right: auto;" src='/files/546BD44423E0BE8A5680677D7B8F0B68.jpg'  alt="Wildlife of the Desert"></p><p><a href="/page/%D0%9F%D1%83%D1%82%D0%B5%D1%88%D0%B5%D1%81%D1%82%D0%B2%D0%B8%D1%8F#%D0%98%D0%B7%D1%80%D0%B0%D0%B8%D0%BB%D1%8C">К оглавлению</a></p>
	