Id: 506bb386-a91f-4bd7-b604-e5a8798ea084
Title: "Quick update"
Published: "2013-04-19"
Slug: "2013-04-19 Quick update"
-
<p>С Днём Рождения!<br/><a href='http://www.facebook.com/photo.php?fbid=10151458107062886&set=a.10150454953582886.379696.762077885&type=1'>http://www.facebook.com/photo.php?fbid=10151458107062886&set=a.10150454953582886.379696.762077885&type=1</a></p><img src='/files/http://sphotos-c.ak.fbcdn.net/hphotos-ak-ash3/s480x480/72797_10151458107062886_1625891606_n.jpg' />
	