Id: 2c173abb-754e-4a41-82ba-f8caacf463b2
Title: "Quick update"
Published: "2013-02-04"
Slug: "2013-02-04 Quick update"
-
<p>До чего управление программистами доводит: менеджеры набрасываются с вилками на кактусы<br/><a href='http://www.facebook.com/photo.php?fbid=10151331221382886&set=a.10150454953587886.379697.762077885&type=1&relevant_count=1'>http://www.facebook.com/photo.php?fbid=10151331221382886&set=a.10150454953587886.379697.762077885&type=1&relevant_count=1</a></p><img src='/files/http://photos-h.ak.fbcdn.net/hphotos-ak-ash3/578070_10151331221382886_33469316_n.jpg' />
	