Id: ef393d21-4d48-4484-90e7-5a74501ab432
Title: "Cicha 'Bialystok majn hejm' / Many languages Concert"
Published: "2013-03-25"
Slug: "2013-03-25 Cicha _Bialystok majn hejm_ _ Many languages Concert"
-
<p>Вот такое на кочсёрфинге прислали, если у кого есть идеи, пишите<br/><br/>https://www.couchsurfing.org/n/threads/daugavpils-daugavpils-municipality-latvia-hey-guys-an-artist-who-i-work-with-karolina-cicha-got-an-invitation-to-play-a-concert-at-folk-music-arrangements-festiva<br/><br/>[Daugavpils] "Where to play an etno gig?"<br/><br/>Where to play an etno gig?<br/>Paulina Stypulkowska—about 10 hours ago<br/>Hey Guys! An artist who I work with Karolina Cicha got an invitation to play a concert at Folk Music Arrangements Festival in Estonia. Between 24th and 26th of April we will be in Latvija. Maybe you can recommend some clubs or other places where we could play a gig? Would be greatful for all reccomendations<br/>This is kind of folk/etno music with rock and electronic elements<br/><br/>Link to video:<br/><br/><br/>cheers<br/>Paulina<br/><a href='http://www.youtube.com/watch?v=kcdNC90tng8'>http://www.youtube.com/watch?v=kcdNC90tng8</a></p><div class='clearfix cite'><img src='/files/http://external.ak.fbcdn.net/safe_image.php?d=AQCFv1xjxxjYOH1W&w=130&h=130&url=http%3A%2F%2Fi4.ytimg.com%2Fvi%2FkcdNC90tng8%2Fmqdefault.jpg' />words: I. Perlov, music: A. Hirshin The „Many Languages" draws from traditional musical scales. However, it is not a compilation of archive material, but a c...</div>
	