Id: f0bb5b0e-d966-4bea-8a07-44244d596d4f
Title: "Quick update"
Published: "2013-06-26"
Slug: "2013-06-26 Quick update"
-
<p>тимбилдинг!<br/><a href='http://www.facebook.com/photo.php?fbid=10151571615707886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1'>http://www.facebook.com/photo.php?fbid=10151571615707886&set=a.10150121112112886.295082.762077885&type=1&relevant_count=1</a></p><img src='/files/https://fbcdn-photos-b-a.akamaihd.net/hphotos-ak-ash3/7967_10151571615707886_1286463599_n.jpg' />
	