Id: 801fd217-68dc-4c93-bcf0-56a1379a72b8
Title: "Израиль – 12, Иерусалим"
Published: "2014-02-14"
Slug: "2014-02-14 Израиль – 12, Иерусалим"
-
<p>Ещё целый день! Его надо потратить с толком.</p>
<p>Я встал в 7 утра. Руководствуясь чуткими указаниями незаменимого гугльмэпс двинул на остановку, оттуда на второй вокзал Тель-Авива, к счастью, размерами поменьше первого, и оттуда уже - на междугородний до Вечного Города.</p>
<p>&nbsp;</p>
<p><a href="/files/blogengine/Israel2_002.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="Israel2 002" data-src="/files/blogengine/Israel2_002_thumb.jpg" alt="Israel2 002"   border="0"></a></p>
<p align="center">Второй вокзал</p>
<p align="center">[more]</p>
<p align="left">Я совсем не готовился побывать в Иерусалиме, и потому не знал про него ничего, кроме обычной обывательской шелухи. Всё приходилось глядеть на ходу, уткнувшись в светящийся экран своего ведроида. Порыскав по сети, отыскал <a href="http://www.gojerusalem.com/article/503/40-things-you-have-to-eat-in-Jerusalem/">кулинарный путеводитель</a>, в котором настоячиво повторялась мысль, что кто не ел в Иерусалиме, тот вообще ничего в жизни не ел. Это заявление меня заинтриговало, и по прибытии я первым делом отправился на знаменитейший рынок Mahane Yehuda Market, где отведал курдского супа с клёцками – Кубеха, в заведении Murdoch.</p>
<p align="left"><a href="/files/blogengine/Israel2_004.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="Israel2 004" data-src="/files/blogengine/Israel2_004_thumb.jpg" alt="Israel2 004"   border="0"></a></p>
<p align="center">Суп оказался на редкость кислым, но пришёлся мне по нраву. Цена, правда, 5 евро за тарелку – не про нашего брата</p>
<p align="left">Встретили меня как-то неприветливо, хоть я и был первым посетителем, ведь зашёл сразу после 10 утра.</p>
<p align="center"><a href="/files/blogengine/Israel2_006.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="Israel2 006" data-src="/files/blogengine/Israel2_006_thumb.jpg" alt="Israel2 006"   border="0"></a></p>
<p align="center">Офомление</p>
<p align="center"><a href="/files/blogengine/Israel2_005.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="Israel2 005" data-src="/files/blogengine/Israel2_005_thumb.jpg" alt="Israel2 005"   border="0"></a></p>
<p align="left"><a href="/files/blogengine/Israel2_003.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="Israel2 003" data-src="/files/blogengine/Israel2_003_thumb.jpg" alt="Israel2 003"   border="0"></a></p>
<p align="center">У большинства заведений висит сертификат кошерности</p>
<p align="left">Рынок мне очень понравился. Длинные столы, заваленные снедью: выпечкой, свежайшими фруктами и овощами, орехами и специями, сушёными и засахаренными фруктами. Все навалено кучей, никаких тебе кульков-презервативов, убивающих вкус хлеба. Толпы разноформатных покупателей всех национальностей, подвидов и цветов радуги, одетых в разнообразные костюмы, туники, кипы и шляпы, шали и шарфы, панталоны и брюки. Жизнь, бурлящая и кипящая, такая, какой я люблю её, в те редкие моменты ощущения её полноты, приближения к абсолюту и идеалу, что порой доводится испытывать каждому из нас.</p>
<p align="left"><a href="/files/blogengine/Israel2_007.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="Israel2 007" data-src="/files/blogengine/Israel2_007_thumb.jpg" alt="Israel2 007"   border="0"></a></p>
<p align="center">Южный кот, как обычно, невелик размером</p>
<p align="center"><a href="/files/blogengine/Israel2_008.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="Israel2 008" data-src="/files/blogengine/Israel2_008_thumb.jpg" alt="Israel2 008"   border="0"></a></p>
<p align="center">&nbsp;</p>
<p><a href="/files/blogengine/Israel2_009.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="Israel2 009" data-src="/files/blogengine/Israel2_009_thumb.jpg" alt="Israel2 009"   border="0"></a></p>
<p align="center">&nbsp;</p>
<p align="left">Далее я направился на продажную улицу Бена Йехуды, продажную не в смысле квартала красных фонарей, а в смысле любителей шоппинга. В известном заведении “Мошико” отведал фалафели, которая представляет собой массу из гороха нут со специями, обжаренную в оливковом масле до хрустящей корочки. По вкусу – почти как мясо, но блюдо сугубо вегетарианское. Помимо свежайших овощей, вкусных настолько, что я уже и не помню, когда такие пробовал, налили ещё и хумуса, острого настолько, что я чуть не расплакался.</p>
<p align="left">Рядом сидели люди, внешне особо не выделявшиеся, но разговоры вели вполне бандитские: про отмывание денег, то, что кто-то недавно сел, недавно вышел, какой адвокат кому нужен и тому подобное. Чувствовал я себя рядом с ними неуютно, и был рад, когда они свалили. Настало время добраться да старого города, чтобы поискать там культовое заведение на десерт.</p>
<blockquote>
<p align="center"><a href="/files/blogengine/Israel2_010.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="Israel2 010" data-src="/files/blogengine/Israel2_010_thumb.jpg" alt="Israel2 010"   border="0"></a>Несколько абстрактное граффити</p>
</blockquote>
<p><a href="/files/blogengine/Israel2_012.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="Israel2 012" data-src="/files/blogengine/Israel2_012_thumb.jpg" alt="Israel2 012"   border="0"></a></p>
<p align="center">Забавные фигурки</p>
<p align="center"><a href="/files/blogengine/Israel2_013.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="Israel2 013" data-src="/files/blogengine/Israel2_013_thumb.jpg" alt="Israel2 013"   border="0"></a></p>
<p align="center">Сборище</p>
<p align="center"><a href="/files/blogengine/Israel2_014.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="Israel2 014" data-src="/files/blogengine/Israel2_014_thumb.jpg" alt="Israel2 014"   border="0"></a></p>
<p><a href="/files/blogengine/Israel2_015.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="Israel2 015" data-src="/files/blogengine/Israel2_015_thumb.jpg" alt="Israel2 015"   border="0"></a></p>
<p align="center">Магазин специй, очень антуражный и атмосферный</p>
<p align="left">В лавке играла мусульманская музыка, а продавец был смуглый, худощавый и бородатый, экзотический араб, мечта женщин. Мы с мужиком из Чикаго вместе повосхищались, насколько аутентичное место, и пошли дальше своей дорогой.</p>
<p align="left">Дорога моя вела в Jaffar’s, где подают в основном знаменитое кнафе (<strong>Knafeh</strong>). Это сладость из вермишели и козьего сыра, подаётся с сиропом. Любопытно, что гугльмэпс, который служил воистину волшебной палочкой-выручалочкой, поскольку в Израиле прокладывает маршрут, учитывая даже общественный транспорт, в старом городе спасовал: лабиринт запутанных улочек так густ и закручен, что не все дома тут имеют адреса. Вот и в путеводителе написано просто: “У Джаффара, Старый город”.</p>
<p align="left"><a href="/files/blogengine/Israel2_016.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="Israel2 016" data-src="/files/blogengine/Israel2_016_thumb.jpg" alt="Israel2 016"   border="0"></a></p>
<p align="center">Вот оно, кнафе</p>
<p align="left">На столе обязательно стоит стакан воды, а само заведение выглядит любопытно, хромированные стены, зеркала, и всё это в глубине одной из главных торговых улочек старого города, над которой ещё много слоёв жилых и прочих зданий. То есть как бы подвал замка, если угодно.</p>
<p align="left"><a href="/files/blogengine/Israel2_019.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="Israel2 019" data-src="/files/blogengine/Israel2_019_thumb.jpg" alt="Israel2 019"   border="0"></a></p>
<p align="center">Свежий сок жмут прямо при тебе, цена, правда, “плач кошелька” – 3 евро за большой стакан, 2 за маленький.</p>
<p><a href="/files/blogengine/Israel2_020.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="Israel2 020" data-src="/files/blogengine/Israel2_020_thumb.jpg" alt="Israel2 020"   border="0"></a></p>
<p align="center">Ладан, мир, и другие благовония</p>
<p align="left">Продавцы тут на любом языке, коий туристы используют, тебе в ухо пробормочут десяток слов, и русский далеко не последний в их списке. Один парень так ловко втирал мне украшения, что я чуть не купился – обработка жестами, словами и отвлечением внимания просто страшная. Вряд ли он на самом деле обиделся, когда я ничего не купил, но всё-таки у них тут так – если ты уж начал проявлять интерес, это значит что ты подписался играть в эту игру, и надо торговаться до конца. Я по природе очень не люблю все эти приставания, и старался проскользнуть мимо сотен (без преуменьшения) лавок с сувенирами для верующих незаметно, но куда там – везде специальные люди, жаждующие тебя заманить внутрь, и страстно ищущие твоего внимания.</p>
<p align="left">Здесь продаются кресты и иконы всех расцветок и размеров, алтари, подсвечники, свечи, узорчатые ковры, шапочки, кипы и туники, и даже статуи будды попадаются местами. Мне не хватит словарного запаса описать даже десять процентов хлама, что впаривают жаждущим узреть господа паломникам. Понятно, что ни на йоту их вся эта приторная мишура к богу не приближает. Впрочем, наверняка контингент этих лавок – скорее псевдо-духовные туристы, вспомнившие некстати о том, что в церкви они последний раз были полгода назад, или о том, что в них полно греха, и нужно его как-то компенсировать, чем по-настоящему верующие люди. С другой стороны, я не визуал, и мне трудно понять прелесть сверкающих позолотой чаш и крестов, если в них нет практической пользы или смысла.</p>
<p align="left">Побродив как следует по старому городу, я отправился обратно. На трамвай почему-то не сел, шёл пешком, уставший до одури, с затуманенным от шума и толчеи разумом, не выспавшийся, но полный новых впечатлений. По пути обратно зарулил опять на рынок, где наконец-то сумел найти знаменитую пекарню Marzipan, где на огромных противнях, часто горячие, прямо из печи, призывно блестят румяные булочки и рогалики. Последние я и попробовал, местный подвид, называемый ругелах – настолько пропитанные сиропом и кремом, что просто тают во рту. На мой вкус сладковаты, но отказать им нельзя.</p>
<p align="left">&nbsp;</p>
<p align="left"><a href="/files/blogengine/Israel2_021.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="Israel2 021" data-src="/files/blogengine/Israel2_021_thumb.jpg" alt="Israel2 021"   border="0"></a></p>
<p>Вы спросите, а как же Стена Плача, знаменитая <em>HaKotel , </em>она же западная стена? Поставил ли ты галочку о визите туда?</p>
<p>Да, но это вызывает у меня одно лишь огорчение. Сотни паломников стоят рядом с каменной массой, обращаясь со своими мольбами к богу. Почему господь не слышит их в другом месте? Почему осколок стены, построенной людьми две тысячи лет назад, ценнее современных стен? Почему мужчины и женщины в двадцать первом веке сегрегированы, и не дай бог забрести не в тот отсек?</p>
<p align="left">Риторические вопросы. А, может, это я заблуждаюсь и ошибаюсь, ведь исследования показывают, что верующим жить легче и проще. Так пусть же они и прибывают во тьме, пусть не пробуждаются ото сна разума своего разума, раз так любят эту сладкую дрему.</p><p align="left"><a href="/page/%D0%9F%D1%83%D1%82%D0%B5%D1%88%D0%B5%D1%81%D1%82%D0%B2%D0%B8%D1%8F#%D0%98%D0%B7%D1%80%D0%B0%D0%B8%D0%BB%D1%8C" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">К оглавлению</a></p><p align="left"><br></p>
	