Id: 97af13b0-b245-417a-aaba-3982ffc77a37
Title: "Израиль – 7, день 4, непрямая дорога в Мицпе Рамон и ангар для жилья"
Published: "2014-01-19"
Slug: "2014-01-19 Израиль – 7, день 4, непрямая дорога в Мицпе Рамон и ангар для жилья"
-
<p>Слопав порядочно припасов из холодильника Вартана (прости, дружище, после тридцати километров аппетит как у льва), я неспеша собрался, навьючил сумки на стального коня, положил ключи на стол, и двинулся к главной своей цели - мактеш Рамон.</p>
<p>Мактеш означает “кратер”, но не созданный ударом метеорита или вулканическим извержением, как обычно, а эррозийный, вымытый тем самым ливневым потоком – вади.&nbsp; Учитывая, что размеры кратера Рамон – 8 на 40 километров, неплохой должен быть поток! Должно быть, титан пописать сходил.</p>
<p>Впрочем, до кратера я ещё не доехал, да и не стремился - целью моей на сегодня был небольшой (5000&nbsp; человек) туристический городок Мицпе Рамон, что находится рядом. Из интересного в нём – самая большая астрономическая обсерватория в Израиле, да ферма альпаков, про которую я расскажу потом.</p>
<p align="center"><iframe src="https://www.gpsies.com/mapOnly.do?fileId=pogfqwpznvkjnssz" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" width="600" height="400"></iframe></p>
<p align="left">Всего за этот день я проехал 76 километров с набором высоты более километра. Немало, учитывая, что больше половины пути проделано с сумками.</p>
<p align="left">[more]</p>
<p>&nbsp;</p>
<p><a href="/files/blogengine/IMG_1940.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_1940" data-src="/files/blogengine/IMG_1940_thumb.jpg" alt="IMG_1940"   border="0"></a></p>
<p align="center">Как помните, мы уже видели подобные скульптуры</p>
<p align="center"><a href="/files/blogengine/IMG_1944.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1944" data-src="/files/blogengine/IMG_1944_thumb.jpg" alt="IMG_1944"   border="0"></a></p>
<p align="center">Новый подвид автобусной остановки, дыры стали побольше размером. Сильно побольше</p>
<p align="center"><a href="/files/blogengine/IMG_1951.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1951" data-src="/files/blogengine/IMG_1951_thumb.jpg" alt="IMG_1951"   border="0"></a></p>
<p><a href="/files/blogengine/IMG_1950.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1950" data-src="/files/blogengine/IMG_1950_thumb.jpg" alt="IMG_1950"   border="0"></a></p>
<p><a href="/files/blogengine/IMG_1949.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1949" data-src="/files/blogengine/IMG_1949_thumb.jpg" alt="IMG_1949"   border="0"></a></p>
<p align="center">Иногда едешь в карстовом ущелье</p>
<p align="center">&nbsp;</p>
<p align="center"><a href="/files/blogengine/IMG_1951_1.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1951" data-src="/files/blogengine/IMG_1951_thumb_1.jpg" alt="IMG_1951"   border="0"></a></p>
<p align="center">Не поленился, свернул на смотровую площадку</p>
<p align="left">Метров 100 высоты пришлось набрать, но дело того стоило!</p>
<p align="center"><a href="/files/blogengine/IMG_1953.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin-left: auto; display: block; padding-right: 0px; margin-right: auto; border: 0px;" title="IMG_1953" data-src="/files/blogengine/IMG_1953_thumb.jpg" alt="IMG_1953"   border="0"></a></p>
<p><a href="/files/blogengine/IMG_1952.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1952" data-src="/files/blogengine/IMG_1952_thumb.jpg" alt="IMG_1952"   border="0"></a></p>
<p align="center">Красиво и интересно (если знаешь иврит)</p>
<p align="center"><a href="/files/blogengine/IMG_1955.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1955" data-src="/files/blogengine/IMG_1955_thumb.jpg" alt="IMG_1955"   border="0"></a></p>
<p><a href="/files/blogengine/IMG_1954.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1954" data-src="/files/blogengine/IMG_1954_thumb.jpg" alt="IMG_1954"   border="0"></a></p>
<p><a href="/files/blogengine/IMG_1956.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1956" data-src="/files/blogengine/IMG_1956_thumb.jpg" alt="IMG_1956"   border="0"></a></p>
<p align="center">Решил, что асфальт мне порядком поднадоел, и самое время ударится в авантюру</p>
<p>Двинул направо по песку, тем более, что у дороге стоял указатель “древние цистерны”. Замешкался, мимо летели профи на модных шоссерах, прокричали, не нужна ли помощь.</p>
<p><a href="/files/blogengine/IMG_1959.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1959" data-src="/files/blogengine/IMG_1959_thumb.jpg" alt="IMG_1959"   border="0"></a></p>
<p><a href="/files/blogengine/IMG_1960.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1960" data-src="/files/blogengine/IMG_1960_thumb.jpg" alt="IMG_1960"   border="0"></a></p>
<p align="center">Вот они, цистерны-то, прямо в скале выдолблены</p>
<p align="center"><a href="/files/blogengine/IMG_1961.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1961" data-src="/files/blogengine/IMG_1961_thumb.jpg" alt="IMG_1961"   border="0"></a></p>
<p align="center">Выращивают <span style="text-decoration: line-through;">сорта с повышенным содержанием THC</span> экспериментальные сорняки, просьба не топтать</p>
<p align="center"><a href="/files/blogengine/IMG_1962.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1962" data-src="/files/blogengine/IMG_1962_thumb.jpg" alt="IMG_1962"   border="0"></a></p>
<p align="center">О ужас – водная преграда! Как обычно в Израиле, чтобы её избежать, достаточно отойти в сторону на пару метров</p>
<p align="center"><a href="/files/blogengine/IMG_1963.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1963" data-src="/files/blogengine/IMG_1963_thumb.jpg" alt="IMG_1963"   border="0"></a></p>
<p align="center">Дорогая неплохая, видали и похуже</p>
<p align="center"><a href="/files/blogengine/IMG_1965.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1965" data-src="/files/blogengine/IMG_1965_thumb.jpg" alt="IMG_1965"   border="0"></a></p>
<p align="center">Оказывается, я ломанулся по всё той же опасной зоне стрельб. Ахтунг!</p>
<p align="center"><a href="/files/blogengine/IMG_1967.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1967" data-src="/files/blogengine/IMG_1967_thumb.jpg" alt="IMG_1967"   border="0"></a></p>
<p align="center">Около башен исправительного учреждения мирно пасётся ослик</p>
<p align="center"><a href="/files/blogengine/IMG_1969.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1969" data-src="/files/blogengine/IMG_1969_thumb.jpg" alt="IMG_1969"   border="0"></a></p>
<p align="center">Ещё один подвид остановки, окружённой почему-то знаками опасности со всех сторон</p>
<p align="center"><a href="/files/blogengine/IMG_1970.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1970" data-src="/files/blogengine/IMG_1970_thumb.jpg" alt="IMG_1970"   border="0"></a></p>
<p align="center">Решил освоить новомодный жанр – селфи</p>
<p align="center"><a href="/files/blogengine/IMG_1971.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1971" data-src="/files/blogengine/IMG_1971_thumb.jpg" alt="IMG_1971"   border="0"></a></p>
<p align="center">Вечереет, силушки убавилось – как-никак шестидесятый километр</p>
<p align="center"><a href="/files/blogengine/IMG_1975.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1975" data-src="/files/blogengine/IMG_1975_thumb.jpg" alt="IMG_1975"   border="0"></a></p>
<p align="center">Вечереет, холодает. Дорога идёт в гору, и я уже на высоте 800 метров</p>
<p align="center"><a href="/files/blogengine/IMG_1977.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1977" data-src="/files/blogengine/IMG_1977_thumb.jpg" alt="IMG_1977"   border="0"></a></p>
<p align="center">Строящееся лётное поле</p>
<p>Темнело, когда я подъехал к нужной улице. Мой хост, парень по имени Игал, собирался на вечернюю пробежку, которой и занялся, пустив меня внутрь. Как оказалось, живёт он в огромном гараже, вернее целом комплексе гаражей, которые можно даже ангарами назвать – больно уж велики. Друг Игала позже поведал мне, что в ангарах владелец задумал сделать школу для детей с задержкой развития, но проект ещё в процессе, и до до тех он разрешил пожить тут своим приятелям. Вышел почти сквот – удобств не густо, в стенах дыры, душ в соседнем&nbsp; гараже, везде пыль и драные стены, но зато постоянно разные новые компании, веселье, никто не о чём не парится. Друзья друзей моих друзей, сёрферы и всё такое.</p>
<p>&nbsp;</p>
<p><a href="/files/blogengine/IMG_1978.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1978" data-src="/files/blogengine/IMG_1978_thumb.jpg" alt="IMG_1978"   border="0"></a></p>
<p align="center">Сразу видно, наш человек</p>
<p align="center"><a href="/files/blogengine/IMG_1979.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1979" data-src="/files/blogengine/IMG_1979_thumb.jpg" alt="IMG_1979"   border="0"></a></p>
<p align="center">Моё спальное место</p>
<p align="left"><a href="/files/blogengine/IMG_1981.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1981" data-src="/files/blogengine/IMG_1981_thumb.jpg" alt="IMG_1981"   border="0"></a></p>
<p align="center">“Гостиная”</p>
<p align="left">В главное комнате довольно комфортно – куча кресел и диванов. Вечером прохладно, правда, потому что задувает, а отопления нет. Я с собой не захватил тёплый свитер (хотя казалось, что взял), но друг Игала по имени Иехуда одолжил мне куртку. Имя это напомнило мне интересные факты.</p>
<p align="left">Наш родной Даугавпилс занятным образом связан с Израилем. Во-первых, самый известный человек родом из Даугавпилса– один из самых дорогих художников мира, Марк Ротко, по национальности еврей. Это знают многие, благо недавно отбухали огромный Ротко Центр, даже и с парой оригиналов.</p>
<p align="left">А вот куда менее известный факт, но не менее интересный – в Динабурге жил и учился Элиэ́зер Бен-Йехуда́, человек, благодаря которому иврит был возрождён и перешёл из статуса мёртвых экзотических языков в практическую плоскость. Его девиз был: «Иври, дабер иврит!» <a href="http://ru.wikipedia.org/wiki/%D0%98%D0%B2%D1%80%D0%B8%D1%82">ивр.</a> !עברי, דבר עברית‎ («Еврей, говори на иврите!»).</p>
<p>В <a href="http://ru.wikipedia.org/wiki/1908_%D0%B3%D0%BE%D0%B4">1908 году</a> он писал в газете «Ха-цви»:</p>
<blockquote>
<div style="font-style: normal; padding-left: 20px; margin: 20px; display: block; padding-right: 20px; background-color: #eeffff; border: black 1px solid;"><br>Для каждого дела нужен только один мудрый и энергичный человек, готовый приложить к нему все силы, и дело пойдёт, несмотря ни на какие препятствия… Для каждого новшества, для каждого, даже самого малого шага на пути прогресса необходим первопроходец, который не знает отступления. <br> </div>
</blockquote>
<p align="left">Золотые слова!</p>
<p align="left"><a href="/files/blogengine/IMG_1983.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1983" data-src="/files/blogengine/IMG_1983_thumb.jpg" alt="IMG_1983"   border="0"></a></p>
<p align="left">&nbsp;</p>
<p><a href="/files/blogengine/IMG_1986.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1986" data-src="/files/blogengine/IMG_1986_thumb.jpg" alt="IMG_1986"   border="0"></a></p>
<p align="center">Другой ракурс, с моим велом</p>
<p align="center"><a href="/files/blogengine/IMG_1988.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1988" data-src="/files/blogengine/IMG_1988_thumb.jpg" alt="IMG_1988"   border="0"></a></p>
<p align="center">Душ - в соседнем гараже, там же – склад всячины</p>
<p align="center"><a href="/files/blogengine/IMG_1989.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1989" data-src="/files/blogengine/IMG_1989_thumb.jpg" alt="IMG_1989"   border="0"></a></p>
<p align="center">Душ тут, электрический</p>
<p align="left"><a href="/files/blogengine/IMG_1990.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1990" data-src="/files/blogengine/IMG_1990_thumb.jpg" alt="IMG_1990"   border="0"></a></p>
<p align="center">Внутренний дворик между смежными гаражами огорожен забором</p>
<p align="center">&nbsp;</p>
<p align="left">Игал на английском толком не говорил, хотя по их бурным дискуссиям с Юдой (Иехудой) я понял, что он вполне себе экстраверт. Как выяснилось, родом они оба из Иерусалима, а в Мицпе Рамоне Игал работает на ферме. Юда же учится в универе на инженера – он с гордостью показал мне, как обучается программированию на языке С. Программы пишет ручкой в тетрадке в клеточку, потом уже переносит в комп, забавно, но чётко. Мы немного обсудили с ребятами туризм, которому они не чужды, арабо-израильский конфликт, и прочие актуальные темы. Юда, между прочим, знает&nbsp; арабский. Почему? “Полезное умение в Израиле”.</p>
<p align="left">Надо сказать, что во всех жилищах, что я имел честь посетить, мне без разговоров говорили не только пароль от вай-фая, но и предлагали использовать комп, как заблагорассудится. Да и холодильник тоже. Нехватки продуктов питания также у хостов замечено не было, а скорее был обнаружен их избыток, поэтому я не постеснялся изничтожить&nbsp; лишную органику&nbsp; с помощью своих зубов и желудка. Разумеется, предлагал я и свои пищевые ресурсы, но местное население они не заинтересовали. Это кроме латвийских шпрот, которые я спецом взял в подарок, и оставил Натану и Вартану). Я стараюсь каждому хосту отгрузить хотя бы крошечный сувенир, чтобы немного увеличить количество добра и сотрудничества в мире.</p><p align="left"><a href="/page/%D0%9F%D1%83%D1%82%D0%B5%D1%88%D0%B5%D1%81%D1%82%D0%B2%D0%B8%D1%8F#%D0%98%D0%B7%D1%80%D0%B0%D0%B8%D0%BB%D1%8C" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">К оглавлению</a></p>
	