Id: e208e8af-6e20-4e1c-9e15-fa41c4ac76b6
Title: "Израиль – 5, день 3, мидреше Бен Гуриона"
Published: "2014-01-14"
Slug: "2014-01-14 Израиль – 5, день 3, мидреше Бен Гуриона"
-
<p>Утром третьего дня мы с Майком, смазав цепи, и запасшись съестным, отправились в мидреше Бен Гуриона. Возможно, слово мидреше вам покажется знакомым – смахивает на арабское медресе, религиозные школы то есть, в некоторых из которых готовят будущих террористов. По крайней мере, иакое было у меня представление, когда я посылал запрос на сёрфинг: ожидал, что меня встретит бородатый хасид с пейсами в чёрной шляпе и фраке. Но пока мы ещё катим по пустыне, наслаждаясь очередным тёплым деньком.</p>
<p align="center">[more]</p>
<p align="center"><iframe src="https://www.gpsies.com/mapOnly.do?fileId=kkkqadnjzttmgiou" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" width="600" height="400"></iframe></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><a href="/files/blogengine/IMG_1858.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1858" data-src="/files/blogengine/IMG_1858_thumb.jpg" alt="IMG_1858"   border="0"></a></p>
<p align="center">&nbsp;</p>
<p><a href="/files/blogengine/IMG_1859.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1859" data-src="/files/blogengine/IMG_1859_thumb.jpg" alt="IMG_1859"   border="0"></a></p>
<p align="center"><a href="/files/blogengine/IMG_1862.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1862" data-src="/files/blogengine/IMG_1862_thumb.jpg" alt="IMG_1862"   border="0"></a></p>
<p align="center">Скульптура</p>
<p align="center"><a href="/files/blogengine/IMG_1865.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1865" data-src="/files/blogengine/IMG_1865_thumb.jpg" alt="IMG_1865"   border="0"></a></p>
<p align="center">У Майка траммировано плечо, поэтому он всегда едет в гору, никогда не идёт пешком, чтобы не толкать велик</p>
<p align="center"><a href="/files/blogengine/IMG_1867.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1867" data-src="/files/blogengine/IMG_1867_thumb.jpg" alt="IMG_1867"   border="0"></a></p>
<p align="center">Невероятно живописная дорога</p>
<p align="center"><a href="/files/blogengine/IMG_1868.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1868" data-src="/files/blogengine/IMG_1868_thumb.jpg" alt="IMG_1868"   border="0"></a></p>
<p align="center">Напоминает Биркинели в Латгале</p>
<p align="center"><a href="/files/blogengine/IMG_1872.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1872" data-src="/files/blogengine/IMG_1872_thumb.jpg" alt="IMG_1872"   border="0"></a></p>
<p align="center">Трейлы здорово размечены, почти всегда легко понять, куда катить</p>
<p align="left">А если у тебя ещё и gps есть – то вообще элементарно, там многие треки отмечены таким же цветом, как на знаках.</p>
<p align="left"><a href="/files/blogengine/IMG_1874.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1874" data-src="/files/blogengine/IMG_1874_thumb.jpg" alt="IMG_1874"   border="0"></a></p>
<p><a href="/files/blogengine/IMG_1875.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1875" data-src="/files/blogengine/IMG_1875_thumb.jpg" alt="IMG_1875"   border="0"></a></p>
<p align="center">Армия даёт школьникам почуствовать вкус победы, а вернее – сухой пыли и песка</p>
<p align="center"><a href="/files/blogengine/IMG_1876.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1876" data-src="/files/blogengine/IMG_1876_thumb.jpg" alt="IMG_1876"   border="0"></a></p>
<p align="center">Доехали до Седе Бокера – здесь редкая штука - открытый водоём (искусственный)</p>
<p align="left">Седе Бокер – очень известный кибуц. Знаменит он тем, что именно сюда в отставку отправился Бен Гурион, первый премьер-министр Израиля. Он был большим сторонником освоения Юга (то есть пустыни Негев), и сам подал пример, поселившись тут с супругой после завершения политической карьеры, и заделавшись заправским фермером, а вернее, кибуцником (вполне официальное слово, кстати, а не мой извращённый юмор). Тут находится его музей, а недалеко – и могила, поэтому здешние места служат местом паломничества множества сионистов. Раньше у меня в уме это слово имело какие-то подозрительные коннотации, но теперь я <span style="text-decoration: line-through;">уверовал</span> узнал, что это всего-навсего движение по восстановлению государства Израиль. Поскольку восстановление де-факто состоялось, а в нынешнем мире, если кто не знал, права государства на существование определяются признанием его другими государствами, полемику устраивать незачем. Как было до 1948 – уже никого не волнует, потому что сейчас вот так. Израиль признан всеми, кроме откровенных маргиналов с диктаторскими или профундаменталисткими режимами. Разумеется, ситуация может изменится опять – но это не значит, что у какой-то группы народов больше или меньше прав на какую-то территорию. Впрочем, в политических вопросах я компетентным себя не ощущаю, так что мнения по поводу того, кто прав в арабо-израильском конфликте, не имею. Моё мнение – универсально-гуманистическое, война и смерть – плохо, терроризм – тоже. То, что евреи приехали в пустыню и сделали из неё процветающее государство, могу только приветствовать, как приветствую любые проявления прогресса и цивилизации в научном и культурном смысле.</p>
<p align="left">&nbsp;</p>
<p align="left"><a href="/files/blogengine/IMG_1879.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1879" data-src="/files/blogengine/IMG_1879_thumb.jpg" alt="IMG_1879"   border="0"></a></p>
<p align="center">Веломагазин <a href="http://www.geofun.co.il/english/">geofun.co.il</a></p>
<p>Довольно скоро мы добрались до мидреше Бен Гуриона, и зарулили в веломагаз к знакомым Майка. Тут приключилась удивительная история. Сначала нас только угостил кофе владелец, а потом, когда я попробовал купить карту за 15$, он отказался взять деньги, сказал: “For Mike’s friends – priceless”. Простим ему немножко забавный английский за благородство души и широкий жест, который произвёл на меня неизгладимое впечатление.</p>
<p><a href="/files/blogengine/IMG_1880.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1880" data-src="/files/blogengine/IMG_1880_thumb.jpg" alt="IMG_1880"   border="0"></a></p>
<p align="center">Маленький центр посёлка накрыт крышей</p>
<p align="center"><a href="/files/blogengine/IMG_1881.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1881" data-src="/files/blogengine/IMG_1881_thumb.jpg" alt="IMG_1881"   border="0"></a></p>
<p align="center">Бисиклеты</p>
<p align="left">Тут мы встретились в Вартаном, моим хостом в мидреше. Я сгрузил ему свои сумки, сказал, что вернусь вечером, и двинул с Майком за дальнейшими приключениями. Фотик с собой не брал, на пейзажи налюбуетесь в следующей части. Мы славно прокатились, узнал, что такое singletrack – это тропинка навроде дороги, но проходимая для велосипеда, в отличие от trekking path или чего подобного. Синглтреки в этой области весьма техничные, местами не хватало двухподвеса. Хотя на тот момент пока ещё видал я и позубастее. Удовольствие, тем не менее, получил немеряное, как и любой другой человек. Если, ему, конечно, по душе пыль на зубах, зубодробительная тряска, боль и мышцах рук и ног, руль, выпрыгивающий из рук при каждом обороте колеса, и всё это под палящим солнцем.</p>
<p align="left">Мне же это всё пришлось так по нраву, что я ещё лишних километров двадцать намотал с того момента, когда Майк меня покинул, отправившись в одиночку домой. Честное слово, мне так не хотелось его отпускать, что я даже думал, доехав через пару дней до Мицпе Рамона, вернуться в Ревивим. Но то, чего желалось ещё недавно всей душой, назавтра уже - дела давно минувших дней, поэтому с Майком, как и несколькими другими людьми, которых мне очень бы хотелось повидать, я вряд ли ещё увижусь.</p>
<p align="left">Пока мы утром добирались до мидреше, я проколол колесо, и ещё раз –&nbsp; уже вечером. Причём все последующие проколы после первого были на заднем колесе с обычной камерой, не с самоклейкой на переднем. Вывод – либо самоклейка работает на все сто, либо кололось только заднее колесо.</p>
<p align="left">Вечером я с некоторым запасом времени добрался на мидреше, нашёл студенческий кампус, и меня встретил мой хост Вартан. Тут меня ждал оочень приятный сюрприз – мидреше на иврите означает просто “школа” или “университет”, а вовсе не пристанище ортодоксальных мракобесов. Как оказалось, мидреше Бен Гуриона – это филиал университета Беэр Шевы, по сути - академгородок. И живут на кампусе студенты с научным мировоззрением, метариалисты и скептики, то есть среда, в которой я чувствую себя наиболее комфортно. Настрой здесь, (как и многих других людей в Израиле) сугубо светский, а местами даже и весьма антирелигиозный, по крайней мере так я понял из бесед с Вартаном и другим хостами.</p>
<p align="left">Вартан позвал своих друзей, приготовил нам ужин (мясо-мясо), и мы отлично провели время за лёгкой весёлой беседой. Народ в универе со всех концов земли: из США, из России,&nbsp; сам Вартан и его сестра из Армении, много людей из Европы. Интересно, что в любом доме в Израиле есть электропечь для разогревания традиционных плоских хлебцов навроде питы, а вот микроволновка далеко на всегда имеется.</p>
<p align="left">Потом немного осмотрелись вокруг: прогулялись в темноте по городку, посмотрели корпуса разных факультетов. Лучше всего устроился факультет исследования воды: в Израиле нет темы более важной, потому как пустыня же.&nbsp; Вартан сам физик, друзья его занимаются математикой и аэропоникой, то есть выращиванием растений с корневой системой в воздухе вместо почвы.</p>
<p align="left"><a href="/files/blogengine/IMG_1882.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="IMG_1882" data-src="/files/blogengine/IMG_1882_thumb.jpg" alt="IMG_1882"   border="0"></a></p>
<p>В мидреше Бен Гуриона мне тоже понравилось; место другое, чем кибуц, но во многом похожее, ведь университетская среда демократична и эгалитарна. Двери в общежития частенько не закрывают; Вартану надо было рано утром уезжать в Иорданию, и он предложил мне оставить ключи прямо в комнате. Жаль, что я не провёл в посёлке больше времени, но ведь дорога манит вперёд, всегда в будущем есть нечто новое, неизведанное, полное загадки и тайны.</p><p><a href="/page/%D0%9F%D1%83%D1%82%D0%B5%D1%88%D0%B5%D1%81%D1%82%D0%B2%D0%B8%D1%8F#%D0%98%D0%B7%D1%80%D0%B0%D0%B8%D0%BB%D1%8C" style="color: rgb(92, 128, 177); padding-right: 10px; white-space: nowrap; font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; background: url(&quot;../../pics/remote.gif&quot;) 100% 0% no-repeat rgb(255, 255, 255);">К оглавлению</a></p>
	