Id: e7d38041-dce4-4bd3-96dd-d8750c60b789
Title: "Иордания – 6, день 2, ужин в Аль Мазре"
Published: "2015-12-16"
Slug: "2015-12-16 Иордания – 6, день 2, ужин в Аль Мазре"
-
<p>Рыбаков, конечно, впал в ступор, когда нас эдак резко усадили и налили чаю, и стали рассказывать, что у них тут да как. Он так до самого заката толком и не понимал, что же происходит, и испытывал смешанные чувства. Однако же, я не просто так остановился у этого домишки с надписью “Аль-Нумейра”. Дело в том, что я припомнил, как читал в профиле нашего хоста Вильяма, что эта та самая NGO (некоммерческая организация) в которой он задействован, и он даже присылал телефоны своих друзей оттуда, которые, я, к несчастью, не записал. Организация эта занимается внедрением экосознательности в умы жителей региона, и просвящает, как правильно беречь воду и электричество, выращивать овощи и фрукты с минимальными тратами.</p>
<p><a href="/files/blogengine/PB200136.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="PB200136" data-src="/files/blogengine/PB200136_thumb.jpg" alt="PB200136"   border="0"></a></p>
<p>[more]</p>
<p><iframe src="https://www.gpsies.com/mapOnly.do?fileId=gzktnvdokqxylflu" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" width="600" height="400"></iframe></p>
<p>&nbsp;</p>
<p>Я показал мужику постарше свой телефон с номером Вильяма, и спросил, знает ли он этого человека. “Да это же мой брат” – ответил мужик, который позже представился как Малак. За столом, где мы пили чай, ещё присутствовал астралиец, который записался добровольцем через сайт, аналогичный коучсёрфингу, но для волонтёров. Астралиец рассказал, что ночевать мы будем в другом месте, но Саша не смог разобрать его акцент, поэтому так и продолжал пребывать в прострации. Тем временем, мы выпили несколько чайников местного чая, про который стоит рассказать отдельно.</p>
<p>Чай, который традиционно пьют в Иордании, это чёрный чай из пакетиков, причём оформлены они как “Липтон” (подозреваю, что это он самый и есть). На вкус чай ужасен, но иорданцам этого мало. Они добивают несчастных европейцев тем, что прямо в чайник насыпают стакан сахара, а потом ещё предлагают добавить ложку-другую в стаканчик. Всё это было бы совсем невыносимо, но, чтобы сдобрить пилюлю, местные добавляют в чайник несколько листиков сушёного или свежего шалфея или мяты. Из-за шалфея от чая жутко несёт лекарствами, и, наверное, нормальный человек такое пить не стал бы, но в данном случае это добавляет национального колорита, и делает просто отвратительный чёрный чай в какой-то мере терпимым, потому что он превращается в самобытность и погружение в культуру. Как известно, всё зависит от точки зрения.</p>
<p><a href="/files/blogengine/PB200137.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="PB200137" data-src="/files/blogengine/PB200137_thumb.jpg" alt="PB200137"   border="0"></a></p>
<p>В конце-концов стемнело, ребята закрыли офис, и показали нам дорогу до места с пафосным названием Dead Sea Harmony Center, места, которое Вильям обустроил для приёма коучсёрферов и волонтёров. Название громкое, но на деле это оказалось просто сараем во дворе дома Вильяма. Сарай так сарай, решили мы, и уже было стали решать, готовится ли отойти ко сну или пойти поискать съестного (хотя было едва ли шесть вечера), как Малак сообщил, что мы пойдём к нему ужинать.</p>
<p>Отлично!</p>
<p>Малак живёт в трёхэтажном многоквартирном доме, в квартире почему-то огромные коридоры, а в гостиной вместо мебели футоны. Пока мы беседовали о том, о сём с австралийцем (которого, кстати, зовут Джош), Малак, его приятель (может ещё один брат?) и жена чистили фасоль на ужин. Дело в том, что многие иорданцы вегетарианцы поневоле: мясо дороговато, поэтому редят его редко. Может быть, не вегетарианцы, а флексатарианцы?</p>
<p>Как бы то ни было, во время этого процесса Малак задавал каверзные вопросы (хотя и извинился, что они носят личный характер). Какой мы веры? Часто ли ходим в церковь?&nbsp;</p>
<p>На этом месте мы с австралийцем Джошем переглянулись, и промычали что-то про то, что крещены католиками. Потом мы с ним втихую обсудили, что оба атеисты, но решили при Малаке этого громко не озвучивать. Рыбакова такие вопросы так насторожили, что он начал шутить про то, ночью к нам придут и зарежут. Малак рассказал о том, что мусульманин может взять в жёны христианку (по-моему, при условии, что она примет ислам), но не наоборот, и другие штуки про местную жизнь и ислам, но всего не упомнишь.</p>
<p>Австралиец, кстати, сказал, что ему рекламировали Латвию как страну самых красивых женшин в мире, на что я позвал его в гости и дал адрес.</p>
<p>Малак же гордо продемонстрировал нам своих сына и дочь, а также то, что его дети знают английские слова, особенно почему-то упирал на “кондиционер”. Мелькала местами и его жена в хиджабе, и даже перекинулась с нами парой слов, а позже присоединилась к ужину. Саша говорит, что под хиджабом она сверкала трениками Адидас. Ужин состоял из лепёшек пита, жареной фасоли в смеси с другими овощами, отдельно на тарелочках лежали также свежие и солёные огурцы (острые), очень острый перец, и другие закуски. Не обошлось и без хумуса, но весь хумус, который мы ели в иорданской глубинке, оставлял желать лучшего.</p>
<p><a href="/files/blogengine/PB200139.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="PB200139" data-src="/files/blogengine/PB200139_thumb.jpg" alt="PB200139"   border="0"></a></p>
<p>&nbsp;</p>
<p><a href="/files/blogengine/PB200140.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="PB200140" data-src="/files/blogengine/PB200140_thumb.jpg" alt="PB200140"   border="0"></a></p>
<p>&nbsp;</p>
<p><a href="/files/blogengine/PB200142.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="PB200142" data-src="/files/blogengine/PB200142_thumb.jpg" alt="PB200142"   border="0"></a></p>
<p><a href="/files/blogengine/DSC_0114.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0114" data-src="/files/blogengine/DSC_0114_thumb.jpg" alt="DSC_0114"   border="0"></a></p>
<p><a href="/files/blogengine/DSC_0115.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0115" data-src="/files/blogengine/DSC_0115_thumb.jpg" alt="DSC_0115"   border="0"></a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Кстати, Малак неоднократно курил при детях, просто приоткрыв окно. Для нас, европеизированных мажоров среднего класса, это выглядело на редкость дико. Я, правда, вообще натура чувствительная, и всегда морщусь, когда вижу, как родители курят рядом с коляской или ребёнком.</p>
<p>В конце-концов пришло время идти обратно. На первом этаже дома была ещё одна некоммерческая организация;Малак сказал, что она занимается помощью бедным и обучением английскому. Он зачем-то завёл нас туда, и рассадил на стулья, после чего человек за столом учинил австралийцу форменный допрос, нечто среднее между “топиками” эзаменационного билета учителя английского языка и вопросами имиграционного чиновника.</p>
<p>“Какое у вас образование? С какой целью вы прилетели в Иорданию? На чём основана экономика Австралии? Какие там основные религиозные и этнические группы?” – вопросы сыпались один за другим, но выглядело это всё как странный экзамен, где ответы спрашивающего не интересуют, а волнует насколько бегло и бойко экзаменуемый отвечает. На нас этот гражданин снисходительно обращал внимание лишь пару раз, поэтому всё, что нам оставалось, внимать этому театру абсурда.</p>
<p>Продолжалось, это, впрочем, недолго, и скоро мы вернулись в родной сарай. Уже приготовились отходить ко сну, как я увидел на крыльце задней двери дома человека, как я догадался – таинственного Вильяма. Он всё-таки существует, и зовут его действительно так! Редкий случай, когда проницательный мистер Рагай ошибся – местного действительно могут звать Вильям.</p>
<p>Вильям почти шатался от усталости, и ещё не заполнил отчёт о работе за день (он инженер водоснабжения), а ему ещё надо было уделить время семье. Он говорил очень мягким, добрым и уставшим голосом, мы с ним обменялись комплиментами, я подарил латвийскую шоколадку, которую догадался захватить Саша, но которая давным-давно превратилась в аморфную массу. Вильям ещё спросил, почему в туалете сарая для ночёвки горит свет, на что я ему сказал, что как раз иду туда. Когда я вернулся в сарай, и спросил австралийца, как выключить свет в туалете, он ответил: “Честно говоря, я даже и не знал, что в туалете есть свет”, на что мы дружно поржали. Лампочки, у Вильяма везде действительно были экономичные, огромные те, что светят на 150-200 ватт. В других местах мы видели массу обычных ламп накаливания.</p>
<p><a href="/files/blogengine/PB200143.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="PB200143" data-src="/files/blogengine/PB200143_thumb.jpg" alt="PB200143"   border="0"></a></p>
<p><a href="/files/blogengine/DSC_0117.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0117" data-src="/files/blogengine/DSC_0117_thumb.jpg" alt="DSC_0117"   border="0"></a></p>
<p>Спать было тяжело: грубая циновка царапала кожу, сквозь ставни пробивался свет и холодный воздух, было невероятно сухо, и везде была пыль и песок: в носу, на теле, в глазах и лёгких. Завтра нам предстояло подняться с минус четырёхсот метров до 1.2 км высоты, в&nbsp; замок Карак.</p><p><a href="/page/%D0%9F%D1%83%D1%82%D0%B5%D1%88%D0%B5%D1%81%D1%82%D0%B2%D0%B8%D1%8F#%D0%98%D0%BE%D1%80%D0%B4%D0%B0%D0%BD%D0%B8%D1%8F" target="_blank" style="line-height: 1.42857; background-color: rgb(255, 255, 255);">К оглавлению</a></p>
	