Id: d16531d5-af4c-484c-a26a-f354acf994a9
Title: "Иордания - 3, день первый, из Акабы в Амман"
Published: "2015-12-12"
Slug: "2015-12-12 Иордания - 3, день первый, из Акабы в Амман"
-
<p>Прошлая часть закончилась тем, что мы сели на автобус. Что я забыл упомянуть, так это то, что автобус двухэтажный, кондиционированный, с проводницей, делающей чай и кофе, и даже с работающим туалетом! Первый раз в жизни сходил в туалет в автобусе. Следите за текстом, это далеко не последний раз, когда в этой поездке мы видели или делали что-то в первый раз.</p>
<p>Не успел автобус проехать и тридцати километров, как остановился. Но не просто так – нас попросили выйти и выложить вещи. Оказывается, внутри страны есть блокпосты, и там, хоть и спустя рукава, но проверяют странствующих и их вещи. Израиль близко, и пока иорданцы хотят с ним поддерживать нормальные отношения, поэтому борются с терроризмом, как умеют.</p>
<p>Как бы то ни было, перерыв был недолгим. По пути останавливались ещё несколько раз – без особых причин, просто на перекуры. Это был второй раз из примерно миллиона, когда мы столкнулись с тем, что иорданцы курят как паровозы. Всегда и везде – за рулём, на посту, на кассе, при детях, дома, в лобби отеля, на ресепшене, на этажах, и судя по прокуренным номерам – даже и в них, хотя порой и висят запрещающие знаки.</p>
<p>[more[</p>
<p>Автобус шёл в районе 4 часов, и мы с утра порядком проголодались. Саша с собой захватил бананов и сникерсов, и всё удивлялся,&nbsp; как это я вообще ничего не ем. Мне же кусок в горло не лез от перспективы через пару дней крутить 2.5 км&nbsp; набора и 102 км в длину в горах с температурой.</p>
<p>Тем не менее, что бы с тобой не случилось (а оно продолжает случаться постоянно, и вот даже в данный конкретный момент), а силы поддерживать всё-таки надо, поэтому мы развели Джойлента.&nbsp; Название вы это услышите ещё не раз, но подробнее я расскажу позже.</p>
<p>Долго ли коротко ли, мы прибыли в Амман, город с населением больше двух миллионов человек и столицу Иордании. Автостанции устроены как в Израиле: по периметру высокий забор, внутрь можно попасть только через шлагбаум на автобусе, или дверь с металлоискателем пешком. Но и тут сказалась известная Иорданская безалаберность: пока мы в очередной раз собирали велики, все охранники свалили, и мы спокойно прошли через рамку без единой души поблизости.</p>
<p>Таксист, дежурящий у входа, сразу предложил подвезти, и поинтересовался, какие планы на завтра. Вопреки советам, которые рекомендуют путешественникам не посвящать посторонних в подробности их будущий действий, я таксисту сообщил, что мы двинемся на мёртвое море. Он сразу озвучил таксу: 25 динаров. Чёткий подход, ничего не скажешь. С трудом от него отделавшись, мы стали запускать навигатор, чтобы добраться до апартаментов. Все треки у нас, как я уже упоминал, предусмотрительно было проложены до конечных точек, т.е. всё, что требовалось – доехать до конца и оглянуться как следует. Не всегда, кстати, просто было такие соорудить: так, автостанции Jett не отмечены в онлайн картах, да и координаты найти непросто. С отелями легче: на парочке Гугль сбоил, но на booking.com, как оказалось, всегда их сообщают.</p>
<p>По каким-то таинственным причинам, мой телефон, который, обладая приёмниками и GPS и ГЛОНАСС, обычно работает быстрее некуда, решил закапризничать, поэтому ещё какое-то время мы потратили на то, чтобы Саша врубил Гармин. Вокруг нас в это время бурлила жизнь крупного города: хотя было уже около десяти часов, улица была заполнена куда-то спешащими людьми, тротуар заполнен мусором, стульями и коробками, рядом куча освещённых ларьков без ценников, столовки, где-то курят кальяны и везде – сигареты.</p>
<p>Насчёт отсутствия ценников – тоже характерная Иорданская черта. Если в ресторанах цены в меню ещё кое-как и кое-где встречаются, то в магазинах – никогда. Видимо, логика такая, что местные и так их знают, а с лошка можно содрать лишку. Не заморачиваясь пока поиском обменника (как вы помните, у нас напряг с местной валютой), мы двинули прямо к апартаментам. Район, где они находились не выглядел слишком уж приветливо: никого нет, рядом какие-то стройки, здания маленько пошарпанные (хотя рядом, где мы шли – один из центров города). В итоге мы нашли дверь с телефоном, я заглянкл внутрь, но ничего там не обнаружил, кроме табуретки. Пришлось звонить по номеру, где было без прикрас написано GUARD NADER.</p>
<p>Как и многие другие, я не любитель разговаривать по телефону с незнакомыми людьми, тем более на английском, но выхода не было уже в какой раз, тем более, не могу из скромности не признать, я действительно говорю на английском вполне сносно, и главное – обычно понимаю акценты и говоры ввиду широкой коучсёрферской практики. Это, мне правда, не очень помогло, потому что человек на том конце (а именно, египтянин Надир) этого умения был начисто лишён.</p>
<p>К счастью, он знал, что делать, спустился к нам из своей каморки вниз, позвонил кому-то третьему и дал мне свой телефон в руки.</p>
<p>И вот, я стою после двух суток без сна, одуревший, заболевший и культурно шокированный чужой средой, и пытаяюсь понять, почему и кто на том конце меня так подробно допрашивает и планах, сегодняшних и завтрашних. Из-за врождённой скромности я не могу перейти прямо к делу, то есть заселению, поэтому выкладываю всё, как на духу. Таинственный незнакомец говорит, что ждал нас с полудня, и я обещал ему прислать СМС. Но она не дошла, потому что мы не записали международный телефонный код Иордании (одна из немногих промашек планирования).</p>
<p>Как бы то ни было, голос, хорошо и понятно говорящий на английском языке, обещает манну небесную, а именно:</p>
<p>1) Нас заселят в лучший, самый лучший номер!</p>
<p>2)Велосипеды спрячут от посторонних глаз!</p>
<p>3) Нам поменяют деньги!</p>
<p>4) У него VW Гольф и он отвезёт нас завтра на мёртвое море!</p>
<p>5) Нам покажут, где можно вкусно перекусить за умеренную цену!</p>
<p>Всё это он сопровождает весьма сомнительной фразой “We are not businessmen, you know”.</p>
<p>“Время рассудит” – решаю я, Надир объясняет, что это был хозяин апартаментов, некий Mr. Rajaj (читается Рагай).</p>
<p>Надир заселяет нас в большой номер с двумя спальнями, гостиной, двумя туалетами с бытовой техникой, украшенный, слешка пошарпанный, но как мы узнаём позже, очень даже пристойный по иорданским меркам. Горячая вода добирается из кухонного бойлера, поэтому я паникую, что ё не будет, а меня трясёт, у меня 37.1 и мне действительно нужно в душ, чтобы хоть как-то расслабиться. К счастью, не склонный к панике Рыбаков открывает кран и предлагает подождать минуты две-три, всё налаживается.</p>
<p><a href="/files/blogengine/DSC_0009.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="DSC_0009" data-src="/files/blogengine/DSC_0009_thumb.jpg" alt="DSC_0009"   border="0"></a></p>
<p>&nbsp;</p>
<p><a href="/files/blogengine/PB190021.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="PB190021" data-src="/files/blogengine/PB190021_thumb.jpg" alt="PB190021"   border="0"></a></p>
<p>Надо сказать, что у Иорданцев везде бойлеры, и ситуация с ожиданием воды была абсолютно во всех отелях. В большинстве ещё воды этой хватало ровно на полторы серъёзых помывки, поэтому Саша каждый день против своей воли закалялся, начиная с двадцати секунд тёплой воды, и заканчивая весьма прохладной.</p>
<p>Надир меняет нам столько денег, сколько у него есть в кошельке (общаемся мы с ним через гугль транслейт на телефонах), причём даже не ожидает, что мы ему сразу отдадим евро (мол, завтра с Рагаем рассчитаетесь). Мы всё равно решаем финансовый вопрос уладить сразу, чтобы потом судорожно не париться. Даём ему денег по гуглю (если кто не знает, там можно написать 200 EUR in JOD и он конвертнёт). Как оказывается позже, Мр. Рагай курс смотрит аналогично. Вот это я понимаю “We are not businessmen”.</p>
<p>Надир отводит нас в ресторан столового типа, где мы вкусно и до отвала ужинаем неизвестно чем, потому что не понимаем меню, примерно за 8 динаров на двоих. (Смело заменяйте динары латами, если что). Саша всё съесть не может, сказались бананы и сникерсы, поэтому просит упаковать с собой и доедает утром. Пока суд да дело, на часах уже около 12, мы срочно валим спать. Хорошо хоть не надо завтра вставать в семь, чтобы успеть на автобус –&nbsp; старина Рагай, как волшебник страны Оз, решает все наши проблемы, и эту тоже.</p><p><a href="/page/%D0%9F%D1%83%D1%82%D0%B5%D1%88%D0%B5%D1%81%D1%82%D0%B2%D0%B8%D1%8F#%D0%98%D0%BE%D1%80%D0%B4%D0%B0%D0%BD%D0%B8%D1%8F" target="_blank" style="background-color: rgb(255, 255, 255);">К оглавлению</a></p>
	