Id: ed91783d-4925-422b-a246-fda75fa6b3aa
Title: "Кипр – 9, день восьмой, окрестности Ларнаки"
Published: "2015-07-26"
Slug: "2015-07-26 Кипр – 9, день восьмой, окрестности Ларнаки"
-
<p>&nbsp;</p>
<p>Моё повествование близится к завершению – меня покидает верный товарищ и саркастичный балагур Рыбаков. Он спешит в Латвию, на <a href="http://www.stiproskrejiens.lv">Stipro Skrējiens</a> – забег людей, которым мало забираться в горы 2км, им ещё надо барахтаться в весенней ледяной грязи, ломать конечности на покрытых слизью деревянных препятствиях и претерпевать всяческие другие унижения и издевательства, чтобы жизнь не казалась скучной. Я, по-своему, тоже скучаю,&nbsp; но не до такой степени, поэтому у меня остаётся ещё пара дней на раскрытие окрестностей Ларнаки.</p>
<p><iframe src="https://www.gpsies.com/mapOnly.do?fileId=spbstvjwuqvleuby" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" width="600" height="400"></iframe></p>
<p>&nbsp;</p>
<p>Рыбаков улетел ранним утром, а я неспешно покатил в центр, зайти в веломагазин, чтобы забрать из веломастерской запчасти от ремонта обода из первого дня. Меня ожидал облом – магазин был закрыт, несмотря на пятницу. Я спросил первого попавшегося Киприота, в чём дело, и тот ответил "Bank holiday". Для тех, кто не общался тесно с англичанами, такое выражение может показаться загадочным – при чём тут банк, если закрыты магазины? К счастью, я уже повидал мир (тут идёт торжественное кряхтение) и потому в курсе, что это просто традиционное британское название для выходных (кому важна история, так дело простое – в первую очередь не работал в некоторые дни Банк Англии).</p>
<p>А ответил мне Киприотский дед английской идиомой потому, что связи Кипра в Британской Империей велики, и он только оттуда.</p>
<p>Но что же за выходной такой посреди весны? Бум! Бум! Удары в барабан вокруг вызвали озарение в моём измученном жарой и бесконечными наборами высоты мозгу. Сегодня же первое мая, день труда!</p>
<p>По главному проспекту, а затем и по длиннующей набережной, топает торжественная процессия школьников, юношей и девушек в униформах. Я столько ударных инструментов за всю свою жизнь не видел – кажется, что весь Кипр пришлось обойти, чтобы каждого вооружить. Униформы всех цветов – зелёные, белые, красные, а среди них масса флагов с сжатым кулаком, похоже, что профсоюзного движения или его разных подвидов.</p>
<p>[more]</p>
<p>&nbsp;</p>
<p><iframe src="https://www.youtube.com/embed/xVq_Yhx2u9Y" frameborder="0" width="1280" height="750"></iframe></p>
<p>&nbsp;</p>
<p><iframe src="https://www.youtube.com/embed/ykaqxYIb3L4" frameborder="0" width="1280" height="750"></iframe></p>
<p><a href="/files/blogengine/IMG_3941.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3941" data-src="/files/blogengine/IMG_3941_thumb.jpg" alt="IMG_3941"   border="0"></a></p>
<p>Медленно повтыкав на парад, я всё-таки решился влипнуть по-крупному, и проехать шоссейный маршрут уже известной вам CTO, с длиной, близкой к ста километрам. Поздно задавать вопрос, зачем мне это – курс выбран, ориентиры видны, пришла пора действовать.</p>
<p><a href="/files/blogengine/IMG_3945.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3945" data-src="/files/blogengine/IMG_3945_thumb.jpg" alt="IMG_3945"   border="0"></a></p>
<p>Запасшись водой как следует (кто знает, что там по пути ждёт), я двинул треугольником вокруг ветряков, которые вам будут видны во многих ракурсах на моих фото.</p>
<p>Ждали меня на маршруте бесконечные пшеничные поля, светящиеся золотом. Столько пшеницы за всю свою жизнь не видел – но, поздозреваю, что просто не довелось побывать в тех частях Украины, которые житница.</p>
<p>В лицо задувал тёплый, но очень сильный встречный ветер, создающий ласковое ощущение того, что сейчас – разгар лета, но при этом не дающий забыть, что я всё-таки около моря.</p>
<p>Масса велосипедистов в возрасте на крутых шоссерах в велоформе. При желании я мог бы их даже наверное и догнать, ехали мы едва 25, но жестить не стал – впереди ждал ещё километр набора, и 90 км дистанции.</p>
<p><a href="/files/blogengine/IMG_3946.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3946" data-src="/files/blogengine/IMG_3946_thumb.jpg" alt="IMG_3946"   border="0"></a></p>
<p>В этих местах растительность куда поживее, видимо поливают как следует. Результат восхитительный – пахнет вкусно, выглядит здорово.</p>
<p><a href="/files/blogengine/IMG_3947.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3947" data-src="/files/blogengine/IMG_3947_thumb.jpg" alt="IMG_3947"   border="0"></a></p>
<p>Если не можешь отличить древнюю церковь от современной, и в чём состоит ценность архитектурного памятника, стоит ли вообще их изучать? Я раньше очень парился, что чего-то не знаю, а теперь думаю, что всего знать невозможно, да и какая в сущности разница – кругозор иметь приятно и полезно, но как и везде, лучше без фанатизма.</p>
<p><a href="/files/blogengine/IMG_3948_1.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3948" data-src="/files/blogengine/IMG_3948_thumb_1.jpg" alt="IMG_3948"   border="0"></a></p>
<p><a href="/files/blogengine/IMG_3950.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3950" data-src="/files/blogengine/IMG_3950_thumb.jpg" alt="IMG_3950"   border="0"></a></p>
<p align="center">Ветряки не фоне пшеницы</p>
<p align="center"><a href="/files/blogengine/IMG_3958.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3958" data-src="/files/blogengine/IMG_3958_thumb.jpg" alt="IMG_3958"   border="0"></a></p>
<p align="center">Холмы на фоне гор</p>
<p align="center"><a href="/files/blogengine/IMG_3960.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3960" data-src="/files/blogengine/IMG_3960_thumb.jpg" alt="IMG_3960"   border="0"></a></p>
<p align="center">Пшеница на фоне пшеницы</p>
<p align="center"><a href="/files/blogengine/IMG_3961.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3961" data-src="/files/blogengine/IMG_3961_thumb.jpg" alt="IMG_3961"   border="0"></a></p>
<p align="center">Железный дровосек на фоне рекламы</p>
<p align="center"><a href="/files/blogengine/IMG_3962.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3962" data-src="/files/blogengine/IMG_3962_thumb.jpg" alt="IMG_3962"   border="0"></a></p>
<p>В этой части Кипра полно вот таких мини-холмов. На один или два таких я забрался, но это скучно и не нужно – там, как правило, ничего нет, кроме лишних двухсот метров.</p>
<p><a href="/files/blogengine/IMG_3964.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3964" data-src="/files/blogengine/IMG_3964_thumb.jpg" alt="IMG_3964"   border="0"></a></p>
<p align="center">И камней, изредка покрытых деревьями</p>
<p align="center"><a href="/files/blogengine/IMG_3965.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3965" data-src="/files/blogengine/IMG_3965_thumb.jpg" alt="IMG_3965"   border="0"></a></p>
<p align="center">&nbsp;</p>
<p><a href="/files/blogengine/IMG_3967.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3967" data-src="/files/blogengine/IMG_3967_thumb.jpg" alt="IMG_3967"   border="0"></a></p>
<p align="center">Охраняемый памятник старины, между прочим. Я бы снёс, не раздумывая</p>
<p><a href="/files/blogengine/IMG_3970.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3970" data-src="/files/blogengine/IMG_3970_thumb.jpg" alt="IMG_3970"   border="0"></a></p>
<p align="center">Самый достойный знак на маршруте</p>
<p align="center"><a href="/files/blogengine/IMG_3973.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3973" data-src="/files/blogengine/IMG_3973_thumb.jpg" alt="IMG_3973"   border="0"></a></p>
<p>&nbsp;</p>
<p><a href="/files/blogengine/IMG_3975.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3975" data-src="/files/blogengine/IMG_3975_thumb.jpg" alt="IMG_3975"   border="0"></a></p>
<p><a href="/files/blogengine/IMG_3976_1.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3976" data-src="/files/blogengine/IMG_3976_thumb_1.jpg" alt="IMG_3976"   border="0"></a></p>
<p align="center">Местами совсем смахивает на родные края, особенно, если вообразить, что лето выдалось жаркое и засушливое</p>
<p align="center"><a href="/files/blogengine/IMG_3977.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3977" data-src="/files/blogengine/IMG_3977_thumb.jpg" alt="IMG_3977"   border="0"></a></p>
<p align="center">Такие дороги мне больше по нраву, чем асфальт, но сил на планирование и навигацию уже не было</p>
<p align="center"><a href="/files/blogengine/IMG_3981.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3981" data-src="/files/blogengine/IMG_3981_thumb.jpg" alt="IMG_3981"   border="0"></a></p>
<p><a href="/files/blogengine/IMG_3985.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3985" data-src="/files/blogengine/IMG_3985_thumb.jpg" alt="IMG_3985"   border="0"></a></p>
<p><a href="/files/blogengine/IMG_3987_1.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3987" data-src="/files/blogengine/IMG_3987_thumb_1.jpg" alt="IMG_3987"   border="0"></a></p>
<p align="center">Заехал на место раскопок в объезд закрытого на замок музея через чей-то огород. Мы, туристы, такие наглые морды, нецивилизованные – если что интересно, лезем напролом</p>
<p align="center"><a href="/files/blogengine/IMG_3990.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3990" data-src="/files/blogengine/IMG_3990_thumb.jpg" alt="IMG_3990"   border="0"></a></p>
<p align="center">&nbsp;</p>
<p align="center"><a href="/files/blogengine/IMG_3992.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3992" data-src="/files/blogengine/IMG_3992_thumb.jpg" alt="IMG_3992"   border="0"></a></p>
<p align="center">Невиданный след цивилизации посреди деревень</p>
<p align="center"><a href="/files/blogengine/IMG_3993.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3993" data-src="/files/blogengine/IMG_3993_thumb.jpg" alt="IMG_3993"   border="0"></a></p>
<p align="center">Часть пшеницы уже собрали</p>
<p align="center"><a href="/files/blogengine/IMG_3995.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3995" data-src="/files/blogengine/IMG_3995_thumb.jpg" alt="IMG_3995"   border="0"></a></p>
<p align="center">А часть ещё нет</p>
<p align="center"><a href="/files/blogengine/IMG_3996.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3996" data-src="/files/blogengine/IMG_3996_thumb.jpg" alt="IMG_3996"   border="0"></a></p>
<p align="center">Скучнейшие холмы на свете, но один раз посмотреть интересно</p>
<p align="center"><a href="/files/blogengine/IMG_3999.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3999" data-src="/files/blogengine/IMG_3999_thumb.jpg" alt="IMG_3999"   border="0"></a></p>
<p align="center">Ветряки с другой стороны</p>
<p align="center"><a href="/files/blogengine/IMG_4001.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_4001" data-src="/files/blogengine/IMG_4001_thumb.jpg" alt="IMG_4001"   border="0"></a></p>
<p><a href="/files/blogengine/IMG_4003.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_4003" data-src="/files/blogengine/IMG_4003_thumb.jpg" alt="IMG_4003"   border="0"></a></p>
<p>Я проехал в одиночку больше ста километров в этот день. Есть люди, которым в одиночестве комфортно и спокойно, но я, чем дальше живу, тем больше понимаю, что человек – существо социальное, и я, наверное, социальнее многих. Деление на интровертов и экстравертов, как и все социальные конструкты – надуманное. Если есть чем заняться, я неплохо провожу время и один, как сейчас, например, когда пишу в этот кондовый, по выражению одного визитёра, блог, или когда вдумчиво работаю и погрузился в процесс целиком. Но такое погружение, известное также как flow, поток, легко даётся людям спокойным. Тем же, кто эмоционально более подвижен, проще всего погрузится в беседу или общую игру, потому что мы, люди, на это заточены, будь ты хоть самый интровертный интроверт на земле.</p>
<p>Я поеду путешествовать и один, если того не миновать, и такой способ тоже хорош – он сподвигает на выход из зоны комфорта и общение и местными жителями. В конце-концов, сейчас мы живём в глобальной деревне, и хакнув местный дырявый вайфай от телеком-оператора, можно звонить друзьям в Латвию из любой деревни. Но прожив десяток-другой лет начинаешь ценить нечто более физическое и реальное – живое человеческое общение, окружающие пейзжажи, запах леса и полей. Слишком много у человека органов чувств, и слишком слоджно они устроены, чтобы нам было достаточно ныне существующих виртуальных игрушек.</p>
<p>Мир бесконечен, непознаваем, сложен и красив.</p><p><a href="/post/2015-08-22%20Кипр%20%20–%2011,%20Заключение" style="color: rgb(92, 128, 177); font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; padding-right: 10px; white-space: nowrap; background-image: url(&quot;../../pics/remote.gif&quot;); background-attachment: initial; background-color: rgb(246, 246, 246); background-size: initial; background-origin: initial; background-clip: initial; background-position: 100% 0%; background-repeat: no-repeat;">К оглавлению</a></p>
	