Id: 1440b3bc-260e-4a39-9aa8-2a7ef3567b64
Title: "Иордания – 9, день четвёртый, утренний подъём возле Карака"
Published: "2015-12-19"
Slug: "2015-12-19 Иордания – 9, день четвёртый, утренний подъём возле Карака"
-
<p>Мы проснулись около семи, и не завтракая, быстро собрались. На улице было серо, прохладно и промозгло, насколько это балтийское слово применимо к стране, в которой дождь бывает пару раз в год. Небо было затянуто серой пеленой, ощущение было такое, что может даже на нас&nbsp; упадёт пара капель. Разумеется, это было иллюзией: за всё наше пребывание в Иордании дождя мы так и не дождались, хотя, по слухам, незадолго до нашего приезда в Аммане были даже наводнения.</p><p><a href="/files/blogengine/PB220200.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="PB220200" data-src="/files/blogengine/PB220200_thumb.jpg" alt="PB220200"   border="0"></a></p><p><a href="/files/blogengine/PB220205.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="PB220205" data-src="/files/blogengine/PB220205_thumb.jpg" alt="PB220205"   border="0"></a></p>
<p align="center">Велики предложили поставить прямо в лобби, благо на ночь оно закрывается</p>
<p align="center"><a href="/files/blogengine/PB220206.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="PB220206" data-src="/files/blogengine/PB220206_thumb.jpg" alt="PB220206"   border="0"></a></p>
<p><a href="/files/blogengine/PB220207.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="PB220207" data-src="/files/blogengine/PB220207_thumb.jpg" alt="PB220207"   border="0"></a></p>
<p><a href="/files/blogengine/PB220208.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="PB220208" data-src="/files/blogengine/PB220208_thumb.jpg" alt="PB220208"   border="0"></a></p>
<p><a href="/files/blogengine/PB220210.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="PB220210" data-src="/files/blogengine/PB220210_thumb.jpg" alt="PB220210"   border="0"></a></p>
<p align="center">Лобби отеля красиво украшено</p>
<p align="center"><a href="/files/blogengine/PB220211.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="PB220211" data-src="/files/blogengine/PB220211_thumb.jpg" alt="PB220211"   border="0"></a></p>
<p align="center">&nbsp;</p>
<p align="center"><a href="/files/blogengine/PB220212.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="PB220212" data-src="/files/blogengine/PB220212_thumb.jpg" alt="PB220212"   border="0"></a></p>
<p align="center">&nbsp;</p>
<p align="left">Отель наш находился около перекрёстка, где дорога из Карака стыкуется с широко известным “King’s Highway”. Дело в том, что в Иордании с севера на юг идут аж три шоссе: дорога вдоль мёртвого моря, по который мы катились в предыдущих частях, новое скоростное шоссе “Desert highway”, и живописная дорога, петляющая по горам, которой более двух тысяч лет, и которой пользовались ещё верблюжьи караваны, чтобы перевозить специи. Она называется “Королевское шоссе” (King’s Highway), и всячески рекомендуется туристам ввиду своей красоты и извилистости. Довольно большая часть нашего маршрута (заимствованного, напомню, с небольшими изменениями с сайта <a href="https://www.keadventure.com/holidays/jordan-cycling-dead-red-sea-petra">KE Adventure Travel</a>) пролегала по этой дороге с номером 35, но именно из Карака мы на неё свернули. Забегая вперёд, скажу, что хотя шоссе действительно поражает пейзажами, на многих его участках движение довольно оживлённое, а избыток автомобилей и выхлопных газов вовсе не ведёт к гармонии в сердце велосипедиста. К счастью, мудрые товарищи, составившие наш трек, об этом позаботились, и немалая его часть проходила по бездорожью, что нашей душе завсегда отрада.</p>
<blockquote>
<p><a href="/files/blogengine/kingshighway.png"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="kingshighway" data-src="/files/blogengine/kingshighway_thumb.png" alt="kingshighway"   border="0"></a></p>
</blockquote>
<p>Забавно, но гугл вообще невозможно уговорить проложить маршрут из Аммана в Акабу по этому шоссе, пришлось использовать Бинг, да и то перетаскивать точки руками.</p>
<p>Съехав вниз от отеля к оживлённому перекрёстку с Королевским шоссе, мы обнаружили, что там уже кипит жизнь: открыт магазин и кафе, полно народу. Задерживаться не стали, зная, что впереди ждёт очередной подвиг, и сразу даванули вверх, в пригороды Карака. Когда я анализировал карту дома, населённость вдоль нашего пути не всегда можно было толком понять, но оказалось, что 30 километров от Карака довольно плотно застроены, а количество мусора на обочинах так и вовсе превышает все возможные пределы. Местами он скапливается в слой 30-40 сантиметров.</p>
<p>Хитрые товарищи из KE Adventure не крутят на этом участке педали, а пользуются помощью автомобиля поддержки, но у нас выбора не было (пока ещё не освоили найм пикапов, но всё впереди).</p>
<p>Через несколько километров мы всё-таки решили позавтракать; я просто взболтал Джойлента, а Саша купил в закусочной фалафельный хотдог за 50 пиастров. В окружении гор мусора и вони от тут же продающихся куриц мы наблюдали, как подростки ждут автобуса. Редкий случай, когда можно видеть иорданских девушек в одиночестве: обычно они на улицах не попадаются, и глазами с нами старались не встречаться. Сначала женщины и девушки в нарядных паранджах, часто с элементами зелёного, (фирменного цвета ислама) вызывали у нас интерес и приятное чувство экзотики, но довольно скоро нам это всё надоело, и захотелось наших, нормальных европейских тёлочек, с открытой кожей, разнообразными причёсками, не укрытыми платком, хоть даже и не в мини юбке, а хотя бы в джинсах. Тем более, что с ними, благодаря натиску равноправия и феминизма можно не только поговорить, а поспорить.</p>
<p><a href="/files/blogengine/PB220214.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="PB220214" data-src="/files/blogengine/PB220214_thumb.jpg" alt="PB220214"   border="0"></a></p>
<p align="center">Красиво? А на фото ниже?</p>
<p><a href="/files/blogengine/PB220213.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="PB220213" data-src="/files/blogengine/PB220213_thumb.jpg" alt="PB220213"   border="0"></a></p>
<p><a href="/files/blogengine/PB220215.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="PB220215" data-src="/files/blogengine/PB220215_thumb.jpg" alt="PB220215"   border="0"></a></p>
<p align="center">Улица, на которой куча стихийных свалок, называется улицей окружающей среди. Надеюсь, от самих иорданцев ирония не ускользает</p>
<p>&nbsp;</p>
<p><a href="/files/blogengine/PB220216.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="PB220216" data-src="/files/blogengine/PB220216_thumb.jpg" alt="PB220216"   border="0"></a></p>
<p align="center">В Иордании по сравнению с Израилем довольно много источников воды, поэтому зелень порой встречается “просто так”</p>
<p><a href="/files/blogengine/PB220219.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="PB220219" data-src="/files/blogengine/PB220219_thumb.jpg" alt="PB220219"   border="0"></a></p>
<p align="center">Мебель продают вот так</p>
<p>&nbsp;</p>
<p><a href="/files/blogengine/PB220220.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="PB220220" data-src="/files/blogengine/PB220220_thumb.jpg" alt="PB220220"   border="0"></a></p>
<p align="center">Часто почему-то вместе с электроникой, видимо, самсунг не прочь отвалить баблоса на вывеску</p>
<p align="center"><a href="/files/blogengine/PB220221.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="PB220221" data-src="/files/blogengine/PB220221_thumb.jpg" alt="PB220221"   border="0"></a></p>
<p align="center">Но круговом движении вот такие приятные пирамидки с сутрами</p>
<p align="center"><a href="/files/blogengine/PB220223.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="PB220223" data-src="/files/blogengine/PB220223_thumb.jpg" alt="PB220223"   border="0"></a></p>
<p>Несколько часов мы забирались триста метров вверх через шум, гам и пыль Карака, с 933 метров до 1242. По пути я проколол колесо, единственный раз в стране, заклеил без коллизий. Опыт показывает, что достаточно взять с собой заплатки и одну запасную камеру: почти всегда дыру можно заклеить, а запаска нужна на те редчайшие случаи, когда, например, оторван ниппель, или прореха такой длины, что заплатка её не закроет.</p>
<p>В верхней точке нас ждала здоровая мечеть. Что интересно, несколько кварталов вокруг неё – абсолютно никакого мусора.</p>
<p><a href="/files/blogengine/PB220226.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border: 0px;" title="PB220226" data-src="/files/blogengine/PB220226_thumb.jpg" alt="PB220226"   border="0"></a></p>
<p>&nbsp;</p>
<p>После мечети город кончался, и начинался почти бесконечный спуск – с 1242 метров до 485! Всё бы ничего, но потом нам все эти метры пилить наверх. Не будь мы такими опытными веломаньяками, наш моральный дух порядком бы просел при мысли, что ждёт столь адовый подъём. Однако же, сами подписались. Перед началом спуска мы остановились перевести дух и подготовиться к захватывающей карусели, когда велосипед сам катится вниз со скоростью 40-50 километров в час. У Саши, к сожалению, сломались солнечные очки, которые на такой скорости – очень немаловажный аксессуар, потому что в глаз может залететь что-нибудь твёрдое, а на скорости в 50 км час даже мушка становится таковой.</p>
<p>Пока мы куковали на обочине, послышалась слегка сказочная, хоть и примитивная музыка. Я её уже слышал пару раз в Иордании до того, и всё ломал голову, как же это может быть, что одну и ту же мелодию играют&nbsp; в разное время и в разных частях страны. К счастью, загадка скоро решилась: это оказался грузовик, продающий газовые баллоны. Как оказалось, уже несколько десятков лет в Иордании принят любопытный порядок продажи сжиженного газа. Ты покупаешь грузовик, договариваешься с газовой компанией, где будешь кататься, устанавливаешь на него громкоговорители, и с 7 утра до семи вечера медленно объезжаешь свой райончик, действуя на нервы его жителям. Если кто из них захочет купить газ (а выхода у них нет, потому что плиты для готовки и системы отопления на нём работают), то должен быстренько выбежать из дома, догнать твой грузовик и взвалить на себя здоровый баллон. Как мелодия за эти часы въедается в несчастный мозг водилы и его напарника, мне страшно даже представить. У мелодии, кстати, несколько вариантов, чтобы по одному району могли ехать конкурирующие грузовички.</p>
<p>Традиция такой торговли, кстати – новодел, раньше люди просто заказывали газ по телефону. Как экзотическая особенность Иордании – выглядит и звучит восхитительно, но как быть, если ты местный, когда раз в несколько часов тебе капает на мозг эта прилипчивая мелодия (начиная с семи утра!) мне лично непонятно.</p>
<p>Звуковой терроризм, не иначе.</p>
<p>&nbsp;</p>
<p><iframe src="https://www.youtube.com/embed/Iu7Xe8h2mEE" frameborder="0" width="1280" height="720"></iframe></p><p><a href="/page/%D0%9F%D1%83%D1%82%D0%B5%D1%88%D0%B5%D1%81%D1%82%D0%B2%D0%B8%D1%8F#%D0%98%D0%BE%D1%80%D0%B4%D0%B0%D0%BD%D0%B8%D1%8F" target="_blank" style="background-color: rgb(255, 255, 255);">К оглавлению</a></p>
	