Id: 245bcbd8-707d-42b5-8518-9ace41dc4555
Title: "Иордания – 7, день 3, подъём в Карак"
Published: "2015-12-17"
Slug: "2015-12-17 Иордания – 7, день 3, подъём в Карак"
-
<p><a href="/files/blogengine/DSC_0120.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0120" data-src="/files/blogengine/DSC_0120_thumb.jpg" alt="DSC_0120"   border="0"></a></p>
<p>На следующий день мы встали, как получилось, и уже готовы были двинуться в путь, в поиски магазина, как к нам пришёл старый приятель – Малак. Он сказал, что мы пойдём к нему завтракать (вместе с автралийцем). Чтож, завтракать так завтракать. Завтрак был скромный, хлеб с хумусом, ну может ещё немного овощей.</p>
<p>[more]</p>
<p><iframe src="https://www.gpsies.com/mapOnly.do?fileId=xztpdqfoglgjwmhu" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" width="600" height="400"></iframe></p>
<p>Дальше случилось странное. Когда мы вернулись в Центр Гармонии Мёртвого Моря Вильяма (известный вам с моих слов как коучсёрферский сарай), Малак спросил, говорил ли Вильям о том, что ночлег тут стоит денег. А именно: 10 динаров с человека. Я первый раз встречаюсь с коучсёрфером, который просит денег, поэтому такое требование произвёло у меня конкретный вынос мозга. Мы с Сашей не против заплатить за такое культурное погружение, как нам устроили, да ещё и с ужином и завтраком, но странновато узнать о том, что всё это восточное гостеприимство обернулось требованием капусты.</p>
<p><a href="/files/blogengine/DSC_0121.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0121" data-src="/files/blogengine/DSC_0121_thumb.jpg" alt="DSC_0121"   border="0"></a></p>
<p align="center">Очень много пикапов, особенно в глубинке. Откуда у людей на них деньги, не очень понятно, но даже у тех, кто живёт в палатках, есть такие машины</p>
<p>С другой стороны, Вильяма понять можно – он развивает нон-профит, апгрейдит сарай экономическими лампочками и пристраивает к нему новые отсеки. Осадок у нас всё равно остался, но долго горевать мы не стали, собрали вещи и поехали искать магазин. Он оказался в двуста метрах, и вполне нас устроил ассортиментом. Мешало лишь то, что рядом была куча приставучих детей, которые знают только два слова на английском: “Хелло” и “Мани-мани”. Мы ещё не раз встречались с их коллегами по дороге, но в этом регионе детки были самые ядрёные и доставучие.</p>
<p>&nbsp;</p>
<p><a href="/files/blogengine/PB210147.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="PB210147" data-src="/files/blogengine/PB210147_thumb.jpg" alt="PB210147"   border="0"></a></p>
<p>&nbsp;</p>
<p>Прикупив местных сладостей и шоколадок, мы двинули в салон сотовой связи неподалёку, решив всё-таки обзавестись местной симкой, благо я читал, что это дёшево и сердито. Астралиец&nbsp; Джош уверил нас, что так и есть, и за 7 динаров мы получим гигабайт траффика и кучу звонков/смс. Продавец в салоне не знал по-английски не слова, поэтому потребовалось некоторое время, чтобы объяснить, чего я от него хочу, тем более, что латвийскую симку из Сашиного планшета пришлось выковыривать ножиком. Продавец это сделать побоялся, а сам Александр провернул операцию безукоризненно.</p>
<p><a href="/files/blogengine/DSC_0123.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0123" data-src="/files/blogengine/DSC_0123_thumb.jpg" alt="DSC_0123"   border="0"></a></p>
<p align="center">Надо сказать, что с правописанием на английском в Иордании не заморачивается даже государство, не говоря уже о частных компаниях</p>
<p>Минут через 15 процесс завершился успешно, хотя взяли с нас почему-то 10 динаров, а не 7, а на комплекте была и вовсе нарисована цифра “5”. Динаров ли, гигабайт – осталось загадкой (официальный сайт оператора Zain ничего не прояснил). Чтож, по сравнению с ценами на такие карточки где-нибудь в Италии всё равно гуманно, я считаю, но это был не последний раз, когда с нас брали вроде бы многовато, потому мы, как глупые туристы, понять реальной цены не способны. Ради справедливости стоит сказать, что много было и случаев, когда брали совсем мало, и даже было такое ощущение, как будто помогают “за так”, и всё равно, сколько мы заплатим. Такие вот парадоксы восточного сознания.</p>
<p>Когда я вернулся на улицу, Саша рассказал, что его взяли в осаду здешние детки, выясняя, что чего на велике бутылка. Когда он объяснил, что для воды, они её утащили, вернули полной, и стали опять петь свою мантру “Мани мани”. К чести местных, взрослые их и в Аль-Мазре, и в других местах постоянно гоняли, чтобы нам не докучали.</p>
<p>Вооружившись таким образом средством связи и питательными субстанциями, мы доехали до поворота от Мёртвого моря на Карак и покинули гостеприимный, но замусоренный посёлок Аль-Мазра.</p>
<p><a href="/files/blogengine/DSC_0128.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0128" data-src="/files/blogengine/DSC_0128_thumb.jpg" alt="DSC_0128"   border="0"></a></p>
<p align="center">По дороге встречались настоящие поля помидоров (или перца?)</p>
<p><a href="/files/blogengine/DSC_0134.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0134" data-src="/files/blogengine/DSC_0134_thumb.jpg" alt="DSC_0134"   border="0"></a></p>
<p align="center">Рыбаков глушит энергетики, но для меня их вкус настолько кислосладкомерзок, что я корчу рожи от одной капли</p>
<p align="center"><a href="/files/blogengine/DSC_0136.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0136" data-src="/files/blogengine/DSC_0136_thumb.jpg" alt="DSC_0136"   border="0"></a></p>
<p align="center">&nbsp;</p>
<p><a href="/files/blogengine/DSC_0138.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0138" data-src="/files/blogengine/DSC_0138_thumb.jpg" alt="DSC_0138"   border="0"></a></p>
<p><a href="/files/blogengine/DSC_0139.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0139" data-src="/files/blogengine/DSC_0139_thumb.jpg" alt="DSC_0139"   border="0"></a></p>
<p align="center">В стране масса древних грузовиков (30 годов и позже). Некоторые из них, по Сашиным словам, культовые полноприводные Мерседесе, но модель я забыл</p>
<p><a href="/files/blogengine/PB210150.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="PB210150" data-src="/files/blogengine/PB210150_thumb.jpg" alt="PB210150"   border="0"></a></p>
<p><a href="/files/blogengine/PB210152.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="PB210152" data-src="/files/blogengine/PB210152_thumb.jpg" alt="PB210152"   border="0"></a></p>
<p>&nbsp;</p>
<p><a href="/files/blogengine/PB210160.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="PB210160" data-src="/files/blogengine/PB210160_thumb.jpg" alt="PB210160"   border="0"></a></p>
<p>&nbsp;</p>
<p align="center">Дальше нас ждала привычная уже рутина: крутишь 100-200 метров вверх, отдыхаешь, крутишь, отдыхаешь. Довольно быстро мы добрались до уровня моря, который выглядит примерно вот так</p>
<p><a href="/files/blogengine/PB210163.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="PB210163" data-src="/files/blogengine/PB210163_thumb.jpg" alt="PB210163"   border="0"></a></p>
<p>&nbsp;</p>
<p><a href="/files/blogengine/PB210165.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="PB210165" data-src="/files/blogengine/PB210165_thumb.jpg" alt="PB210165"   border="0"></a></p>
<p align="center">Юмористичный знак о том, что фотографировать запрещено. Что мешает мне отойти на 10 метров вниз по дороге, и сфоткать оттуда, непонятно.</p>
<p align="center"><a href="/files/blogengine/DSC_0142.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0142" data-src="/files/blogengine/DSC_0142_thumb.jpg" alt="DSC_0142"   border="0"></a></p>
<p align="center">&nbsp;</p>
<p align="left">По пути случилась небольшая история, которая иллюстрирует местные нравы и порядки. Около стада овец нас перехватили какие-то люди в камуфляже, и я уже напрягся, потому что не очень-то люблю людей на служюе государства, но оказалось, что они скорее всего просто пастухи, и хотят предложить нам помощь и расспросить, откуда и куда мы. Товарищи принесли нам остывшего чаю, всё так же с запредельным количеством сахара и шалфеем, немного потрындели и пожелали счастливового пути. Похожие сценки случались с нами неоднократно. Никаких сильных опасений или других негативных эмоций эти встречи не вызывали, напротив, поддерживали уверенность, что люди тут хорошие, и при необходимости будет легко получить помощь. Интернет говорит, что позвать на чай незнакомца (особенно путешественника-иностранца) в Иордании – самое обычно дело, и так можно легко завязать кучу контактов и найти новых приятелей.</p>
<p align="center"><a href="/files/blogengine/PB210166.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="PB210166" data-src="/files/blogengine/PB210166_thumb.jpg" alt="PB210166"   border="0"></a></p>
<p align="center">Когда мы забрались повыше, появился сильный ветер, и заметно похолодало</p>
<p align="center">&nbsp;</p>
<pre style="word-wrap: break-word; white-space: pre-wrap;">&nbsp;</pre>
<p><img data-src="/files/t/e71e.jpg" alt="" ></p>
<p align="center">Мальчик на арабском предлагал нас подвезти, но мы птицы гордые, и хотели добраться сами, тем более, что оставалось всего ничего</p>
<p align="center"><a href="/files/blogengine/DSC_0148.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0148" data-src="/files/blogengine/DSC_0148_thumb.jpg" alt="DSC_0148"   border="0"></a></p>
<p align="center">&nbsp;</p>
<p align="center"><a href="/files/blogengine/DSC_0152.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0152" data-src="/files/blogengine/DSC_0152_thumb.jpg" alt="DSC_0152"   border="0"></a></p>
<p align="center"><a href="/files/blogengine/DSC_0153.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0153" data-src="/files/blogengine/DSC_0153_thumb.jpg" alt="DSC_0153"   border="0"></a></p>
<p align="center">&nbsp;</p>
<p align="center"><a href="/files/blogengine/PB210170.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="PB210170" data-src="/files/blogengine/PB210170_thumb.jpg" alt="PB210170"   border="0"></a></p>
<p align="center">Очень приятно пахнет цветочек на дереве, явно какая-то специя</p>
<p align="center"><a href="/files/blogengine/PB210178.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="PB210178" data-src="/files/blogengine/PB210178_thumb.jpg" alt="PB210178"   border="0"></a></p>
<p align="center">За неимением в сельпо энергетиков, Саша вынужден пить 7-ап</p>
<p align="left">Пока мы отдыхали около каких-то развалин на обочине, подъехали два товарища мужиковатого вида, поинтересовались, не американцы ли мы. Рыбаков пошутил, что неверный ответ может нас отправить в могилу, но всё-таки вряд ли. Вообще, для ближневосточной страны, сравнительно сильно удалённой от Европы, удивительно много людей знают хотя бы одну прибалтийских республик. Обычно это Литва или Эстония, но некоторые знали и Латвию, что не может не радовать. Отношение, как я уже говорил, по ощущениям всегда очень хорошее, уж не знаю, какое было бы, назовись мы американцами.</p>
<p align="left"><a href="/files/blogengine/PB210180.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="PB210180" data-src="/files/blogengine/PB210180_thumb.jpg" alt="PB210180"   border="0"></a></p>
<p align="center">Ближе к городу стали появлятся любопытные граффити</p>
<p align="center"><a href="/files/blogengine/PB210181.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="PB210181" data-src="/files/blogengine/PB210181_thumb.jpg" alt="PB210181"   border="0"></a></p>
<p align="center">&nbsp;</p>
<p>Как видите, часам к четырём мы добрались до города, который образовался вокруг замка крестоносцев. Мы немного заплутали в узких улочках его центра, полных народу, и сообразили, что наш отель находится на сто метров вниз от замкового холма. После целого дня подъёма это по сути означает, что, спустись мы в отель, обратно (тем более в темноте) забраться пороху у нас не хватит. Я стал уговаривать Рыбакова посмотреть город и развалины, и он в конце концов поддался. В конце-то концов зачем ехать за тридевять земель, чтобы потом сидеть в отеле!</p>
<p>Что же именно произошло с нами в Караке, было ли это захватывающим приключением или унылыми скитаниями, вы узнаете в следующей части.</p>
<p>&nbsp;</p>
<p>P.S. Александр тут волнуется, что я не сообщил о любви местных водил издавать звуки с помощью клаксона. Каждый пятый, в иногда и каждый третий по пути нам бибикал - кто-то из соображений безопасности, кто-то приветствовал, а кто-то явно по привычке гудеть всему, что движется.</p><p><a href="/page/%D0%9F%D1%83%D1%82%D0%B5%D1%88%D0%B5%D1%81%D1%82%D0%B2%D0%B8%D1%8F#%D0%98%D0%BE%D1%80%D0%B4%D0%B0%D0%BD%D0%B8%D1%8F" target="_blank" style="background-color: rgb(255, 255, 255);">К оглавлению</a></p>
	