Id: 22f4013a-61c0-45e1-ac57-8d3df0875977
Title: "Кипр - 6, день 5, окрестности Педуласа"
Published: "2015-06-30"
Slug: "2015-06-30 Кипр - 6, день 5, окрестности Педуласа"
-
<p align="left">Итак, дело кончилось тем, что мы добрались до Педуласа, и даже успели посетить местную лавку. В магазине мои голодные глаза наткнулись на непонятную съедобную субстанцию с надписью “сухой суп”. С моим богатым опытом поедания всяких странностей вроде эмбрионов и тухлых акул, я не мог пропустить такого шанса, когда же ещё представится возможность.</p>
<p style="text-align: center;"><iframe src="https://www.gpsies.com/mapOnly.do?fileId=ytkstwxwnzuamrff" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" width="600" height="400"></iframe></p>
<p align="left">Встречайте! (И даже на русском)</p>
<p align="center"><a href="/files/blogengine/DSC_0309_thumb.jpg"><img style="background-image: none; padding-top: 0px; padding-left: 0px; display: inline; padding-right: 0px; border-width: 0px;" title="DSC_0309_thumb" data-src="/files/blogengine/DSC_0309_thumb_thumb.jpg" alt="DSC_0309_thumb"   border="0"></a></p>
<p align="center">[more]</p>
<p align="center"><a href="/files/blogengine/DSC_0304_thumb.jpg"><img style="background-image: none; padding-top: 0px; padding-left: 0px; display: inline; padding-right: 0px; border-width: 0px;" title="DSC_0304_thumb" data-src="/files/blogengine/DSC_0304_thumb_thumb.jpg" alt="DSC_0304_thumb"   border="0"></a></p>
<p align="center">Оказалось тотально несъедобно.</p>
<p>Однако, пошукав по интернетам, и почитав, как же это чудо готовить, пришлось слегка посыпать голову пеплом.</p>
<p>Вот вам хорошая аналогия. Представьте, что иностранец решил сделать щавельный суп. Он купил у бабушек на базаре банку консервированного щавеля, но ввиду трудностей перевода, понял только, что при готовке надо ещё картошки добавить. В итоге вывалил всю (поллитровую, например) банку в кастрюлю, добавил картошки, и сварил. И лавровый лист забыл, и перец, не говорю уж о том, чтобы яйца покрошить в готовый продукт. Написал так, что прямо самому супа захотелось.</p>
<p>Примерно такой же итог получился и у нас, только замените картошку на рис. Как оказалось, этот самый суп ещё и варить надо два с половиной часа. В общем, не для туристов вариант, у которых даже в комнате негде горелку поставить, настолько крошечная. К счастью, к комнате прилагался такой же малоформатный балкон, где мы кулинарию и разводили.</p>
<p align="left">Сельский магазин на Кипре оказался заметно богаче выбором, чем латвийские аналоги, но вот со сроком годности там просто беда. Зато если просишь одно яблоко или апельсин, добрая девушка за прилавком говорит “бери так”. Мы с ней потом ещё наобщались за три дня, оказалось, что у неё папа русский. Вот откуда душевная щедрость.</p>
<p align="left">Ерунда на постном масле, на самом деле, но настолько я пропитан русскоязычной культурой, что прямо сама фраза просится. Киприоты, полагаю, и сами очень даже люди позитивные и добрые, хоть лишнего и тратят. Когда уезжали, президент деревни (я наконец нашёл его правильный титул на сайте Педуласа) подарил нам путеводитель и пару бутылок воды. Цены на Кипре, кстати, совсем недобрые, и почти всё дороже, чем у нас в Латвии, а я вам прямо скажу, что нашу страну никак дешёвой не назовёшь, особенно если на зарплату поделить.</p>
<p align="left">На следующий день по традиции решили не жестить, лениво прокатится лишь пару десятков км по окрестностям. Увы, это не линия вдоль поборежья, я самый центр горного массива, и прокатится пару десятков км означает спуститься на восемьсот метров вниз, а потом столько же вверх. Извините уж за постоянные упоминания высот, наболело.<a href="/files/blogengine/IMG_3858.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3858" data-src="/files/blogengine/IMG_3858_thumb.jpg" alt="IMG_3858"   border="0"></a></p>
<p align="left"><a href="/files/blogengine/DSC_0318.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0318" data-src="/files/blogengine/DSC_0318_thumb.jpg" alt="DSC_0318"   border="0"></a></p>
<p align="center">Полно всяких древних монастырей и храмов</p>
<p align="left">Причём хватает таких, которые являются мировым наследием Юнеско. Я, если честно, наследие от ненаследия не в жисть не отличу, но темочку поддерживаю. С одной стороны, круче натуральных красот планеты ничего ещё не придумали, ледники и фьорды хотя бы взять. С другой, даже горы, нац. парки и прочие природные чудеса приедаются, тем более, что и человеком хочется гордится, как и его деятельностью.</p>
<p align="center"><a href="/files/blogengine/DSC_0320.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0320" data-src="/files/blogengine/DSC_0320_thumb.jpg" alt="DSC_0320"   border="0"></a></p>
<p><a href="/files/blogengine/IMG_3856.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3856" data-src="/files/blogengine/IMG_3856_thumb.jpg" alt="IMG_3856"   border="0"></a></p>
<p align="center">Из Педуласа покатились вниз в Мотулас</p>
<p><a href="/files/blogengine/DSC_0329.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0329" data-src="/files/blogengine/DSC_0329_thumb.jpg" alt="DSC_0329"   border="0"></a></p>
<p align="center">Там попали в пекарню Маратасас, где заправились питой с мёдом. Годная.</p>
<p align="left">Агломерация деревень на разных уровнях выглядит круто, тем более, что довольно скоро мы приехали в традиционную деревню Калопанайотис. Почти литовское название, однако. В пекарне, кроме питы и энергетиков, ещё и вай-фай раздают, что всегда приятно.</p>
<p align="left"><a href="/files/blogengine/DSC_0337.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0337" data-src="/files/blogengine/DSC_0337_thumb.jpg" alt="DSC_0337"   border="0"></a></p>
<p align="left">Трек в деревню я проложил потому, что рядом с ней какой-то загадочный резервуар (вроде как пруд, только поболе). Как оказалось, там разводят форель, а потом и рыбаков, которые с открытием сезона друг у друга чуть ли не на голове сидят.</p>
<p align="center"><a href="/files/blogengine/IMG_3862.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3862" data-src="/files/blogengine/IMG_3862_thumb.jpg" alt="IMG_3862"   border="0"></a></p>
<p>&nbsp;</p>
<p><a href="/files/blogengine/IMG_3866.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3866" data-src="/files/blogengine/IMG_3866_thumb.jpg" alt="IMG_3866"   border="0"></a></p>
<p align="center">Реконструкция в разгаре. Запихали же такой огромный кран, да</p>
<p align="center"><a href="/files/blogengine/IMG_3867.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3867" data-src="/files/blogengine/IMG_3867_thumb.jpg" alt="IMG_3867"   border="0"></a></p>
<p align="center">Лень идти пешком? Полтора евро и вы наверху</p>
<p><a href="/files/blogengine/DSC_0341.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0341" data-src="/files/blogengine/DSC_0341_thumb.jpg" alt="DSC_0341"   border="0"></a></p>
<p align="center">Там нас ожидали серные источники.</p>
<p><a href="/files/blogengine/DSC_0343.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0343" data-src="/files/blogengine/DSC_0343_thumb.jpg" alt="DSC_0343"   border="0"></a></p>
<p align="center">Пахнет незабываемо</p>
<p align="left">Говорят, у нас в Латвии тоже есть серные источники, в Кемери,&nbsp; и пованивают ещё гуще. Надо бы посетить. Мы тут задумались, чем ещё живут эти горные деревни, которые в нашем краю были бы заполнены бухами на пособии? Неужто артритиков и ревматиков, желающих окунутся в серный источник, хватает для безбедного существования? Как оказалось, в этом климате ещё и черешня хорошо растёт, так что всё вокруг засажено черешневыми деревьями.</p>
<p><a href="/files/blogengine/IMG_3870.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3870" data-src="/files/blogengine/IMG_3870_thumb.jpg" alt="IMG_3870"   border="0"></a></p>
<p align="center">На почве видны отложения серы</p>
<p align="center"><a href="/files/blogengine/IMG_3872.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3872" data-src="/files/blogengine/IMG_3872_thumb.jpg" alt="IMG_3872"   border="0"></a></p>
<p align="center">Рядом какая-то бабуля стирала труселя</p>
<p align="center"><a href="/files/blogengine/IMG_3874.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3874" data-src="/files/blogengine/IMG_3874_thumb.jpg" alt="IMG_3874"   border="0"></a></p>
<p align="center">Всё в шишках</p>
<p align="center"><a href="/files/blogengine/IMG_3875.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3875" data-src="/files/blogengine/IMG_3875_thumb.jpg" alt="IMG_3875"   border="0"></a></p>
<p><a href="/files/blogengine/IMG_3876.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3876" data-src="/files/blogengine/IMG_3876_thumb.jpg" alt="IMG_3876"   border="0"></a></p>
<p align="center">Пересели с асфальта на грунтовку</p>
<p><a href="/files/blogengine/DSC_0353.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0353" data-src="/files/blogengine/DSC_0353_thumb.jpg" alt="DSC_0353"   border="0"></a></p>
<p align="center">Not amused</p>
<p align="center"><a href="/files/blogengine/DSC_0359.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0359" data-src="/files/blogengine/DSC_0359_thumb.jpg" alt="DSC_0359"   border="0"></a></p>
<p align="center">Amused</p>
<p align="center"><a href="/files/blogengine/IMG_3878.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3878" data-src="/files/blogengine/IMG_3878_thumb.jpg" alt="IMG_3878"   border="0"></a></p>
<p align="center">&nbsp;</p>
<p><a href="/files/blogengine/DSC_0368.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0368" data-src="/files/blogengine/DSC_0368_thumb.jpg" alt="DSC_0368"   border="0"></a></p>
<p><a href="/files/blogengine/DSC_0370.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0370" data-src="/files/blogengine/DSC_0370_thumb.jpg" alt="DSC_0370"   border="0"></a></p>
<p><a href="/files/blogengine/DSC_0374.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0374" data-src="/files/blogengine/DSC_0374_thumb.jpg" alt="DSC_0374"   border="0"></a></p>
<p align="center">Нашли резервуар с рыбками, видимо, разводят</p>
<p align="center"><a href="/files/blogengine/DSC_0379.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0379" data-src="/files/blogengine/DSC_0379_thumb.jpg" alt="DSC_0379"   border="0"></a></p>
<p align="center">Меняем велы на правильную технику, тем более марка всё одно наша</p>
<p align="center"><a href="/files/blogengine/DSC_0324.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0324" data-src="/files/blogengine/DSC_0324_thumb.jpg" alt="DSC_0324"   border="0"></a></p>
<p align="center">Если кто забыл, почему, присмотритесь к надписи на раме</p>
<p align="center"><a href="/files/blogengine/IMG_3881_1.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3881" data-src="/files/blogengine/IMG_3881_thumb_1.jpg" alt="IMG_3881"   border="0"></a></p>
<p align="center">Девиз человеческой жизни</p>
<p align="left">&nbsp;</p>
<p align="center"><a href="/files/blogengine/IMG_3882.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3882" data-src="/files/blogengine/IMG_3882_thumb.jpg" alt="IMG_3882"   border="0"></a></p>
<p align="center">Сашенька притомился и прилёг</p>
<p align="center"><a href="/files/blogengine/IMG_3884.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3884" data-src="/files/blogengine/IMG_3884_thumb.jpg" alt="IMG_3884"   border="0"></a></p>
<p align="center">По своему обыкновению не можем ездить по нормальным дорогам</p>
<p align="center"><a href="/files/blogengine/IMG_3886.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3886" data-src="/files/blogengine/IMG_3886_thumb.jpg" alt="IMG_3886"   border="0"></a></p>
<p align="center">Всё норовим свернуть в кусты</p>
<p align="center"><a href="/files/blogengine/IMG_3890.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3890" data-src="/files/blogengine/IMG_3890_thumb.jpg" alt="IMG_3890"   border="0"></a></p>
<p align="center">А совсем идеальный вариант – тащить велик по камням</p>
<p align="center">&nbsp;</p>
<p align="left">P.S. Полезная информация подчерпнута с сайта <a title="http://www.cyprus-about.com/" href="http://www.cyprus-about.com/">http://www.cyprus-about.com/</a></p>
<p align="left">&nbsp;</p>
<p align="left">&nbsp;<a href="/post/2015-08-22%20Кипр%20%20–%2011,%20Заключение" style="color: rgb(92, 128, 177); font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; padding-right: 10px; white-space: nowrap; background-image: url(&quot;../../pics/remote.gif&quot;); background-attachment: initial; background-color: rgb(246, 246, 246); background-size: initial; background-origin: initial; background-clip: initial; background-position: 100% 0%; background-repeat: no-repeat;">К оглавлению</a></p>
	