Id: 850375e8-c23b-4c7d-b42e-82b1679eb819
Title: "Кипр – 5, день 4, безумие и отвага"
Published: "2015-06-19"
Slug: "2015-06-19 Кипр – 5, день 4, безумие и отвага"
-
<p style="text-align: center;"><iframe src="https://www.gpsies.com/mapOnly.do?fileId=rmfyacgpaqqyseuo" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" width="600" height="400"></iframe></p>
<p>Итак, настал тот самый день. Выбор принят, запасы куплены, погода, как всегда на Кипре, без облачка, и мы штурмуем 3.5 км высоты (причём часть по грунтовке). Ещё на родине мы решили, что как-нибудь осилим такую задачу, а вдохновил нас на это трек под названием <a href="https://www.gpsies.com/map.do?fileId=oljljntxefyddyem">bezumstvo i otvaga</a>, в котором даже не 3.5, а все 5 км набора по тем же местам, куда мы собрались. Уж не знаю, проехал ли его неведомый байкер, но верится с трудом.</p>
<p><a href="/files/blogengine/DSC_0253.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0253" data-src="/files/blogengine/DSC_0253_thumb.jpg" alt="DSC_0253"   border="0"></a></p>
<p align="center">Готов!</p>
<p align="center">[more]</p>
<p align="center"><a href="/files/blogengine/DSC_0254.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0254" data-src="/files/blogengine/DSC_0254_thumb.jpg" alt="DSC_0254"   border="0"></a></p>
<p align="center">Пли!</p>
<p>Атлеты в Даугавпилсе шутят, что нам светит замена коленных суставов на искусственные, но мы выспались, отдохнули и полны сил. Если не сейчас, то когда?</p>
<p align="left">Я сгонял для разогрева в булочную неподалёку (Александрс тащил продукты на себе 10 км из Полиса в предыдущий день), затарился местными сладостями, пока ещё не традиционными, ведь мы ещё не заехали в святая святых – обиталище свирепых горцев.</p>
<p>Началось всё легко&nbsp; и приятно – асфальтом с бешеным углом наклона. Так мы доехали почти до рекомендованного нам хозяином наших апартаментов ресторана. Было бы неплохо, конечно, там не спеша пообедать изысканными ятствами, но увы – дорога зовёт. Я, пожалуй, забыл вам поведать, почему же у нас была такая необходимость штурмовать злосчастныекилометры. Дело в том, что на протяжении всего этого пути практически не встречается отелей и прочих гостевых домов. По крайней мере о существовании таковых не подозревали ни гугл мэпс, не букинг.ком, коим мы пользовались для бронирования своих скромных жилищ.</p>
<p><a href="/files/blogengine/IMG_3813_1.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3813" data-src="/files/blogengine/IMG_3813_thumb_1.jpg" alt="IMG_3813"   border="0"></a></p>
<p align="center">Довольно скоро виды стали довольно живыми</p>
<p align="center">&nbsp;</p>
<p><a href="/files/blogengine/IMG_3814.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3814" data-src="/files/blogengine/IMG_3814_thumb.jpg" alt="IMG_3814"   border="0"></a></p>
<p align="center">Сохранился раритет – поражает, что внутри есть телефонный аппарат</p>
<p>В большинстве стран Европы будки давно просто место для звонков по мобильному+ вай-фай раздают.</p>
<p><a href="/files/blogengine/DSC_0255.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0255" data-src="/files/blogengine/DSC_0255_thumb.jpg" alt="DSC_0255"   border="0"></a></p>
<p align="center">Долго ли, коротко ли, на пути нам встретились торжественные руины грузинского монастыря</p>
<p align="center">&nbsp;</p>
<p><a href="/files/blogengine/IMG_3822.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3822" data-src="/files/blogengine/IMG_3822_thumb.jpg" alt="IMG_3822"   border="0"></a></p>
<p>&nbsp;</p>
<p>Если коротко: росла трава до сорняки, приехал из Штатов знатный земплекоп (ака исследователь) Вахтанг Йобадзе, нашёл знаменитый монастырь <strong>Gialia</strong> и всем рассказал. В 2006 приехали ещё грузины, на сей раз прямо из Грузии, по поручению правительства, раскопали руины и соорудили над ними купол. И табличку до кучу замутили, причём на трёх языках.</p>
<p>Купол мне понравился больше всего – он огромный, и под ним эхо круче всего, что я в жизни слышал.</p>
<p>&nbsp;</p>
<p><a href="/files/blogengine/DSC_0259.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0259" data-src="/files/blogengine/DSC_0259_thumb.jpg" alt="DSC_0259"   border="0"></a></p>
<p><a href="/files/blogengine/IMG_3823.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3823" data-src="/files/blogengine/IMG_3823_thumb.jpg" alt="IMG_3823"   border="0"></a></p>
<p>К счастью, монастырь был по пути – мы не настолько любители искусства, чтобы делать крюк, когда впереди ещё много ада.</p>
<p><a href="/files/blogengine/DSC_0260.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0260" data-src="/files/blogengine/DSC_0260_thumb.jpg" alt="DSC_0260"   border="0"></a></p>
<p><a href="/files/blogengine/IMG_3825.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3825" data-src="/files/blogengine/IMG_3825_thumb.jpg" alt="IMG_3825"   border="0"></a></p>
<p><a href="/files/blogengine/DSC_0267.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0267" data-src="/files/blogengine/DSC_0267_thumb.jpg" alt="DSC_0267"   border="0"></a></p>
<p align="center">Александр not amused</p>
<p>Несмотря на скептическое выражение Сашиного лица, подъём проходил довольно бодро и без лишнего драматизма. 200 метров вверх, отдых. Если совсем сложный кусок, то 100 метров вверх, отдых. Ну прямо как бабушки, когда на пятиэтажку поднимаются, только они на каждом этаже, а мы на каждом шестидесятом этаже. Не забывайте, что с собой тащим ещё и сумки. К счастью, мудрость наша не знает пределов – нет у нас ни палаток дурацких, не спальников, ни даже шуб всяких, только горелочка, да трусы запасные.</p>
<blockquote>
<p><a href="/files/blogengine/IMG_3827.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3827" data-src="/files/blogengine/IMG_3827_thumb.jpg" alt="IMG_3827"   border="0"></a></p>
</blockquote>
<p align="center">Ехать в кусты с обрыва запрещено!</p>
<p align="left">Мы на острове под такие знаки наверное раз пять заезжали: будем считать, что они только для автомобилей.</p>
<p align="left"><a href="/files/blogengine/DSC_0270.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0270" data-src="/files/blogengine/DSC_0270_thumb.jpg" alt="DSC_0270"   border="0"></a></p>
<p align="center">Весна!</p>
<p align="center"><a href="/files/blogengine/DSC_0273.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0273" data-src="/files/blogengine/DSC_0273_thumb.jpg" alt="DSC_0273"   border="0"></a></p>
<p align="center">Вам, может, и не видно, а меня оторопь берёт при воспоминании, какой тут угол</p>
<p align="center"><a href="/files/blogengine/IMG_3830.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3830" data-src="/files/blogengine/IMG_3830_thumb.jpg" alt="IMG_3830"   border="0"></a></p>
<p align="center">Рыбаков подобрел</p>
<p align="center"><a href="/files/blogengine/IMG_3831.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3831" data-src="/files/blogengine/IMG_3831_thumb.jpg" alt="IMG_3831"   border="0"></a></p>
<p align="center">Грунтовка</p>
<p align="left">Как видите, 15-20 километров пути близко к началу – по грунтовке, местами каменистой, местами отличной. Поэтому с нас и пытались такие деньги содрать. Не на тех напали!</p>
<p align="left"><a href="/files/blogengine/IMG_3834.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3834" data-src="/files/blogengine/IMG_3834_thumb.jpg" alt="IMG_3834"   border="0"></a></p>
<p><a href="/files/blogengine/IMG_3836.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3836" data-src="/files/blogengine/IMG_3836_thumb.jpg" alt="IMG_3836"   border="0"></a></p>
<p>&nbsp;</p>
<p><a href="/files/blogengine/DSC_0280.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0280" data-src="/files/blogengine/DSC_0280_thumb.jpg" alt="DSC_0280"   border="0"></a></p>
<p align="center">Опять весна</p>
<p align="center"><a href="/files/blogengine/IMG_3839.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3839" data-src="/files/blogengine/IMG_3839_thumb.jpg" alt="IMG_3839"   border="0"></a></p>
<p align="center"><a href="/files/blogengine/DSC_0286.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0286" data-src="/files/blogengine/DSC_0286_thumb.jpg" alt="DSC_0286"   border="0"></a></p>
<p align="center">&nbsp;</p>
<p align="center"><a href="/files/blogengine/DSC_0291.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0291" data-src="/files/blogengine/DSC_0291_thumb.jpg" alt="DSC_0291"   border="0"></a></p>
<p align="center">Когда такие картины наблюдаешь в течении одного дня, приходишь в слегка удивлённое состояние.</p>
<p align="left">Не забывайте, мы поднялись от уровня моря, с нуля метров. И это ещё даже не километр высоты. Смотришь, и думаешь: “неужели мы ещё несколько часов назад были там, внизу”?</p>
<p align="center">&nbsp;</p>
<p align="center"><a href="/files/blogengine/IMG_3842.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3842" data-src="/files/blogengine/IMG_3842_thumb.jpg" alt="IMG_3842"   border="0"></a></p>
<p align="center">Вот она, промежуточная цель. Именно до сюда просили 120 евро. Ставрос Псокас, к вашим услугам.</p>
<p align="center"><a href="/files/blogengine/DSC_0295.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0295" data-src="/files/blogengine/DSC_0295_thumb.jpg" alt="DSC_0295"   border="0"></a></p>
<p>&nbsp;</p>
<p><a href="/files/blogengine/IMG_3844.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3844" data-src="/files/blogengine/IMG_3844_thumb.jpg" alt="IMG_3844"   border="0"></a></p>
<p align="center">Нет им веры про 1128 метров, потому что наши навигаторы говорят другое</p>
<p align="center"><a href="/files/blogengine/DSC_0297.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0297" data-src="/files/blogengine/DSC_0297_thumb.jpg" alt="DSC_0297"   border="0"></a></p>
<p align="center">Глаза, правда, согласны</p>
<p align="center"><a href="/files/blogengine/IMG_3848.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3848" data-src="/files/blogengine/IMG_3848_thumb.jpg" alt="IMG_3848"   border="0"></a></p>
<p align="center">Доехали до монастыря Киккос</p>
<p align="left">К этому моменту усталость уже стала брать своё, да и безбожники мы, поэтому внутри гулять не стали, я слегка заглянул, и Саша так и вовсе снаружи остался.</p>
<p align="left"><a href="/files/blogengine/IMG_3850.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="IMG_3850" data-src="/files/blogengine/IMG_3850_thumb.jpg" alt="IMG_3850"   border="0"></a></p>
<p align="center">Хотя вообще говоря, посмотреть есть на что</p>
<p><a href="/files/blogengine/DSC_0303.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0303" data-src="/files/blogengine/DSC_0303_thumb.jpg" alt="DSC_0303"   border="0"></a></p>
<p align="center">Но нас ждёт дорога!</p>
<p align="left">Последние километры давались с некоторым трудом, хоть и по асфальту. Скорость падает совсем уж до пешеходного темпа. Спасибо Рыбакову, тянул меня за собой в горки. Не секрет, что ехать за кем-то психологически намного легче, даже если медленно, а если быстро – так ещё и сопротивление воздуха меньше.</p>
<p align="left">Саше же, наверное, стоит благодарить энергетики, которые он в себя заливал в умеренных количествах. Уже после захода солнца мы добрались до горной деревни Педул<strong>а</strong>с. Хотя название на наше ухо не слишком благозвучное, сама деревня устроена очень любопытно: я хоть и бывал в горах, именно такой плотной застройки слоями на разной высоте почти не видел (разве что во Вьетнаме).</p>
<p align="left">С первого взгляда показалось, что деревня простирается вниз на метров восемьсот. Выезжать каждое утро столько вверх – предприятие для мазохистов, поэтому мы, хоть и безбожники, практически стали молиться, чтобы отель оказался повыше. Нам дьявольски повезло, мы спустились всего метров на 50, и оказались на “главной” улице. В кавычках потому, что в эдаком многоэтажном гамбургере, который представляют собой Педулас и близлежащие деревни, трудно выделить что-то главное, кроме, разве что, церквей.</p>
<p align="left">Тем не менее, оставлю за собой право называть улицу главной хотя бы по той причине, что на ней было несколько отелей и магазин (коих в округе сравнительно немного).</p>
<p align="left">Встречать и заселять нас вышел сам 80+ летний владелец гостиницы, он же портье. Успешно заняв крошечную и аскетически обустроенную комнатушку, мы двинули в магазин, где , продавщица нам рассказала, что наш портье - по совместительству мэр деревни (ну или глава сельсовета, если будет угодно). Так вот интересно живут педулчане (они же педуланцы и педулиане). Как ни крути, приятно, когда первый парень на деревне специально для тебя включает во всей трёхэтажной гостинице горячую воду (в тот день мы были первыми клиентами).</p>
<p align="left">Подводя итог, скажу, что день удался. По моему навигатору мы осилили 2 км 200 метров набора высоты, по Сашиному (более точному) около двух, и оставили в своей памяти неизгладимые воспоминания. Человек – существо социальное, и заточенное на решение окружающих проблем в физической реальности, поэтому такая борьба с природой и собой на свежем воздухе, преодоление трудностей в компании сплачивает и врезается в память надолго, как мало что другое. Хорошо, что мы в неплохой форме (хотя и была ещё только весна), и знаем свои силы. Человек всегда сильнее, чем ему кажется, но у любого наступает момент, когда дальше никак. В этот день, полный безумия и отваги, мы к этому моменту по ощущениям уже подошли, но ещё не совсем близко. Про близко будет в следующих сериях.</p>
<p>&nbsp;</p>
<p><a href="/files/blogengine/DSC_0313.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0313" data-src="/files/blogengine/DSC_0313_thumb.jpg" alt="DSC_0313"   border="0"></a></p>
<p><a href="/files/blogengine/DSC_0314.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0314" data-src="/files/blogengine/DSC_0314_thumb.jpg" alt="DSC_0314"   border="0"></a></p>
<p><a href="/files/blogengine/DSC_0315.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0315" data-src="/files/blogengine/DSC_0315_thumb.jpg" alt="DSC_0315"   border="0"></a></p><p><a href="/post/2015-08-22%20Кипр%20%20–%2011,%20Заключение" style="color: rgb(92, 128, 177); font-family: Verdana, Arial, sans-serif; font-size: medium; line-height: 19.2px; padding-right: 10px; white-space: nowrap; background-image: url(&quot;../../pics/remote.gif&quot;); background-attachment: initial; background-color: rgb(246, 246, 246); background-size: initial; background-origin: initial; background-clip: initial; background-position: 100% 0%; background-repeat: no-repeat;">К оглавлению</a></p>
	