Id: c398d8e4-b93f-4fee-8c14-cbd498ffff59
Title: "Иордания – 5, день второй, от мёртвого моря в Аль-Мазру"
Published: "2015-12-15"
Slug: "2015-12-15 Иордания – 5, день второй, от мёртвого моря в Аль-Мазру"
-
<p>Прошлая часть завершилась тем, что в районе часа дня мы наконец созрели начать наше путешествие по-взрослому, а не просто разогреваясь, как на границе. Впереди нас ждали пятьдесят километров, заранее урезанные благодаря&nbsp; любезности мистера Рагая. Мы, впрочем, не успели начать движение, как к нам подошёл парнишка подозрительно европейской внешности. Проследив его траекторию, мы обнаружили здоровый велоприцеп, полный горных велосипедов, штук 15 или 20, не меньше. Надо сказать, что до сего момента мы&nbsp; в Иордании видели велосипеды ровно один раз, поэтому такой наплыв байков был приятным сюрпризом.</p>
<p>&nbsp;</p>
<p><a href="/files/blogengine/PB200081.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="PB200081" data-src="/files/blogengine/PB200081_thumb.jpg" alt="PB200081"   border="0"></a></p>
<p>[more]</p>
<p><a href="/files/blogengine/DSC_0050.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0050" data-src="/files/blogengine/DSC_0050_thumb.jpg" alt="DSC_0050"   border="0"></a></p>
<p><a href="/files/blogengine/DSC_0047_1.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0047" data-src="/files/blogengine/DSC_0047_thumb_1.jpg" alt="DSC_0047"   border="0"></a></p>
<p>Паренёк на английском предложил нам техпомощь или воды,&nbsp; на что я спросил, откуда он родом. Оказалось, украинец, учится в Иордании на инженера, потому что на родине у него все за большие деньги или по блату, а подрабатывает в компании велотуров. <br>Там же было забавное совпадение, которое придало мне бодрости: оказалось, что у украинца точно та же модель велосипеда, что и у меня, а именно Cube LTD SL 2015 2x10. Такие мелкие сюрпризы делают жизнь приятнее, а порой даже и почти выносимой. Поблагодарив товарища, мы двинулись в путь, к нашей первой цели - Вади Муджиб. <br>Вади в переводе с арабского - пересохшее русло реки, оживающее несколько раз в год, во время сезона дождей. Когда оно наполняется влагой, может превратиься в могучую силу, и легко утопить неосторожного туриста, недооценившего скорость и агрессию стремительных водных потоков. Как известно, даже Гранд Каньон прорезала река Колорадо, которая сейчас еле видна.</p>
<p><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="PB200085" data-src="/files/blogengine/PB200085_thumb.jpg" alt="PB200085"   border="0"></p>
<p>&nbsp;</p>
<p>Вади Муджиб только в начале пути превращения в серъёзную турлокацию, и на мой скромный взгляд имеет большой потенциал. У нас не было времени заняться там каньонингом, тот есть пешими походами по воде в гидрокостюмах и спусками в узкие ущелья, да и, как оказалось, все равно не сезон, все закрыто. К счастью, иорданцы глубоко презирают любую технику безопасности, и вообще недолюбливают бюрократию, поэтому рабочие,&nbsp; строящие инфоцентр (который в Иордании обычно называется центром визитёров), без лишних препон открыли нам калитку внутрь каньона.</p>
<p><a href="/files/blogengine/DSC_0055.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0055" data-src="/files/blogengine/DSC_0055_thumb.jpg" alt="DSC_0055"   border="0"></a></p>
<p><a href="/files/blogengine/PB200089.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="PB200089" data-src="/files/blogengine/PB200089_thumb.jpg" alt="PB200089"   border="0"></a></p>
<p>&nbsp;</p>
<p><a href="/files/blogengine/PB200092.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="PB200092" data-src="/files/blogengine/PB200092_thumb.jpg" alt="PB200092"   border="0"></a></p>
<p>&nbsp;</p>
<p><a href="/files/blogengine/PB200094.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="PB200094" data-src="/files/blogengine/PB200094_thumb.jpg" alt="PB200094"   border="0"></a></p>
<p><a href="/files/blogengine/DSC_0056.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0056" data-src="/files/blogengine/DSC_0056_thumb.jpg" alt="DSC_0056"   border="0"></a></p>
<p>&nbsp;</p>
<p>Не знаю, впечатляет ли фото, но при желании внутри можно странствовать долгие часы. Правда, чтобы у заблудших&nbsp; не в сезон вагабондов вроде нас, которым плевать на риск , не было искушения ломануться вглубь без гида, лестницу на зиму всё таки открутили.</p>
<p>Полюбовавшись на неземную красоту, мы двинули дальше вдоль берега мёртвого моря. Роскошные отели сменились пустынной дорогой и видами на солевые пляжи, к одному из которых мы спустились, чтобы пообедать джойлентом.</p>
<p><a href="/files/blogengine/PB200098.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="PB200098" data-src="/files/blogengine/PB200098_thumb.jpg" alt="PB200098"   border="0"></a></p>
<p>&nbsp;</p>
<p><a href="/files/blogengine/PB200099.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="PB200099" data-src="/files/blogengine/PB200099_thumb.jpg" alt="PB200099"   border="0"></a></p>
<p>&nbsp;</p>
<p><a href="/files/blogengine/PB200102.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="PB200102" data-src="/files/blogengine/PB200102_thumb.jpg" alt="PB200102"   border="0"></a></p>
<p align="center">С грамматикой не парятся</p>
<p>Для тех, кто ещё не слышал про новый модный тренд сбалансированной чудо-еды из шейкеров, некоторые наши приёмы пищи будут казаться чем-то диковатым. Дело в том, что одному программисту из США надоело тратить силы и время на приготовление и приёмы пищи, и в итоге он придумал такой финт ушами: взял толчёного овса, отрубей, экстракта белка из сои, горстку витаминов, сахар, родственный крахмалу, смешал всё это с водой и провозгласил оптимально сбалансированным питанием, дешёвым, удобным, эффективным и полезным. Идея оказалась популярной, и была подхвачена десятками клонов, часто почему-то голландских.&nbsp; Пал жертвой маркетинга и я, но скорее из соображений практических: эти питательные шейки всё равно полезнее сникерсов, стоят разумно (1.5-3 евро за один приём пищи), и не требуют разогревания, как традиционная туристическая еда. Горелку Рыбаков всё равно взял, но толку с неё – вы помните, как мы спешили на автобус, куда там выкроить час-другой поиск газа для горелки. Время поджимало постоянно, и в Аммане мы тоже не стали заморачиваться, поэтому так периодически и ели голландский Джойлент, который путешествовал с нами через всю Иорданию, города, горы и пустыню. По вкусу шейки (как же на русский перевести? болтанки?) напоминают опилки с ароматизатором, так что если кто захочет попробовать, я вас предупредил.</p>
<p>&nbsp;</p>
<p><a href="/files/blogengine/DSC_0071.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0071" data-src="/files/blogengine/DSC_0071_thumb.jpg" alt="DSC_0071"   border="0"></a></p>
<p>&nbsp;</p>
<p><a href="/files/blogengine/DSC_0072.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0072" data-src="/files/blogengine/DSC_0072_thumb.jpg" alt="DSC_0072"   border="0"></a></p>
<p>&nbsp;</p>
<p><a href="/files/blogengine/DSC_0074.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0074" data-src="/files/blogengine/DSC_0074_thumb.jpg" alt="DSC_0074"   border="0"></a></p>
<p>Однако вернёмся к морю. Хотя было лень и неохота (как помните, я чувствовал себя совсем неважно), мы спустились вниз, к берегу.</p>
<p><a href="/files/blogengine/PB200104.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="PB200104" data-src="/files/blogengine/PB200104_thumb.jpg" alt="PB200104"   border="0"></a></p>
<p>&nbsp;</p>
<p><a href="/files/blogengine/PB200105.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="PB200105" data-src="/files/blogengine/PB200105_thumb.jpg" alt="PB200105"   border="0"></a></p>
<p>&nbsp;</p>
<p><a href="/files/blogengine/PB200106.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="PB200106" data-src="/files/blogengine/PB200106_thumb.jpg" alt="PB200106"   border="0"></a></p>
<p>&nbsp;</p>
<p><a href="/files/blogengine/PB200108.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="PB200108" data-src="/files/blogengine/PB200108_thumb.jpg" alt="PB200108"   border="0"></a></p>
<p><a href="/files/blogengine/PB200111.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="PB200111" data-src="/files/blogengine/PB200111_thumb.jpg" alt="PB200111"   border="0"></a></p>
<p><a href="/files/blogengine/PB200112.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="PB200112" data-src="/files/blogengine/PB200112_thumb.jpg" alt="PB200112"   border="0"></a></p>
<p>&nbsp;</p>
<p><a href="/files/blogengine/PB200114.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="PB200114" data-src="/files/blogengine/PB200114_thumb.jpg" alt="PB200114"   border="0"></a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><a href="/files/blogengine/PB200118.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="PB200118" data-src="/files/blogengine/PB200118_thumb.jpg" alt="PB200118"   border="0"></a></p>
<p>&nbsp;</p>
<p><a href="/files/blogengine/PB200120.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="PB200120" data-src="/files/blogengine/PB200120_thumb.jpg" alt="PB200120"   border="0"></a></p>
<p><a href="/files/blogengine/PB200121.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="PB200121" data-src="/files/blogengine/PB200121_thumb.jpg" alt="PB200121"   border="0"></a></p>
<p><a href="/files/blogengine/PB200123.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="PB200123" data-src="/files/blogengine/PB200123_thumb.jpg" alt="PB200123"   border="0"></a></p>
<p>&nbsp;</p>
<p><a href="/files/blogengine/PB200127.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="PB200127" data-src="/files/blogengine/PB200127_thumb.jpg" alt="PB200127"   border="0"></a></p>
<p>&nbsp;</p>
<p><a href="/files/blogengine/PB200128.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="PB200128" data-src="/files/blogengine/PB200128_thumb.jpg" alt="PB200128"   border="0"></a></p>
<p><a href="/files/blogengine/DSC_0084.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0084" data-src="/files/blogengine/DSC_0084_thumb.jpg" alt="DSC_0084"   border="0"></a></p>
<p><a href="/files/blogengine/DSC_0089.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0089" data-src="/files/blogengine/DSC_0089_thumb.jpg" alt="DSC_0089"   border="0"></a></p>
<p>&nbsp;</p>
<p><a href="/files/blogengine/DSC_0091.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0091" data-src="/files/blogengine/DSC_0091_thumb.jpg" alt="DSC_0091"   border="0"></a></p>
<p><a href="/files/blogengine/DSC_0092.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0092" data-src="/files/blogengine/DSC_0092_thumb.jpg" alt="DSC_0092"   border="0"></a></p>
<p>Причудливые заросли кристаллов и огромные куски соли обрамляли берег, и Рыбаков занялся сувенирным вандализмом: попытался отломать кусочки на память.&nbsp; В конце-концов ему это удалось, и мы тащили лишних 100-200 грамм через все последующие горы и пустыни. Надо сказать, что гид&nbsp; из аэропортовского автобуса рассказала, что мёртвое море очень успокаивает и гармонизирует, и что один день у мёртвого моря равен четырём дням на обычном курорте. Мы можем на своём опыте с полной уверенностью подтвердить, что эффект невероятно сильный. Настолько, что мы, порядком расслабившись, с большим трудом забрались обратно и продолжили путь. Надо сказать, уже некоторое время нас беспокоил вопрос с ночёвкой. Коучсёрфер Вильям, у которого мы должны были остановиться в Аль-Мазре, не отвечал на звонки и смс, отелей в этом регионе просто нет. Разбалованные везением, мы особенно не напрягались (что в целом мне не свойственно), катили себе потихоньку. Постепенно завораживающие, но жутковатые пейзажи побережья сменились невероятным по Иорданским меркам количеством зелени. Очевидно, ирригация в регионе на высоте. Правда, это компенсировалось изрядным количеством мусора по обоим сторонам дороги, местами он достигал слоя десятки сантиметров. Ещё видели порядочно стад овец и бедного вида палаток, где, очевидно, живут их хозяева.</p>
<p><a href="/files/blogengine/DSC_0105.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0105" data-src="/files/blogengine/DSC_0105_thumb.jpg" alt="DSC_0105"   border="0"></a></p>
<p><a href="/files/blogengine/DSC_0112.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0112" data-src="/files/blogengine/DSC_0112_thumb.jpg" alt="DSC_0112"   border="0"></a></p>
<p>&nbsp;</p>
<p><a href="/files/blogengine/DSC_0113.jpg"><img style="background-image: none; float: none; padding-top: 0px; padding-left: 0px; margin: 0px auto; display: block; padding-right: 0px; border-width: 0px;" title="DSC_0113" data-src="/files/blogengine/DSC_0113_thumb.jpg" alt="DSC_0113"   border="0"></a></p>
<p>&nbsp;</p>
<p>В конце-концов, близко к закату, который это время года начинается в районе 16.30, мы прибыли в деревню Аль-Мазра, которая почему-то оказалась городком, причём даже и не маленьким, как нам сказали позже, в районе 40 тыс человек. Трек наш кончался через пару километров, на повороте в Карак, куда мы собирались завтра. Перспектива до поздней ночи подниматься 1.5 километра в горы нам совершенно не улыбалась, поэтому мы стали понемногу нервничать.</p>
<p>И тут на нас свалилось очередное (хорошо запланированное) чудо. Справа от дороги мы увидели здоровенный дом с вывеской Al Numeira Environmental Association. Мы остановились, разглядывая домище, когда к нам не спеша подошли несколько мужиков и ребят помоложе. Они совершенно магическим образом предложили нам у них остановится, отдохнуть, попить чаю и вообще любую другую помощь.</p>
<p>Кто же были эти таинственные люди? Как&nbsp; иорданцы пьют чай? Смогли ли мы найти в итоге ночлег? Куда делся наш хост Вильям, и могут ли так звать местного? Действительно ли мусульмане всех ненавидят? (вопрос, которым задавался мистер Рагай).</p>
<p>Обо всём этом вы узнаете в следующей серии.</p><p><a href="/page/%D0%9F%D1%83%D1%82%D0%B5%D1%88%D0%B5%D1%81%D1%82%D0%B2%D0%B8%D1%8F#%D0%98%D0%BE%D1%80%D0%B4%D0%B0%D0%BD%D0%B8%D1%8F" target="_blank" style="background-color: rgb(255, 255, 255);">К оглавлению</a></p>
	