Id: 31963d34-5329-452e-9b9d-a93bd896788b
Title: "Копилка знаний - 6"
Published: "2015-10-31"
Slug: "2015-10-31 Копилка знаний - 6"
-
<p><span style="font-size: small; font-family: verdana, geneva;">Читаю статьи я куда быстрее, чем успеваю про них вам писать, но тем не менее.</span></p>
<p><strong><span style="font-size: small; font-family: verdana, geneva;"><a href="http://www.theguardian.com/lifeandstyle/2015/oct/21/choice-stressing-us-out-dating-partners-monopolies">1. Слишком много возможностей выбора загоняет нас в стресс</a></span></strong></p>
<p><span style="font-size: small; font-family: verdana, geneva;">Человек эволюционно не предназначен для постоянного выбирания из десятков, порой сотен вариантов. Каждый из нас несёт огромный груз каждодневных выборов, которые ещё долго потом капают на мозг тем, что могли быть неправильными. Каждое принятие решения, даже совершенно не влияющего на ваше будещее требует ресурсов мозга, которые нужны на другие дела.</span></p>
<p style="font-style: normal; padding-left: 20px; margin: 20px; display: block; padding-right: 20px; background-color: #eeffff; border: black 1px solid;"><span style="font-size: small; font-family: verdana, geneva;">But the idea that choice is bad for us flies in the face of what we&rsquo;ve been told for decades. The standard line is that choice is good for us, that it confers on us freedom, personal responsibility, self-determination, autonomy and lots of other things that don&rsquo;t help when you&rsquo;re standing before a towering aisle of water bottles, paralysed and increasingly dehydrated, unable to choose</span></p>
<p><strong><span style="font-size: small; font-family: verdana, geneva;"><a href="http://lemura.livejournal.com/227002.html">2. Короткая и очень забавная история про великий навык ПЛАНИРОВАНИЯ. В Великобритании, правда.</a></span></strong></p>
<p><span style="font-size: small; font-family: verdana, geneva;"><a href="http://www.businessinsider.com/sweden-cashless-society-negative-interest-rates-2015-10">3. Шведы переходят на безналичное общество, а консервативно настроенные тайком хранят наличку в микроволновках.</a></span></p>
<p><span style="font-size: small; font-family: verdana, geneva;">Почему тайком? Потому что если ты не хочешь показывать государству свои счета и траты, значит тебе есть что скрывать. Что ни говори, электронные коммуникации приблизили миры антиутопий прежде всего там, где информационные технологии наиболее развиты, то есть в капиталистических странах.</span></p>
<p><span style="font-size: small; font-family: verdana, geneva;">&nbsp;</span></p>
<p><span style="font-size: small; font-family: verdana, geneva;"><a href="http://www.timjlawrence.com/blog/2015/10/19/everything-doesnt-happen-for-a-reason">4. Всё случается не просто так.</a></span></p>
<p><span style="font-size: small; font-family: verdana, geneva;">Слышали такую фразу? Автор долго и вдохновенно доказывает, что это чушь, но по-моему немного перегибает палку с проклятиями в адрес тех, кто такими фразами живёт.</span></p>
<p><span style="font-size: small; font-family: verdana, geneva;">&nbsp;</span></p>
<p><span style="font-size: small; font-family: verdana, geneva;"><a href="https://story.dirty.ru/repin-ne-zhdali-chto-na-samom-dele-izobrazheno-na-kartine-854768/">5. Репин. Не ждали: что на самом деле изображено на картине</a></span></p>
<p><span style="font-size: small; font-family: verdana, geneva;">На дёти целый цикл таких истоических детективов про картины. Занятно, приятно для разнообразия на родном языке красивый текст поглядеть.</span></p>
<p style="font-style: normal; padding-left: 20px; margin: 20px; display: block; padding-right: 20px; background-color: #eeffff; border: black 1px solid;"><span style="font-size: small; font-family: verdana, geneva;">Почему же тогда более или менее обеспеченная семья не посылала заключенному деньги? Ответ прост: в тюрьме не было ларька, где бы продавали еду, количество вещей, которые разрешалось держать заключенному, было ограниченным (чашка, расческа, ложка и т.д.), так что деньги невозможно было потратить. Они просто бесполезно лежали бы на хранении у начальника тюрьмы. Конечно, к освобождению заключенным подсылали деньги, чтобы они добрались на них до дома &mdash; но нашего персонажа почему&ndash;то выпустили внезапно.</span></p>
<p><span style="font-size: small; font-family: verdana, geneva;">&nbsp;</span></p>
<p><strong><span style="font-size: small; font-family: verdana, geneva;"><a href="http://www.theatlantic.com/health/archive/2015/10/how-friendships-change-over-time-in-adulthood/411466/">6. Как меняется дружба во взрослой жизни.</a></span></strong></p>
<p><span style="font-size: small; font-family: verdana, geneva;">Много интересных мыслей, например про то, что дружба &ndash; единственное, что мы на протяжении долгого времени выбираем добровольно (даже в браке ты повязан официально, не говоря уже о семье или работе). Или про то, что даже встречаясь через полгода, мы всё равно считаем друга другом, как будто и не было этого промежутка.</span></p>
<p><span style="font-size: small; font-family: verdana, geneva;">Грустно то, что в среднем возрасте у людей мало времени на друзей, слишком много других забот. Зато как становишься постарше, так опять можно дружить.</span></p>
<p><span style="font-size: small; font-family: verdana, geneva;">&nbsp;</span></p>
<p><strong><span style="font-size: small; font-family: verdana, geneva;"><a href="http://www.slate.com/blogs/moneybox/2015/10/23/remember_dan_price_of_gravity_payments_who_gave_his_employees_a_70_000_minimum.html">7.&nbsp; Что происходит с компанией и бизнесменом, который назначил всем в своей конторе минималку в 70 000 баксов в год, и как он дошёл до жизни такой.</a></span></strong></p>
<p style="font-style: normal; padding-left: 20px; margin: 20px; display: block; padding-right: 20px; background-color: #eeffff; border: black 1px solid;"><span style="font-size: small; font-family: verdana, geneva;">It was late 2011. Haley was a 32-year-old phone tech earning about 31,769.08&euro; a year, and he was in a sour mood. Price had noticed it, and when he spotted Haley outside on a smoking break, he approached. "Seems like something's bothering you," he said. "What's on your mind?""You're ripping me off," Haley told him.</span></p>
<p><span style="font-size: small; font-family: verdana, geneva;">&nbsp;</span></p>
<p><strong><span style="font-size: small; font-family: verdana, geneva;"><a href="http://www.nytimes.com/2015/10/25/opinion/sunday/how-salad-can-make-us-fat.html?_r=0">8.&nbsp; В очередной раз любимая тема про когнитивные искажения &ndash; на сей раз на примере салата в меню.</a></span></strong></p>
<p><span style="font-size: small; font-family: verdana, geneva;">Салат может сделать вас толще? Но как?</span></p>
<p style="font-style: normal; padding-left: 20px; margin: 20px; display: block; padding-right: 20px; background-color: #eeffff; border: black 1px solid;"><span style="font-size: small; font-family: verdana, geneva;">Since we each have a fairly stable self-concept of how good/bad, healthy/unhealthy or selfish/altruistic we are, when one decision swings too far from this self-concept, we automatically take action to balance it out.The result plays out in surprisingly subtle ways. Ordering a side salad to go with your bacon cheeseburger is a deliberate and arguably rational trade-off between pleasure and health; but consumer researchers <a href="http://jcr.oxfordjournals.org/content/36/3/380.abstract">have found</a> that the mere presence of a healthy option on a menu increases the chances that you&rsquo;ll order the <em>least</em> healthy choice.</span></p>
<p><span style="font-size: small; font-family: verdana, geneva;">&nbsp;</span></p>
<p><span style="font-size: small; font-family: verdana, geneva;">9. <a title="https://www.brainpickings.org/2015/10/23/nine-years-of-brain-pickings/" href="https://www.brainpickings.org/2015/10/23/nine-years-of-brain-pickings/">https://www.brainpickings.org/2015/10/23/nine-years-of-brain-pickings/</a></span></p>
<p><span style="font-size: small; font-family: verdana, geneva;">Полезные советы из читаемого блога. Например такие</span></p>
<p><span style="font-size: small; font-family: verdana, geneva;">1. Не бойся менять своё мнение</span></p>
<p><span style="font-size: small; font-family: verdana, geneva;">2. Не делай ничего только ради статуса или денег (но можно в том числе ради них)</span></p>
<p><span style="font-size: small; font-family: verdana, geneva;">3. Будь щедр, тем более на добрые слова</span></p>
<p><span style="font-size: small; font-family: verdana, geneva;">4.&nbsp; Иногда полезно ничего не делать, и тем более &ndash; спать</span></p>
<p><span style="font-size: small; font-family: verdana, geneva;">&nbsp;</span></p>
<p><span style="font-size: small; font-family: verdana, geneva;">И другие. Все советы раскрыты подробнее.</span></p>
<p><span style="font-size: small; font-family: verdana, geneva;">&nbsp;</span></p>
<p><strong><span style="font-size: small; font-family: verdana, geneva;">10.<a title="http://markmanson.net/passion" href="http://markmanson.net/passion">http://markmanson.net/passion</a></span></strong></p>
<p><span style="font-size: small; font-family: verdana, geneva;">Хитроумная статья про то, что не надо искать дело всей жизни, а надо то, что у тебя выходит и что нравится, сделать таким занятием. Легко сказать, трудно воплотить. Мне вот на велосипеде нравится кататься, и писать тексты, но за тексты на русском платят небось столько, что кататься на велосипеде я буду час в неделю, да и тот в округе, а не в дальних экзотических странах.</span></p>
	