Id: b60494cc-811c-4bd7-98b4-3fb657b891da
Title: "Уборка"
Published: "2016-07-10"
Slug: "2016-07-10 Уборка"
-
<p><a href="/files/blogengine/image_15.png"><img title="image" style="border-top: 0px; border-right: 0px; background-image: none; border-bottom: 0px; padding-top: 0px; padding-left: 0px; border-left: 0px; margin: 0px; display: inline; padding-right: 0px" border="0" alt="image" data-src="/files/blogengine/image_thumb_15.png"  ></a></p> <p><a href="/files/blogengine/image_16.png"><img title="image" style="border-top: 0px; border-right: 0px; background-image: none; border-bottom: 0px; padding-top: 0px; padding-left: 0px; border-left: 0px; margin: 0px; display: inline; padding-right: 0px" border="0" alt="image" data-src="/files/blogengine/image_thumb_16.png"  ></a></p> <p>Вдохновившись <a href="http://www.nytimes.com/2016/07/10/magazine/marie-kondo-and-the-ruthless-war-on-stuff.html?utm_source=pocket&amp;utm_medium=email&amp;utm_campaign=pockethits">статьёй</a>&nbsp; <a href="/files/lj/Marie%20Kondo%20and%20the%20Ruthless%20War%20on%20Stuff%20-%20The%20New%20York%20Times.pdf">(копия)</a>  про сверхмодную японку Мари Кондо, которая минимализирует людям жизнь, затеял грандиозную уборку. Выкинул очередные пять мешков мусора, второй день тружусь (с перерывами на такие вот не особо познавательные записи).</p> <p>Чтобы это всё было не зря, вот вам цитата, раскрывающая сущность метода Мари.</p> <div class="cite">holding each item to see if it sparks joy in your body. The ones that spark joy get to stay. The ones that don’t get a heartfelt and generous goodbye, via actual verbal communication, and are then sent on their way to their next life </div>
	