Id: 6457f7a6-3517-40f3-8e35-6de7ea2ec7cb
Title: "Сон - 6"
Published: "2016-11-25"
Slug: "2016-11-25 Сон - 6"
-
<p>Снилось сегодня, что&nbsp; моя мама и Ежов решили отправится в экспедицию на воздушном шаре, и хотели, чтобы я с ними тоже полетел. Для теста я попытался слетать в Погулянку (3 км от моего дома). “Куча мороки – вытащить шар, расправить, накачать воздухом, несколько часов надо потратить, а на велике 5 минут ехать” – такие мысли посещали.</p> <p>В итоге, к субботе созрели лететь в Краславу, но пока собирались, наступил вечер. Я говорю: ” уже не стоит лететь, шар же плохо управляем, сейчас стемнеет, и мы заплутаем”. Куда вообще ветер сейчас дует, в какую сторону света?</p> <p> А Ежов такой “да тут же час лететь, вот тебе ссылки на статьи”. Там написано, что шар управляем в коридоре +- 30% от направления ветра. Я ему шлю ответки, что это не всегда верно – в общем, баттл ботанов. Плюс, холодно, я и так уже две куртки взял, подумал, и прихватил на всякий случай третью.</p> <p><a href="/files/blogengine/be76b3_c643a12cc8f14232a29438a0cbef8d29.png_srz_1000_1000_85_22_0.50_1.20_0.png"><img title="be76b3_c643a12cc8f14232a29438a0cbef8d29.png_srz_1000_1000_85_22_0.50_1.20_0" style="border-top: 0px; border-right: 0px; background-image: none; border-bottom: 0px; padding-top: 0px; padding-left: 0px; border-left: 0px; display: inline; padding-right: 0px" border="0" alt="be76b3_c643a12cc8f14232a29438a0cbef8d29.png_srz_1000_1000_85_22_0.50_1.20_0" data-src="/files/blogengine/be76b3_c643a12cc8f14232a29438a0cbef8d29.png_srz_1000_1000_85_22_0.50_1.20_0_thumb.png"  ></a></p> <p>В итоге они всё-таки собрались лететь, а я вместо экспедиции пошёл на Сканю Межс, где дуэтом пели Zebra Fucking Catz, сбавивший на сей раз свой порноквировский гонор в пользу метросексуализма, и девушка из CocoRosie.</p><br><video controls><source src="/files/lj/Zebra%20Katz%20%20-%20Ima%20Read%20%28ft.%20Njena%20Reddd%20Foxxx%29%20%5BOfficial%20Full%20Stream%5D.mp4" type="video/mp4">Your browser does not support the video tag. </video><br> <p>&nbsp;</p><br><video controls><source src="/files/lj/CocoRosie%20-%20Lemonade%20%28OFFICIAL%20VIDEO%29.mp4
" type="video/mp4">Your browser does not support the video tag. </video><br> <p>Проснулся от холода, согнал кошку Мусильду с грелки и пледа, положил под жопу грелку и был таков.</p>
	