Id: 6c60a2af-1c19-45e5-b902-b9fffefaa8be
Title: "Мультик хранитель луны"
Published: "2016-01-27"
Slug: "2016-01-27 Мультик хранитель луны"
-
<p>Посмотрели традиционной в эти дни командой в составе фрилансера, фотографа и спящей красавицы французский мультик <a href="http://www.imdb.com/title/tt3858372/">Хранитель луны</a>, свежак - 2014 года. Сюжет в нём такой, что солнце и луну тянут по небу на верёвочках, а руководят процессом специальные избранные народом товарищи – хранитель Луны и хранитель Солнца. Как раз пришла пора избирать новых, когда всё пошло наперекосяк.</p>  <p>Мультик отличный – природа психоделическая, персонажи забавные, движуха постоянная, отрисован вполне прилично. Как обычно, поскольку фильм не американский, прошёл мимо народных масс, но русский дубляж, впрочем, есть.</p>  <p>Всем рекомендую.</p>  <p>Особенно мне понравился старикан Фосфо и птички внутри храма Луны.</p>  <p>&#160;</p>  <p><img src='/files/C49930DCC0EC566E4127F7D4D3CE6431.jpg'  width="702" height="955" /></p>  <p>Трейлер    <br /><video controls><source type="video/mp4" src="/files/lj/%D0%A5%D1%80%D0%B0%D0%BD%D0%B8%D1%82%D0%B5%D0%BB%D1%8C%20%D0%BB%D1%83%D0%BD%D1%8B%20%282015%29%20%D0%A2%D1%80%D0%B5%D0%B9%D0%BB%D0%B5%D1%80.mp4">Your browser does not support the video tag. </video>    <br /><a href="/files/lj/%D0%A5%D1%80%D0%B0%D0%BD%D0%B8%D1%82%D0%B5%D0%BB%D1%8C%20%D0%BB%D1%83%D0%BD%D1%8B%20%282015%29%20%D0%A2%D1%80%D0%B5%D0%B9%D0%BB%D0%B5%D1%80.mp4">Скачать mp4 видео </a></p>
	